[2019-04-26 00:14] markusdr commented on #392
This would be great to have.

See also the AllenNLP page:
https://github.com/allenai/allennlp/blob/master/tutorials/tagger/README.md#using-config-files

Quote:

[2019-04-26 12:15] kenjewu commented on #518
I will take it.

[2019-04-26 12:30] kenjewu commented on #677
Is anyone doing this work now?

[2019-04-26 17:30] szha commented on #680
Thanks for reporting it. Let's take this as part of the 0.7.0 roadmap as usability improvement item. Do you have a design in mind for the improvement?
cc @astonzhang @leezu

[2019-04-26 17:31] szha commented on #677
not yet

[2019-04-26 18:24] astonzhang commented on #680
Thanks. Please see my comments in the code.

[code]

[2019-04-27 06:30] eric-haibin-lin commented on #662
@Gpwner I'll include the fix in PR #682 .

BTW - since you have worked on a CoLA-like dataset, would you be interested to contribute CoLA fine-tuning script command/logs to gluon-nlp, just like RTE, SST in http://gluon-nlp.mxnet.io/model_zoo/bert/index.html#bert-for-sentence-classification-on-glue-tasks ?

[2019-04-28 09:39] Gpwner commented on #662
@eric-haibin-lin it seems that I have no access right to edit in the [http://gluon-nlp.mxnet.io/model_zoo/bert/index.html#bert-for-sentence-classification-on-glue-tasks ](url) .

[2019-04-28 10:00] Gpwner commented on #662
@eric-haibin-lin I just don't know why when I come to epoch 2 I get the nan loss:

[code]

[2019-04-28 20:46] eric-haibin-lin commented on #662
@Gpwner you can edit scripts/bert/index.rst, which contains the content for the website. The nan loss looks strange. Did you try a smaller learning rate? Did the nan loss always happen at epoch 2?

[2019-04-28 23:58] szha commented on #657
https://github.com/facebookresearch/XLM

[2019-04-29 01:11] Gpwner commented on #662
@eric-haibin-lin I try several learning rates included 2e-5,3e-5,5e-5,10e-5, but  I always get the nan loss.I remember the old code didn't get nan loss.Since there is  no big difference between the bert large model and the bert base model.So I have delete the old code from my disk And using the official code instead.

[2019-04-29 13:19] khui commented on #680
@astonzhang
Thanks! I did not fully get it.

But I agree it is mostly about the logic behind the logic WHEN using pre-trained embedding for an established vocabulary. Namely, one may not want to treat the word from the vocabulary that does not present in the embedding as <unk>.

One suggestion is to update the `Vocab.set_embedding(self, *embeddings)`. In particular, for these following [lines](htt

[2019-04-29 14:11] khui opened #683 "FixedBucketSampler may return batch with varied length (setting ratio=0)"
When using `FixedBucketSampler`, it seems if a bucket includes fewer than `batch_size` data points, the sampler may return a batch with less data (than the configured `batch_size`).  This might be an unexpected behavior for the users since the `ratio=0` and `batch_size=N` are configured to get exactly `N` data points per batch.

I observed this when using the `FixedBucketSampler` together with the

[2019-04-29 16:55] szha commented on #683
When ratio is 0, there's still the case where `num_samples % batch_size != 0`. In this case, we'd have the choice of 1) drop the batch, 2) pad samples 3) leave as is. There likely are scenarios that each of these options are good for. @sxjscience @szhengac how do you recommend we handle these cases?

[2019-04-29 17:31] khui commented on #683
@szha Thanks for the comments.

I may not find the `last_batch` parameter for the sampler since the `last_batch` is disabled in `data_loader` if a `batch_sampler` is used.

[2019-04-29 21:06] zjost opened #684 "For NCEDense, BCE decreases, SoftmaxCE increases"
I have implemented something like the following example in the docs:
[code]
Where I train by providing context inputs (x) and either true or fake targets (y).  The BCE decreases for both the training and holdout set.

However, if I add a Dense layer using the decoder params and calculate the SoftmaxCE, this value increases with time for both the training and holdout sets.

How can it be that the n

[2019-04-30 01:55] sxjscience commented on #683
The current design is that the data are loaded without any padding. The user may pad the data/drop the batch after it’s loaded. I agree it should be added to the document.

[2019-04-30 03:09] eric-haibin-lin commented on #684
@zjost thanks for posting the code sample. Are you saying that in this example `loss_train ` keeps decreasing but `loss_test ` increases over time? What sampler are you using to generate negatives?

[2019-04-30 07:42] khui commented on #683
@sxjscience
 As far as I understand, the padding is orthogonal right? This is the sampler, meanwhile the padding is done with the function in batchify `batchify_fn `.

[2019-04-30 08:20] sxjscience commented on #683
@khui Thanks for the question.

1) Yes, I mean the current implementation will not pad the incomplete batches. There are multiple ways to handle those incomplete batches, e.g., padding with zeros, padding by repeating the last few samples, padding by feeding in samples in a round-robin order, or just drop the batch.

We chose not to handle these cases and just implemented the very basic strategy (

[2019-04-30 15:18] zjost commented on #684
@eric-haibin-lin that's exactly right:  `loss_train` decreases for both training and holdout datasets (so it doesn't seem to be an overfitting problem), but `loss_test` increases for both training and holdout datasets.

I had to implement my own sampler because I couldn't find any pre-made implementations that generated the tuple of three tensors needed for `sampled_values`.  So I made a thin wrap

[2019-04-30 15:39] eric-haibin-lin commented on #684
@zjost Got it. Are you returning the probability of candidates, or the expected count of candidates? The NCEBlock expects the expected count as inputs. Can you try returning `probability*num_candidate` instead?

Another sampler you can try is the `LogUniformSampler ` in https://github.com/dmlc/gluon-nlp/blob/master/scripts/language_model/sampler.py#L24 . You can find an example usage here: https:/

[2019-04-30 20:56] #579 closed

[2019-05-01 04:45] anirudhacharya commented on #627
Writing this is taking longer than expected, i am still working on it.

[2019-05-01 18:25] zjost commented on #684
@eric-haibin-lin I have re-implemented everything on a new, simpler problem and am getting the same behavior.  I have made the correction to return `sample_probability*num_samples` for the `expected_count_sampled` and `expected_count_true` in my sampler, and have verified that the samples I'm getting approximate the actual global distribution.

As a comparison, I also trained a network with a Dens

[2019-05-02 03:34] eric-haibin-lin opened #688 "[DEMO] GluonNLP demos"
Similar to https://demo.allennlp.org, it would be great to have online demo applications for various models available in gluonnlp.

[2019-05-02 21:48] araitats opened #690 "[MXNet] - [BERT]"
There is a problem with a custom BERT model training with the later version of MXNet 1.5.0 (observed with cu90).
mlm_loss stops around 7.2X and nsp_acc stopps around 54.
The last mxnet-cu90 version is still viable is 1.5.0b20190425.
1.5.0b20190426 onward has this issue. Thus, you cannot train a custom BERT model with the latest version of MXNet now.

I assume there was a change in optimization bet

[2019-05-02 21:55] araitats commented on #690
https://github.com/apache/incubator-mxnet/issues/14864

[2019-05-02 22:23] araitats commented on #690
I used run_pretraining.py from...
http://gluon-nlp.mxnet.io/_downloads/bert.zip

[2019-05-03 06:31] eric-haibin-lin commented on #662
@Gpwner we found that there's a recent regression from mxnet nightly build causing NaNs. https://github.com/dmlc/gluon-nlp/issues/690
What version of mxnet are you using? If you use mxnet-cu90==1.5.0b20190407, do you still see NaNs?

[2019-05-03 09:16] GeorgieJi opened #691 "Error in sst2 mission with BERT"
Hi,
    Thanks for your sharing.
    When I run below code in terminal, I got a fault code and interrupted.
    Code is "python finetune_classifier.py --task_name SST --epochs 4 --batch_size 16 --accumulate 1 --optimizer bertadam --lr 2e-5 --log_interval 500".
    Error code is "Segmentation fault: 11
Stack trace:
  [bt] (0) /home/bit0427/anaconda3/lib/python3.6/site-packages/mxnet/libmxnet.so(+0x

[2019-05-03 13:03] khui commented on #683
@sxjscience
Thanks for the answers.
As for 1, I am not sure why people will pad zeros to complete the batch. Could you provide examples? The sampler basically randomlly sample (random sample with replacement) the data points to generate batch, thereby, one might assume there wont be not enough data. Namely, even when I only have 10 data point, I should still generate batch with 32 data points, by

[2019-05-03 14:54] sxjscience commented on #683
Sometimes the data/label are all padded to zero to mimic a masking behavior, although that’s not necessary in our case. I think adding a padding by samples/drop/no_padding option would be feasible in our case.

BTW,  would the performance be downgraded if the batchsize are not always the same? Since Gluon support dynamic shapes, I assumed that we would no longer require to pad the data.

Get Outlo

[2019-05-03 16:50] szha commented on #691
@GeorgieJi thank you for reporting the issue. Since it's an error in the mxnet library, I think this issue can be best handled there. Would you mind follow this [issue template](https://github.com/apache/incubator-mxnet/issues/new) and report the error there? I will help you there.

[2019-05-03 17:12] tlby commented on #690
I believe this is the same issue I've been seeing, bisected to apache/incubator-mxnet@369b66d0f from apache/incubator-mxnet#14785

[2019-05-03 17:21] zjost commented on #684
I have worked on this more and discovered that if I allow training to keep running, eventually the SoftMaxCE *will* start to improve.  It seems that the loss curve always increases for the first several epochs, but eventually starts reducing.

I'm still curious to understand why this happens, and if there are better ways to e.g. schedule the learning rate to get improved convergence.  However, I d

[2019-05-03 17:21] #684 closed

[2019-05-03 17:40] #690 closed

[2019-05-03 22:18] eric-haibin-lin commented on #691
We found similar regression in https://github.com/apache/incubator-mxnet/issues/14872 where an invalid index access was introduced recently to mxnet. Would you mind installing an MXNet version in early April? For example:
`pip uninstall mxnet-c90 -y; pip install mxnet-cu90==1.5.0b20190412 --user`

[2019-05-04 01:56] GeorgieJi commented on #691
@eric-haibin-lin  Thanks for your suggestion. I degraded MXNet version to 1.5.0b20190412. Now it seems to be working well.  But I have another question whether training process is limited on a single cpu, since I want all cpus to execute task parallel.
The log information terminal printed is "Now we are doing BERT classification training on cpu(0)!".
@szha Tanks for your great supports. For a quic

[2019-05-04 04:02] szha commented on #691
@GeorgieJi sounds good. We will note the anecdote here to make sure the bug can be fixed and verified in mxnet.

[2019-05-04 04:10] #691 closed

[2019-05-04 06:29] eric-haibin-lin commented on #691
Cpu(0) uses all available cores on the cpu :)

[2019-05-04 06:43] GeorgieJi commented on #691
@eric-haibin-lin  Em, that's interesting. I use application "htop" to monitor the conditions of CPUs. in Ubuntu 18.04. When gluon with BERT is running, only partial cores are executing.
![image](https://user-images.githubusercontent.com/23255184/57175084-14783b00-6e7a-11e9-9736-397a0cfd1e62.png)
ps: When I run google-research/bert, all of them is burning.
I have no idea about whether this is norma

[2019-05-04 23:21] eric-haibin-lin commented on #690
@tlby thanks reporting. Was your issue also about running the pre-training script?

[2019-05-04 23:54] tlby commented on #690
I was testing with the [finetuning](/dmlc/gluon-nlp/blob/master/scripts/bert/finetune_classifier.py) example.  It looks like MXNet reverted the PR in question so I think things are good now.

[2019-05-05 00:04] eric-haibin-lin commented on #690
@tlby thanks!
BTW - I'm adding some enhancements to the finetuning script in https://github.com/dmlc/gluon-nlp/pull/692 feel free to comment on it

[2019-05-05 04:01] momo1986 opened #694 "train_gnmt.py met memory runing issue"
Hello, thanks for sharing.
I run the script for google neural translation machine training.
Here is command:
`python train_gnmt.py --src_lang en --tgt_lang vi --batch_size 128 --optimizer adam --lr 0.001 --lr_update_factor 0.5 --beam_size 10 --bucket_scheme exp  --num_hidden 512 --save_dir gnmt_en_vi_l2_h512_beam10 --epochs 12 --gpu 0`

Here is error-log:

Only one GPU:
![image](https://user-image

[2019-05-05 05:04] szha commented on #694
Hi @momo1986. Thanks for reporting the issue. What version of mxnet are you using? (you can find by using `pip show $package_name`)

[2019-05-05 05:16] momo1986 commented on #694
Hello, @szha ， I use MXNET 1.4.0.post0.

Thanks for your concern!
Regards!

[2019-05-05 05:33] szha commented on #694
@momo1986 there have been some improvements in memory management and dropout state sharing that may be helpful to you. You can try it out by installing the version 1.5.0b20190411 to try it out. If it still doesn't fit, you may need to reduce the batch size or use gradient accumulation to simulate large batch size. (an example can be found in the [train_transformer.py](https://github.com/dmlc/gluon

[2019-05-05 07:42] momo1986 commented on #694
Hello, @szha .

I try to build with mxnet1.5.

However, the problem is reported:
OSError: libcudart.so.9.2: cannot open shared object file: No such file or directory

I roll back to 1.4.

I tried with the command:
` python train_transformer.py --dataset WMT2014BPE                        --src_lang en --tgt_lang de --batch_size 128                      --optimizer adam --num_accumulated 16 --lr 0.0

[2019-05-05 08:09] momo1986 commented on #694
Set both MXNET_GPU_MEM_POOL_TYPE=Round and MXNET_GPU_MEM_POOL_RESERVE=10

[2019-05-05 19:23] szha commented on #694
@momo1986

This means the library didn't find cuda 9.2 in your path. Are you using cuda 9.2?

[2019-05-06 01:29] Gpwner commented on #662
@eric-haibin-lin I use the mxnet-cu100==1.5.0b20190427

[2019-05-06 02:49] momo1986 commented on #694
Hello, @szh
I affirm that my CUDA version is 9.0.

However, problem exists both for mxnet-cu92 and mxnet-cu90.

[2019-05-06 04:53] eric-haibin-lin commented on #654
Add "Deep Relevance Matching Model" for relevance matching
Here is one implementation in keras: https://github.com/sebastian-hofstaetter/neural-ranking-drmm

[2019-05-06 04:59] szha commented on #694
@momo1986 the missing shared object file `libnvrtc.so.9.0` is for [NVRTC](https://docs.nvidia.com/cuda/nvrtc/index.html#installation), which should be part of cuda 9.0 as shown in the [doc](https://docs.nvidia.com/cuda/nvrtc/index.html#installation). Also, mxnet-cu90 only works with cuda 9.0 and mxnet-cu92 only with cuda 9.2, so let's try not to mix them on the same system.

I know installing cuda

[2019-05-06 05:06] szha commented on #662
@Gpwner that version likely has the regression. The change in mxnet that caused the regression has been reverted recently. Could you try the version `pip install mxnet-cu100==1.5.0b20190407` as Haibin suggests, and see if that solves the problem?

[2019-05-06 05:08] szha commented on #662
Relevant issues https://github.com/dmlc/gluon-nlp/issues/690 https://github.com/apache/incubator-mxnet/issues/14864

[2019-05-06 06:27] szha commented on #608
CI has been fully refactored and things seem to be stable so far.

[2019-05-06 06:27] #608 closed

[2019-05-06 06:29] eric-haibin-lin commented on #654
Add Simple Recurrent Unit (SRU) https://arxiv.org/pdf/1709.02755.pdf

[2019-05-06 06:33] eric-haibin-lin commented on #654
ERNIE: BERT with Knowledge pretraining: https://128.84.21.199/pdf/1904.09223.pdf

[2019-05-06 06:34] szha commented on #460
Since pytest-xdist uses multi-process as a way to speed up tests, bad address here indicates that a worker process has died, which usually indicates actual problems in code. I found this out because there was a recent regression that causes some scripts to run into exception which kills a testing worker process.

[2019-05-06 06:34] #460 closed

[2019-05-06 10:21] #683 closed

[2019-05-06 10:28] khui commented on #683
I am not sure about the influcences of the variant batch size on the performance. My point is that the behavior should align with the expectation and the convention as well. Especially notice that, the `batch_size` (together with the `learning rate`) is among the important hyperparameters to govern the learning process.  Up to the distribution of the data, however, it is possible that significant

[2019-05-07 04:39] eric-haibin-lin opened #697 "Flaky test: test_load_vocabs"
http://ci.mxnet.io/blue/organizations/jenkins/GluonNLP-py3-cpu-unittest/detail/PR-692/7/pipeline/81/

[code]

[2019-05-07 04:41] eric-haibin-lin commented on #460
Happened again in http://ci.mxnet.io/blue/organizations/jenkins/GluonNLP-py3-cpu-unittest/detail/PR-692/8/pipeline/81/

[2019-05-07 04:44] szha commented on #697
This problem is caused by running two tests in parallel that try to download to the same file. https://github.com/dmlc/gluon-nlp/blob/master/scripts/tests/test_question_answering.py#L46-L70

The right fix would be to use fixture to construct the dataset only once, and pass that to each of the tests.

[2019-05-08 02:46] #609 closed

[2019-05-08 02:51] eric-haibin-lin commented on #609
download link: https://www.microsoft.com/en-us/download/details.aspx?id=52398

[2019-05-08 23:08] eric-haibin-lin commented on #677
@kenjewu what about porting transformer-xl to gluonnlp first, then implement and validate lamb optimizer following https://medium.com/south-park-commons/scaling-transformer-xl-to-128-gpus-85849508ec35  ?

[2019-05-08 23:14] #697 closed

[2019-05-09 04:12] bratao commented on #100
@szha @lixin4ever Any update about the CRF support? It is a must have for many NLP applications

[2019-05-09 04:49] eric-haibin-lin commented on #100
@kenjewu has a PR on this: https://github.com/dmlc/gluon-nlp/pull/466 but it's not merged yet. @kenjewu would you have some bandwidth to address the remaining review comments?

[2019-05-09 04:49] eric-haibin-lin commented on #100
@bratao you might also be interested in https://github.com/dmlc/gluon-nlp/pull/612

[2019-05-09 06:24] eric-haibin-lin commented on #616
@fierceX any update on this?

[2019-05-09 09:46] kenjewu commented on #100
Ok, I will continue to track the PR.

[2019-05-09 16:26] eric-haibin-lin commented on #697
appeared again in http://ci.mxnet.io/blue/organizations/jenkins/GluonNLP-py3-master-cpu-unittest/detail/PR-701/2/pipeline ?

[2019-05-10 04:40] #673 closed

[2019-05-10 04:44] ZhennanQin commented on #690
@eric-haibin-lin @tlby I'm trying to fix the trouble PR in MXNet, but failed to setup the bert example to reproduce the regression. The reported command line doesn't work for me, because out_mcg_test-big/part-001.npz not found.  I didn't try gluon-nlp bert before, may I know the minimal command lines to reproduce this issue on top of MXNet and gluon-nlp only? Thanks in advance.

[2019-05-10 04:46] eric-haibin-lin commented on #690
@ZhennanQin are you able to reproduce https://github.com/apache/incubator-mxnet/pull/14868 with

[code]
from http://gluon-nlp.mxnet.io/model_zoo/bert/index.html#bert-pre-training ?

[2019-05-10 06:26] fierceX commented on #616
@eric-haibin-lin I may prepare some models in the near future. Need to open a branch?

[2019-05-10 06:39] szha commented on #616
@fierceX feel free to create a branch if that helps

[2019-05-10 19:15] ThomasDelteil opened #703 "Move some classes to main package"
Could we move the SoftmaxMaskedCELoss and LabelSmoothing to the main package? I find myself copying it in many project because it cannot be access through the API. Thanks!

[2019-05-10 20:52] eric-haibin-lin commented on #595
Hi @imgarylai is this still on your roadmap?

[2019-05-10 20:54] eric-haibin-lin commented on #703
+1

[2019-05-11 07:36] ZhennanQin commented on #690
@eric-haibin-lin This command works. Thanks. The fixed PR is filed again at https://github.com/apache/incubator-mxnet/pull/14931, please take a look.

[2019-05-15 04:49] eric-haibin-lin opened #706 "Potential regression in MXNet nightly"
HybridBeamSearchSampler can no longer correctly infer shape:

http://ci.mxnet.io/blue/organizations/jenkins/GluonNLP-py3-master-cpu-unittest/detail/PR-705/7/pipeline/
in PR https://github.com/dmlc/gluon-nlp/pull/705

@junrushao1994 do you have any idea?

[2019-05-15 05:30] junrushao1994 commented on #706
May be related to the recent dynamic shape PR which removes shape inference on control flow operators. Will look into it!

[2019-05-15 06:56] eric-haibin-lin opened #707 "Better multiprocessing dataloader support for large datasets"
## problem statement
I have a large corpus for training, and ideally I don't want to load them all at once due to limited CPU memory. Currently, the `DatasetStream` API serves this purpose by returning one Dataset at a time.

However, the `DatasetStream.__iter__` API limits the data pipeline performance if the data preprocessing is complicated and computational heavy. For instance, for BERT traini

[2019-05-15 06:59] eric-haibin-lin commented on #707
Also adding data loader expert @zhreshold

[2019-05-15 18:59] zhreshold commented on #707
@eric-haibin-lin The best workaround IMO is to ditch the `PrefetchIter`, instead, let `SimpleDatasetStream` be self complete with option to prefetch dataset.

In this case, `SimpleDatasetStream` will have a daemon IO process (mapped to dataset list queue?, data queue, label queue, transform function queue) which do all the pre-processing tasks(reading, splitting...).
It will also have a process po

[2019-05-16 14:53] leezu commented on #707
So if I understand correctly the issue is that @eric-haibin-lin would like to spawn processes within the environment executing `DatasetStream.__iter__`.
Now this normally would be the standard python main process and there wouldn't be any issue; however, `PrefetcherIter` allows wrapping `DatasetStream.__iter__` into a separate (daemonic) process. Daemonic processes cannot spawn further processes i

[2019-05-16 18:09] zhreshold commented on #707
My point is that daemon process can't have child process to accelerate tasks, however, it can have sibling processes which they will communicate by queues.

The bad news is, it's not safe and elegent to expose queues in different classes, that's why I suggest to `DatasetStream` should be capable of prefetching in itself and all resources are encapsulated.
Users will only touch `DatasetStream.__ite

[2019-05-16 18:24] eric-haibin-lin opened #709 "Port ClinicalBERT to GluonNLP"
https://github.com/kexinhuang12345/clinicalBERT
https://arxiv.org/abs/1904.05342

[2019-05-17 22:15] astonzhang opened #711 "Tutorials to improve"
Refer to our tutorials on http://gluon-nlp.mxnet.io/examples/index.html . Below are my suggested ways to improve our tutorials or issues to address.

1. At the beginning of each section, we should provide an overview of the context, problem, and method that we are going to cover. For example, the following section misses such information:
http://gluon-nlp.mxnet.io/examples/word_embedding/word_embe

[2019-05-18 01:12] #706 closed

[2019-05-18 01:20] szha commented on #694
@momo1986 did you get a chance to try out the above?

[2019-05-18 01:24] #675 closed

[2019-05-18 01:24] szha commented on #659
#705

[2019-05-18 01:24] #659 closed

[2019-05-18 01:26] szha commented on #658
@Gpwner we now have a single script for exporting BERT for inference thanks to @eric-haibin-lin (#705). Feel free to give it a try and let us know how you like it :)

[2019-05-18 01:26] #658 closed

[2019-05-18 01:27] szha commented on #662
@Gpwner the related issues have been resolved. Let us know in case you still have some trouble with it.

[2019-05-18 01:27] #662 closed

[2019-05-18 01:30] szha commented on #534
The ask of this is unclear. @Ishitori is working on related efforts so I will let him decide what the work items are. Closing this for now.

[2019-05-18 01:30] #534 closed

[2019-05-18 01:32] szha commented on #530
The ask of this is unclear (e.g. what should be the end result of refactor). @Ishitori is working on related efforts so I will let him decide what the work items are. Closing this for now.

[2019-05-18 01:32] #530 closed

[2019-05-18 17:55] eric-haibin-lin commented on #478
Added in #665

[2019-05-18 17:55] #478 closed

[2019-05-18 18:01] #496 closed

[2019-05-18 18:04] eric-haibin-lin commented on #305
We can use the checkpoint handler in https://github.com/apache/incubator-mxnet/pull/14629 for new scripts

[2019-05-18 18:04] #305 closed

[2019-05-18 18:32] eric-haibin-lin commented on #502
Would you be interested to make some enhancement for BERT+QA for gluonnlp? @zhiheng-huang

[2019-05-19 14:41] rich-junwang opened #713 "Distributed Sampler Support for Multi-GPU Training with Horovod"
The current distributed training with Horovod only supports file split if my understanding is correct (https://github.com/horovod/horovod/blob/master/examples/mxnet_mnist.py). Could we have a distributed sampler that can distribute samples to all GPUs if we read data from a single file?

[2019-05-20 04:46] eric-haibin-lin commented on #599
@omerarshad any luck?

[2019-05-20 06:03] omerarshad commented on #599
80.69 was last i achieved week ago.

[2019-05-20 06:06] szha commented on #599
@omerarshad thanks! what were the hyperparameters?

[2019-05-20 10:51] leezu commented on #451
In principle numpy supports memory mapping on-disk arrays and accessing only subsets of them. This would provide a straightforward way to implement this feature. However, memory mapping seems unsupported for compressed .npz and we compress by default: https://github.com/dmlc/gluon-nlp/blob/36ce8a45afa969c0644997623ff4309a82a9cc31/src/gluonnlp/embedding/token_embedding.py#L697

https://stackoverflo

[2019-05-20 15:58] eric-haibin-lin commented on #599
@omerarshad did you check average length of the corpus and the max length used for finetuning? I think the default in the script is 128

[2019-05-20 16:31] eric-haibin-lin opened #714 "Port BioBERT to GluonNLP"
https://github.com/dmis-lab/biobert

[2019-05-20 17:00] eric-haibin-lin opened #715 "Merge / split / filter samples in the dataset"
Currently, the length of a dataset cannot be changed. There're cases where I want to change the number of samples in the dataset. For example:
- merge two short ones to form a longer one
- split a long sample into multiple short ones https://arxiv.org/abs/1905.05583
- filter out some samples that don't match criteria X

[2019-05-20 17:22] szha commented on #715
In the current data API abstraction, this should be done in sampler.

For the other two use cases it seems that the only way is to construct new SimpleDataset, which isn't ideal. How are the split/merge criteria determined? Do you have some design in mind?

[2019-05-22 08:49] leezu commented on #707
Thanks for the clarification @zhreshold. In that case your proposed `MultiProcessingReadyDatasetStream` would expose an interface that would allow users to submit tasks to sibling processes during the execution of `DatasetStream.__iter__`?

I'd also like to add an orthogonal perspective: Besides using multiprocessing inside the `DatasetStream.__iter__` we may parallelise multiple calls to `Dataset

[2019-05-22 08:56] leezu commented on #393
Note that we need to update some of the files on S3 when removing the hard-coding.

https://github.com/dmlc/gluon-nlp/blob/c80b7712e3c00b81db318981d46ea9cb49471e5b/src/gluonnlp/_constants.py#L33-L35

[2019-05-22 16:57] eric-haibin-lin opened #718 "Flaky Test: test_datasets.py::test_conll2004"
http://ci.mxnet.io/blue/organizations/jenkins/GluonNLP-py3-cpu-unittest/detail/PR-669/11/pipeline

[code]

Can we host it ourselves? I did not find license information for this file at http://www.lsi.upc.es/~srlconll/st04/st04.html

[2019-05-22 21:44] eric-haibin-lin commented on #707
@leezu thanks for the suggestion on `Future`s. Do we still have to change the DatasetStream interface if it is used?

[2019-05-22 22:19] eric-haibin-lin commented on #713
@szhengac Maybe we can make a small adaption in http://gluon-nlp.mxnet.io/master/api/modules/data.html?highlight=shardeddataloader#gluonnlp.data.ShardedDataLoader and return the result for a specific shard instead?

[2019-05-22 23:59] eric-haibin-lin opened #721 "python2 end of life (will announce deprecation in 0.7)"
@dmlc/gluon-nlp-team
Python2 will stop its support on January 1, 2020. We need to discuss a timeline to drop python2 support for gluon-nlp, too.

https://www.python.org/dev/peps/pep-0373/

There's also a discussion thread to drop py2 for mxnet https://lists.apache.org/thread.html/f8440615095c5472d1b16c554fca0fe5bad3fb8b20feaceba39ca694@%3Cdev.mxnet.apache.org%3E

[2019-05-23 00:02] eric-haibin-lin opened #722 "gluonnlp._constant not using unicode for python2"
The pre-defined constants with py2 are encoded in ascii instead of unicode. This causes inconsistency in nlp.vocab.Vocab, where some tokens may be in unicode, and some reserved tokens are in ascii.

This may cause issue if users pre-process data with hard-coded string literals that is inconsistent with what's stored in Vocab.

[2019-05-23 05:50] #718 closed

[2019-05-23 06:46] eric-haibin-lin opened #724 "PrefetcherIter with worker_type='process' may hang"
I noticed that using PrefetcherIter with worker_type='process' may leave the prefetching process hang. Specifically, if I do
[code]
I will observe that the parent process exits, and that child process still runs. And the child process runs till https://github.com/dmlc/gluon-nlp/blob/master/src/gluonnlp/data/stream.py#L265-L271 and block there because the parent never calls `__next__`.

I'm a bit c

[2019-05-23 06:46] eric-haibin-lin commented on #724
@leezu have u seen this before?

[2019-05-23 13:15] leezu commented on #724
@eric-haibin-lin did you confirm the child processes exit correctly if you don't send TERM to the parent process but exit it via Python?

[2019-05-23 13:17] leezu commented on #724
Maybe https://github.com/dmlc/gluon-nlp/blob/master/src/gluonnlp/data/stream.py#L265-L271 catches the KeyboardInterrupt exception?

[2019-05-24 01:20] eric-haibin-lin commented on #724
Yes if I press control+c it exits successfully

[2019-05-24 01:22] eric-haibin-lin commented on #724
I was experimenting with `SIGTERM ` because that's the way openmpi kills a worker, which might be an issue if we use horovod for distributed training

[2019-05-24 06:29] eric-haibin-lin opened #726 "race condition when horovod is used"
When launching multiple processes with horovod, downloading data may introduce race condition:
[code]

[2019-05-24 14:46] leezu opened #727 "pytest 4 support"
Tests are failing with current pytest 4.5

This does not affect CI as pytest < 4 is specified in the environment, but affects contributors running tests outside of CI.

[2019-05-24 14:49] leezu commented on #727
Specifically https://docs.pytest.org/en/latest/historical-notes.html#marker-revamp

[2019-05-24 18:20] leezu commented on #727
Fixed by #728

[2019-05-24 18:20] #727 closed

[2019-05-26 22:35] szha commented on #721
Some specific items to think about:
- when shall we start adding API that only supports py3? (I'd suggest immediately)
- when shall we remove support for py2 altogether? (I'd suggest in at least two more releases)

[2019-05-27 03:01] TaoLv opened #730 "BERT example crashes when using MXNet naive engine"
It works well when `MXNET_ENGINE_TYPE` is unset.
Environment:
[code]
Error log:
[code]

[2019-05-27 04:37] eric-haibin-lin commented on #730
@zhreshold does data loader conflict with naive engine?

[2019-05-27 05:10] zhreshold commented on #730
I think it might indicate some potential bugs in naive engine, especially after fork.

[2019-05-28 15:25] ThomasDelteil commented on #523
I've add very mixed result in using directly the pre-trained ELMo embeddings for sentence similarity. I used the tutorial http://gluon-nlp.mxnet.io/examples/sentence_embedding/elmo_sentence_representation.html to extract the emeddings and used several methods:
- using the average of the embeddings of only the last layer (capturing the most semantic information according to the paper)
- using an av

[2019-05-29 07:50] leezu commented on #523
@cgraywang do you know what could be the problem?

[2019-06-05 04:17] #679 closed

[2019-06-05 07:36] leezu commented on #722
The same applies to the defaults in `token_embedding.py`

[2019-06-05 09:39] sxjscience commented on #592
I've ported the pretrained model. The codes: https://github.com/sxjscience/gluonnlp-gpt2

[2019-06-06 18:48] #393 closed

[2019-06-06 18:48] #572 closed

[2019-06-07 07:15] leezu opened #751 "CI reports linkcheck as passing for pull-requests even though it fails"
@szha There is some bug in the CI setup for pull-requests. Even though the
linkcheck consistently failed for all pull-requests after #566, the CI did not
recognize the failure and reported the test as passing. Only on the master
branch, the CI correctly reports the test as failing.

See for example the log for #732:
- The pipeline checking the links is reported as passing
  http://ci.mxnet.io/blue

[2019-06-07 07:29] leezu commented on #751
This may be fixed by removing https://github.com/dmlc/gluon-nlp/blob/1e50a6606c5215e0dc28d016bb5f57bd668f47af/ci/jenkins/build_steps.groovy#L120

This is tentatively done in #752.

@szha What was the reason to add
https://github.com/dmlc/gluon-nlp/blob/1e50a6606c5215e0dc28d016bb5f57bd668f47af/ci/jenkins/build_steps.groovy#L120

[2019-06-07 09:20] leezu opened #753 "Missing wiki_cn Bert vocab artifacts on S3"
@szha, following https://github.com/dmlc/gluon-nlp/pull/655 please copy

`aws s3 cp s3://apache-mxnet/gluon/dataset/vocab/wiki_cn_cased-ddebd8f3.zip s3://apache-mxnet/gluon/dataset/vocab/wiki_cn-ddebd8f3.zip`

Both are required, as `wiki_cn` is an alias of `wiki_cn_cased`.

This bug must not be closed before tests are added that would have caught this error.

[2019-06-07 09:21] leezu commented on #753
@kenjewu FYI

[2019-06-07 16:26] szha commented on #753
done

[2019-06-07 16:27] leezu commented on #709
ClinicalBERT depends on the BERTClassification Block that currently resides in the Scripts folder:https://github.com/dmlc/gluon-nlp/blob/1e50a6606c5215e0dc28d016bb5f57bd668f47af/scripts/bert/model/classification.py#L76-L95

@eric-haibin-lin Any qualms about "stabilizing" that Block, ie. moving it to the main API so that the ClinicalBERT model can be provided via S3 from stable API? Or should we pr

[2019-06-07 16:30] szha commented on #751
Some external websites were down so this was added as a temporary measure. it shouldn't be needed anymore.

[2019-06-07 23:04] eric-haibin-lin opened #755 "Multi-GPU and fp16 training tutorial"
We need a tutorial to cover multi-gpu training and fp16 mixed precision training and their relevant APIs in GluonNLP.

[2019-06-08 09:27] #751 closed

[2019-06-08 22:11] eric-haibin-lin opened #757 "nlp.model.list_model and nlp.model.list_dataset API"
It would be very convenient to query the list of pre-trained models and datasets available in gluonnlp via an API call.

[2019-06-09 21:02] eric-haibin-lin opened #760 "Incorrect TOC in the website sidebar for tutorials"
"process data", "loading pretrained elmo data", "putting everything together" should not appear in the sidebar.

<img width="886" alt="Screen Shot 2019-06-09 at 2 01 12 PM" src="https://user-images.githubusercontent.com/5545640/59164236-30957a80-8abf-11e9-90b3-01151821f0d8.png">

[2019-06-09 21:28] szha commented on #760
This is already fixed in http://gluon-nlp.mxnet.io/master/index.html

[2019-06-10 19:44] #677 closed

[2019-06-10 19:45] #650 closed

[2019-06-10 19:45] #653 closed

[2019-06-10 21:24] leezu commented on #714
Fixed by #732

[2019-06-10 21:24] #714 closed

[2019-06-10 21:26] leezu commented on #709
Main, pretrained model added by #735
We may want to add the fine tuned classification layer parameters in future.

[2019-06-11 17:29] eric-haibin-lin commented on #760
Back to normal when I checked the website today again. Not sure why it happened. Let's reopen if it appears

[2019-06-11 17:29] #760 closed

[2019-06-11 22:50] #753 closed

[2019-06-12 07:55] rongruosong opened #765 "there is a error, when I import the model exported by bert/export.py"
## Description
(A clear and concise description of what the bug is.)

### Error Message
UserWarning: Cannot decide type for the following arguments. Consider providing them as input:
	data: None
  input_sym_arg_type = in_param.infer_type()[0]
Traceback (most recent call last):
  File "/Users/rongruosong/PycharmProjects/mxnet_bert/tvm_compile.py", line 14, in <module>
    'output_dir/classification

[2019-06-12 08:33] #765 closed

[2019-06-12 23:34] eric-haibin-lin opened #768 "Port whole word masking BERT models from google"
[code]
from https://github.com/google-research/bert

[2019-06-16 23:36] szha commented on #768
#770. Also, pre-trained models should be converted

[2019-06-18 01:03] eric-haibin-lin opened #776 "BERT documentation improvement"
The model zoo page for BERT is lengthy and is not easy to follow. We need to
- replace shell command with links to dmlc/web-data
- simplify bert pre-training instructions

[2019-06-18 18:44] Ishitori opened #779 "BiLMEncoder fails to initialize if num_layers > 1"
## Description
`BiLMEncoder` fails during initialization if `num_layers > 1`. Works fine when num_layers = 1, but if it is at least 2, then initialization fails with a weird message. See simplest reproducible example below.

### Error Message
[code]

## To Reproduce
[code]

## Environment
`pip install gluonnlp --pre`

[2019-06-18 22:40] eric-haibin-lin commented on #405
Also we should add a section for all GlueXXX datasets in http://gluon-nlp.mxnet.io/master/api/modules/data.html

[2019-06-18 22:47] szha commented on #592
the model is merged in the model zoo in #761. we still need to move it to the API. when moving, we need to:
- reuse existing transformer class (and convert the model correspondingly)
- add documentation
- make sure it's flexible enough to plug into other use cases such as using it as a feature encoder

[2019-06-19 23:55] Ishitori commented on #779
Added PR - https://github.com/dmlc/gluon-nlp/pull/783

[2019-06-20 00:15] leezu opened #784 "Jenkins CI badge broken"
In our README, the Jenkins CI badge is broken after Jenkins update.

[2019-06-20 05:21] rongruosong opened #786 "when I convert chinese_L-12_H-768_A-12 to gluon using convert_tf_model.py, I ran into a bug"
### Error Message
INFO:root:converting to Gluon checkpoint ...
Traceback (most recent call last):
  File "convert_tf_model.py", line 159, in <module>
    assert len(tf_config) == len(tf_config_names_to_gluon_config_names)
AssertionError

[2019-06-20 06:40] eric-haibin-lin commented on #726
[code]

[2019-06-20 06:43] eric-haibin-lin commented on #786
@rongruosong the model should already be available http://gluon-nlp.mxnet.io/master/model_zoo/bert/index.html why are you converting it yourself?

@leezu could you help take a look for this assertion?

[2019-06-20 07:12] rongruosong commented on #786
I want to use convert_tf_model.py to convert Chinese-BERT-wwm(Joint Laboratory of HIT and iFLYTEK ) to gluon, so I want to know whether this script works.

[2019-06-20 09:00] fierceX commented on #786
@rongruosong  You can comment out the following:
[code]
I tried, without adding this content, you can still convert the tf model to gluon.
And test the stdev = 7.2654996e-07 with compare_tf_gluon_model.py

[2019-06-20 18:16] leezu commented on #786
Hi @rongruosong, the reason for the failure is that the `bert_config.json` of https://github.com/ymcui/Chinese-BERT-wwm configures some hyperparameters that are currently unsupported by the `BERTEncoder` API. You'd need to extend the API first.

In particular, the `bert_config.json` you want to use defins

[code]

out of which currently only the options appearing as keys in the following dict are

[2019-06-20 20:52] eric-haibin-lin opened #787 "Port XLNet to gluonnlp"
https://github.com/zihangdai/xlnet
https://arxiv.org/abs/1906.08237

[2019-06-21 04:03] szha opened #788 "simverb3500 link broken"
## Description
http://ci.mxnet.io/blue/organizations/jenkins/GluonNLP-py3-master-gpu-doc/detail/PR-783/3/pipeline#step-64-log-1246

## What have you tried to solve it?

We will skip its test for now which needs to be added back.

[2019-06-21 22:48] eric-haibin-lin opened #789 "Making transformer encoder fully hybridized for export"
Currently BERT can be [exported](https://github.com/dmlc/gluon-nlp/blob/master/scripts/bert/export/export.py) with static length support. BERTEncoder inherits Transformer encoder, which contains a few `.shape` API calls, making the transformer encoder not fully hybridizable and create issues during export. As the result, the exported model only supports static length. These calls are located here:

[2019-06-23 15:05] leezu commented on #680
Hi @khui, thanks for raising this issue. Actually `init_unknown_vec` is not part of the public API of `TokenEmbedding` but only used in it's constructor. Thus we cannot use `init_unknown_vec` inside `Vocab.set_embedding`. Your proposal in https://github.com/dmlc/gluon-nlp/issues/680#issuecomment-486740312 is currently the only supported way.

Do you see any issue with your proposal https://github.

[2019-06-23 21:39] szha opened #790 "[DISCUSS] Semantic Versioning and Deprecation"
It has been taken for granted that GluonNLP project adheres to [semantic versioning](https://semver.org). I'd like to use this thread to make explicit decision about this, and about how we change APIs in the 0.x version. I propose the following:
- GluonNLP project API adheres to [semantic versioning](https://semver.org).
- Model Zoo scripts are not shipped as part of the API and thus does not adhe

[2019-06-23 21:40] szha commented on #790
Let's discuss until 6/30 EOD to iterate on the proposal. Once finalized, let's document this on the website.

[2019-06-23 21:41] szha commented on #680
I think it makes total sense to use a unified way for unknown token look-up. Just keep in mind that we should pay attention to how we deprecate APIs. I started a discussion on this topic in #790.

[2019-06-24 17:50] chandana1332 opened #792 "SplitSampler to have configurable sampling ability"
## Description
I'm currently trying to integrate Horovod with Gluon. I came across SplitSampler that virtually partitions the data and randomly samples from a particular partition. I would like to use this partitioning mechanism with other samplers such as bucket sampler, etc. Would it be possible to configure the choice of sampling mechanism in SplitSampler rather than forcing it to be randomly s

[2019-06-24 20:13] #779 closed

[2019-06-24 21:54] chandana1332 commented on #792
@eric-haibin-lin any thoughts since you are the original author of this?

[2019-06-26 08:43] yzh119 opened #795 "Support for SuperGLUE"
## Description

[SuperGLUE](https://super.gluebenchmark.com/) is a new benchmark with a new set of more difficult language understanding tasks, improved resources, and a new public leaderboard.
GluonNLP could support dataloader and finetune scripts for SuperGLUE.

## References
The interface of SuperGLUE could follow that of GLUE's:
- [GLUE dataset](https://github.com/dmlc/gluon-nlp/blob/master/sr

[2019-06-26 17:18] #703 closed

[2019-06-26 20:02] thomelane commented on #787
Aside from the great results, I'd be be interested to see if the 'segments' idea from TransformerXL helps out on long range tasks like document segmentation.

[2019-06-26 21:31] sxjscience opened #797 "TransformerXL for GluonNLP"
TransformerXL: https://arxiv.org/pdf/1901.02860.pdf (ACL2019)

[2019-06-26 21:32] sxjscience commented on #787
@ThomasDelteil Yes, I'll try to reproduce the TransformerXL in GluonNLP. See https://github.com/dmlc/gluon-nlp/issues/797

[2019-06-26 23:16] eric-haibin-lin commented on #792
Sorry for the late reply. Would this SplitFilter API be something that can help with your case?
https://github.com/dmlc/gluon-nlp/pull/741
Basically the idea is to shard the dataset into multiple partitions, and each GPU/worker only load a partition by applying the filter to the dataset. Please feel free to provide comment/feedbacks :)

[2019-06-26 23:16] eric-haibin-lin commented on #788
is this fixed or skipped?

[2019-06-26 23:21] szha commented on #788
skipped. the functionality is broken.

[2019-06-27 20:03] chandana1332 commented on #792
So in my use-case, I use custom datasets that are inheriting from Dataset so from glancing at SplitFilter, looks like it is specific to TextLineDataset. Can we extend this functionality to all types of datasets?

I'll also take a closer look and confirm with you.

[2019-06-28 14:08] pengxin99 commented on #789
Just wonder, the op `arange`, `broadcast_axes`, `expand_dims` is all can be called by both NDArray and Symbol, so the all effort is to remove input.shape[] operator because symbol do not have `shape` operator?
thx @eric-haibin-lin @TaoLv

BTW. we can use `export()` to get the hybrid model derictly from train_transformer.py .

[2019-06-29 08:27] nickguletskii commented on #789
The `contrib.index_array` operator could probably be used to replace these `shape` calls:

http://mxnet.incubator.apache.org/versions/master/api/python/symbol/contrib.html#mxnet.symbol.contrib.index_array

For instance, the code in `BaseTransformerEncoder` can be replaced with something like this:

[code]

[2019-06-29 16:37] eric-haibin-lin commented on #789
@pengxin99 yes, the reason is that symbol does not have shape API.
@nickguletskii Nice proposal, I'll take a look at the index_array op

[2019-06-30 01:12] eric-haibin-lin commented on #792
@chandana1332 that's correct. The purpose of the filter is to allow Datasets like TextlineDataset to load a subset of the dataset to memory, in case the dataset is too large to fit into memory.

On the other hand, the split sampler is designed with data.SimpleDatasetStream where the data is already split into multiple parts, stored on the disk. But in many cases there is a single file and we still

[2019-06-30 02:41] #784 closed

[2019-06-30 02:56] szha commented on #709
@leezu thanks for adding the model. For the last classification layer, let's handle it when such request arises.

[2019-06-30 02:56] #709 closed

[2019-06-30 03:27] #111 closed

[2019-07-01 04:43] eric-haibin-lin opened #805 "QNLI v2"
The GlueBenchmark updated QNLI dataset with version2. We can add a `version` argument to `nlp.data.GlueQNLI` to download the newer version.

[2019-07-01 20:43] leezu commented on #721
Let's announce the deprecation of Py2 with 0.7 release and remove the support with the 0.8 release.

[2019-07-01 21:11] sxjscience commented on #721
+1 for deprecating py2 in 0.7

[2019-07-02 09:29] leezu opened #809 "Sphinx-autorun output broken on website"
## Description
The autorun output on our master-branch version of the website is broken. All current PRs are also affected. The last stable release was still working.

Stable: http://gluon-nlp.mxnet.io/api/modules/embedding.html#gluonnlp.embedding.GloVe
Master: http://gluon-nlp.mxnet.io/master/api/modules/embedding.html#gluonnlp.embedding.GloVe

[code]

[2019-07-02 09:35] leezu commented on #809
@szha unfortunately the older PR generated websites are not available on S3 anymore. Is there a backup of them? If so, it will be easy to identify the problematic commit by grepping for the error.

[2019-07-02 13:01] leezu commented on #809
Not sure why this worked previously. I'm removing sphinx-autorun in #807 as it is only used in 3 places

[2019-07-03 02:55] ikuyamada commented on #593
@bikestra I could not find `train_bert_ner.py` used in the comment above. Is it same as `train_ner.py` contained in the repository?

[2019-07-03 03:34] szha commented on #593
@ikuyamada this script will be included as part of the 0.7.0 release coming soon. The doc can be found at: http://gluon-nlp.mxnet.io/master/model_zoo/bert/index.html#bert-for-named-entity-recognition

If you'd like to try it out now, you can install the master version of GluonNLP by following the guide here: http://gluon-nlp.mxnet.io/master/install.html#install-from-master-branch

[2019-07-03 03:47] ikuyamada commented on #593
@szha Thank you for your prompt reply! I will try it out!

[2019-07-03 21:36] eric-haibin-lin opened #811 "API for loading pre-defined vocabulary"
Currently we can get a model and the vocab via the `model.get_model` API. However, sometimes a user may just want to get the vocabulary. Is there any concern if we introduce a public version of the [_load_vocab](https://github.com/dmlc/gluon-nlp/blob/master/src/gluonnlp/model/utils.py#L265) API with
[code]
?

[2019-07-04 00:46] szha commented on #811
vocab depends on several things:
- dataset
- tokenization method
- other selection criteria such as top-k tokens.

The current parameterization only takes into account the dataset. So definitely the vocab needs to be versioned at least.

[2019-07-04 20:39] #788 closed

[2019-07-04 20:39] #809 closed

[2019-07-04 23:15] szha commented on #721
Looks like the consensus is to announce deprecation of python2 support in 0.7.

[2019-07-04 23:27] szha commented on #722
we're opting for py2 deprecation #721

[2019-07-04 23:27] #722 closed

[2019-07-05 03:10] forresti commented on #641
For other datasets (e.g. squad, mnli, imdb, ...), gluon-nlp has scripts to download and preprocess the data to enable reproducible research. Would it be possible to create such a script that enables a user to automatically download and build the Wikipedia and Books datasets?

I have a feeling that there will be a lot of people doing the pretraining soon.

[2019-07-05 03:35] forresti opened #815 "have `make test` clean up its files"
## Description
When I type `make test` in the gluon-nlp directory, it creates several files and doesn't clean them up:
[code]

I think it would be ideal to configure things so that these files go into a a temporary subdirectory, which would be deleted upon the completion of `make test`. Unless there are any issues with relative paths, I think it would be possible to do something like this:

[code]

[2019-07-05 03:44] szha commented on #815
@forresti thanks for reporting this. I agree that it's a bit messy to leave a bunch of these files around. About deleting them, since in GluonNLP we use file hash check to avoid repeated downloads, if these files already exist, it should allow them to run faster. This is why we didn't try to clean the files in the `make test` target. If users want to clean them, we have a `make clean` target to cl

[2019-07-05 05:09] forresti commented on #815
@szha Thanks for your fast reply! I like your proposed approach; it would resolve the issue.

[2019-07-05 05:15] forresti commented on #815
Just for fun, I tried `make clean`. The Makefile contains `--exclude="$(ROOTDIR)/tests/data/*"`, but I don't think the `exclude` is working. Here are some of the things it removed:

[code]

[2019-07-05 07:25] eric-haibin-lin commented on #641
@forresti I removed public access to the bucket due to security concern. I’m happy to copy the cleaned-up Wikipedia dataset to a public bucket if that’s useful for you.

Do you still need the script to cleanup the corpus?

[2019-07-06 02:51] forresti commented on #641
@eric-haibin-lin
That would be fantastic if you could provide the cleaned up dataset.

For your long-term solution to making it easy to pretrain BERT models, I see at least 2 possibilities:
(1) Gluon-NLP could provide a static cleaned up Wikipedia dataset that is compatible with `scripts/bert/run_pretraining.py`.
(2) Gluon-NLP could provide a script that downloads the latest Wikipedia dump and the

[2019-07-07 00:26] szha opened #818 "Follow-up items for ESIM"
Some items left from #689:
- [ ] report performance and upload log to dmlc/web-data
- [ ] update model zoo page to include the description of the model, the command, and link to the log

[2019-07-09 04:43] rjk-git opened #820 "FixedBucketSampler causes excessive memory consumption"
## Description
I am having a problem with FixedBucketSampler. My language model uses a simple lstm, hidden_dim:300, num_layer:3. Batch_size: 32, max_seq_len: 100. However, the memory consumption will reach 15G after training 1000batch. In this process, the memory consumption has been increasing.

### Error Message
There is an obvious rule: if the current batch has a length of 46 and the next batch

[2019-07-09 04:44] rjk-git commented on #820
@kenjewu @szhengac  @eric-haibin-lin

[2019-07-09 05:26] szha commented on #820
Try enabling the rounding memory pool. `export MXNET_GPU_MEM_POOL_TYPE=Round` before running the script will enable it. It should help stabilize the memory consumption

[2019-07-09 06:52] rjk-git commented on #820
After using export MXNET_GPU_MEM_POOL_TYPE=Round, the memory consumption is really reduced a lot, thank you very much！

[2019-07-10 05:35] bhavanaganesh opened #822 "Missing Models"
## Description
- Topic models like LDA
- Lemmatization and Stemming for preprocessing
- Expose sparse n gram representation or BOW representation for sentences/documents to user.

[2019-07-11 09:04] forresti commented on #641
I'm working on preparing a Wikipedia dataset for pretraining.

Here's what I've done so far:

[code]

Now, if I look at what's produced by WikiExtractor, it looks something like this:

[code]
I notice two things here:
1. Before each article, there's a <doc id=...>, and after each article, there's a </doc>.
2. Before each article is a title (which is often just one word, and at most a few words).

[2019-07-11 18:18] eric-haibin-lin opened #824 "Move tutorials back to gluonnlp"
Move the QA tutorial and IC/SL tutorial here back to gluonnlp: https://github.com/eric-haibin-lin/AMLC19-GluonNLP/tree/master/05_contextual_representation

[2019-07-11 20:44] leezu opened #825 "[CI] Notebook compilation on AWS Batch fails sometimes with "Job attempt duration exceeded timeout""
## Description
Time to time, the AWS Batch job fail without obvious reason. It seems the instance hangs and is finally killed due to timeout.

Example:
- http://ci.mxnet.io/blue/organizations/jenkins/GluonNLP-py3-master-gpu-doc/detail/PR-823/5/pipeline
- ECS Task https://console.aws.amazon.com/ecs/home?region=us-east-1#/clusters/gluon-nlp-p3-2x_Batch_6e228b9e-367a-31de-9da7-5f50d2e5eb96/tasks/2413

[2019-07-16 06:04] eric-haibin-lin commented on #641
Hi @forresti sorry for the late response. I was traveling for the past few days. I pushed some text cleansing code in https://github.com/eric-haibin-lin/text-proc (the doc is out-dated, but you have some idea what's inside).

Yes I used WikiExtractor, and replaced the `<doc>` token with newlines before running the training code. And, actually, `create_pretraining_data.py` is not necessary anymore,

[2019-07-16 06:38] forresti commented on #641
Thanks! I will start working with your new code tomorrow.

[2019-07-16 15:35] eric-haibin-lin opened #831 "ATIS/SNIPS datasets and GLUE datasets don't appear in the website API doc"
http://gluon-nlp.mxnet.io/api/modules/data.html

does not show the details of ATISDataset/SNIPSDataset and GlueCoLA, GlueSST2, GlueSTSB, GlueQQP, GlueRTE, GlueMNLI, GlueQNLI, GlueWNLI

[2019-07-17 19:59] eric-haibin-lin commented on #641
uploaded to https://apache-mxnet.s3-accelerate.dualstack.amazonaws.com/gluon/dataset/enwiki-197b5d8d.zip
@forresti please let me know if the link doesn't work

[2019-07-17 22:30] eric-haibin-lin opened #835 "Export script for transformer"
Currently the transformer decoder reads the shape of the input to decide if it runs the inference mode or evaluation mode. We can probably add an export script to properly export a HybridBlock. @sxjscience @szhengac
For masks generation, that can be handled by the `contrib.arange_like` or `arange(max_len)` + `slice_like` already.

[2019-07-17 23:40] aninrusimha commented on #641
Hello!  I tried the link that you mentioned here, but was going through the data and encountered a problem with how the sentences were split.  It looks to be based on characters, and this leads to sentences being split as follows:

The word "anarchism" is composed from the word "anarchy" and the suffix -ism, themselves derived respectively from the Greek , i.e.
"anarchy" (from , "anarchos", meanin

[2019-07-18 03:01] forresti commented on #641
Thanks!! I was able to download and extract the enwiki-feb data from this link.
It looks like the data has the `<doc></doc>` tags removed, but we'll still need to use your `text-proc` repo code to remove other tags such as `<ref>` and `<mapframe>`. No problem.

Also, @aninrusimha and I are going to collaborate on implementing and automating the preprocessing (the two of us trace our roots back to

[2019-07-18 09:20] leezu opened #837 "Automate dependency upgrades"
## Description
Let's automate dependency updates to avoid running into long fixed issues as with

## References
- list reference and related literature
- list known implementations

[2019-07-18 09:49] leezu commented on #721
I disabled the Python 2 jobs on our CI for pull-requests and the master branch.

[2019-07-18 09:53] leezu commented on #721
@szha could you update the repository rules ("expected checks") on the Github side?

[2019-07-18 12:37] szhengac commented on #835
What do you mean exporting a HybridBlock? The below code also requires shape to do broadcast. Do you have any workaround in mind?

https://github.com/dmlc/gluon-nlp/blob/4d074affc4e9aab5b25ea7f473bc87a9235b324a/src/gluonnlp/model/transformer.py#L1068-L1069

[2019-07-18 14:45] leezu opened #839 "MXNet nightly numpy dependency bump breaks stuff"
## Description
Somewhere between today and 11th July, MXNet pre-release on Pypi declared to rely on `numpy<2.0.0,>1.16.0` instead of `numpy<1.15.0,>=1.8.2`, thus bringing with it some breaking changes:

In particular, we're hit by:

as it breaks `./scripts/bert/run_pretraining.py`

[2019-07-18 16:42] szha commented on #721
updated. the python2 checks are no longer required.

[2019-07-19 04:40] eric-haibin-lin commented on #641
In general, I don't think that's a big issue, as during pre-training we're trying to fit as many consecutive sentences as possible in the 512 sequence length. So very likely you'll see something like
[code]
as the first segment in the "sentence pair" for the next "sentence" prediction task. I put quote around the word sentence because BERT is actually doing next `segment` prediction (with multiple

[2019-07-19 04:44] eric-haibin-lin commented on #641
@forresti nice catch. What I wrote in text-proc is not perfect, so this is a miss on my end. If you can add additional regex to filter out these `<ref>` and `<mapframe>`, that will be great.

[2019-07-19 04:52] forresti commented on #641
@eric-haibin-lin

It looks like your script in the README of text-proc filters for ref and mapframe.

[2019-07-19 20:07] #839 closed

[2019-07-19 20:27] #721 closed

[2019-07-22 02:24] cpmss521 opened #843 "How can i load pretained biobert with BertEmbedding,"
i get  a  `ValueError` when  use `BertEmbedding` ,
 `bert_embedding = BertEmbedding(model='bert_24_1024_16', dataset_name="biobert_v1.1_pmc_cased")`,
`ValueError: Vocabulary for biobert_v1.1_pmc_cased is not available.` this  `BertEmbedding` is not support pretained  biobert??

[2019-07-22 04:05] szha commented on #843
@cpmss521 'biobert_v1.1' only has the 'pubmed_cased' BERT base model version available. This should work: `bert_embedding = BertEmbedding(model='bert_12_768_12', dataset_name="biobert_v1.1_pubmed_cased")`

[2019-07-22 07:04] cpmss521 commented on #843
thanks a lot ,but  it didn;t work :bert_embedding = BertEmbedding(model='bert_12_768_12', dataset_name="biobert_v1.1_pubmed_cased")  and raised the same error "ValueError: Vocabulary for biobert_v1.1_pubmed_cased is not available."  but  i get some information  about pre-trained BERT models  in [here](http://gluon-nlp.mxnet.io/model_zoo/bert/index.html),, i don't know  what's wrong ?

[2019-07-23 01:17] #776 closed

[2019-07-23 16:42] eric-haibin-lin commented on #789
Another alternative to fix arange is sth like:
[code]
where max_length is sth like 512.

[2019-07-23 16:42] eric-haibin-lin commented on #843
@cpmss521 what's your gluon-nlp version? Does gluonnlp 0.7.1 not work?

[2019-07-23 20:44] eric-haibin-lin commented on #831
the issue persists in http://gluon-nlp.mxnet.io/api/modules/data.html

[2019-07-23 22:57] kevicao commented on #831
I got the following error

ImportError                               Traceback (most recent call last)
<ipython-input-2-0f4f2a9f6654> in <module>
----> 1 from gluonnlp.data import ATISDataset

ImportError: cannot import name 'ATISDataset'

[2019-07-24 01:02] szha commented on #831
Thanks for the reminder. I need to add this to the 0.7 branch and sync the doc.

[2019-07-24 08:47] cpmss521 commented on #843
according to description [here](https://github.com/imgarylai/bert-embedding#install) :`pip install bert-embedding`,`pip install mxnet-cu92`,and then i get gluonnlp==0.6.0, @eric-haibin-lin ,

[2019-07-24 16:43] eric-haibin-lin commented on #831
The commit is in the branch. Maybe we just need to rebuild the website

[2019-07-25 09:25] leezu commented on #178
As the relative order doesn't seem to matter, how about replacing the current logic generating a fixed length (max_length) embedding matrix with

[code]

In that case we don't require users to specify max_length a-priori when using sinusoidal embedding.

Above Block is currently used already as part of https://github.com/dmlc/gluon-nlp/pull/846

[2019-07-25 18:03] eric-haibin-lin opened #847 "Mixed precision training for language model"
AMP does not work for the language model training script. The error log is attached [amp.log](https://github.com/dmlc/gluon-nlp/files/3432739/amp.log).

The code to reproduce the issue is here: https://github.com/dmlc/gluon-nlp/compare/master...eric-haibin-lin:lm?expand=1

Uncommenting line 173 should reproduce the error.

[2019-07-26 13:45] leezu commented on #178
I obtained

[code]

when using above Block compared to

[code]
with the current script in the master branch.

In both cases running: `MXNET_GPU_MEM_POOL_TYPE=Round python train_transformer.py --dataset WMT2014BPE --src_lang en --tgt_lang de --batch_size 2700 --optimizer adam --num_accumulated 16 --lr 2.0 --warmup_steps 4000 --save_dir transformer_en_de_u512 --epochs 30 --gpus 0,1,2,3,4,5,6,7 --sca

[2019-07-26 16:59] szha commented on #831
Updated and verified that the docs are there now.

[2019-07-26 16:59] #831 closed

[2019-07-26 17:02] szha commented on #843
@imgarylai would you mind updating the dependency of bert-embedding to gluonnlp>=0.6.0?

[2019-07-26 21:21] eric-haibin-lin opened #849 "Fix all Pad() calls"
Now that for all `Pad()` calls without pad_val set, users see a warning that `pad_val` is set to default value 0. This may confuse ppl who uses existing script and wonder if there's any problem in their setup for the warning message printed. We should fix all these usages.

[2019-07-27 07:39] szhengac commented on #178
In the first version, I also used real-time computing, but I found it slows down the training. Then, I changed it to a predefined embedding matrix. Have you check how long it takes to complete the training compared to using a fix embedding matrix?

[2019-07-27 17:34] leezu commented on #178
Both jobs were started at the same time on separate p3.16xlarge instances. According to above log, using the HybridBlock was about 1.5 hours faster than the the fixed embedding matrix way. Ì'm not sure about why the difference is so large. I'll check the full logs later if this is due to a sustained increased throughput or maybe due to some flakiness of the p3 instance running the unmodified code.

[2019-07-29 04:41] eric-haibin-lin commented on #641
Pre-processed openweb text available at http://repo.mxnet.io/gluon/dataset/webtext-split-86f9dbdd.zip

[2019-07-29 07:39] leezu commented on #178
See the two log files attached. Somehow the unmodified run got delayed by 1 hour during the first evaluation:

[code]

Compared to the modified run

[code]

[train_transformer.log](https://github.com/dmlc/gluon-nlp/files/3440757/train_transformer.log)
[train_transformer_with_pos_emb_block.log](https://github.com/dmlc/gluon-nlp/files/3440758/train_transformer_with_pos_emb_block.log)

However, based

[2019-07-29 14:20] szhengac commented on #178
It seems that the main difference comes from the validation/testing in the first few epochs, where the modified embedding outputs a shorter sequence so that the beam search ends more quickly. This seems to suggest that the positions of sin and cos have something to do with the generation process.

[2019-08-02 05:42] imgarylai commented on #843
The `bert-embedding` has been updated and asked for `gluonnlp >= 0.6.0` as a dependency.

https://github.com/imgarylai/bert-embedding/blob/910dc59ce123fc3a72b9428d7e9cc4b693844e04/setup.py#L140

Try to run `pip install gluonnlp==0.7.1` after install bert-embedding?

[2019-08-02 06:12] eric-haibin-lin commented on #822
moved to roadmap

[2019-08-02 06:12] #822 closed

[2019-08-02 06:12] eric-haibin-lin commented on #654
https://github.com/dmlc/gluon-nlp/issues/822

[2019-08-03 13:36] YouhuiBai opened #861 "Bert backward propagation order isn't correct ??"
## Description
Hi, I downloaded Bert source code from [Bert](https://gluon-nlp.mxnet.io/model_zoo/bert/index.html), and ran successfully at a single machine with one GPU. Then I expanded the code and made it be with the support of Horovod, modified source code [here](https://gitee.com/YouhuiBai/Bert), only changed the `finetune_classifier.py`, then I ran it with 2 servers with one GPU per machine,

[2019-08-03 16:43] eric-haibin-lin commented on #861
This looks like a bug. Would you mind providing the complete hvd timeline log?

[2019-08-04 00:40] YouhuiBai commented on #861
@eric-haibin-lin Of course, the log is [Horovod timeline for Bert](https://github.com/dmlc/gluon-nlp/files/3464459/timeline_Bert.txt),  you can modify the extension name from `.txt` to `.json` to open  with chrome.

The setups are:
1. Bert using RTE dataset and running 50 iterations
2. Single machine with 2 GPUs, the communication way between GPUs is PCIe, Horovod organizes these two GPU as a ring

[2019-08-06 16:04] TaoLv opened #864 "Cannot do BERT inference in a multi-instance way"
## Description
Cannot do BERT inference in a multi-instance way.

### Error Message
[code]

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide link.)

### Steps to reproduce
(Paste the commands you ran that produced the error.)

1. Install the latest MXNet and GluonNLP
2. Fine-tune the parameter of MRPC ta

[2019-08-06 20:44] ptrendx commented on #847
MXNet PR fixing this error: https://github.com/apache/incubator-mxnet/pull/15740

[2019-08-10 18:12] hhexiy opened #871 "refactor seq2seq scripts"
## Description
The current seq2seq scripts (e.g., train_transformer.py) mixes training and testing mode, making it only useful for reproducing results. Many functions process train and val together, and test data is evaluated during training...
For development, the users need to separate the two modes, which require proper saving/loading (including param, config, vocab etc.), refactored data proce

[2019-08-11 11:38] gemire opened #872 "WordEmbedding Why train.step with batchsize 1"
## Description
In scripts/word_embeddings/train_glove.py:319:             trainer.step(batch_size=1)
and scripts/word_embeddings/train_sg_cbow.py:240 trainer.step(batch_size=1)

why the batch_size set to 1?  why not average the loss first? or batch_size set to the real batchsize?
when the batch size is large, it would cause the loss large too.

Thank you for help!

[2019-08-12 18:07] eric-haibin-lin commented on #864
@TaoLv is there still segfault if dataloader multi-process is turned off?

[2019-08-14 11:09] leezu commented on #872
The `batch_size` in `step()` affects gradient rescaling. As an adaptive optimzer is used (actually blockwise adaptive, see https://arxiv.org/pdf/1905.09899.pdf), the rescaling isn't essential. The gradient is already normalized based on the history of gradients.

https://github.com/apache/incubator-mxnet/blob/b914d0a6296b5773499a1232dd8d4a3851b6a842/src/operator/contrib/optimizer_op-inl.h#L120-L13

[2019-08-14 11:09] #872 closed

[2019-08-15 19:09] charlieyou opened #879 "Using FastText subword embeddings with Gluon"
I am trying to understand how to use FastText embeddings in a Gluon model. I've been looking at [this section of the documentation](https://gluon-nlp.mxnet.io/examples/word_embedding/word_embedding.html#Using-Pre-trained-Word-Embeddings-in-Gluon), but it does not address how to use the `gluon.nn.Embedding` layer when you have out-of-vocab words and want to take advantage of FTs subword functionali

[2019-08-15 22:34] eric-haibin-lin opened #880 "Tutorial download button and link"
Right click the "download script" button doesn't give me the url link of the zip file for the tutorial. However, downloading the script from a remote notebook/machine is quite common. We should update the button with a simple html <a> tag

[2019-08-15 23:02] eric-haibin-lin opened #881 "Missing error log from CI"
The notebook tests in some cases don't report the error log:
http://ci.mxnet.io/blue/organizations/jenkins/GluonNLP-py3-master-gpu-doc/detail/PR-877/9/pipeline
Not sure if it's transient or consistent across runs

[2019-08-16 17:10] eric-haibin-lin commented on #881
Triggered it again and the log is still missing. cc @leezu

[2019-08-16 17:18] leezu commented on #881
Triggering again as the logs from your last run are already deleted (12 hour timeout)

[2019-08-16 17:27] leezu commented on #881
I found some job status reports that indicate that your jobs were timing out. Are you sure #877 does not introduce any regression that prevents the transformer example from running? The Cloudwath log does not contain any output after minute 2 (and until it is killed at minute 30)

[2019-08-16 17:30] leezu commented on #881
I'll open a PR to make sure the stderr output is also sent to Cloudwatch. Currently we can't access stderr output as it is only logged to a file but that file is never uploaded to S3 due to the job timeout.

[2019-08-16 17:41] leezu opened #883 "submit-job.py should print Cloudwatch log streams"
https://github.com/dmlc/gluon-nlp/blob/master/ci/batch/submit-job.py contains code to print the Cloudwatch log stream. This does not work on our CI. Current workaround is writing the logs to a logfile, downloading that after the job finished and displaying it. This does not work in case the job times out. In that case, manual retrieval of the Cloudwatch logs is currently required.

There is either

[2019-08-16 18:41] eric-haibin-lin commented on #881
Yes I also find that the job exceeded 30 mins. There was indeed a bug that causes the translation regression.

[2019-08-16 19:50] #881 closed

[2019-08-16 20:05] eric-haibin-lin commented on #654
MASS: MASS: Masked Sequence to Sequence Pre-training for Language Generation
https://arxiv.org/pdf/1905.02450.pdf

[2019-08-16 20:29] eric-haibin-lin commented on #654
Pay Less Attention With Lightweight and Dynamic Convolutions https://arxiv.org/pdf/1901.10430.pdf

[2019-08-16 21:13] eric-haibin-lin commented on #654
Poincaré Word Embedding: https://arxiv.org/pdf/1705.08039.pdf

[2019-08-16 21:28] eric-haibin-lin commented on #654
GPT-2 Training from Scratch

[2019-08-16 21:29] eric-haibin-lin commented on #654
Transformer/BERT visualization:
[Arxiv2019] Visualizing and Measuring the Geometry of BERT
[ICML2017] Understanding Black-box Predictions via Influence Functions

[2019-08-16 21:30] eric-haibin-lin commented on #654
Memory networks:
        * [Nature2016] Hybrid computing using a neural network with dynamic external memory
        * [NeurIPS2016] Scaling Memory-Augmented Neural Networks with Sparse Reads and Writes
        * [Arxiv2019] Large Memory Layers with Product Keys (https://arxiv.org/pdf/1907.05242.pdf)

[2019-08-16 21:44] sundeepteki commented on #654
- Transformer-XL - https://github.com/kimiyoung/transformer-xl
- RoBERTa - https://github.com/pytorch/fairseq/tree/master/examples/roberta
- XLM - Cross-lingual LM pretraining - https://github.com/facebookresearch/XLM/
- Multilingual pre-trained encoder (BERT et al.) trained on Alexa data from all languages that Alexa currently supports or plans to support by 2020

[2019-08-18 01:31] YouhuiBai commented on #861
@eric-haibin-lin Hi Haibin, any suggestions?

[2019-08-18 19:29] szha opened #886 "Self-attentive Sentence Embedding Tutorial Undeclared Dependency (sklearn)"
## Description
self-attentive sentence embedding tutorial is using sklearn for accuracy and f1. As we didn't take sklearn as a dependency, we should migrate those usage to the accuracy/f1 in mxnet and drop the dependency in docker

[2019-08-18 19:45] leezu commented on #879
You can use the respective Block: https://gluon-nlp.mxnet.io/api/modules/model.train.html#gluonnlp.model.train.FasttextEmbeddingModel
Note that this Block takes a "Sparse array containing weights for every word and subword index." as an input. So if a your input word has index i and subword indices x, y, z, the corresponding row of the CSRNDArray should be 0 everywhere but at index i, x, y and z.

[2019-08-18 19:48] leezu commented on #879
https://github.com/dmlc/gluon-nlp/blob/5d25058a2b61fb06f6a18e39608d15a51db144d3/scripts/word_embeddings/data.py#L376-L427 provides an example how to construct the array.

[2019-08-19 02:59] #797 closed

[2019-08-19 14:52] buechel commented on #476
@eric-haibin-lin, it looks like there is a bug between lines 461 through 479 in [here](https://github.com/dmlc/gluon-nlp/blob/master/scripts/bert/finetune_squad.py). Looks like `SQuADTransform` is called twice with identical parameters.

[2019-08-19 15:59] eric-haibin-lin commented on #476
Hi @buechel sorry for the confusion. Both`dev_data_transform` and `dev_dataset` uses dev_data as the input, but `dev_data_transform` is processed further in a format suitable for making predictions

[2019-08-19 16:31] eric-haibin-lin commented on #861
Hi @YouhuiBai can you update your horovod version? It was fixed by this PR: https://github.com/horovod/horovod/commit/0febb667bd0f511de61d2f2d7a667d8e9d30f821
where the allreduce operation is scheduled by priority
Although the priority currently is defined by the parameter name, which does not really reflect the dependency in a general graph..

[2019-08-19 23:37] haven-jeon opened #887 "Add "Reduce LR On Plateau" scheduler"
## Description
The LR scheduler that reduce learning rate when a metric has stopped improving.

## References
- https://arxiv.org/abs/1905.01969 uses this scheduler.
- https://keras.io/callbacks/#reducelronplateau

[2019-08-20 01:27] YouhuiBai commented on #861
@eric-haibin-lin Thank you,  I see, this is a way to fix this problem by pass a prioritized parameter to mxnet engine, the engine will schedule the operations depended on variables by priority, but why is the keys' order out from the engine different from the order of backward propagation when there is no priority? I think the problem lies in the default scheduling method of mxnet engine, and try

[2019-08-20 10:23] AnakTeka commented on #521
I'm trying to do pre-train for BERT, but steps on this page https://gluon-nlp.mxnet.io/model_zoo/bert/index.html does not explain how to prepare the dataset for training using Wikipedia, although the is `sample_text.txt` for I can't figure it out how to prepare wikipedia dumps to match `sample_text.txt` format, any help?

[2019-08-20 18:52] charlieyou commented on #879
Thank you for the response!

When calling `FasttestEmbeddingModel.hybrid_forward` via `__call__`, what should the `weight` parameter be? `FasttestEmbeddingModel.weight`?

[2019-08-20 22:48] eric-haibin-lin commented on #861
The idea is that we want to schedule layers that are closer to the input earlier, if when multiple tensors are available for allreduce. This paper talks about the priority based approach: https://www.sysml.cc/doc/2019/75.pdf
Are you trying to improve the allreduce strategy in mxnet/horovod?

[2019-08-21 08:19] leezu commented on #879
Hi @charlieyou, the `weight` parameter will be automatically passed by the `HybridBlock`. You can just ignore it. It's an artifact of how HybridBlock currently distinguishes between the `mx.sym` and `mx.nd` API (which we plan to clean up in the coming months). `weight` will be (automatically) passed as `FasttestEmbeddingModel.weight.data(ctx)` or `FasttestEmbeddingModel.weight.var()` depending on

[2019-08-21 16:52] eric-haibin-lin commented on #521
@AnakTeka are you able to use the pre-processed wikipedia dataset here http://gluon-nlp.mxnet.io/master/model_zoo/bert/index.html#pre-training-from-scratch? Or you want to pre-process from scratch by yourself?

[2019-08-21 17:55] charlieyou commented on #879
Great thanks! I will try this and get back to you if I have any issues

[2019-08-22 04:31] AnakTeka commented on #521
I'm trying to pretrain on non English language

[2019-08-23 07:04] GeorgiosHajivassiliou opened #892 "Loading Dataset Error (wikitext)"
Hello,

I'm trying to experiment with a pre-trained LSTM model.

I am loading some text I need to build my vocabulary

`wikitext103 = nlp.data.WikiText103('val', root='./datasets/wikitext2')`

but all I get is this:

    310             try:
    311                 print('Downloading {} from {}...'.format(fname, url))
--> 312                 r = requests.get(url, stream=True, verify=verify_ssl)

[2019-08-23 08:36] #892 closed

[2019-08-23 17:12] eric-haibin-lin opened #894 "Avoid hyperlinks to .rst and .md files from the website"
Currently rst and markdown files are well-rendered on Github and there are users who browse Github to read these documentations/tutorials. In the meantime these files are converted to html files and hosted on the website. However, hard-coding any hyperlink ending with `.html` will cause a dead-link if the user is reading from Github; Hard-coding any hyperlink ending with `.rst`/`.md` will cause a

[2019-08-23 19:19] eric-haibin-lin opened #895 "Flaky test: test_skipgram_cbow"
http://ci.mxnet.io/blue/organizations/jenkins/GluonNLP-py3-master-gpu-integration/detail/PR-893/1/pipeline

[code]

[2019-08-24 00:18] eric-haibin-lin opened #896 "Citation for converted BERT model"
We shall explicitly cite the converted BERT models on the website to avoid confusions. For example, there are multiple ClinicalBERT model repositories and papers:
https://github.com/EmilyAlsentzer/clinicalBERT
https://github.com/kexinhuang12345/clinicalBERT
@leezu

[2019-08-24 10:00] YouhuiBai commented on #861
Hi Haibin, thanks and yes, I am trying to improve the allreduce strategy in mxnet with horovod, I tried to analyze the computation and communication order of image-classification models and NLP models in mxnet+horovod, then found that the transferring order for Bert is strange. I have some suspects and am trying to verify them these days.

[2019-08-24 10:11] leezu commented on #895
Could this be a mxnet regression: "CUDA: OS call failed or operation not supported on this OS"

[2019-08-24 14:51] haven-jeon opened #898 "Add BERT Adapter"
## Description

Bert Adapter

Adapters allow one to train a model to solve new tasks, but adjust only a few parameters per task. This technique yields compact models that share many parameters across tasks, whilst performing similarly to fine-tuning the entire model independently for every task.

## References
- http://proceedings.mlr.press/v97/houlsby19a.html
- https://github.com/google-research/

[2019-08-25 19:08] zmd971202 commented on #593
@bikestra Hi, could you tell me how you get 91.7 with bert-base and what tricks do you use? I am trying to reproduce the result of bert-base but I can only get 91.3 with bert-base.

[2019-08-26 15:36] seujung opened #899 "Add RAdam"
## Description
RAdam
- RAdam is a new variant of Adam, by introducing a term to rectify the varianceof the adaptive learning rate
- Experimental results on language modeling and neural machine translation demonstrate the effectiveness and robustness results

## References
- https://arxiv.org/pdf/1908.03265v1.pdf
- https://github.com/LiyuanLucasLiu/RAdam

[2019-08-26 22:19] eric-haibin-lin opened #900 "Model zoo discoverability"
Currently we have all the bert models in one place: http://gluon-nlp.mxnet.io/model_zoo/bert/index.html
However, we do have trained language models, NMT models, etc. GluonNLP should have a central place to show all these available model checkpoints.

[2019-08-26 23:36] eric-haibin-lin opened #901 "script version checking"
Currently users download scripts from the gluonnlp website, which is up-to-date with the latest gluonnlp release.

However, some user still have old version of gluonnlp installed, and didn't realize that the downloaded script only works for latest gluonnlp (0.8).

I suggest we add version checking in the beginning of the script and print a warning if the installed gluonnlp version is lower than th

[2019-08-27 20:51] mohammedkhalilia opened #902 "Loading BERT external vocab file error"
## Description
When calling  [get_model(name, **kwargs)](https://github.com/dmlc/gluon-nlp/blob/ea1ae703afd9c9e59d55718ae32e91e74ce25ef4/src/gluonnlp/model/__init__.py#L99), we can specify either the `--dataset_name`, which will load the vocab for that dataset, or we can pass the `--vocab` for custom BERT vocabulary. An error occurs when calling a BERT model such as `bert_12_768_12` with `--vocab`

[2019-08-28 06:47] liusy182 opened #905 "KeyError: '<pad>' if run /scripts/word_embeddings/evaluate_pretrained.py with flag `analog-max-vocab-size`"
## Description

run `/scripts/word_embeddings/evaluate_pretrained.py` with flag `analog-max-vocab-size` throws exception.

### Error Message
[code]

## To Reproduce

[code]

## What have you tried to solve it?

It looks like the reason is because [enforce_max_size](https://github.com/dmlc/gluon-nlp/blob/master/scripts/word_embeddings/evaluate_pretrained.py#L208) trims off certain tokens such as `<

[2019-08-28 10:39] leezu commented on #879
Hi @charlieyou, indeed you need to "flatten" to 2D and reshape back to 3D. For efficiency, you likely want to pad each training sample in a batch to have the same number of embeddings. For the "pad" embeddings, the CSRNDArray can just contain a completely empty row.

If you feel this work could be supported by some GluonNLP API, you would be very welcome to contribute such helper function.

Btw, i

[2019-08-28 11:29] leezu commented on #905
Thanks for reporting this issue liusy182. The reason was that `enforce_max_size` function incorrectly overwrote an internal TokenEmbedding datastructure, breaking the use of `unknown_token`'s embedding for '<pad>'. When this script was written, modifying TokenEmbedding's internals was required. Based on https://github.com/dmlc/gluon-nlp/pull/750 we can now use proper API to make the required chang

[2019-08-28 11:44] leezu commented on #902
Thanks for reporting this issue @mohammedkhalilia.
I think the problem is that `get_model` expects a `gluonnlp.Vocab` object for it's `vocab` parameter. However, you passed the filename to the json file from which the `gluonnlp.Vocab` object can be constructed. The correct usage would be to run

[code]

Does that work for you? Closing the issue, but please reopen in case of any problems.

[2019-08-28 11:44] #902 closed

[2019-08-29 17:11] #879 closed

[2019-09-01 01:24] haven-jeon opened #913 "BERT Knowledge Distillation"
## Description

In situations where it is difficult to use heavy BERT for real service, making the model lighter with smaller models is necessary to speed up the model inference performances.

## References
- https://arxiv.org/abs/1903.12136
- https://github.com/huggingface/pytorch-transformers/tree/master/examples/distillation

[2019-09-02 21:37] #896 closed

[2019-09-06 18:47] eric-haibin-lin opened #919 "Failed test_verb143 dataset Test"
http://ci.mxnet.io/blue/organizations/jenkins/GluonNLP-py3-cpu-unittest/detail/PR-918/5/

Dataset cannot be downloaded.

[2019-09-06 18:47] eric-haibin-lin commented on #919
Connection issue

[2019-09-07 19:39] leezu commented on #919
I retriggered CI. The [link](https://ie.technion.ac.il/~roiri/papers/EMNLP14.zip) seems to work fine now. Closing for now.

[2019-09-08 23:37] eric-haibin-lin commented on #654
Adaptive softmax and adaptive embedding https://arxiv.org/pdf/1809.10853.pdf

[2019-09-09 07:32] leezu commented on #654
Adaptive softmax and embedding is already part of `scripts/language_model`. Let's clarify the roadmap as: move support to main API.

[2019-09-11 20:52] #905 closed

[2019-09-11 23:55] eric-haibin-lin commented on #861
I think there's a bug with the newly added sort logic: https://github.com/horovod/horovod/blob/3999eca9c85550564444c61db55591e86c584ea6/horovod/mxnet/__init__.py#L101-L102 @YouhuiBai

[2019-09-13 00:07] xf05888 opened #924 "AssertionError: masked_positions tensor is required for decoding masked language model"
### Description
I want to import RoBERTa in GluonNLP

### Error message for the last command
[code]

### Command I ran from [http://gluon-nlp.mxnet.io/model_zoo/bert/index.html](http://gluon-nlp.mxnet.io/model_zoo/bert/index.html)
[code]

[2019-09-13 06:12] #924 closed, assigned to eric-haibin-lin

[2019-09-15 10:24] leezu opened #926 "Intermittent hangs during test execution"
In [CI run](http://ci.mxnet.io/blue/organizations/jenkins/GluonNLP-py3-cpu-unittest/detail/master/131/pipeline/84) of b810d10386fad58bded6b39b233f5009406f6da3, `pytest -v --capture=no -n 0 -m '(not gpu) and serial' --durations=30 --cov src/gluonnlp --cov-report=term --cov-report xml tests/unittest` was stuck for 2 hours at `tests/unittest/test_datasets.py::test_ud21` and was finally killed due to

[2019-09-16 04:49] eric-haibin-lin commented on #919
Failed again in http://ci.mxnet.io/blue/organizations/jenkins/GluonNLP-py3-cpu-unittest/detail/PR-929/3/pipeline

[2019-09-16 08:15] leezu commented on #919
Did you try if the [link](https://ie.technion.ac.il/~roiri/papers/EMNLP14.zip) was working at the time that the CI errored out? It currently (4 hours later) is working well.

Besides the `Failed to establish a new connection: [Errno -2] Name or service not known` errors (observed for `http://ie.technion.ac.il/`) we also time to time get `Temporary failure in name resolution` errors with conda:

[c

[2019-09-16 12:38] YouhuiBai commented on #861
@eric-haibin-lin Sorry I forgot to check gmail last days, I used horovod with version 0.16.1, there is no `sort` in `_allreduce_grads()`. I found that this is because of global gradient clipping, namely, when all gradients are completed then compute the clipping `total_norm` in `clip_grad_global_norm()`, if the clipping is followed by communication, of course there is no overlap between backward c

[2019-09-19 22:26] eric-haibin-lin commented on #789
Fixed using `arange(infer_range=True)`

[2019-09-19 22:26] #789 closed

[2019-09-22 21:49] eric-haibin-lin commented on #901
resolved by #934 #930

[2019-09-22 21:49] #901 closed

[2019-09-22 23:10] szha commented on #926
Another one at http://ci.mxnet.io/blue/organizations/jenkins/GluonNLP-py3-cpu-unittest/detail/PR-935/1/pipeline#step-125-log-1116

[2019-09-23 21:16] mohammedkhalilia opened #938 "Embedding input contains data out of bound when sparse_grad=True"
## Description
When setting sparse_grad=True in mxnet.gluon.nn.Embedding() I get an error.

### Error Message
The error is:
Check failed: is_valid: Embedding input contains data out of bound

Full traceback is below:

Traceback (most recent call last):
  File "/home/ubuntu/workspace/src/models/train.py", line 73, in <module>
    main()
  File "/home/ubuntu/workspace/src/models/train.py", line 63,

[2019-09-24 01:22] haven-jeon opened #939 "Korean BERT pre-trained"
## Description
- Korean BERT pre-trained cased (KoBERT)

## References
- https://github.com/SKTBrain/KoBERT

[2019-09-24 01:33] eric-haibin-lin commented on #939
Nice! Are you porting it back to gluonnlp's model zoo?

[2019-09-24 06:34] leezu commented on #938
Hi @mohammedkhalilia , please provide an end-to-end example. My guess is that one of your input elements is `>= config.char_size`. Can you double check all inputs are `< config.char_size`?

[2019-09-24 06:52] leezu commented on #460
Tracked at https://github.com/apache/incubator-mxnet/issues/13875

[2019-09-24 06:52] leezu commented on #122
Tracked at https://github.com/apache/incubator-mxnet/issues/13875

[2019-09-24 06:53] leezu commented on #694
Closing due to lack of activity, feel free to reopen if you have more questions

[2019-09-25 07:15] haven-jeon commented on #939
Sure.

[2019-09-27 20:56] mingwei82 opened #948 "TypeError: 'NoneType' object is not iterable, when using bilm_encoder"
Hi,

I'm learning how to use the gluon-nlp package to learn nlp development step-by-step.
I've decoupled parts of the model-zoo language model, where I replaced the encoder layer with my own RNN (e.g. instead of the standard or awd lstm, try doing the encoder layer by myself).

However, when I tried to replace the encoder layer (2-layer LSTM) with the bilm encoder block, I get an error that's in t

[2019-09-28 05:03] szha commented on #948
Hi Mike. Although the API had a default value `None` for the `states` field, it's actually required. You can get the value by calling the `begin_state` function, similar to what's done in the [ELMo tutorial](https://gluon-nlp.mxnet.io/examples/sentence_embedding/elmo_sentence_representation.html#Putting-everything-together).

We will need to add the logic to automatically call `begin_state` in the

[2019-09-30 05:28] eric-haibin-lin opened #949 "rename beam_size for SequenceSampler"
The `beam_size` argument for `SequenceSampler` is misleading, since there is not beam search happening. Shall we find a better name for it?

[2019-09-30 21:19] emilmont opened #951 "Add raw attention scores to the AttentionCell"
## Description
For implementing a pointer mechanism in sequence to sequence models it is very practical to re-use attention cells. For example see the Attention-Based Copy Mechanism described in Jia, Robin, and Percy Liang. "Data recombination for neural semantic parsing." arXiv preprint arXiv:1606.03622 (2016).

The proposal is to additionally return the raw attention scores in the AttentionCell:

[2019-09-30 21:29] szha commented on #951
Thanks for the proposal. Adding pointer/copy mechanism is an important feature. cc @dmlc/gluon-nlp-committers

[2019-09-30 21:36] szhengac commented on #951
Hi @emilmont, thanks for the proposal. Are you referring to the `att_weights` in the following? https://github.com/dmlc/gluon-nlp/blob/5bb1ce6c43627b93a829da7aa2bdacd7e28190a8/src/gluonnlp/model/attention_cell.py#L165

[2019-09-30 22:04] szha commented on #951
I think Emilio is referring to this:

https://github.com/dmlc/gluon-nlp/blob/5bb1ce6c43627b93a829da7aa2bdacd7e28190a8/src/gluonnlp/model/attention_cell.py#L57-L58

[2019-10-01 03:23] eric-haibin-lin commented on #654
pointer mechanism for attention https://github.com/dmlc/gluon-nlp/issues/951

[2019-10-02 01:29] xf05888 opened #955 "How to convert keras ALBERT model to mxnet?"
### Description
[ALBERT](https://arxiv.org/abs/1909.11942)  is released few days,  and I found a keras ALBERT model [here](https://github.com/TinkerMob/keras_albert_model/blob/master/keras_albert_model/albert.py).

Does this mean that I can use ALBERT indirectly in mxnet(as backend)?
or how to convert it to mxnet?

[2019-10-02 22:05] sxjscience commented on #955
I'm working on implementing ALBERT using the new numpy interface of MXNet. I haven't confirmed whether the mentioned repo could reproduce the result.

[2019-10-03 05:46] eric-haibin-lin commented on #955
I am not sure if we should release ALBERT with the numpy interface in gluonnlp. That somehow creates a diverging experience and inconsistent APIs in gluonnlp.

[2019-10-03 07:15] sxjscience commented on #955
I’m trying to implement it in a separate repo as part of a research project... So I could better figure out how to use numpy.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Haibin Lin <notifications@github.com>
Sent: Wednesday, October 2, 2019 10:46:48 PM
To: dmlc/gluon-nlp <gluon-nlp@noreply.github.com>
Cc: Xingjian SHI <xshiab@connect.ust.hk>; Assign <assign@n

[2019-10-03 20:20] kaonashi-tyc commented on #955
Is it possible to including the Embedding Factorization as part of the existing BERT model as an option?

[2019-10-04 15:06] zeeshansayyed opened #961 "HybridBeamSearchSampler fails where regular BeamSearchSampler works fine"
## Description
(A clear and concise description of what the bug is.)
I modified an existing `BeamSearchTranslator` class in this [example](https://github.com/dmlc/gluon-nlp/blob/master/scripts/machine_translation/translation.py) to use `HybridBeamSearchSampler` instead of regular `BeamSearchSampler`. The code for the modification is as follows:
[code]

While the original works as expected, the new

[2019-10-04 16:42] eric-haibin-lin commented on #961
@junrushao1994

[2019-10-04 17:50] szha commented on #961
return super(TransformerDecoder, self).__call__(step_input, states)
  File "/home/ec2-user/anaconda3/envs/gluon/lib/python3.7/site-packages/gluonnlp/model/seq2seq_encoder_decoder.py", line 218, in __call__
    return super(Seq2SeqDecoder, self).__call__(step_input, states)
  File "/home/ec2-user/anaconda3/envs/gluon/lib/python3.7/site-packages/mxnet/gluon/block.py", line 548, in __call__
    out =

[2019-10-04 18:01] sxjscience commented on #961
The best way is to stick to BeamSearchSampler now. Let's revise these APIs together with the integration of DeepNumpy.

[2019-10-04 18:27] szhengac commented on #961
I agree with @sxjscience.

Xingjian Shi <notifications@github.com> 于2019年10月4日周五 上午11:02写道：

[2019-10-04 19:22] eric-haibin-lin commented on #713
We can now use the Dataset.shard API in mxnet nightly: https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/data/dataset.py#L67-L96

[2019-10-04 19:22] #713 closed

[2019-10-04 23:34] zeeshansayyed commented on #961
Thank you. Should I keep the issue open?

[2019-10-04 23:40] sxjscience commented on #961
@zeeshansayyed Yes, let's keep it open. We will later refactor the code of GluonNLP, which may solve the problem.

[2019-10-06 08:25] szhengac commented on #955
@kaonashi-tyc. To add Embedding Factorization, we only need to do two things: 1) reduce embedding size for Embedding layer; 2) add a Dense layer before and after the first and the last multi-head attention layers, respectively.

[2019-10-07 13:35] xf05888 commented on #955
Well, Is there a mechanism that can convert Tensorflow or Pytorch checkpoint to MXNet?

[2019-10-07 22:25] leezu commented on #955
You can take a look at the conversion utils https://github.com/dmlc/gluon-nlp/tree/master/scripts/bert/conversion_tools and https://github.com/dmlc/gluon-nlp/tree/master/scripts/language_model/conversion_utils

[2019-10-08 23:44] szha commented on #939
we plan to make a release around Oct 20th in preparation for our EMNLP tutorial (Nov 3rd). @haven-jeon would you be able to include this feature?

[2019-10-08 23:46] szha commented on #849
already fixed.

[2019-10-08 23:46] #849 closed

[2019-10-08 23:53] szha commented on #899
From the discussion in the PR, this feature will be added to MXNet instead.

[2019-10-08 23:53] #899 closed

[2019-10-08 23:57] szha commented on #666
The solution to this issue is tracked in https://github.com/dmlc/gluon-nlp/issues/894.

[2019-10-08 23:59] szha commented on #843
This has been resolved in the downstream.

[2019-10-08 23:59] #843 closed

[2019-10-09 05:07] kenjewu opened #965 "Chinese Roberta conversion"
## Description
Provides Roberta parameters pre-trained by large-scale Chinese corpus.
I plan to convert it from https://github.com/brightmart/roberta_zh
## References
- https://github.com/brightmart/roberta_zh

[2019-10-09 21:29] szha commented on #965
Thanks @kenjewu . We are hoping to create a release in about 10 days in preparation for EMNLP. Do you think it would make the next release?

[2019-10-10 02:50] kenjewu commented on #965
I mainly complete related conversion and testing work. I think it can be done before this deadline.

[2019-10-10 04:01] kaonashi-tyc commented on #955
@szhengac the only complexity would be that we are re-using the Dense layer in the decoder setting. Some modification is to get_decoder call.

I can commit to offer a PR if possible.

[2019-10-10 20:52] sxjscience opened #968 "Print statement in train.language_model"
https://github.com/dmlc/gluon-nlp/blob/c3cac54083ca0da2faef764a37bb222806133a8b/src/gluonnlp/model/train/language_model.py#L305

https://github.com/dmlc/gluon-nlp/blob/c3cac54083ca0da2faef764a37bb222806133a8b/src/gluonnlp/model/train/language_model.py#L338

[2019-10-10 23:05] leezu opened #969 "Drop MXNet 1.5 support"
## Description
To facilitate code cleanup based on https://github.com/apache/incubator-mxnet/pull/16280 in light of general refactoring effort.

Following MXNet 1.6 release, CI Pipeline for "stable" needs to be re-enabled.

## References
- #967

[2019-10-10 23:19] #968 closed

[2019-10-11 04:46] eric-haibin-lin commented on #968
My bad. Checked in by accident...

[2019-10-11 17:21] spandanagella opened #970 "Changes to GPT2BPETokenizer to allow loading custom vocab"
Currently GPT2BPETokenizer do not allow us to load custom vocab and loads from a specific file location.
Can you make changes to keep it consistent with BERTTokenizer so that we can load GPT2BPETokenizer with custom vocab and not always rely on downloading vocab from model zoo?

[2019-10-11 22:12] szha opened #972 "flaky test_lamb.py::test_lamb_for_fashion_mnist"
## Description
http://ci.mxnet.io/blue/rest/organizations/jenkins/pipelines/GluonNLP-py3-master-cpu-unittest/branches/PR-966/runs/4/nodes/87/steps/212/log/?start=0

[2019-10-12 00:43] leezu commented on #972
@zhreshold seems https://github.com/apache/incubator-mxnet/pull/16114 prevents using gluon dataloader outside of main thraed?
(Not sure why we use it outside ofmain thread on our CI though - see error `signal only works in main thread` above).

[2019-10-13 04:35] eric-haibin-lin commented on #792
hi @chandana1332 you can now use the Dataset.shard API in mxnet nightly: https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/data/dataset.py#L67-L96

You can first shard the dataset, then create the sampler

[2019-10-13 04:35] eric-haibin-lin commented on #792
Closing it for now. Feel free to comment or reopen if you have further questions

[2019-10-13 04:35] #792 closed

[2019-10-14 15:47] zeeshansayyed opened #973 "How to use nlp.model.translation.NMTModel inside a HybridBlock?"

[2019-10-14 19:06] sxjscience commented on #970
1) You may directly use the GPT2BPETokenizer to tokenize the words in the words in your custom vocabulary.
2) We will later develop a new module to support training a new GPT2-like tokenizer given custom corpus.

[2019-10-14 19:22] szha commented on #970
With respect to the download location, you can
- set `MXNET_HOME` environment variable to specify where to load the BPE rank file. The tokenizer instance will try to load from `$MXNET_HOME/models`
- or, specify the `root` constructor variable.

Both requires exact match in terms of the file hash for the rank file.

[2019-10-14 20:14] sxjscience commented on #973
Is it possible to change MyNetwork to inherit from Block?

[2019-10-14 22:19] leezu opened #974 "Auto-detect `--raw` flag in BERT `run_pretraining.py`"
## Description
Users can be confused about the need to pass `--raw` flag to `run_pretraining.py`.
https://github.com/dmlc/gluon-nlp/blob/master/scripts/bert/run_pretraining.py#L108-L110

However, we can just try to unpickle and fallback to raw text, rendering the flag unnecessary.

## References
- Private user report

[2019-10-14 22:26] spandanagella commented on #970
Thanks @szha. Missed the root constructor variable earlier. This partly addresses the problem for now. As long as we use the exact vocab. Keep us posted for changes with custom vocab.

[2019-10-15 09:00] zeeshansayyed commented on #973
Unfortunately, no. What if I write  custom `NMTModelHybrid` class and copy the code from `NMTModel`, add a `hybrid_forward()` function and call `forward()` inside `hybrid_forward()`. This seems to be working, but I am not sure whether it is working correctly as the original `NMTModel` is intended to be.

[2019-10-15 14:05] sxjscience commented on #973
HybridBlock should only be used when the whole model can be hybridized, which means that it can be written via the symbolic APIs in MXNet. We should use Block if we cannot make such guarantee.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Zeeshan Sayyed <notifications@github.com>
Sent: Tuesday, October 15, 2019 2:00:15 AM
To: dmlc/gluon-nlp <gluon-nlp@noreply.g

[2019-10-16 22:48] #787 closed

[2019-10-17 03:54] leezu commented on #374
I intend to add a wrapper for https://github.com/VKCOM/YouTokenToMe

[2019-10-21 04:25] eric-haibin-lin opened #978 "Corrupted vocab index when running the transformer script"
## Description
Running the default command and script for transformer training results in a warning of corrupted index, which is misleading for users (whether the script still works) and should be fixed.

### Error Message
[code]

## To Reproduce
[code]

### Steps to reproduce
(Paste the commands you ran that produced the error.)

1.  run the command above
2.

## What have you tried to solve it?

[2019-10-21 17:46] leezu commented on #978
Running `assert 1 == src_vocab.token_to_idx[src_vocab.idx_to_token[1]]` you will get an assertionerror. The loaded vocabulary does not exhibit the properties of a `gluonnlp.Vocab`.
That's why the warning is printed.

[2019-10-21 19:02] mohammedkhalilia opened #981 "FastText embeddings not working on MxNET 1.5.1/GluonNLP 0.8.1"
## Description
Calling `gluonnlp.model.train.FasttextEmbeddingModel.load_fasttext_format()` generates an error when using MxNET 1.5.1 and GluonNLP 0.8.1. But the call works when using MxNET 1.4.1 and GluonNLP 0.7.1.

### Error Message

[code]
## To Reproduce
    import mxnet as mx
    import gluonnlp as nlp
    wordvectors = 'BioWordVec_PubMed_MIMICIII_d200.bin'
    model = nlp.model.train.Fasttex

[2019-10-21 20:47] eric-haibin-lin commented on #978
@szhengac shall we change the downloaded vocab?

[2019-10-21 21:21] leezu commented on #981
The model is very large and requires large tensor support in MXNet. Large tensor support was enabled in MXNet 1.4 by default but disabled due to performance regressions (https://github.com/apache/incubator-mxnet/issues/14496 https://github.com/apache/incubator-mxnet/issues/14790). For MXNet 1.5 you can build MXNet from source and enable large tensor support via a compile time flag: https://github.

[2019-10-21 21:21] #981 closed

[2019-10-21 23:25] szhengac commented on #978
I remember that the vocab in wmt14en-de does not specify the eos and pad tokens.

[2019-10-22 01:36] kristjanArumae opened #982 "Multi GPU context not updated"
## Description
I've implemented multi-GPU support (which works fine).  But when I add the following:
`trainer.allreduce_grads()`
`nlp.utils.clip_grad_global_norm(params, 1)`
`trainer.update(args.accumulate if args.accumulate else 1)`

I get a warning which terminates the program.

The BERT specific training loop code I added is largely taken from here:
https://github.com/dmlc/gluon-nlp/blob/master

[2019-10-23 00:14] leezu commented on #978
Changing the downloaded vocab will change the indices mapping, as there is currently one invalid token at the beginning of the idx_to_token. So the embedding weights in the model files also need an update.

[2019-10-23 07:32] zburning opened #984 "BERT tutorial failed"
## Description
I was trying to go through the BERT tutorial on [http://gluon-nlp.mxnet.io/examples/sentence_embedding/bert.html](http://gluon-nlp.mxnet.io/examples/sentence_embedding/bert.html)and got error in the following code.
for epoch_id in range(num_epochs):
    metric.reset()
    step_loss = 0
    for batch_id, (token_ids, valid_length, segment_ids, label) in enumerate(bert_dataloader):

[2019-10-23 17:34] eric-haibin-lin commented on #984
Hi @zburning for the master branch, we recently dropped mxnet 1.5 support. You need to install mxnet nightly version (pip install mxnet-cuxx --pre -U). We are expecting code freeze for mxnet 1.6 soon https://lists.apache.org/thread.html/dc49d2c4ed68adbde64f2e55296b1de4a9d089cfa8429d8c2ed33c51@<dev.mxnet.apache.org> and will depend on mxnet 1.6 stable release once it's ready.

[2019-10-23 17:45] eric-haibin-lin commented on #969
We also need to update the installation instructions on the website https://github.com/dmlc/gluon-nlp/issues/984

[2019-10-25 07:46] fierceX opened #986 "Consider streamlining BERT code?"
## Description
Have you considered simplifying the BERT model code? I think the BERT model code is too complicated now.
Now the BERT main model code uses `attention_cell.py`, `seq2seq_encoder_decoder.py`, `transformer.py`, `bert.py`, a total of four files, which I think is unreasonable.
For example: `BERTEncoderCel`l inherits from `BaseTransformerEncoderCel`l, but only the default parameters are d

[2019-10-25 17:05] szha commented on #986
@eric-haibin-lin @leezu

[2019-10-25 17:46] leezu commented on #986
Yes, we would like to refactor it. Would you like to work on it @fierceX?

[2019-10-25 17:52] eric-haibin-lin commented on #986
I agree. The code is now complicated and not copy-paste-able. The inheritance of BaseTransformerEncoder and BaseTransformerEncoderCell makes it hard to modify the code. We should just have separate implementations for different models

[2019-10-25 23:17] leezu commented on #986
I did some basic refactoring today @fierceX, but you're welcome to improve further on it. Will ping you in the PR.

[2019-10-28 03:07] fierceX opened #990 "Consider providing a BERT weight download link?"
Now the BERT weight is downloaded via gluonnlp, but in some cases the network may not be too good or the server does not have an external network. This requires running gluonnlp to download the BERT weight, which is a bit inconvenient, can provide a BERT weight download link, or more Multiple models and dataset download pages, you can download the required weights and datasets without running gluo

[2019-10-28 18:11] szha commented on #990
The current code should still work in the described scenario because:
- The model download logic avoids repeatedly downloading the model by checking the checksum of the model weight file at target location.
- By specifying `root` argument in `get_model`, you can auto-download the model parameters into a location of your choosing.

[2019-10-28 23:46] AaronYALai opened #992 "[Inconsistency] Non-deterministic behavior of pre-trained BERT within mx.autograd.record() after calling uuid.uuid1()"
Sample snippets to reproduce the inconsistency issue:

[code]

Only when un-commenting and executing "uuid.uuid1()", the "out2" will have different values when you run the script again and again.

Suspect the it messed up with internal states used by gluonnlp BERT implementation.

Thanks in advance for taking care of this issue!

[2019-10-28 23:55] leezu commented on #992
If you could reproduce the non-deterministic behavior with a simple model / example, that would be helpful.
For example, you can try out the different components that the Bert model is made of and pinpoint which one is causing the issue.
Thank you!

[2019-10-29 00:50] sxjscience commented on #992
@AaronYALai I'm not familiar with the inner mechanism of uuid. It looks that is may have interfered the random state of the random number generator.

[2019-10-29 13:45] gigasquid opened #993 "Export for GPT-2"
## Description
I would like to be able to to export the GPT-2 model for text generation into MXNet Clojure. Would the same approach with the BERT export script work? https://github.com/dmlc/gluon-nlp/blob/master/scripts/bert/export.py

Looking for the best way to approach it - happy to help with this issue if I'm able.

[2019-10-29 18:07] sxjscience commented on #992
@AaronYALai In fact, I'm not able to reproduce the inconsistency problem using the script.

[2019-10-29 18:20] sxjscience opened #994 "Support Python 3.5"
We no longer support python 3.5

https://github.com/dmlc/gluon-nlp/blob/bfa5503e81ae53d26b9f202bce4fedcf09e47db4/setup.py#L35-L40 .

However, the default python3 in Ubuntu 16.04 still uses 3.5 and we should not drop the support.

[2019-10-29 19:18] AaronYALai commented on #992
To reproduce the issue, I've followed this process:

1. Launch a new GPU instance (ex. p3.2xl) with Deep Learning AMI (Ubuntu 16.04) Version 24.3 (ami-05931d11d2bf831c3)

2. Once get into the machine, setup the environment:
[code]

3. Uncomment the uuid.uuid1() line and run the test program above twice that can have inconsistent outputs

[2019-10-29 19:25] szha commented on #992
`uuid.uuid1` queries `random.getrandbits` so it may have changed the internal states of `random`. This means that somewhere in the code there is dependency on the states in `random`.

[code]

[2019-10-29 19:30] szha commented on #992
It's unclear why such query would affect the consistency of the results. We should raise an issue in mxnet to investigate further.

[2019-10-29 19:41] szha commented on #993
cc @sxjscience

[2019-10-29 20:49] sxjscience commented on #992
@AaronYALai It's related to the cudnn dropout in MXNet, minimal reproducible example: https://gist.github.com/sxjscience/93512080231e6faa1f874fa3eba87b78

[2019-10-29 21:10] leezu commented on #993
It should be possible to make the `GPT2Model` a `HybridBlock` based on new additions to MXNet 1.6 (eg. `arange_like`). You're welcome to open a PR with the change.

[2019-10-29 21:11] leezu commented on #994
For the record:
We need switch our tests on CI to test with Python 3.5.
For that, the conda env files in the `env` folder need to be changed.
It's not completely straightforward, as apparently some of the packages we currently have specified in the env files don't support Py 3.5 anymore.

[2019-10-31 18:10] sxjscience commented on #992
@AaronYALai Here's the monkey patch approach to solve this problem (disable the cudnn-dropout):

[code]

[2019-10-31 18:30] szha commented on #992
This PR in MXNet should fix the problem then. https://github.com/apache/incubator-mxnet/pull/16532

[2019-10-31 22:01] sxjscience commented on #994
@leezu Do you think we should still support python3.5? I think dropping the support is not necessary.

[2019-11-01 05:39] fierceX commented on #990
@szha
I know how it works now. I mean, on some servers that don't have an external network, it's a little unfriendly, mainly because you can't download weight files directly from a web page.
This requires running the code downloading weight file repeatedly on a machine with a network.

[2019-11-01 06:05] szha commented on #994
Given the discontinued maintenance, the cost of maintaining python 3.5 will gradually increase. Where does the rest of the world stand?

[2019-11-01 06:07] sxjscience commented on #994
I successfully installed pytorch, Jax, tf2.0 in deep learning base AMI Ubuntu 16.04 (python 3.5) + MXNet.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Sheng Zha <notifications@github.com>
Sent: Thursday, October 31, 2019 11:05:18 PM
To: dmlc/gluon-nlp <gluon-nlp@noreply.github.com>
Cc: Xingjian SHI <xshiab@connect.ust.hk>; Author <author@noreply.github.com>
Su

[2019-11-01 10:48] zeeshansayyed opened #996 "How does weight tying work between src_embed and tgt_embed in NMTModel?"
Hi, I have a question regarding weight tying in the encoder and decoder embedding matrix of the NMTModel. Consider [these lines](https://github.com/dmlc/gluon-nlp/blob/master/src/gluonnlp/model/translation.py#L84-L130) of the NMTModel class.

As has been described in Issue [#7785](https://github.com/apache/incubator-mxnet/issues/7785) of mxnet repo and [this section](https://d2l.ai/chapter_deep-le

[2019-11-01 14:09] gigasquid commented on #993
Thanks for the feedback. I'll take a look at making the change 👍

[2019-11-02 00:29] leezu commented on #996
Hi @zeeshansayyed

[2019-11-02 00:37] #996 closed

[2019-11-04 19:08] sxjscience commented on #994
Also, TVM supports python3.5 https://github.com/apache/incubator-tvm/pull/4250#event-2768263759

[2019-11-05 00:14] muhyun commented on #939
Heewon-nim, I am a data scientist in AWS based in Korea and I'd like to have a talk on Korean BERT pre-trained model implementation into GluonNLP. If you are interested in working together, please reply. :)

[2019-11-05 00:21] haven-jeon commented on #939
Sorry for missing this message. I can make patch until end of Nov.

[2019-11-05 00:24] haven-jeon commented on #939
Thanks for your suggestions.
It will be happy work together.

[2019-11-06 03:34] leezu commented on #994
There was a consensus in August that MXNet can drop Python 3.5 support https://lists.apache.org/thread.html/d4b742f2507dfa55bad51b6e6be75e877ffefd717c2001f9cf037225@%3Cdev.mxnet.apache.org%3E

[2019-11-06 04:13] sxjscience commented on #994
I think that thread is about dropping the support of python2. It’s not about Python3.5 v.s Python3.6. I recommend to wait before fully embracing python3.6. In fact, a large amount of our codebase is python3.5 compatible and we haven’t relied on many python3.6-only features.
________________________________
From: Leonard Lausen <notifications@github.com>
Sent: Tuesday, November 5, 2019 7:34:08 PM
T

[2019-11-06 05:50] leezu commented on #994
The question in that thread was which version to target as new minimum version, and there was consensus for Python 3.6.

In either way, currently there is no blocker to add Py3.5 support back to GluonNLP.

[2019-11-06 06:02] sxjscience commented on #994
I think there was no consensus that we should drop python3.5 according to the MXNet discussion thread. Given that there is no blocker to add it back, we should better add it. Otherwise, we will lose the customers who are using Ubuntu 16.04. Let’s be less aggressive about version upgrade and we may revisit this next year.
________________________________
From: Leonard Lausen <notifications@github.c

[2019-11-06 06:06] leezu commented on #994
You can see that there was no negative response to https://lists.apache.org/thread.html/b74b189e7d5de3052d2aa5cc88824118bd5f1b90cf84bcf0801dca88@%3Cdev.mxnet.apache.org%3E and several supporting responses. Thus based on the mailinglist discussion there is currently consensus.

[2019-11-06 06:13] sxjscience commented on #994
I think both Lieven and Marco in that thread expressed concerns about dropping 3.5. The main issue is Ubuntu 16.04. It’s just too early to drop python3.5 completely. We may do that together with MXNet.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Leonard Lausen <notifications@github.com>
Sent: Tuesday, November 5, 2019 10:06:50 PM
To: dmlc/gluon-nlp <gluon-nlp

[2019-11-06 06:18] leezu commented on #994
Lieven asks to make sure we don't drop Py 3.5 support on old releases. Macro supported 3.6+

In either way, my point is that if you feel we need to follow Ubuntu's release schedule instead of Pythons release schedule, you should state that opinion on the mailinglist as well.

[2019-11-06 06:20] sxjscience commented on #994
Sure. I think that if there is a future vote about dropping 3.5, I'll veto that.

[2019-11-06 06:23] sxjscience commented on #994
@dmlc/gluon-nlp-committers  What do you think?

[2019-11-06 06:33] leezu commented on #994
There is no need for a future vote, as currently there is consensus on the mailinglist. You need to express your concerns on the mailinglist.

[2019-11-06 06:34] leezu commented on #994
Just reply to the thread in question

[2019-11-06 06:35] leezu commented on #994
http://theapacheway.com/on-list/

[2019-11-06 07:21] sxjscience commented on #994
Thanks, I think I should be more active on the mailing list.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Leonard Lausen <notifications@github.com>
Sent: Tuesday, November 5, 2019 10:35:49 PM
To: dmlc/gluon-nlp <gluon-nlp@noreply.github.com>
Cc: Xingjian SHI <xshiab@connect.ust.hk>; Author <author@noreply.github.com>
Subject: Re: [dmlc/gluon-nlp] Support Pytho

[2019-11-08 15:44] zeeshansayyed commented on #996
Thank you.

[2019-11-09 16:58] gigasquid commented on #993
I took a look at hybridizing the model and ran into problems. My experience with the Gluon/python code is probably not enough for me to tackle it on my own right now.

If anyone else is interested in this feature, please feel free to pick it up.

Or maybe, I'll be able to circle back to address it in the future.

[2019-11-10 02:56] RaitoBezarius commented on #641
Hi there, I wanted to know if there were statistics on the cost/time of training BERT including the tuning of hyperparameters, as this has not been mentioned in the original paper, neither by this reproduction, thank you in advance!

[2019-11-10 05:10] eric-haibin-lin commented on #982
I found that this happens if you have a dataset with last batch whose sample count (e.g. 3) is less than the number of GPUs (e.g. 4). Therefore some GPUs complain that the gradient is stale

[2019-11-10 05:12] eric-haibin-lin commented on #982
This is an issue on mxnet side. I'll look into the fix

[2019-11-11 12:48] seeris commented on #990
download links would allow to  use gluon-nlp models with other languages e.g. clojure/scala

[2019-11-11 17:41] zeeshansayyed opened #999 "What is the advantage of using `gluonnlp.utils.parallel`?"
**Question about the library**

The machine translation example with [transformers](https://github.com/dmlc/gluon-nlp/blob/master/scripts/machine_translation/train_transformer.py) uses [parallel](https://github.com/dmlc/gluon-nlp/blob/master/src/gluonnlp/utils/parallel.py). How is this different from the [automatic parallelism ](http://d2l.ai/chapter_computational-performance/auto-parallelism.html

[2019-11-11 23:55] jamiekang commented on #939
Recent official ALBERT code:
https://github.com/google-research/google-research/tree/master/albert

[2019-11-12 03:04] eric-haibin-lin commented on #999
When you got a really fast GPU, a single python thread could be relatively slow to push computation to all GPUs when the batch size is small (GPU computation time is short). The parallel API is an attempt to improve that. If training time is not your bottleneck, you don't need to use it

[2019-11-12 13:35] seeris commented on #990
ok, _a_ solution:
- https://gluon-nlp.mxnet.io/model_zoo/bert/index.html provides an example
[code]
- create a script, e.g. `bert.py` with the code from above
- install dependencies and run
[code]
- the BERT model will be downloaded to `~/.mxnet/models`
    - for example `/root/.mxnet/models` or `/home/user/mxnet/models`
    - files
         - bert_12_768_12_book_corpus_wiki_en_uncased-75cc780f.pa

[2019-11-12 15:23] zeeshansayyed commented on #999
Thanks. This makes sense. I guess the best way to know whether you would need it is to actually implement both and see whether you are gaining any performance. Other than that, are there any rules of thumbs on GPU type and batch size which can help me decide this without actually implementing both? I am using V100s available on EC2.

[2019-11-12 20:11] eric-haibin-lin commented on #654
ALBERT: https://github.com/google-research/google-research/tree/master/albert

[2019-11-12 20:11] eric-haibin-lin commented on #654
XLM-Roberta: https://github.com/pytorch/fairseq/tree/master/examples/xlmr

[2019-11-12 23:36] haven-jeon commented on #939
Hi! @eric-haibin-lin  I currently working on porting KoBERT to GluonNLP.
Could you upload to model zoo these binary?

model
https://kobert.blob.core.windows.net/models/kobert/mxnet/bert_12_768_12_kobert_news_wiki_ko_cased-ccf0593e.params
sha1sum : ccf0593e03b91b73be90c191d885446df935eb64

vocab(tokenizer)
https://kobert.blob.core.windows.net/models/kobert/tokenizer/kobert_news_wiki_ko_cased-f86b1a

[2019-11-13 02:13] leezu commented on #994
Deep Learning AMI is now based on Ubuntu 18.04
https://aws.amazon.com/marketplace/search/results?x=0&y=0&searchTerms=dlami

[2019-11-13 02:22] sxjscience commented on #994
We can stick to python3.6 when we decide to use some python3.6-specific features. For now, it's safe to support python3.5 so why not? python3.5 is also supported in D2L: https://github.com/d2l-ai/d2l-en/commit/c9b9968879e5c6f8e792320c9cb2371cf393e964

[2019-11-13 02:23] sxjscience commented on #992
Let me close this one since it's mainly related to MXNet.

[2019-11-13 02:23] #992 closed

[2019-11-13 02:43] leezu commented on #994
It's fine to add support. I'm just adding the context as your initial concern was with DL AMI.

[2019-11-13 03:23] leezu commented on #939
@szha can help.

[2019-11-13 03:49] yljylj opened #1002 "ImportError: cannot import name 'Seq2SeqOneStepDecoder'"
## Description
When I tried to run the train_gnmt.py, it got an error. I tried different version of gluonnlp including 0.6.0, 0.7.0, 0.7.1, 0.8.0 but it always got the same error.

### Error Message
Traceback (most recent call last):
  File "train_gnmt.py", line 48, in <module>
    from gnmt import get_gnmt_encoder_decoder
  File "/home/lujiayin/gluon-nlp/scripts/machine_translation/gnmt.py", line

[2019-11-13 04:07] leezu commented on #1002
Where did you download the script?
You are using the development version of the script which relies on the unreleased GluonNLP 0.9.
You can install the unreleased GluonNLP development version by cloning the repository and running `cd gluon-nlp; pip install --upgrade -e .'

[2019-11-13 04:18] leezu opened #1004 "Add XLM-Roberta to modelzoo"
## Description
Add XLM-Roberta to modelzoo

## References
- https://github.com/pytorch/fairseq/tree/master/examples/xlmr
- https://github.com/dmlc/gluon-nlp/blob/master/scripts/bert/conversion_tools/convert_fairseq_model.py

@hymzoque

[2019-11-13 04:22] hymzoque commented on #1004
I'd like to work on it

[2019-11-13 06:21] #1002 closed

[2019-11-13 07:56] yljylj commented on #1002
I downloaded the script by command 'git clone --recursive https://github.com/dmlc/gluon-nlp/'.
And now I tried to `cd gluon-nlp; pip install --upgrade -e .', but it got another compiling error.

[lujiayin@mlt-skx048 gluon-nlp]$ pip install --upgrade -e .
Obtaining file:///home/lujiayin/gluon-nlp
Requirement already satisfied, skipping upgrade: numpy in /home/lujiayin/anaconda3/lib/python3.6/site-p

[2019-11-13 07:59] yljylj commented on #1002
I've successfully run the script by change the gluonnlp version to v0.7.0.

[2019-11-13 08:03] leezu commented on #1002
Can you please `pip install --upgrade --user cython` and post the output? Thank you!

[2019-11-13 17:34] eric-haibin-lin commented on #999
You're right. We might work on a simpler API that don't require users to inherit from the interface so that users only need to change 1 or 2 lines of code. But not yet started.
What is the network architecture and model parameter size? Is your model a hybrid block?

[2019-11-13 17:43] eric-haibin-lin commented on #990
So the use case is about easier ways to download / distribute model weights without setting up gluon-nlp? That sounds reasonable.

Adding links to those parameter weight on the website is not hard. We need exact effort to maintain the documentation everytime the link changes but since model weight does not change frequently, it should be fine. @szha maybe we should include the link in the upcoming

[2019-11-13 17:44] eric-haibin-lin commented on #993
@gigasquid would you mind sharing the error you got?

[2019-11-14 03:45] fierceX commented on #654
I can try tinybert.

[2019-11-14 09:38] hymzoque opened #1008 "GPT2BPETokenizer produce strange symbol"
## Description
I ran code piece from
https://gluon-nlp.mxnet.io/model_zoo/bert/index.html
and the GPT2BPETokenizer produce a strange symbol Ġ

### Error Message
In [1]: import gluonnlp as nlp; import mxnet as mx;
   ...: model, vocab = nlp.model.get_model('roberta_12_768_12', dataset_name='openwebtext_ccnew
   ...: s_stories_books_cased', use_decoder=False);
   ...: tokenizer = nlp.data.GPT2BPETok

[2019-11-14 10:01] leezu commented on #1008
Thank you for reporting the bug @hymzoque.

@eric-haibin-lin are you aware of this issue? Could it be related to https://github.com/pytorch/fairseq/blob/master/fairseq/models/roberta/hub_interface.py#L38-L56

[2019-11-14 10:02] leezu commented on #1008
Also, currently GPT2BPETokenizer hardcodes the vocabulary. However, for example to add XLM-R https://github.com/pytorch/fairseq/tree/master/examples/xlmr we need to add support for a separate vocabulary.

[2019-11-14 11:23] zeeshansayyed commented on #999
My network is on the bigger side. I have BERT as the encoder (which is hybrid), but the overall network is not hybrid.

[2019-11-14 11:36] zeeshansayyed commented on #1008
I think that is how it encodes space character. As far as I can tell, it doesn't lead to any error. For instance, if you apply `nlp.data.GPT2BPEDetokenizer` on the tokenized text, you successfully retrieve the original text.

[2019-11-14 14:42] szha commented on #1008
Yes, that's working as intended. (cc @sxjscience)

[2019-11-14 15:16] sxjscience commented on #1008
We are now considering to revise the GPT2Tokenzier to make it more similar to https://github.com/sxjscience/gluonnlp-gpt2. For this issue, it’s not a bug because the tokenizer in GPT2 is based on bytes.

[2019-11-14 15:59] zeeshansayyed commented on #1008
@szha @sxjscience is there an open issue which I can follow for supporting separate vocabulary for GPT2BPETokenizer as mentioned by @leezu ? Or is it on the backburner since there is only one trained dataset for both GPT and RoBERTa?

[2019-11-14 22:22] gigasquid commented on #993
@eric-haibin-lin - No problem. I didn't get too far but here is my wip attempt https://github.com/dmlc/gluon-nlp/compare/master...gigasquid:gpt2-export?expand=1

When I try to hybridize it gives the sensible error of

[code]

That's where I really didn't know where to go. I considered using `shape-array` https://mxnet.incubator.apache.org/api/python/docs/api/ndarray/ndarray.html#mxnet.ndarray.shap

[2019-11-15 02:01] leezu commented on #1008
I don't think it's working as intended. The user experience is currently not good. At the very least we have to fix the example to use the GPT2BPEDetokenizer instead of simply looking up tokens in the vocab.

@zeeshansayyed let's open a second issue to track it. It's a real issue as other models use the same tokenizer with a separate vocab.

[2019-11-15 02:06] leezu commented on #993
Thanks for clarifying the issue you met. Instead of using `shape-array`, it's possible to rewrite the forward function to not make explicit use of shape based on operators such as `F.arange_like`.

[2019-11-15 13:00] leezu commented on #993
Will be fixed by https://github.com/dmlc/gluon-nlp/pull/1010

[2019-11-15 13:58] gigasquid commented on #993
This is so awesome @leezu thanks 💯

[2019-11-15 23:39] #994 closed

[2019-11-16 07:17] mingtop commented on #599
I have got 80.96 on bert-base (bert-base-lr_5e-05-trEpo5.0-MaxLen80-TrBN16-savStp_1000calGradiStp_2-warm_0)
What's the baseline for the BERT-BASE model? Any reference for 81?
@szha @omerarshad   Thanks

[2019-11-19 18:17] zeeshansayyed opened #1014 "Very peculiar error related to dtype of valid_length while using bert model"
I am using the bert model from gluonnlp (`bert_12_768_12`, `book_corpus_wiki_en_uncased`).
Since, I wanted to be able to switch betweem bert and roberta, I am using the BERTSentenceTransform that is present on [GitHub](https://github.com/dmlc/gluon-nlp/blob/5e11334f5c00fd2875ab75c670b2595c560c30fc/src/gluonnlp/data/transforms.py#L1040-L1201) instead of the one present in the release version of 0.8

[2019-11-20 01:45] leezu commented on #1014
It's due to MXNet's common requirement that inputs to an operator are of the same `dtype`. The requirement will be relaxed as part of https://github.com/apache/incubator-mxnet/issues/14253 (matching numpy's behavior).

Unfortunately there seems to be an inconsistency in GluonNLP, where `transformer_encoder(inputs, states, valid_length)` expects `valid_length` is float dtype (same dtype as `inputs`

[2019-11-20 01:47] leezu commented on #1014
The example you cite casts the `valid_length` dtype https://github.com/dmlc/gluon-nlp/blob/5e11334f5c00fd2875ab75c670b2595c560c30fc/scripts/bert/finetune_classifier.py#L495
For now you should do the same.

[2019-11-20 02:31] carter54 opened #1015 "prev_len in gpt.py"
## Description
the gpt code in
https://github.com/dmlc/gluon-nlp/blob/5e11334f5c00fd2875ab75c670b2595c560c30fc/scripts/text_generation/model/gpt.py#L258
seems to have a mistake.

I might be wrong, but I think the code `prev_len = states[0].shape[1]` means to return the length of previous key/value matrix (or the previous input tokens) . However it returns the number of multi-head (12 for the 124M

[2019-11-20 04:09] zburning opened #1016 "Bug in Bert finetuning on glue"
## Description
In the finetunine_classifier.py, it updates the metric each batch and get the result after each epoch both in train() and evaluate().

However, there are some wrong settings:
1. We should set average = 'micro' for all the metrics, because basically we do not need average score but a single metric on all batches, especially during evalution.
2. Currently, the PearsonCorrelation() doe

[2019-11-20 04:20] leezu commented on #1015
Then the positional embedding is calculated for the wrong positions

https://github.com/dmlc/gluon-nlp/blob/5e11334f5c00fd2875ab75c670b2595c560c30fc/scripts/text_generation/model/gpt.py#L262-L265

[2019-11-20 04:27] leezu commented on #1016
Regarding the "PearsonCorrelation doesn't support micro", let's open an issue in the MXNet repo https://github.com/apache/incubator-mxnet/ You can then indicate that you would like to add the support.

[2019-11-20 04:33] leezu commented on #1015
Added a fix to https://github.com/dmlc/gluon-nlp/pull/1010
@sxjscience please help to review.

[2019-11-20 04:47] sxjscience commented on #1015
Yes, it's a bug and it should be `states[0].shape[2]`

[2019-11-20 04:47] sxjscience commented on #1015
@carter54 Really appreciate for pointing out this!

[2019-11-20 07:42] carter54 commented on #1015
@sxjscience happy to help! May I ask a question not related to this bug. Is there any method to accelerate the inference speed for gpt2 model? Can HybridBlock help? or quantization possibly?

[2019-11-20 07:45] sxjscience commented on #1015
Hybridization will definitely help. Quantization also helps but I’m not sure how to do that in MXNet. Another solution is to dump the Json file and use TVM for inference.

[2019-11-20 08:17] carter54 commented on #1015
@sxjscience Thanks for your reply~ I read the TVM tutorial, most of the examples are within image processing area. Did you try TVM on gpt2 model before? Is there any examples and what range of the acceleration ratio can be expected? Thank you~

[2019-11-20 08:20] #993 closed

[2019-11-20 08:20] #1015 closed

[2019-11-20 23:19] zeeshansayyed commented on #1014
@leezu Yes, you are right. The example does cast it. I somehow missed that. Thanks for your help. Should I keep this issue open?

[2019-11-21 02:23] leezu commented on #1014
I'm not aware of an immediate solution to the problem that wouldn't risk breaking other users code. But it's still an inconsistency / bug that should be fixed. Maybe we can fix it when migrating to MXNet's new numpy compatible interface. So let's leave it open.

[2019-11-25 03:19] leezu opened #1019 "New optimizer gluonnlp.optimizer.lamb.LAMB is overriding existing optimizer mxnet.optimizer.optimizer.LAMB"
`[2019-11-25T02:55:07.913Z] /var/lib/jenkins/workspace/gluon-nlp-cpu-py3/conda/cpu/py3-master/lib/python3.5/site-packages/mxnet/optimizer/optimizer.py:166: UserWarning: WARNING: New optimizer gluonnlp.optimizer.lamb.LAMB is overriding existing optimizer mxnet.optimizer.optimizer.LAMB`

[2019-11-25 03:22] leezu commented on #1019
https://github.com/apache/incubator-mxnet/pull/16715

[2019-11-25 03:23] leezu commented on #1019
https://github.com/apache/incubator-mxnet/pull/16715

[2019-11-25 05:58] leezu opened #1020 "HybridBeamSearch broken"
## Description
HybridBeamSearch tests break after https://github.com/apache/incubator-mxnet/pull/16836.
Prior to the change in MXNet, the tests wouldn't fail because MXNet wouldn't give a chance to the operator to verify that types are correct.

### Error Message
[code]

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples,

[2019-11-25 08:50] junrushao1994 commented on #1020
Seems like a breaking change from the upstream MXNet leads to the type mismatch. The breaking change corrects a previously-wrong behavior (https://github.com/apache/incubator-mxnet/issues/11346), but does break the code with our previous assumption of the system...

[2019-11-25 19:08] access2rohit commented on #1019
@leezu can you suggest a name for the mxnet lamb optimizer ?

[2019-11-26 03:25] leezu commented on #1019
@access2rohit both GluonNLP's and MXNet's `optimizer.lamb` are based on https://arxiv.org/pdf/1904.00962.pdf
So we may just drop the GluonNLP version.
Do you have any specific concerns about the naming of the MXNet version?

[2019-11-26 18:02] access2rohit commented on #1019
@leezu I don't have concerns about name of MXNet Lamb optimizer. I thought MXNet name was clashing with that of GluonNLP one so I might need to change in MXNet.

[2019-11-27 06:49] leezu commented on #1019
@access2rohit would it make sense to backport your MXNet PR for MXNet 1.6 release? GluonNLP will depend on MXNet 1.6, so we can't drop the current implementation.
CC @eric-haibin-lin

[2019-11-27 20:25] eric-haibin-lin opened #1025 "Dependency clarification"
I've seen a few cases where gluonnlp 0.8 is used with a very old mxnet version on sagemaker and some functionalities won't work. Shall we auto-detect the mxnet version and print a warning if it does not meet the minimum required version?

[2019-11-28 01:55] szha commented on #1025
Agreed that this is a gap. Though we didn't just specify mxnet as a dependency because of the different variants of mxnet in pip, we should still check for the version.

[2019-11-30 16:16] zburning opened #1029 "Limitation of the current gluonnlp.data.dataset.transform()"
## Description
Considering adding a flatten arguement to the nlp.data.dataset.transform()?

The current nlp.data.dataset.transform() applies a transform function fn on each example in the dataset.
[code]
So that it assumes each item only be converted to one fn(item). But in some cases, for example, squad dataset, we would use the sliding window to get several doc spans. So for each example in data

[2019-11-30 16:17] #984 closed

[2019-12-01 02:35] szha commented on #1029
While I agree that the stated problem should be solved, adding a flag may not be the best approach because:
- it complicates the interface by introducing diverging behavior to the same function.
- it relies on the return type of the transform function and thus makes it error-prone.
  - flatten flag would not report error for regular tuple items, which would make it hard for catching the error.

On

[2019-12-01 02:43] zburning commented on #1029
Great advice! Sorry I didn't check carefully and just assumed the dataset class is under gluonnlp. I will follow your suggestion.

[2019-12-01 11:40] leezu commented on #1016
Should this be kept open until https://github.com/dmlc/gluon-nlp/blob/9863d8b72b438875b453c6d484bd46b4bc64fa9f/scripts/bert/data/classification.py#L178 is fixed? (after the change is merged to MXNet, which is currently blocked by some MXNet CI issues)

[2019-12-01 17:32] eric-haibin-lin commented on #641
@RaitoBezarius it depends on the number of samples and dataset size. For QA on SQuAD v1.1 (100k samples, seq-len 384) with fp16 it takes about 45 mins with bert base, with a single V100 GPU, for a single run with 2 epochs.

[2019-12-02 15:36] zeeshansayyed opened #1032 "Is there a way to finetune GPT2 decoder?"
Is it possible to finetune GPT2 decoder on our own dataset? Or can we use it like a TransformerDecoder in an NMTModel? If it is not possible yet, then can you recommend how can I go about implementing the same?

Thanks

[2019-12-02 18:31] zeeshansayyed opened #1033 "Cannot run text_generation sample script"
## Description
I am trying text generation example with GTP2 as shown [here](http://gluon-nlp-staging.s3-accelerate.dualstack.amazonaws.com/PR-1010/8/model_zoo/text_generation/index.html):

I am using the latest dev version of gluon-nlp (a fresh git pull)
Mxnet-version = mxnet-cu100==1.5.1.post0

The command I am using is  `python sequence_sampling.py random-sample --bos 'Deep learning and natural

[2019-12-02 19:38] szha commented on #1033
Hi @zeeshansayyed. We recently updated the script which now relies on the master version of mxnet. Can you try installing the nightly version of mxnet instead? http://gluon-nlp.mxnet.io/master/install.html

[2019-12-02 20:31] sxjscience commented on #1032
@zeeshansayyed There's currently no plan for enabling finetuning before 1.0. We will enable finetuning in the v1.0 release of GluonNLP.

[2019-12-02 20:31] szha commented on #599
@mingtop thanks for sharing. The [original BERT paper](https://arxiv.org/pdf/1810.04805.pdf) reported 81.6 on dev set in table 4.

[2019-12-03 01:04] rich-junwang opened #1034 "Error when using fp16 trainer"
## Description
I use fp16 trainer in fp16_utils.py to train model. I got the following error.
@eric-haibin-lin

### Error Message
  File "/home/ec2-user/project/src/deep/utils/fp16_utils.py", line 179, in step
    overflow = self._scaler.has_overflow(self.fp32_trainer._params)
  File "/home/ec2-user/project/src/deep/utils/fp16_utils.py", line 195, in has_overflow
    is_not_finite += mx.nd.contrib

[2019-12-03 01:41] zeeshansayyed commented on #1032
Thanks @sxjscience for the information. I am looking forward to the future versions.

If I have to want to manage with the code that is present, what pointers would you give me? My goal is to use GPT2Model in place of a TransformerDecoder in a typical NMTModel class which expects a TranformerEncoder and a TransformerDecoder. I am making sure that I use the same tokenizer and vocab for the encoder

[2019-12-04 08:37] carter54 opened #1035 "Optimize Inference Performance on CPU"
## Description
the news in [https://github.com/dmlc/gluon-nlp/releases/tag/v0.8.1](url) shows BERT int8 quantization is presented in blog
[https://medium.com/apache-mxnet/optimization-for-bert-inference-performance-on-cpu-3bb2413d376c](url)
But the blog only shows some results of BERT quantization test,

When will this work be released and can we apply this quantization method on GPT2?

Thanks a l

[2019-12-04 08:41] leezu commented on #1035
@TaoLv

[2019-12-04 11:02] m0dulo opened #1036 "ERROR: Cannot determine archive format of /tmp/pip-req-build-layq6u4w"
~/anaconda3/bin$ ./pip install gluonnlp https://pypi.tuna.tsinghua.edu.cn/simple
Collecting https://pypi.tuna.tsinghua.edu.cn/simple
  Using cached https://pypi.tuna.tsinghua.edu.cn/simple
  **ERROR: Cannot unpack file /tmp/pip-unpack-izb3uygg/simple (downloaded from /tmp/pip-req-build-layq6u4w, content-type: text/html; charset=utf-8); cannot detect archive format
ERROR: Cannot determine archive f

[2019-12-04 12:05] leezu commented on #1036
Please try without the Tsinghua setting. I think it's a problem with your mirror.

[2019-12-04 12:05] #1036 closed

[2019-12-05 02:48] #1034 closed

[2019-12-08 18:43] JulianSlzr opened #1038 "Transformer en-de pretrained models are outdated"
## Description
[Recent changes to the API](https://github.com/dmlc/gluon-nlp/commit/57a45aaf7e82a826e1bffb133c328f913844bd4c) (@leezu) have made the Transformer en-de pretrained models out of date. The models I tried were:
- The one listed in `inference_transformer.py`: https://github.com/dmlc/gluon-nlp/blame/3ce9995329fb0d18787019df541d4f229d7c9ded/scripts/machine_translation/inference_transforme

[2019-12-09 03:21] lilongyue opened #1039 "multilingual bert requested"
## Description
 bert model trained with multilingual corpus was released by google.
 Basically corpus with different-top used languages are prepared and multilingual word-tokens are
precessed with BPE(Byte pair encoding) . Below features are requested.
1.multilingual corpus preparing code.
2.multilingual word-tokens precessed of BPE with code.
3.pre-training code of bert with multilingual corpus
4

[2019-12-09 07:58] TaoLv commented on #1035
Sorry for missing the message. We're working on cleaning the code and solution. Hope we can have a PR soon. I'm not familiar with the status of GPT2 in GluonNLP. Could you please point me to the scripts and whether it can be exported as a static model?

[2019-12-09 10:18] leezu commented on #1035
Yes, recently static GPT2 model is supported: https://github.com/dmlc/gluon-nlp/pull/1010

[2019-12-09 18:30] eric-haibin-lin commented on #1039
@kaonashi-tyc anything you can contribute back with your bert multilingual work on gluonnlp?

[2019-12-09 19:49] szha commented on #939
done. sorry for the delay.

[2019-12-10 02:28] haven-jeon commented on #939
Thanks @szha, I will PR.

[2019-12-11 05:36] lilongyue opened #1040 "example code for learning a vocabulary"
## Description
bert vocabulary tokens are directly downloaded but the code to generate a new vocabulary from plain text is not give.

Three ways are now available according to google team. [1]
1.Google's SentencePiece library
2.tensor2tensor's WordPiece generation script
3.Rico Sennrich's Byte Pair Encoding library

There is a tutorial on how to generate a bert-style vocabulary from SentencePiece

[2019-12-12 08:28] carter54 commented on #1035
Thanks for the replies. @leezu @TaoLv
Looking forward to try int8 bert and gpt2 soon~

[2019-12-12 18:01] eric-haibin-lin commented on #1040
Would this be helpful? http://gluon-nlp.mxnet.io/master/model_zoo/bert/index.html#custom-vocabulary
Or is the discussion about adding a broader support for integrating other custom tokenization/vocabularies?

[2019-12-13 04:11] liuzh91 opened #1042 "Support of clip_global_norm() on multiple contexts"
## Description
Currently `mxnet.gluon.utils.clip_global_norm()` only supports clipping gradients on a single context. Part of the code is shown below:

[code]

However, the size of many NLP models is too large to fit into a single context, e.g. Transformers. Therefore it maybe good to add support of gradient clipping on multiple contexts when the model parameters are split onto multiple GPUs.

[2019-12-13 05:04] eric-haibin-lin opened #1043 "Return tokenizer for pre-trained models"
Users need to write additional code after they get a pre-trained model. The tokenizer usually remains the same as the one used during pre-training. Should our get_model API also return the tokenizer?

[2019-12-13 05:07] eric-haibin-lin commented on #42
Is this issue resolved?

[2019-12-13 05:14] leezu commented on #1043
Yes, it's commonly needed to access the pre-trained tokenizer.
Some API in the scripts folder also returns the tokenizer as part of `get_model`. For example

https://github.com/dmlc/gluon-nlp/blob/aff29217d4a1233d9b5a069366e2b80e30184e30/scripts/language_model/transformer/model.py#L198-L252

But I'm not sure if this a good API

[2019-12-13 05:22] leezu commented on #42
I think the current S3 Accelerate approach is sufficient. AWS recently added CloudFront endpoints in Hong Kong and [mainland China](https://aws.amazon.com/about-aws/whats-new/2019/04/amazon-cloudfront-is-now-available-in-mainland-china/).
S3 Accelerate doesn't make use of the endpoints in mainland China though, but maybe they will in the future.

Do we have any reports of trouble downloading in Ch

[2019-12-13 05:22] #42 closed

[2019-12-13 05:37] eric-haibin-lin commented on #861
np. closing it for now

[2019-12-13 05:37] #861 closed

[2019-12-13 06:15] eric-haibin-lin commented on #1043
I think it's more convenient than the current one. Users are free to discard it if they want to change it. Are there use cases where we want to change the tokenizer?

[2019-12-13 06:17] eric-haibin-lin commented on #1043
For reference, fairseq's RoBERTa's encoding function takes a string as the input. The model object holds the tokenizer, and applies the tokenizer directly on the input string. It might be hard to modify the tokenization method there, but I do see they couple the pre-trained model and tokenizer

[2019-12-13 06:28] leezu commented on #1043
Yes, but those involve initializing the model randomly and training it.

A better API may be to have separate functions for obtaining each of pretrained model, vocab and tokenizer.

[2019-12-13 06:30] eric-haibin-lin opened #1044 "Extend bert/embedding.py with other pre-trained models"
We shall extend bert/embedding.py with other pre-trained models like XLNet, RoBERTa, R-XLM, ALBERT, etc. This is a good starting script where people try to leverage pre-trained model embeddings for their models for various use cases. @leezu this is somewhat aligned with the efforts for refactoring data preprocessing. I am also ok if we make copy-pastable embedding.py for other pre-trained models.

[2019-12-13 18:03] sxjscience commented on #1043
In terms of the pretrained model, we should include:
- model configuration
- vocab + tokenizer
- weights

This should be the format used in TF hub: https://tfhub.dev/google/albert_base/2

If the user needs to pretrain from scratch, we will provide another script to do so and teaches the user about how to train your own subword tokenizer + train with your own data.

[2019-12-13 18:08] sxjscience commented on #1038
Another problem I find is the performance no longer  matches our README. I trained the transformer on WMT2014 using the latest master version:
[code]

The result is
[code]

[2019-12-13 18:31] szha commented on #42
@leezu they won't. China is a separate region entirely and there's no data exchange with the global region except on the public network.

[2019-12-13 18:45] szha commented on #1042
GluonNLP has an updated version for gradient clipping here: https://github.com/dmlc/gluon-nlp/blob/master/src/gluonnlp/utils/parameter.py#L30

Once you're confident about the new design let's propose that to mxnet.

[2019-12-13 18:45] eric-haibin-lin commented on #1042
There is https://github.com/dmlc/gluon-nlp/blob/master/src/gluonnlp/utils/parameter.py#L30
We should also port it back to mxnet
Also it's not super efficient. We can improve the speed by using the `mx.nd. multi_sum_sq `

[2019-12-13 20:20] DushyantaDhyani commented on #425
What's the status for BertDetokenizer? Can't seem to find it anywhere

[2019-12-13 21:20] eric-haibin-lin opened #1047 "detokenizer for BERTTokenizer /SentencePieceTokenizer"
Sometimes we need to map tokenized text back to its original input.

[2019-12-13 21:21] eric-haibin-lin commented on #425
Looks like i missed it in the list. Created a new issue to track that: https://github.com/dmlc/gluon-nlp/issues/1047
The embedding script in https://github.com/dmlc/gluon-nlp/blob/v0.8.x/scripts/bert/embedding.py#L183-L197 has a function that kind of does de-tokenization, but not available through an API yet. @DushyantaDhyani would you like to contribute one?

[2019-12-13 23:35] eric-haibin-lin commented on #1038
We should fix this issue before 0.9 release

[2019-12-14 00:56] leezu commented on #1038
@sxjscience  did you confirm it's due #976 and not some change in MXNet?? Should it be tracked separately?

The issue @JulianSlzr points out is due to the script not being checked on our CI and thus not being updated in #976.

[2019-12-14 00:57] sxjscience commented on #1038
@leezu I'm not sure about that. I feel that https://github.com/dmlc/gluon-nlp/pull/976 should not change the behavior because it passed the CI.

[2019-12-14 00:59] leezu commented on #42
Cloudflare does, so I think Cloudfront will need to do eventually as well. Cloudflare advertises this feature heavily https://www.cloudflare.com/network/china/

[2019-12-14 01:10] sxjscience commented on #1038
@leezu Let me rerun using the version before the refactor.

[2019-12-14 12:27] lilongyue commented on #1040
thanks!  ,this is really helpful!

[2019-12-14 12:27] #1040 closed

[2019-12-14 20:28] sxjscience commented on #1038
@leezu I trained using bfa5503e81ae53d26b9f202bce4fedcf09e47db4

The bleu scores are:
[code]

[2019-12-16 00:33] eric-haibin-lin opened #1053 "Flaky test: scripts/tests/test_encoder_decoder.py::test_transformer_encoder_decoder"
https://ci.mxnet.io/blue/organizations/jenkins/GluonNLP-py3-master-cpu-unittest/detail/PR-1050/1/pipeline
[code]
I cannot reproduce it locally.

[2019-12-16 02:30] liuzh91 commented on #1042
@szha @eric-haibin-lin  Thanks for the link and suggestions. I will think about the design problem.

[2019-12-16 02:55] leezu commented on #1038
Could the difference be to an effective difference in the sequence of random values used during training? While we use the same seeds before and after bfa5503, parts of the computational graph are moved from the imperative API to hybrid API (run by `CachedOp`). Thus there may be a change in the sequence in which the random number generators are called?

What next steps do you recommend to take abo

[2019-12-16 03:10] leezu commented on #1053
https://ci.mxnet.io/blue/organizations/jenkins/GluonNLP-py3-master-cpu-unittest/detail/PR-950/4/pipeline

`[2019-12-16T01:01:08.025Z] E           UserWarning: New initializer mxnet.gluon.parameter.Init registered with name constant_transformer_encoder_const_140437917533184 isoverriding existing initializer mxnet.gluon.parameter.Init
`

[2019-12-16 05:09] eric-haibin-lin commented on #1053
Are you able to reproduce it? I cannot reproduce it by running `test_encoder_decoder.py` alone.

[2019-12-16 05:47] eric-haibin-lin opened #1054 "string operator support"
MXNet does not support string as one of the native tensor types. We have two problems below regarding text pre-processing:

1. For a few use cases like QA and BERT pre-training, the text pre-processing overhead is noticeable. Speed can be improved.
2. Deploying gluon-nlp code to jave/scala/c++ requires rewring text processing code in the corresponding language

To address **problem 1**, we can pro

[2019-12-16 06:19] szhengac commented on #1038
Based on my previous experience on a version in Oct, the final bleu is generally 27.10 with std 0.1. So I think there should be some bugs in the master.

[2019-12-16 06:21] leezu commented on #1038
@szhengac @szha @sxjscience should this be a release blocker for MXNet 1.6?

[2019-12-16 06:25] sxjscience commented on #1054
@hymzoque, this might be related to our project.

[2019-12-16 06:26] sxjscience commented on #1038
@leezu Do you mean GluonNLP 0.9 or MXNet 1.6?

[2019-12-16 06:39] leezu commented on #1038
As already before bfa5503 you obtain 0.4 less than the result on https://gluon-nlp.mxnet.io/model_zoo/machine_translation/index.html#transformers and as @szhengac reports std 0.1 we need to check running the version before bfa5503 with MXNet 1.5. If this recovers the 0.4 bleu, it should be a MXNet release blocker

[2019-12-16 06:46] sxjscience commented on #1038
@leezu I think https://github.com/dmlc/gluon-nlp/commit/bfa5503e81ae53d26b9f202bce4fedcf09e47db4 has test BLEU equals to `26.93`. Also, it might be related to the variance. The numpy version has BLEU ranging from 27.10 -- 27.40

[2019-12-16 10:26] liuzh91 opened #1055 "Unicode comma error"
## Description
When running the `word_language_model.py` script, sometimes I ran into the following error:

[code]
The error is caused by the following print statement:

[code]

After a careful inspection, we found the third comma is a chinese comma `，` in  `valid ppl %.2f，`.  To avoid potential running error, this comma needed to be replaced with an ASCII comma `,`.

[2019-12-17 06:58] eric-haibin-lin commented on #688
We can add dependency parsing, coreference resolution, named entity recognition, and POS tagging similar to https://emorynlp.github.io/ddr/viz/

[2019-12-17 12:10] #1055 closed

[2019-12-17 23:04] eric-haibin-lin opened #1059 "dependency version checking"
Currently some users may pull scripts from the gluonnlp github repo, whose default branch is the master branch.

However, some user still have old version of mxnet installed, and didn't realize that the gluonnlp master branch only works for mxnet>=1.6

We should add version checking in when importing mxnet and print a warning if the installed mxnet version is lower than the expected mxnet version.

[2019-12-18 05:42] eric-haibin-lin commented on #688
List of demos from [AllenNLP](https://demo.allennlp.org/reading-comprehension):

Annotate a sentence
- Semantic Role Labeling
- Named Entity Recognition
- Constituency Parsing
- Dependency Parsing
- Open Information Extraction
- Sentiment Analysis

Annotate a passage
- Coreference Resolution

Answer a question
- Reading Comprehension

Semantic parsing
- WikiTableQuestions Semantic Parser
- Cornell

[2019-12-18 05:48] leezu commented on #1038
@sxjscience with 394e69a6dc9cea357d188797a949f678f6df7894 and a the following patch

[code]

I obtain with MXNet https://apache-mxnet.s3-us-west-2.amazonaws.com/dist/2019-12-15/dist/mxnet_cu100-1.6.0b20191215-py2.py3-none-manylinux1_x86_64.whl

[code]

You previously obtained (without the patch) `test bleu=26.62`. With bfa5503 you got `26.93`.
I'll try with another seed and an older MXNet version

[2019-12-18 06:26] eric-haibin-lin commented on #688
Natural Language for Visual Reasoning
- LXMERT: Learning Cross-Modality Encoder Representations from Transformers: https://github.com/airsplay/lxmert
- VisualBERT: https://github.com/uclanlp/visualbert

[2019-12-18 06:53] liuzh91 opened #1060 "Cannot apply parameter sharing on WeightDropParameter"
## Description
Parameter sharing of `WeightDropParameter` is broken. I apply weight sharing between `AWDRNN` and `train.AWDRNN` as followed:

[code]

### Log Message
After I ran the above code, I got the following message:
[code]
It appeared that `model_eval` is not properly initialized. After an inspection, we found it is the `WeightDropParameter` that not initialized.
[code]

## Environment
My e

[2019-12-18 06:56] liuzh91 commented on #1060
One workaround to the above problem is to initialize the `model` parameters before applying weight sharing:
[code]

[2019-12-18 06:57] leezu commented on #1060
I suggest we drop the `WeightDropParameter`. Instead users can manually call `Dropout` in forward.

Understanding `WeightDropParameter` requires intricate familiarity with the way Gluon handles Parameters and Blocks, and most users will have a hard time to understand it. Further, as pointed out by @liuzh91, the implementation is currently broken.

What do others think?

[2019-12-18 16:02] zburning opened #1061 "Problem with gluon.utils.split_data"
## Description
The current gluon.utils.split_data() has:
[code]

Considering an example:
we have a tensor of shape (31, *), and we want to split it into 8 slices. According to the function, step will be (31 // 8 = 3), so that the tensor will be split into 8 tensors of size [3, 3 ,3 ,3 ,3 ,3, 3, 10], in which the last tensor is extremely large. A better result could be [4, 4, 4, 4, 4, 4, 4, 3]

In

[2019-12-18 22:29] eric-haibin-lin opened #1062 "nlp.model.list_models(), nlp.data.list_datasets()"
## Description
We have a lot of pre-trained models and hosted datasets in gluonnlp. Currently the only way to discover them is via the API documentation. It would be great to have APIs to query the list of models and datasets available. The list is already maintained in the code anyways.

[2019-12-18 23:22] eric-haibin-lin opened #1064 "[Website] instructions of running tests"
GluonNLP does not have documentation on how to run unit test and script tests.

[2019-12-18 23:29] eric-haibin-lin opened #1065 "[Website] Model catalog"
We shall have a model catalog page with all available pretrained models, listing their model name, source, performance, file hash, and download link

[2019-12-18 23:30] eric-haibin-lin commented on #990
will track the issue in https://github.com/dmlc/gluon-nlp/issues/990

[2019-12-18 23:30] #990 closed

[2019-12-18 23:35] eric-haibin-lin opened #1066 "[Website] model conversion tools"
We have conversion tools for XLNet, transformer-xl, BERT, etc. But these tools are not well documented and does not show up on the website. This blocks users who wants to convert their model to gluonnlp and perform fast inference.

[2019-12-18 23:41] eric-haibin-lin opened #1067 "[Website] Deployment section"
We should have a section talking about best practices for deployment, including:
- serialization methods (save/load v.s. export/import)
- model compilation (tvm & inferentia)

[2019-12-19 00:16] leezu commented on #1061
Should this be an issue in the MXNet repo?

[2019-12-19 02:36] zburning commented on #1061
Yes, sorry, I will close this issue and move to the MXNet repo

[2019-12-19 02:36] #1061 closed

[2019-12-19 07:26] eric-haibin-lin opened #1068 "Github default branch"
Should gluonnlp display the latest stable release branch as the default branch on Github? I came across a few cases where users clones the script/notebook on github master branch, but the pip installed version is actually gluonnlp nightly.

[2019-12-19 07:30] eric-haibin-lin opened #1069 "Github default branch"
Should gluonnlp display the latest stable release branch as the default branch on Github? I came across a few cases where users clones the script/notebook on github master branch, but the pip installed version is actually gluonnlp nightly.

[2019-12-19 07:31] #1069 closed

[2019-12-19 17:18] szha commented on #1068
installation from github isn't really intended for the end users. did they mention how they come across this installation channel?

[2019-12-19 17:38] eric-haibin-lin commented on #1068
The usage I came across is like:
- pip install gluonnlp
- git clone https://github.com/dmlc/gluon-nlp to get scripts

Also, the installation instructions on the master branch is usually not update to date (changed right before the release?)

[2019-12-19 18:06] szha commented on #1068
I see. +1 from me then

[2019-12-19 18:13] eric-haibin-lin opened #1071 "[Website] throughput/accuracy visualization"
We have a few different models in our model zoo now. We shall plot a figure with speed/accuracy similar to https://gluon-cv.mxnet.io/model_zoo/classification.html

[2019-12-20 06:19] liuzh91 commented on #1060
The above workaround does not work if argument `args.tied` is set `True`.

[2019-12-20 07:06] liuzh91 commented on #1060
The above workaround does not work if we have `args.tied` turned on. In this case, after I ran the code `print(check_initialized(model_eval))`, I got the following error message:
[code]
It is exactly the output layer of the `model_eval`, it contains the following parameters:
[code]

`WeightDropParameter awdrnn0_hybridsequential0_embedding0_weight` and  `Parameter awdrnn0_hybridsequential0_embeddin

[2019-12-22 05:25] eric-haibin-lin opened #1074 "[Website] Update the "Quick Example" on main page"
Let's update the quick example with more recent models, such as BERT

[2019-12-22 05:37] eric-haibin-lin commented on #1068
https://github.com/dmlc/gluon-nlp/pull/1075

[2019-12-22 05:43] eric-haibin-lin opened #1076 "[Documentation] Website build documentation"
Let's have some minimum documentation instructing how to build the static website locally (just `make docs`?) and preview the content

[2019-12-22 06:13] szha commented on #1068
cc @dmlc/gluon-nlp-team

[2019-12-23 05:14] #1068 closed

[2019-12-24 06:08] kaonashi-tyc commented on #1039
@eric-haibin-lin would like to discuss the opportunity. Currently we are focusing on our effort of XLM-R style multilingual model pretraining.

[2019-12-24 10:36] liuzh91 commented on #1060
If I applied weight dropout during the forward pass:
[code]
I got the following error msg:
[code]

Note that my code is wrapped in the `autograd.record()`.  The error suggests I apply the weight dropout outside the `record` section, but it is impractical in this case. Is there any workaround for this issue?

[2019-12-24 16:23] leezu commented on #1060
Yes, this will not work indeed.

You need to do something like

[code]

[2019-12-25 04:03] liuzh91 commented on #1060
It should uses slice assign `embedding_param[:]` instead of `embedding_param`.  Otherwise, the weight of network does not change at all. Concretely, I implement the following code:

[code]
But if I do it in this way, I still get the same `MXNetError`.

[2019-12-25 06:47] liuzh91 commented on #1060
It seems we cannot manually assign weights during the record session. I found a bunch of similar  assignment errors from the internet, e.g., https://discuss.mxnet.io/t/autograd-record-error-about-assigning-to-ndarray/322.  https://github.com/apache/incubator-mxnet/issues/9989

Perhaps we still need to investigate the `apply_weight_drop()` function and fix the case of shared parameters problem.

[2019-12-25 10:01] eric-haibin-lin opened #1081 "[website] GluonNLP Website Rework"
Goal: better feature/model discoverability for the GluonNLP website

### Side Navigation Bar

* Installation
* Models
* Tutorials
* Demos (in the future)
* API Documentations
* Community

### Tutorials

Table Of Content:

* Prepare Datasets and Vocabularies (was: Data Loading APIs (http://gluon-nlp.mxnet.io/api/notes/data_api.html) under API notes)
* Representation Learning
    * Using Pre-trained

[2019-12-25 18:30] eric-haibin-lin commented on #1081
Other websites for reference:
- https://spacy.io/
- https://allennlp.org
- https://github.com/pytorch/fairseq
- https://huggingface.co/transformers/

[2019-12-25 21:35] szha commented on #1074
@eric-haibin-lin the quick example is currently a runnable program that can execute quickly on a cpu instance. If we want to keep it runnable with the current solution, we will need to keep the computation constraint in mind.

[2019-12-25 22:47] eric-haibin-lin commented on #1074
Definitely.

[2019-12-26 08:28] eric-haibin-lin commented on #1081
@StrayBird-ATSH

[2019-12-26 08:33] StrayBird-ATSH commented on #1081
I will follow up with this issue soon.

[2019-12-26 11:46] leezu commented on #1060
Why do you want to assign the weight? You can access the non-weight-dropped weight and apply dropout to the sliced part that you are interested. It's not necessary nor possible to modify the actual parameter via assignment in the forward pass.

[2019-12-26 14:41] liuzh91 commented on #1060
The key problem is that how to do gradient backpropogation if the weight is not updated? Keep the network parameter in a temporary variable is also not memory efficient.

[2019-12-27 02:29] sxjscience commented on #1060
I think we can add the weight drop flag to the Dense/RNN/Embedding layers. In that case, we can apply dropout inside hybrid_forward:

https://github.com/apache/incubator-mxnet/blob/2ad3ce408b08456bff0b92a82aa3c484adde29f2/python/mxnet/gluon/nn/basic_layers.py#L222-L228

[2019-12-27 02:47] sxjscience commented on #1081
I think we can revise our documentation page and utilize colab, e.g.,

http://d2l.ai/chapter_recurrent-modern/lstm.html and
https://colab.research.google.com/github/d2l-ai/d2l-en-colab/blob/master/chapter_recurrent-modern/lstm.ipynb

[2019-12-27 03:54] liuzh91 commented on #1060
I finally figured out there is a mxnet weight sharing bug. When weight sharing is used with tied weight, something unexpected will occur. For this piece of code:

[code]

Even I comment out all the `apply_weight_drop` in the code, the initialization error still occurred if `args.tied` is turned on. I printed out some pdb info here:

[code]
The conclusion is: no matter whether we use weight drop or

[2019-12-27 04:10] liuzh91 commented on #1060
I think it is similar to @leezu 's proposal.  My point is that using weight drop in `forward`/`hybrid_forward` will lead to some unexpected gradient computation error. So I  suggest we stick to the existing implementation of `apply_weight_drop`.

[2019-12-27 04:15] sxjscience commented on #1060
Let me try that. It should be fine (otherwise we will need to fix it in the MXNet side). The autograd error you’ve met is due to the fact that the AG engine in MXNet does not support assignment operations.

[2019-12-27 07:26] eric-haibin-lin commented on #1081
I had discussion with @astonzhang about colab. Ideally we should have notebooks on both colab and SageMaker.

[2019-12-27 07:29] sxjscience commented on #1081
Yes, we will create runnable notebooks on either colab or sagemaker.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Haibin Lin <notifications@github.com>
Sent: Thursday, December 26, 2019 11:26:56 PM
To: dmlc/gluon-nlp <gluon-nlp@noreply.github.com>
Cc: Xingjian SHI <xshiab@connect.ust.hk>; Comment <comment@noreply.github.com>
Subject: Re: [dmlc/gluon-nlp] [webs

[2019-12-27 07:29] eric-haibin-lin opened #1084 "Flaky test: self_attentive_sentence_embedding.md"
sentence_embedding/self_attentive_sentence_embedding.md

[code]
https://ci.mxnet.io/blue/organizations/jenkins/GluonNLP-py3-master-gpu-doc/detail/PR-1078/2/pipeline

[2019-12-27 12:47] leezu commented on #1060
It's the same as Dropout. The gradient will be 0 for the dropped out parts. The proposal above is correct.

[2019-12-27 13:35] liuzh91 commented on #1060
I will check if gradient computation works correctly or not.

[2019-12-27 16:25] leezu commented on #1060
Ok, thank you. For your convenience, let me give a more complete code regarding above example:
If you had before

[code]

then for weight dropout you need to

[code]

Further, you can optimize the computation by only performing dropout on the part of the weight that you are interested in:

[code]

[2019-12-28 07:49] zburning opened #1085 "Different tensor contexts in nlp.optimizer.lamb"
## Description
In the update() function in lamb.py:

[code]
The rescale_grad should be as_in_context(grad.context)? Otherwise it will raise illegal memory access in multi-gpu training

### Error Message
(Paste the complete error message, including stack trace.)

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please p

[2019-12-29 19:05] eric-haibin-lin commented on #1085
Since mxnet has lamb optimizer available in 1.6, we shall just reuse that one and remove the one in gluonnlp.

[2019-12-30 06:55] liuzh91 commented on #1060
@leezu  Thanks for the example. I have a few concerns about the your code.

[code]
I believe this piece of code is to apply dropout on the embedding instead of embedding weights.

original embedding architecture looks like:
[code]

So I think your implementation should be like
[code]

Each time if there is a dropout operation, do you have to reimplement the block structure in the forward function?

[2019-12-30 09:51] leezu commented on #1060
Yes, above example for applying dropout sparsely was not correct. You would need the `np.unique` with `return_inverse=True` to make sure the same dropout mask is applied to repeated words.
But in fact, this kind of optimization is not crucial (it is currently not done either).

You're right about rnn cells. One way to avoid re-implementing the rnn cell is to add weight_drop support to the cells up

[2019-12-30 09:52] leezu commented on #1085
Related: https://github.com/dmlc/gluon-nlp/issues/1019

[2019-12-30 09:55] leezu commented on #1019
I think the changes have been backported to 1.6 on Dec 10, 2019 https://github.com/apache/incubator-mxnet/commits/v1.6.x.

[2019-12-30 09:56] leezu commented on #1019
@zburning you can consider working on this (which should fix your issue https://github.com/dmlc/gluon-nlp/issues/1085?)

[2020-01-02 10:38] leezu commented on #1038
@sxjscience with bfa5503 and a the following patch

[code]

I obtain with MXNet https://apache-mxnet.s3-us-west-2.amazonaws.com/dist/2019-12-15/dist/mxnet_cu100-1.6.0b20191215-py2.py3-none-manylinux1_x86_64.whl

[code]

You previously obtained (without the patch) `test bleu=26.93` on bfa5503, which is better than the `test bleu=26.62` you observed on 394e69a.

With the patch (ie. different seed) b

[2020-01-03 07:14] eric-haibin-lin commented on #688
@StrayBird-ATSH we can probably pick 1 or 2

[2020-01-03 08:19] #1060 closed

[2020-01-03 08:23] liuzh91 opened #1086 "Conflict between weight tied and weight sharing"
## Description
This bug is the same as https://github.com/apache/incubator-mxnet/issues/17184 It is an error introduced in gluonnlp models instead of mxnet side, so I move the issue here.

We experience some weight initialization error when we use weight sharing and weight tied simultaneously. We share weights between `model` and `model_eval`. The code is shown below:

[code]

### Log Message
If `

[2020-01-03 17:03] zburning opened #1088 "Considering adding exclude_from_weight_decay or specified decay parameter list to bertadam(or other related optimizers)?"
## Description
For bert-style model training, usually we will need to use weight decay. But we may not want to include some parameters to weight decay, e.g. layernorm.
For example, in [BERT](https://github.com/google-research/bert/blob/cc7051dc592802f501e8a6f71f8fb3cf9de95dc9/optimization.py#L65), they have a argument exclude_from_weight_decay. In the current [tensorflow](https://github.com/tensor

[2020-01-03 23:49] eric-haibin-lin opened #1089 "SageMaker/Colab companion for tutorials"
d2l.ai currently supports viewing notebooks in colab (see http://d2l.ai/chapter_multilayer-perceptrons/mlp.html as an example). It also contains instructions to run notebooks on Sagemaker http://d2l.ai/chapter_appendix-tools-for-deep-learning/sagemaker.html and colab http://d2l.ai/chapter_appendix-tools-for-deep-learning/aws.html

this makes running tutorial much easier and it would be a good thin

[2020-01-04 02:27] eric-haibin-lin commented on #1081
I opened a separate github issue for colab/sagemaker integration. https://github.com/dmlc/gluon-nlp/issues/1089

[2020-01-04 02:40] eric-haibin-lin commented on #1081
Considering that we will re-implement a few models using numpy, let's focus on re-organizing the following pages first:

Tutorial:
1. create hierarchies/categories for the tutorials. Specifically, first level is always a category. Inside each category, we have one or more related tutorials.
2. reorganize existing tutorials/api notes on the website into categories. For the ones from other repositor

[2020-01-04 02:41] eric-haibin-lin commented on #1089
@StrayBird-ATSH this one is really useful. Let's include it in the scope

[2020-01-04 06:39] eric-haibin-lin commented on #1088
weight decay multiplier is set via the gluon parameter API: https://github.com/dmlc/gluon-nlp/blob/master/scripts/bert/finetune_squad.py#L375-L377 is this not sufficient?

[2020-01-04 16:11] zburning commented on #1088
Great, thank you!

[2020-01-04 16:11] #1088 closed

[2020-01-05 05:15] eric-haibin-lin opened #1092 "[website] Google analytics for the website"
We can embed google analytics in our website to have a rough idea of the number of visitors, what content is popular, and where the traffic comes from.

[2020-01-05 21:13] sxjscience commented on #1081
@eric-haibin-lin I also think that we can use markdowns for our tutorial + documentations, which is similar to d2l. Do you know if there is any reason to use the rst format?

[2020-01-06 03:14] XINGXIAOYU opened #1093 "Add suffix support for bert tokenization for NER"
## Description
In finetune_ner.py, I find that only the first token of the subword list is being tagged and other pieces of subword are tagged as 'O'. Is that mean we only choose the feature of the prefix of the words? What about choose the suffix feature of the words?
[code]

[2020-01-06 07:18] liuzh91 opened #1094 "Add length normalized loss metrics in API"
## Description
In typical machine translation tasks, training/validation metric loss is computed using some loss function normalized by the length of target sequence. For example, in `train_gnmt.py`, the metric is computed with the following code:

[code]
Current Mxnet `metric.loss` does not support length normalization. It will be great to add length normalized metric in the api.

## References
-

[2020-01-06 15:20] cclauss opened #1097 "Undefined name: long() was removed in Python 3"
## Description
(A clear and concise description of what the bug is.)

[flake8](http://flake8.pycqa.org) testing of https://github.com/dmlc/gluon-nlp on Python 3.8.0

$ __flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics__
[code]
https://flake8.pycqa.org/en/latest/user/error-codes.html

On the flake8 test selection, this PR does _not_ focus on "_style violations_" (the majority of

[2020-01-06 18:53] eric-haibin-lin commented on #982
@sxjscience DadaLoader does not support last_batch = rollover if the batch_sampler is set. To skip this final batch, either the bucketSampler needs to support the last_batch argument, or users have to manually skip that batch in the training loop

[2020-01-06 19:08] sxjscience commented on #982
We should add the flag to the BucketSampler.

[2020-01-07 01:02] sxjscience commented on #1081
@eric-haibin-lin In the numpy version, we will improve the tutorial about tokenization in the `Prepare Datasets and Vocabularies` section.

[2020-01-07 05:14] TaoLv commented on #514
Is this still open?

[2020-01-07 05:40] eric-haibin-lin commented on #514
I think the script is fine. We used the script to finetune our BERT base model trained on open web text and got 91.26 test accuracy.

[2020-01-07 06:27] TaoLv commented on #514
Still need more code to pre-process the dataset?

[2020-01-07 20:52] eric-haibin-lin commented on #688
We can have the following stack:
- dedicated `g4dn.xlarge` instance for server hosting
- docker and conda for environment & dependency management
- [MMS](https://github.com/awslabs/multi-model-server) for serving logics (load pre-trained model, inference per request)
- colab & SageMaker script for users' customization

[2020-01-07 21:03] eric-haibin-lin commented on #514
i don't think so. the current code should work fine. did you hit any problem/error?

[2020-01-08 07:03] liuzh91 opened #1102 "Log average loss metric of training GNMT"
## Description
Current `log_avg_loss` in the `train_gnmt.py` script is incorrect.
[code]

`log_avg_loss` sums up averaged losses from different batches. It is divided by `args.log_interval` to compute the loss during the interval. It is inconsistent with the loss metric used in `train_transformer` script. In the latter script, losses and valid lengths during the interval are summed up separately.

[2020-01-08 11:59] leezu commented on #688
how to handle traffic spikes? It may require auto-scaling and batching of user requests? Or what computation would take place on the gpu?

[2020-01-08 19:52] eric-haibin-lin commented on #688
Maybe we can add auto scaling for the second phase of the project. For now, I assume the traffic (`number_unique_visitors`) is not a lot. Because the Web UI will not allow large amount of automated inference jobs, we will have at most `number_unique_visitors` concurrent connections. If users want to leverage our demo for running a large amount of data, they can use the sagemaker/colab script we pr

[2020-01-08 21:27] szhengac commented on #1102
They are different because `train_transformer` uses multi-gpu training. Where is `interval_valid_length`? I think there is no such variable.

[2020-01-10 02:46] #1102 closed

[2020-01-10 02:46] #1086 closed

[2020-01-14 02:33] eric-haibin-lin opened #1107 "Bring sentence mover’s similarity to gluonnlp"
Seems to work better for NLG tasks:
https://homes.cs.washington.edu/~nasmith/papers/clark+celikyilmaz+smith.acl19.pdf

[2020-01-14 22:32] eric-haibin-lin opened #1110 "[reproducibility] add util function to enhance reproducibility"
There are a few seeds that may lead to nondeterministic training loss:
[code]
Sometimes our users miss one of them. Shall we add an API `gluonnlp.utils.seed` to set the seed for all of them?

[2020-01-14 22:35] sxjscience commented on #1038
@leezu I think it's due to the variance.

[2020-01-14 22:42] leezu commented on #1038
`inference_transformer` still needs to be added to CI test cases and updated.

[2020-01-14 22:43] sxjscience commented on #1038
@leezu Okay, I see, should not have closed it.

[2020-01-14 23:01] sxjscience commented on #1110
We should add one. Actually, even if all these are set, we cannot guarantee reproducibility due to the issues here: https://github.com/apache/incubator-mxnet/issues/16705.

However, we still should add `gluonnlp.utils.seed` and enhance the MXNet side to ensure reproducibility (or teach the user how to tweak the environmental variables for reproducibility concerns).

[2020-01-15 17:59] leezu commented on #1038
@JulianSlzr I can't reproduce the issue you report.
I believe you were using an updated script but didn't update your Gluonnlp installation. Or the other way around.

On master, I obtain the following output:

[code]

And on https://github.com/dmlc/gluon-nlp/commit/505920827eb97a34c58c7694461b5dea672d925a exactly the same results:

[code]

The difference in output (omitted here), is that `logging.

[2020-01-15 17:59] #1038 closed

[2020-01-15 18:03] leezu opened #1112 "Website and scripts/machine_translation/inference_transformer.py recommend different pretrained weights"
## Description
https://github.com/dmlc/gluon-nlp/blame/3ce9995329fb0d18787019df541d4f229d7c9ded/scripts/machine_translation/inference_transformer.py#L169

uses `transformer_en_de_512_WMT2014-97ffd554a.zip`. But the [website](https://gluon-nlp.mxnet.io/master/model_zoo/machine_translation/index.html) recommends `transformer_en_de_512_WMT2014-e25287c5.zip`.

For consistency's sake we should use the

[2020-01-15 21:27] eric-haibin-lin opened #1114 "Visualization for model interpretation"
I took at look at AllenNLP Interpret https://arxiv.org/pdf/1909.09251.pdf, which implements the saliency map for important tokens, and adversarial attacks with input reduction or word hotflip. These methods seem to be quite useful in helping users understand what the model learns and when it fails.

[2020-01-16 02:27] ciyongch commented on #1112
@leezu Thanks for point out this, please check my answers in https://github.com/dmlc/gluon-nlp/pull/852, I will submit a PR to update the `inference_transformer.py` to use the same params as website recommends.

[2020-01-16 02:56] ciyongch commented on #1112
PR https://github.com/dmlc/gluon-nlp/pull/1117 was created for fixing this issue.

[2020-01-16 10:37] #1112 closed

[2020-01-16 22:50] #1085 closed

[2020-01-16 22:51] #1019 closed

[2020-01-16 22:51] eric-haibin-lin commented on #1085
[API] Drop LAMB optimizer from GluonNLP in favor of MXNet version #1116

[2020-01-18 06:06] eric-haibin-lin opened #1120 "Re-enable horovod test"
We shall re-enable `test_bert_pretrain` with horovod backend in `scripts/tests/test_scripts.py `, once https://github.com/apache/incubator-mxnet/issues/17292 is fixed.

[2020-01-20 02:09] TaoLv opened #1125 "How to get the evaluation accuracy of BERT SQuAD 2.0"
## Description
The fine-tuning process doesn't print the evaluation accuracy of BERT SQuAD 2.0.

[code]

Where  can I find the evaluate-v2.0.py?

### Error Message
None

## To Reproduce

[code]

[2020-01-20 03:51] zburning commented on #1125
Hi, evaluate-v2.0.py is the official evaluation script. You can find it [here ](https://worksheets.codalab.org/rest/bundles/0x6b567e1cf2e041ec80d7098f031c5c9e/contents/blob/). To run BERT evaluation, you just need to specific --data_file and --pred_file.

[2020-01-20 06:26] TaoLv commented on #1125
Thank you @zburning. It would better if the script can be ported to gluon-nlp or sharing the url in the log message. Anyway, closing the issue now~

[2020-01-20 06:26] #1125 closed

[2020-01-20 19:05] leezu commented on #1125
License seems unspecified. But @zburning let's link the file in the log message?

[2020-01-22 06:55] #1094 closed

[2020-01-26 14:50] TaoLv opened #1127 "BERT: Cannot get the reported accuracy with the master branch"
Cannot the reported accuracy with the master branch of GluonNLP and a nightly build of MXNet.

Take MRPC fine-tuning as an example:

[code]

GluonNLP is installed from source code. Commit id: aa663284c9c94c0792f3d0ac901e1af2ef81e1fb
MXNet nightly build: mxnet-cu92 (1.6.0b20200118)

[2020-01-26 16:33] zburning commented on #1127
Hi @TaoLv , within GluonNLP built from master and mxnet-cu92(1.6.0b20200126) and mxnet-cu100 built from source(branch 1.6.x), I can get reasonable results(accuracy:0.8480, f1:0.8927) using your command. I'll switch to your mxnet version but maybe you can first try one of the above two versions?

[2020-01-27 02:11] TaoLv commented on #1127
May I know how did you install GluonNLP from source code and what's you pre-trained model? I will try to find a clear environment and do that again.

[2020-01-27 05:25] zburning commented on #1127
@TaoLv, Hi I can reproduce your result by switching to the commit [aa66328](https://github.com/dmlc/gluon-nlp/commit/aa663284c9c94c0792f3d0ac901e1af2ef81e1fb),  I think maybe something wrong with Commit:[e88d55e77e55b8e562881ed9d12160053810961b](https://github.com/dmlc/gluon-nlp/commit/e88d55e77e55b8e562881ed9d12160053810961b). Currently, you can reset to commit:[5fe8d7b](https://github.com/dmlc/g

[2020-01-27 14:40] TaoLv commented on #1127
@zburning Thank you for the confirmation. Also @eric-haibin-lin .

[2020-01-27 23:25] vdabravolski commented on #955
Wonder if anyone is still working on this ticket? @sxjscience?

[2020-01-27 23:28] sxjscience commented on #955
@vdabravolski I'm working on it for the new numpy version of GluonNLP, which facilitates the new numpy-like programming interface of MXNet. Currently it is still in a private repository and I'll try to upstream it as soon as possible. This will be a major update to the whole package.

[2020-01-30 00:48] eric-haibin-lin opened #1129 "Remove mutable_args restriction in get_model API"
I think we can remove the check of `mutable_args` in the get_model API for BERT, GPT, Language model and transformer. We can introduce a separate flag "allow_override" if users want to override any configuration. Otherwise overriding any configuration is forbidden.

[2020-01-31 04:08] #939 closed

[2020-01-31 08:06] zburning opened #1132 "Include padding to fixed length in nlp.data.batchify"
## Description
Sometimes we need to pad sequences to a fixed length for latency evaluation.
Does it make sense to include such a feature in nlp.data.batchify.Pad() or a new batchify API?

## References
- list reference and related literature
- list known implementations

[2020-01-31 17:16] sxjscience commented on #1132
I think previously we have the round-to feature in Pad(): https://github.com/dmlc/gluon-nlp/blob/master/src/gluonnlp/data/batchify/batchify.py#L179-L180 , which helps creating tensors that are suitable for tensorcore.

[2020-02-01 02:41] leezu commented on #1132
Reference https://github.com/dmlc/gluon-nlp/commit/5fe8d7b7f5770d82e4f3bfb489a67999d9442ce6#r36969715

[2020-02-01 02:43] sxjscience commented on #1132
I suggest adding a round_to argument to the script and compare the speed of round_to=8 and round_to=1.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Leonard Lausen <notifications@github.com>
Sent: Friday, January 31, 2020 6:41:06 PM
To: dmlc/gluon-nlp <gluon-nlp@noreply.github.com>
Cc: Xingjian SHI <xshiab@connect.ust.hk>; Comment <comment@noreply.github.com>
S

[2020-02-01 12:51] xinyu-intel opened #1134 "Cannot reproduce BERT MRPC accuracy on mxnet1.6.0rc1&2"
Cannot the [reported accuracy](https://github.com/dmlc/gluon-nlp/commit/5fe8d7b7f5770d82e4f3bfb489a67999d9442ce6#diff-4aa9944e2504738fdac28fee1d391628R124) with the master branch of GluonNLP and a pre-release build of MXNet.

## Build MXNet:
[code]

## finetune log
[code]

@TaoLv @eric-haibin-lin @zburning

[2020-02-01 13:56] zburning commented on #1134
Hi @xinyu-intel I am looking into it. Most likely I think it's due to the different mxnet and gluonnlp commits...The training on small glue datasets has high variance. From my side, I think acc 87 is around the average so that it's acceptable.

[2020-02-01 13:59] xinyu-intel commented on #1134
@zburning yh, I do think so, it's hard to reproduce the same accuracy. Can you please send me a copy of MRPC-base and squad1.1-base params to me? I'm going to evaluate the int8 quantization accuracy.

[2020-02-01 14:09] zburning commented on #1134
@xinyu-intel Sure, are you using xinyu1.chen@intel.com?

[2020-02-01 14:10] xinyu-intel commented on #1134
@xinyu-intel you can send me through xinyulux@gmail.com. Thx:)

[2020-02-01 16:36] zburning opened #1135 "Finetuning results reproduction"
## Description
Due to mxnet or gluonnlp updating, the finetuning results may be slightly different with the same command. Currently we reported the best result achieved by a certain version of mxnet and gluonnlp, maybe we can report an average value and provide the log and command(especially the seed) as reference? Or even we can provide the finetuned parameters?

## References
- list reference an

[2020-02-01 16:41] zburning commented on #1134
The reported results are achieved by mxnet1.6.0rc1 commit ad1ff3aa8532f2f7e42a732f0d35dfb0574ca05c, and gluonnlp master branch commit 7f52dc05367b4640833abf2d767c98e4719395af

[2020-02-01 19:01] eric-haibin-lin commented on #1134
MRPC's variance is a bit high. Are we reproducing fine-tuning just to get a checkpoint? I have a SST-2 checkpoint at https://dist-bert.s3.amazonaws.com/demo/finetune/sst.params
The target is to compare the acc before and after the calibration, right?

[2020-02-01 19:03] eric-haibin-lin commented on #1135
For future experiment I suggest we report both best score and the average score with 5 random seeds

[2020-02-01 23:53] xinyu-intel commented on #1134
@eric-haibin-lin yes, you are right. I'll try your params.

[2020-02-02 03:39] TaoLv commented on #1035
@carter54 FYI, here is the PR for BERT quantization: #1080

[2020-02-02 07:37] eric-haibin-lin opened #1137 "flaky test: test_sequence_sampler"
https://ci.mxnet.io/blue/organizations/jenkins/GluonNLP-py3-master-cpu-unittest/detail/PR-922/15/pipeline

[code]

[2020-02-03 12:41] #1134 closed

[2020-02-04 13:18] #1132 closed

[2020-02-05 18:19] eric-haibin-lin opened #1139 "Docker container for GluonNLP"
Looking at nvidia's [NGC container and their examples](https://github.com/NVIDIA/DeepLearningExamples/blob/master/MxNet/Classification/RN50v1.5/README.md#quick-start-guide), they made it really easy to run their example code and reproduce the environment and experiments. Having one for GluonNLP will make it easier for users

[2020-02-05 19:02] leezu commented on #1139
How about using AWS Deep Learning Containers for this purpose?

[2020-02-06 19:45] eric-haibin-lin opened #1141 "Incorrect install from source instructions on gluonnlp website"
https://gluon-nlp.mxnet.io/master/install/install-more.html

[code]

This does not clone the master branch of gluonnlp. The MXNet version is also not up-to-date

[2020-02-07 17:13] leezu opened #1142 "packaging is a required dependency"
[code]

CC @eric-haibin-lin

[2020-02-08 08:51] zburning opened #1144 "LCQMC dataset is no longer open-sourced"
## Description
I'm running:
[code]
and it raise
Traceback (most recent call last):
  File "/Users/zechenw/Desktop/language_model/play.py", line 5, in <module>
    print(len(LCQMC.dataset_train()[1]))
  File "/Users/zechenw/Desktop/language_model/data/classification.py", line 75, in dataset_train
    return 'train', self.get_dataset(segment='train')
  File "/Users/zechenw/Desktop/language_model/dat

[2020-02-08 19:09] leezu commented on #1144
The API should load the local file and provide instructions if the file is not present.
We could follow @sxjscience's proposal for GluonNLP 1.0: https://github.com/sxjscience/numpy_nlp/tree/dev/scripts/datasets

[2020-02-09 16:19] zburning commented on #1144
Actually we did not have license before, and the API fits the dataset format which was redistributed by Baidu in ERNIE repo...(not available now). https://github.com/dmlc/gluon-nlp/blob/master/scripts/bert/data/baidu_ernie_data.py#L108.
Does anyone have suggestions on how to go on?

[2020-02-10 07:22] StrayBird-ATSH commented on #1081
Since this rework involves a huge amount of work, I will decompose this issue into several steps to achieve its goal.
Currently the first pull request is merged with partial goal of this rework completed.
In pull request #1108 , I modified the toc structure of the examples part of the website. This refactor enables this part of the website to display multiple level of menus, which is essential for

[2020-02-10 18:09] #1141 closed

[2020-02-10 19:28] avinashsai commented on #1110
Hi @eric-haibin-lin
I can take this up. Can you provide me little more context on how the function should be??

[2020-02-13 08:39] carter54 commented on #1035
@TaoLv Thx for the work, can this method applied to GPT 2 model?

[2020-02-13 18:26] avinashsai opened #1157 "Implementation of RMS Normalization"
Is your feature request related to a problem? Please describe.
RMS Normalization https://openreview.net/pdf?id=SygkZ3MTJE is a normalization technique proposed for normalizing CNN and LSTM.

Describe the solution you'd like
I have experimented Layer Normalization and RMS Normalization using LSTM on IMDB dataset. Experiment results can be found here: https://github.com/avinashsai/All-you-need-to-kn

[2020-02-13 23:05] eric-haibin-lin opened #1158 "Vocab produces non-deterministic vocab in py3.5"
## Description
The special token IDs are registered in a non-deterministic order. Probably gluonnlp need some overhaul of all dict usages

[2020-02-13 23:20] eric-haibin-lin commented on #1158
Actually I suspect it impact all Vocab:
[code]

[2020-02-16 19:03] szha commented on #1158
@eric-haibin-lin @leezu what option did you decide on?

[2020-02-17 00:18] eric-haibin-lin commented on #1158
I suggest we add the sort logic to py3.5 only and add a note for py3.5 users in the release note such that:
- python3.6+ users don't need to change anything
- for python3.5 users, they need to relay on serialized vocab in json format for compatibility if they use gluonnlp 0.9 and/or python3.6+

[2020-02-18 02:11] szhengac opened #1161 "BUG in Quick Example of Website"
The quick example in https://gluon-nlp.mxnet.io/ is not runnable. In particular, it outputs `ModuleNotFoundError: No module named 'mxnet'`.

[2020-02-18 06:02] avinashsai commented on #1110
closed via #1151

[2020-02-18 17:04] szha commented on #1110
@avinashsai thanks for the contribution

[2020-02-18 17:04] #1110 closed

[2020-02-18 17:09] avinashsai commented on #1157
@eric-haibin-lin Please share your thoughts on this

[2020-02-18 17:48] szha commented on #1161
fixed. thanks for reporting this issue.

[2020-02-18 18:35] #1161 closed

[2020-02-18 19:29] eric-haibin-lin opened #1163 "support contexual embeddings in nlp.embedding API"
Currently `nlp.embedding` supports embeddings from GloVe, FastText, etc. We may extend the API to get embeddings from more recent models such as BERT, RoBERTa

[2020-02-18 19:30] eric-haibin-lin commented on #1163
@sxjscience

[2020-02-19 01:49] eric-haibin-lin commented on #1157
@avinashsai thanks for the interest. What exactly do you propose to include?

[2020-02-19 05:55] avinashsai commented on #1157
@eric-haibin-lin
It is a normalization technique similar to Layer Normalization. Since, it has been proposed very recently we can include it in gluon-nlp.

[2020-02-19 07:41] carter54 opened #1164 "is there an easy way to implement personal gpt2 model"
## Description
the sequence_sampling.py script dose not offer an method to import users' personal model (gpt 2 in my case).
https://github.com/dmlc/gluon-nlp/blob/ef57ca08ee507902a9b2fbb4dbcc4ca110d84cd3/scripts/text_generation/sequence_sampling.py#L146
https://github.com/dmlc/gluon-nlp/blob/ef57ca08ee507902a9b2fbb4dbcc4ca110d84cd3/scripts/text_generation/sequence_sampling.py#L147
will force downl

[2020-02-20 03:59] carter54 opened #1165 "GPT2 HybridBlock"
## Description
It seems hybridblocked gpt2 in V0.9.0 generate different results with previous versions (not as a hybridblock).
I compared the result between the sequence_sampling.py script in v0.9.0
(https://github.com/dmlc/gluon-nlp/blob/v0.9.0/scripts/text_generation/sequence_sampling.py)
and https://github.com/sxjscience/gluonnlp-gpt2/blob/master/sampling_demo.py from @sxjscience (which I origi

[2020-02-20 04:47] carter54 commented on #1165
If I unset --use-top-k, the gluonnlp result make sense.
[code]

In addition,
https://github.com/dmlc/gluon-nlp/blob/ef57ca08ee507902a9b2fbb4dbcc4ca110d84cd3/scripts/text_generation/sequence_sampling.py#L185
[code]
why does generated_token idx start from 1, this will delete the first output token in the result, in this case, 'pretty' will be deleted, the results became:
[code]

[2020-02-22 07:45] eric-haibin-lin commented on #1158
Fixed by #1166

[2020-02-22 07:45] #1158 closed

[2020-02-22 17:42] #1142 closed

[2020-02-23 05:37] eric-haibin-lin commented on #1157
I see. What about adding it to `src/gluonnlp/model/block.py`?

[2020-02-23 05:53] avinashsai commented on #1157
Sure, will start working on it.

[2020-02-24 07:04] eric-haibin-lin opened #1169 "more frequent releases"
For GluonNLP 0.9, it was mainly blocked by mxnet 1.6 release. Many bug fixes and useful APIs are not shipped to users because of that. Now that MXNet 1.6 release is official, I suggest gluonnlp make more frequent releases such that fixes, features and improvements are shipped faster. Maybe once per month?

[2020-02-24 07:25] eric-haibin-lin opened #1170 "logging utils"
https://github.com/dmlc/gluon-nlp/blob/master/scripts/bert/finetune_classifier.py#L191-L204
These common logging util function can be simplied as gluonnlp.util.set_logger(filename, level=INFO)

[2020-02-24 07:29] eric-haibin-lin opened #1171 "get_model API for fine-tuned models"
Currently the get_model API returns trained models such as BERT, AWD-RNN. We should also include fine-tuned models such as BERTClassifier fine-tuned on SST.

This way users can easily get a trained classifier for inference via `nlp.model.get_model('bert_classifier_12_768_12', dataset_name='sst2', ...)`

[2020-02-24 07:35] eric-haibin-lin opened #1172 "BERT finetune classifier and finetune squad script is too long"
The finetune classifier has now become 700 lines of code. The code readability is low...

[2020-02-24 07:42] eric-haibin-lin opened #1173 "BERT lr scheduler"
We can move the lr scheduling logic https://github.com/dmlc/gluon-nlp/blob/master/scripts/bert/finetune_classifier.py#L565-L571 for BERT to a LRScheduler API implementing the `mxnet.lr_scheduler.LRScheduler` API

[2020-02-25 01:43] eric-haibin-lin opened #1175 "BERT training script breaks with --verbose --raw"
python version: 3.6.9, using gluonnlp v0.9.x branch.
[code]

[2020-02-26 10:01] josesho opened #1178 "gluonnlp==v0.9.0.post0 throws an error during import"
## Description
`v0.9.0.post0` of `gluonnlp` throws an error during import

### Error Message
[code]

## To Reproduce

### Steps to reproduce
[code]

## Environment

[code]

[2020-02-26 17:39] leezu commented on #1178
You need mxnet 1.6

[2020-02-26 17:39] #1178 closed

[2020-02-26 18:34] leezu commented on #1165
Please test with https://github.com/dmlc/gluon-nlp/commit/ebfc920026a2a8a5bbc1cc531eeba75e4e21bff7 and the previous commit to check if that PR introduced a regression in `--use-top-k`

[2020-02-27 07:23] josesho commented on #1178
Hi @leezu,

I would like to use `mxnet-cu101`, which only has `v1.5.1post0`. Am I right to assume mxnet 1.6 will include CUDA support?

[2020-02-27 07:44] szha commented on #1178
mxnet-cu101 is now available: https://pypi.org/project/mxnet-cu101/

[2020-02-27 08:51] josesho commented on #1178
fresh outta the oven! thanks for the headsup.

[2020-02-29 13:05] bhsu22 commented on #496
Hi, I realize this hasn't been worked on in over a year, but I think having the HuggingFace BERT specific classes would be helpful. At the very least, having these as examples might be useful for people jumping into gluonnlp. Is this issue still being worked on? fwiw, i'm trying to get something equivalent to the HuggingFace BertForSequenceClassification working.

[2020-03-01 04:09] haven-jeon commented on #1165
As far as I know, the big difference between the previous version and the current version is that it uses fused GELU. Perhaps because of this operator, the results look somewhat different. At the application level, however, the results are not expected to be very different.

[2020-03-03 23:24] Arhamna commented on #683
I am facing a similar issue:

SET UP:
-------------------

train_batch_sampler = nlp.data.FixedBucketSampler(lengths=data_train_lengths,
                                                      batch_size=500,
                                                      num_buckets=1,
                                                      ratio=0.0,
                                                      shuff

[2020-03-03 23:40] szhengac commented on #683
@Arhamna. When `use_average_length=True`, `batch_size` means the approximate number of tokens in a mini-batch.

[2020-03-03 23:43] Arhamna commented on #683
I see. Yes setting use_average_length=False gives the desired batch size. Thank you so much!

[2020-03-05 13:35] jianbohuang commented on #1178
I have this  problem too,  but   `mxnet-cu80`  only has `mxnet v1.5`  in  `pypi.org`

[2020-03-05 18:16] leezu commented on #1178
` mxnet-cu80` may no longer be updated. Could you update your cuda version?

[2020-03-12 16:10] Defunctionalize opened #1182 "Slack invite link is no longer active"
Looking to join the community, it appears that #356 did not permanently resolve the problem

[2020-03-13 21:47] kaonashi-tyc opened #1183 "GluonNLP 0.9.x RoBERTa model return inconsistent encoded result comparing to Fairseq"
## Description
I am working on porting XLM-R model to gluonnlp (view this script here [convert_xlmr_model_to_gluon.py](https://gist.github.com/kaonashi-tyc/5f77b962c5be70395f4875f77b3f7149)).

The XLM-R model reuses the same RoBERTa model architecture from fairseq.

When using gluonnlp 0.8.x, the converted model can match the fairseq reference implementation with a small error range within 5e-6, a