[2020-03-14 09:01] kaonashi-tyc commented on #1165
I also saw a difference happens to RoBERTa model as well, as comparing to fairseq releases.

might be related issue: https://github.com/dmlc/gluon-nlp/issues/1183

[2020-03-14 20:45] mkartik commented on #1129
Hi @eric-haibin-lin, can I take this issue?

[2020-03-14 22:40] eric-haibin-lin commented on #1129
Contribution is welcome!

[2020-03-17 06:30] StrayBird-ATSH opened #1185 "The frequent failure of CI for gpu-doc"
## Description
The CI for gpu-doc seems to be failing more frequent recently. As I look into the errors, they appear to be some specific place, see error message below.

### Error Message
Please see these CI errors.

It seems that there are three types of errors and these errors repeat randomly:
- wheel file cannot be downloaded
- python file existence error
- some baidu API error

https://ci.mxne

[2020-03-17 06:30] StrayBird-ATSH commented on #1185
@eric-haibin-lin @leezu

[2020-03-18 06:28] avinashsai commented on #1062
closed via #1181

[2020-03-18 19:26] #1062 closed

[2020-03-18 20:18] leezu commented on #1185
Fix for the baidu file race condition: https://github.com/dmlc/gluon-nlp/pull/1187

[2020-03-19 03:28] StrayBird-ATSH commented on #1185
Thanks a lot for your fixing!

[2020-03-19 16:45] jmracek opened #1188 "Report errors on type passed to first argument of constructor of BERTClassifier()"
## Description
Apologies if this should be a bug report.  It isn't strictly a bug, but more a quality of life improvement for error reporting that would help people debug simple issues more quickly.

I have been using the BERTClassifier block to work with BERT models.  I attempted to load a model I had trained in another script using the following snippet:
[code]
Which throws the following error:

[2020-03-19 17:53] eric-haibin-lin commented on #1188
`/home/ubuntu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: "BERTClassifier.bert" is an unregistered container with Blocks. Note that Blocks inside the list, tuple or dict will not be registered automatically. Make sure to register them using register_child() or switching to nn.Sequential/nn.HybridSequential instead. `

@leezu i think we need to enhance the warning me

[2020-03-20 02:08] eric-haibin-lin opened #1189 "Dataset loader bug"
[code]

[2020-03-20 16:25] szha opened #1190 "MXNet Nightly Builds Moved to S3"
Hi,

MXNet nightly builds have been moved from PyPI to S3 (https://github.com/pypa/pypi-support/issues/243). If this project requires the nightly builds for CI validation, please make sure that your CI pipeline now takes the nightly builds from https://dist.mxnet.io/python. Furthermore, as MXNet [1.7](https://github.com/apache/incubator-mxnet/issues/16864) and [2.0](https://github.com/apache/incub

[2020-03-22 19:35] szha commented on #1190
cc @dmlc/gluon-nlp-committers

[2020-03-26 12:20] StrayBird-ATSH commented on #1185
Hello Leonard,
It seems there are some problem that are preventing us from building successfully?
It fails shortly after building.
Please see the log
https://ci.mxnet.io/blue/organizations/jenkins/GluonNLP-py3-master-gpu-doc/detail/PR-1191/3/pipeline
https://ci.mxnet.io/blue/organizations/jenkins/GluonNLP-py3-master-gpu-doc/detail/PR-1191/2/pipeline
https://ci.mxnet.io/blue/organizations/jenkins/G

[2020-03-26 17:07] leezu commented on #1185
/var/lib/jenkins//miniconda3/bin/python file disappeared on cpu-2 node. Maybe the filesystem is corrupt. I disabled the cpu-2 node for now

[2020-03-26 17:07] leezu commented on #1185
Please reopen if you experience more issues

[2020-03-26 17:07] #1185 closed

[2020-03-28 04:38] StrayBird-ATSH commented on #1182
Hello,
a pull request is sent to solve your problem. #1186
Please wait for it to be merged.
Thanks!

[2020-03-28 05:04] #1182 closed

[2020-04-08 15:12] yezqNLP opened #1199 "surrogate for F.contrib.arange_like?"
The following line in transformer encoder use `F.contrib.arange_like`, which depends on mxnet>=1.6.0.
https://github.com/dmlc/gluon-nlp/blob/3f7465ab5d0f926c2c6f424644daaa30668570ba/src/gluonnlp/model/transformer.py#L397
And for some reason I only have installed mxnet-cu100=1.5.1, so I wrote a line to for surrogate this line:
`steps = nd.array(range(inputs.shape[1]))`. And the code can run success

[2020-04-08 18:26] leezu commented on #1199
You won't be able to hybridize the model. It won't run as efficiently.

[2020-04-09 02:17] yezqNLP commented on #1199
which means the training speed would be slower?

[2020-04-09 04:48] leezu commented on #1199
Yes. But you can also use GluonNLP 0.8 which supports MXNet 1.5 and has a workaround for `arange_like`. https://github.com/dmlc/gluon-nlp/blob/v0.8.x/src/gluonnlp/model/transformer.py

https://github.com/dmlc/gluon-nlp/blob/75b3c121ac02c1bdef25a785fda2238e256246f9/src/gluonnlp/model/transformer.py#L447-L458

[2020-04-09 06:15] yezqNLP commented on #1199
Thanks so much!

[2020-04-09 06:23] #1199 closed

[2020-04-09 18:26] ktoetotam opened #1201 "gluonnlp on Cuda 10 cannot import name 'replace_file'"
I am trying to run gluonnlp on cuda 10. I have installed the following package:

mxnet-cu100              1.6.0b20191102

https://pypi.org/project/mxnet-cu100mkl/#history

As it seems like the only one that has mxnet 1.6.0 and supports cuda 10. I have no possibility to upgrade to cuda 10.1 which has the official release for mxnet 1.6.0

The error I get looks like I am still on mxnet 1.5.0 but:

[c

[2020-04-09 18:45] eric-haibin-lin commented on #1201
can you try later versions of mxnet 1.6 from https://dist.mxnet.io/python
e.g. mxnet_cu100-1.6.0-py2.py3-none-manylinux1_x86_64.whl ?

[2020-04-11 14:57] SamanwaySadhu opened #1202 "Prediction on the fasttext text classification model trained on yelp review polarity dataset"
## Description
I am trying to run a prediction on the Fast-text Word N-gram model trained with Yelp review data set. I am getting this error message below. The rest of entire training process is working fine. I have run for only one epoch and a truncated version of the data-set for quicker reproduction purposes. Can't figure out how to solve it.

### Error Message
INFO:root:Ngrams range for the tr

[2020-04-12 11:31] evah88 opened #1203 "Difference between embeddings Gluon and Huggingface"
We have a BERT model that we trained from scratch on a proprietary dataset using Huggingface. I'm trying to port it to the GluonNLP version of BERT and roughly followed the conversion script. Specifically, we found the matching parameter names and then copied the model weights. The output of the converted gluon model is different from our original huggingface model so I'm trying to debug.

To simp

[2020-04-13 03:59] szhengac commented on #1203
I think gluonnlp's vocab has different order from the one of huggingface. So it will be problematic if we simply copy the entire embedding matrix. @eric-haibin-lin.

[2020-04-13 05:42] evah88 commented on #1203
The word embeddings of the inputs are identical so the difference happens somewhere downstream

[2020-04-13 18:22] eric-haibin-lin commented on #1203
For the bert base uncased model, the vocab mapping is different, so the embedding weights need to be shuffled accordingly. @evah88 did you print the word ids in the batch and compare the two?

[2020-04-14 00:35] devsentient commented on #1203
@eric-haibin-lin please take a look here: https://colab.research.google.com/drive/1eZAHtpAP5bzz4PA_gX5HeJyiB0GtaPWX#scrollTo=-5X58oHMFu9P

It looks like the token IDs are the same for Gluon and HuggingFace.

[2020-04-14 09:51] TaoLv opened #1204 "BERT fine-tuning on SQuAD 1.1 doesn't converge"
## Description

[code]

### Error Message
(Paste the complete error message, including stack trace.)

## To Reproduce
`python finetune_squad.py --optimizer adam --batch_size 12 --lr 3e-5 --epochs 2 --gpu`

## What have you tried to solve it?
None

## Environment
[code]

[2020-04-14 20:20] eric-haibin-lin commented on #1203
The bos and eos token ids are different:
HF: `[101, 7592, 1010, 2026, 3899, 2003, 10140, 102]`
Gluon: `[    2,  7592,  1010,  2026,  3899,  2003, 10140,     3]`

[2020-04-14 20:26] sxjscience commented on #1173
@eric-haibin-lin Have changed to use the LRScheduler in the numpy version: https://github.com/sxjscience/numpy_nlp/blob/315274087a8b6e6bc33f883062486cb52c7552c1/src/numpy_nlp/lr_scheduler.py#L5

[2020-04-14 20:47] devsentient commented on #1203
yes, but these are the same tokens and we pass the sentence through the gluon and HF tokenizers respectively so the output should be the same? Why would the same sentence encode differently?

[2020-04-14 20:54] szhengac commented on #1203
i think @eric-haibin-lin means that `embedding_gluonnlp[2] \not= embedding_hf[101]`, as you simply copied the embedding matrix without reordering.

[2020-04-14 20:56] devsentient commented on #1203
In this example we didn't copy the matrix. We loaded the pretrained models from each framework directly.

In our proprietary use case the token mapping is the same between HF and Gluon, and the parameter matrix is copied, but the output still different.

[2020-04-15 02:04] leezu commented on #1201
Closing the issue, as you are using an unreleased nightly build of MXNet 1.6. Please upgrade to the released version (`pip install --upgrade mxnet-cu100`)

[2020-04-15 02:04] #1201 closed

[2020-04-15 11:59] ktoetotam commented on #1201
eric-haibin-lin thank you very very much! this solved my problem!

leezu, pip install --upgrade mxnet-cu100 this did not work as the mxnet-cu100 had 1.5.1

https://pypi.org/project/mxnet-cu100/

And we needed 1.6.1

Eric's solution worked!

[2020-04-16 02:36] ma-hei commented on #1129
Hey @eric-haibin-lin,
just to clarify:
currently the mutable_args of the BERT model for example are ['use_residual', 'dropout', 'embed_dropout', 'word_embed']. Non mutable arguments of the bert_12_768_12 model are for example 'hidden_size', 'num_heads' or 'num_layers' (from looking at bert_12_768_12_hparams in model/bert.py). The goal of this fix is to allow calling nlp.model.get_model for example

[2020-04-16 21:41] eric-haibin-lin commented on #1129
yes

[2020-04-17 02:06] leezu commented on #1202
`shape=(-1, 1)` should be `shape=(1, -1)`?

[2020-04-17 06:46] ciyongch opened #1205 "Can't reproduce the accuracy with pre-trained Large Scale Word Language Model (gbw dataset)"
## Description
Can't reproduce the same accuracy with pre-trained Large Scale Word Language Model based on gbw dataset, following the [guideline](https://gluon-nlp.mxnet.io/examples/language_model/language_model.html).
The accuracy given in [tutorial](https://gluon-nlp.mxnet.io/model_zoo/language_model/index.html#large-scale-word-language-model) is:
  `[1] LSTM-2048-512 (Test PPL 43.62)`

What I g

[2020-04-18 09:20] Avi197 opened #1206 "Load custom pre-trained Fasttext model"
Does gluon-nlp support custom pre-trained Fasttext model? I want to use a few functions of gluon but i don't want to train a new model

Thanks in advance

[2020-04-18 22:28] leezu commented on #1206
You can use the https://github.com/dmlc/gluon-nlp/blob/3f7465ab5d0f926c2c6f424644daaa30668570ba/src/gluonnlp/model/train/embedding.py#L229

[2020-04-18 22:28] #1206 closed

[2020-04-19 00:04] ma-hei commented on #1129
@eric-haibin-lin I created a PR for this: https://github.com/dmlc/gluon-nlp/pull/1207
I asked a question in that PR. Also found the Jenkins test to be failing for what seems to be unrelated to the codebase. Would appreciate any feedback to get started with this codebase. Thanks!

[2020-04-19 03:53] qqaatw commented on #955
Wondering how is the progress of this ticket? @sxjscience

[2020-04-19 04:55] eric-haibin-lin commented on #1205
@ciyongch have you tried mxnet 1.6?

[2020-04-20 03:22] ciyongch commented on #1205
Tried with both **mxnet 1.6.0** and **mxnet-cu90 1.6.0**, got same/similar accuracy as my previous results.
It's probably due to the incorrect pre-trained params download from S3 server, can you help to check that?

**1) mxnet 1.6.0**
[code]
*1.1) output*
[code]

**2) mxnet-cu90 1.6.0**
[code]
*2.1) output*
[code]

[2020-04-23 18:06] avinashsai commented on #886
@szha
I have the code ready with sklearn accuracy metric changed to mxnet accuracy metric. However, mxnet F1 currently supports binary classification. However, this tutorial is a multi-class classification and hence will not be able to use mxnet F1 metric. Should I submit PR only with accuracy changed or leave it as it is??

[2020-04-23 18:16] leezu commented on #886
@avinashsai you may be interested in the mxnet metrics improvements for mxnet 2: https://github.com/apache/incubator-mxnet/pull/18083

If you have the code ready, it's good to submit the part that can be supported by mxnet metric

[2020-04-26 00:10] kaonashi-tyc commented on #1183
Hi, any updates on this issue?

[2020-04-26 23:39] eric-haibin-lin commented on #1205
@ciyongch any update after using the original vocab from the pre-trained model?

[2020-04-27 01:10] eric-haibin-lin commented on #1183
@leezu was there any known inconsistency issue with the refactoring PR?

[2020-04-27 07:20] ciyongch commented on #1205
@eric-haibin-lin After switching to GBW vocab, I got the better result as below, but there's run-to-run variance, not sure if it's related to the data loader.
[code]

[2020-04-27 21:20] eric-haibin-lin commented on #1183
dependencies:
[code]
[code]
with commit 4e555394baf557e5e55e1ae24a2147b03dce2213

[code]

with commit 184a000
[code]

[2020-04-29 22:05] leezu commented on #1183
Let's try to reproduce this issue with the models in gluon-nlp scripts folder first?

I'm trying to rerun the roberta conversion script. Currently it fails due to incompatibility with 75c29a3518ee42b98cc651b6922cbae85d2e961e I'll check and fix it

[2020-04-29 22:07] leezu commented on #1183
Does this also happen with the `python convert_fairseq_model.py` in GluonNLP?

[2020-04-29 22:14] leezu commented on #1183
Unfortunately the script doesn't work anymore due to changes in a9eb2fd38180b5affbd30ec78f33f6ef16ef9c20 and 75c29a3518ee42b98cc651b6922cbae85d2e961e

[2020-04-30 07:19] leezu commented on #1183
We can fix commit 184a000 as follows

But there are more bugs introduced later

[code]

[2020-04-30 18:47] leezu commented on #1183
@eric-haibin-lin @kaonashi-tyc: @acphile helped to investigate which commit introduces the regression (after the layer_norm eps fix is applied). He finds that 75c29a3518ee42b98cc651b6922cbae85d2e961e is the first bad commit
where regression still occurs after modifying src/gluonnlp/model/bert.py

[2020-04-30 18:58] #1190 closed

[2020-04-30 20:19] eric-haibin-lin commented on #1183
Maybe because we switched to softmax with length, which assigns exact 0 to the masked position, where the older version assigns a number very close to 0...

[2020-05-01 14:29] avinashsai commented on #372
@szha I would like to take this up. Can you give more context about this?

[2020-05-02 11:30] avinashsai opened #1217 "TextCNN rand model downloads pretrained vectors even if not needed"
1. TextCNN rand model downloads pretrained word vectors even if not needed. rand model initializes word vectors randomly and updates in the training process. So, I think there is not need to download word vectors for this model.

2. There should be a flag passed to ```_build_vocab```  function representing the type of model. If the model is other than rand, then pretrained vectors should be downlo

[2020-05-02 17:10] avinashsai commented on #1217
@leezu @eric-haibin-lin your thoughts on this?

[2020-05-03 12:35] tirkarthi opened #1218 "Deprecation warning due to invalid escape sequences"
## Description

Deprecation warning due to invalid escape sequences. Using raw strings or escaping them again helps in resolving this. Check https://github.com/asottile/pyupgrade/ for automatic fix of this.

## To Reproduce

[code]

[2020-05-03 23:21] pasmargo opened #1220 "BeamSearchSampler failing with mx.numpy input"
## Description

I follow [the instructions to generate sequences with Beam Search](https://gluon-nlp.mxnet.io/examples/sequence_sampling/sequence_sampling.html) and it works correctly when the input is an mx.nd object. However, I get an error message when the input is an mx.numpy object.

With the original line, it works correctly:
[code]

With this other line, it makes the sampler fail:
[code]

#

[2020-05-04 18:50] leezu commented on #1220
We'll have a new release of gluonnlp to support the numpy interface.
For now just convert the array to nd before calling the beamsearchsample

cc @sxjscience

[2020-05-04 18:55] #1218 closed

[2020-05-05 14:07] lilongyue opened #1221 "albert model requested!"
## Description
albert model size is pretty small and interesting.
A mxnet based pretraining implementation should be helpful to alot of people!
## References

[2020-05-05 16:36] eric-haibin-lin commented on #1221
@sxjscience is working on it

[2020-05-05 16:39] sxjscience commented on #1221
@lilongyue We have ALBERT in the new numpy version of GluonNLP, which is currently WIP and lives in a private repo. If you are very interested in that, we may contact offline to ensure that you can try it out.

[2020-05-05 16:40] sxjscience commented on #955
If you are really interested in the new version, you may contact me by email and we can figure out a way to try it out.

[2020-05-05 21:46] avinashsai commented on #1217
@leezu I have code ready for this and iam able to reproduce the results as well. What do you think?

[2020-05-05 21:47] leezu commented on #1217
Yes, your proposal is sensible.

[2020-05-05 21:48] avinashsai commented on #1217
Sure, will submit PR to this

[2020-05-05 21:49] leezu commented on #372
@avinashsai it's about updating the MT training scripts to only evaluate on the dev set to avoid leaking test set information until the users explicitly runs evaluation on the test set

[2020-05-07 19:00] avinashsai commented on #1217
Fixed via #1222

[2020-05-07 19:00] #1217 closed

[2020-05-07 19:36] sxjscience commented on #1221
@lilongyue You may try with the new version that is initiated in https://github.com/dmlc/gluon-nlp/pull/1225 . We are implementing the pretraining part and will PR once ready.

[2020-05-07 19:37] sxjscience commented on #1220
For the numpy version, you may try to use the version that is initiated in https://github.com/dmlc/gluon-nlp/pull/1225

[2020-05-07 19:37] sxjscience commented on #955
See https://github.com/dmlc/gluon-nlp/pull/1225 .

[2020-05-07 23:38] sxjscience opened #1226 "Name convention of pretrained models"
In GluonNLP, we have reached the consensus that the pretrained model files should be named as {NAME}-{8 character hash}.{ENDING}.

The reason is that when replacing a file, we should never break old code which relies on the old file.

We should later revise our contribution document to emphasize this.

[2020-05-08 16:53] #1204 closed

[2020-05-12 17:35] leezu commented on #1226
I think this was the consensus and practice from the very inception of the project. Let's document it better

[2020-05-13 04:00] szha opened #1231 "tokenizer should support options for diacritics normalization"
## Description
For subword tokenizers it's desirable to have explicit control on whether to normalize diacritics https://nlp.stanford.edu/IR-book/html/htmledition/accents-and-diacritics-1.html

[2020-05-14 12:19] carter54 commented on #1203
@devsentient @evah88 I'm also trying to transfer model from huggingface to mxnet by matching parameter names, but I using GPT 2.
Initially I also got different results from hugginface and mxnet. It took me 2 days to figure out the reason... In GPT2 model, huggingface uses Conv1D layer to do matrix projection (x*weight+bias), while gluonnlp uses Dense layer. Thus, the weight matrix should be transp

[2020-05-14 13:41] NileshPranami opened #1232 "Can not use scibert models"
## Description
SciBert model is Unavailable

### Error Message
ValueError: Vocabulary for scibert_scivocab_uncased is not available.

[2020-05-18 02:59] szha commented on #1232
cc @eric-haibin-lin

[2020-05-18 15:10] Princy06 commented on #1232
Actually scibert is present in current github code but in pip it is not updated.

[2020-05-18 19:24] DushyantaDhyani opened #1233 "TypeError: can't pickle SwigPyObject objects when pickling SentencepieceTokenizer"
## Description
As stated [here](https://github.com/google/sentencepiece/issues/387) , pickling sentencepiece tokenizer returns an error.

### Error Message
`Traceback (most recent call last):
  File "tokenizer_repro.py", line 10, in <module>
    pickle.dump(tokenizer, writer)
TypeError: can't pickle SwigPyObject objects`

## To Reproduce
[code]

## What have you tried to solve it?
As mentioned in

[2020-05-27 00:04] chenjunweii opened #1234 "Is decoder.decode_seq() in gluonnlp 0.8.3 replaced by decoder() in 0.9 ?"
I have a code written before 0.9, and I use `Transormer.decoder.decode_seq` as teacher forcing to finetune BERT, after upgrading to 0.9, `deocder.decode_seq()` seems replaced by `decoder()`, am I Wrong ?

but the finetuning never converge after upgrading from version 0.8.3 to 0.9 and replacing `decode_seq() `with` decoder()`

But if I change back to 0.8.3 with `decode_seq()` the code works perfect

[2020-05-27 01:23] #1234 closed

[2020-05-31 17:22] avinashsai commented on #372
Fixed via #1228

[2020-05-31 17:22] #372 closed

[2020-06-01 17:09] Vedant-06 commented on #1039
@kaonashi-tyc I would like to contribute BERT Multilingual, in indic languages

[2020-06-03 16:11] Hildweig opened #1238 "loading the pre-trained BERT with (pretrained=True) crashing"
## Description
I am trying to do this tutorial https://gluon-nlp.mxnet.io/examples/sentence_embedding/bert.html
and whenever I arrive to the 3rd cell I get a crash in collab.
### Error Message

Timestamp | Level | Message
-- | -- | --
Jun 3, 2020, 2:28:19 PM | WARNING | WARNING:root:kernel ad3dbdee-4b57-493d-bf27-40be9330ee20 restarted
Jun 3, 2020, 2:28:19 PM | INFO | KernelRestarter: restarting k

[2020-06-05 11:51] Hildweig commented on #1238
I found the error, ctx was equal to null because my mxnet wasn't getting the gpu, so when executing it was crashing. I reinstalled mxnet based on my cuda version which is 10.1 (pip install --upgrade mxnet-cu101 gluonnlp)

[2020-06-05 11:51] #1238 closed

[2020-06-08 07:55] haven-jeon opened #1239 "BPE's default alpha with sentencepiece"
## Description
As BPE-dropout is applied to sentencepiece recently, it can be tokenized based on sampling.
alpha = 1 is for optimally training not for inference.

Default `alpha=1` isn't appropriate because most users and models provided by gluonnlp expect to deterministically tokenize.

https://github.com/google/sentencepiece/issues/371

## To Reproduce
[code]

[2020-06-08 17:46] szha commented on #1239
agreed. feel free to propose a PR to update this.

[2020-06-10 06:49] sxjscience opened #1240 "[Numpy Refactor] Dataset Enhancement TODO"
Now we have the PR about the new version of GluonNLP: https://github.com/dmlc/gluon-nlp/pull/1225, which refactors the major APIs and will rely on the DeepNumpy interface in MXNet.

Basically, we refactored the way the user will download and prepare the common NLP datasets.  Previously, we will rely on python and create some `XXXDataset` object and access the data.

Now, we have switched to the ne

[2020-06-10 06:57] sxjscience opened #1241 "[Numpy Refactor] Model wishlist in GluonNLP"
There are a lots of recent backbone models for NLP task. In our initial attempt of the new version of GluonNLP, we added these models:
- BERT
- ALBERT
- ELECTRA
- RoBERTa
- XLMR
- MobileBERT
- Transformer
- TransformerXL

We will keep adding models and the following are some backbone (model) architectures that are good to have

- [ ] T5
   PyTorch: https://huggingface.co/transformers/model_doc/t5.

[2020-06-10 07:11] sxjscience commented on #1239
Nice observation, I've fixed it in the new version: See https://github.com/dmlc/gluon-nlp/pull/1225

[2020-06-10 07:25] sxjscience opened #1242 "[Numpy Refactor] Tokenizers wishlist"
We revised the implementation of tokenizers in the new version of GluonNLP.

Basically we have integrated the following tokenizers:

- whitespace
- spacy
- jieba
- SentencePiece
- YTTM
- HuggingFaceBPE
- HuggingFaceByteBPE
- HuggingFaceWordPiece

For all tokenizers, we support the following methods:
- Encode into a list of integers: `encode('hello world!', int)`
- Encode into a list of string toke

[2020-06-10 07:33] sxjscience commented on #1231
Usually, this is done as part of the normalization. There is usually implemented via the `strip_accents` flag which is supported in common tokenizers like WordPiece.

A very common example is to convert `beyoncé` to `beyonce`. We can use official python to do that:

[code]
Output:
[code]

[2020-06-10 07:36] sxjscience opened #1243 "[Numpy Refactor] [Installation] Add Official Dockerfile support"
As in AllenNLP, the user is able to build the docker: https://github.com/allenai/allennlp/#installing-using-docker

We should offer something similar to the user.

[2020-06-10 07:38] sxjscience opened #1244 "[Model Deployment] Use TVM to accelerate model inference + deployment"
Currently, we do have Relay VM support of the NDArray version of MXNet: https://github.com/apache/incubator-tvm/blob/master/python/tvm/relay/frontend/mxnet.py

However, we still miss the numpy array support in Relay frontend converter and we should first add the numpy support.

I checked the workloads of BERT + ALBERT + ELECTRA (only backbone) and these are the ops used:

[code]

After some invest

[2020-06-11 00:00] sxjscience opened #1246 "[Numpy Refactor] Issues in MXNet that blocks the CI of numpy version of GluonNLP"
- [ ] Bugs related to multiprocessing in MXNet (Thanks @leezu):

   - https://github.com/apache/incubator-mxnet/issues/17782
   - https://github.com/apache/incubator-mxnet/issues/17774

   The symptom is that we cannot enable tests with python 3.8 in https://github.com/dmlc/gluon-nlp/blob/01122db3867722db061566a79e843a08f9134431/.github/workflows/unittests.yml#L17

- [ ] The CD pipeline of MXNet +

[2020-06-11 06:29] sxjscience commented on #982
@djaym7 You may try to ignore the stale gradient as in https://github.com/dmlc/gluon-nlp/blob/982a4164c35400a3fa5d5d7642915306ca3a7fd1/scripts/question_answering/run_squad.py#L495

[2020-06-11 06:31] sxjscience commented on #1244
@yzhliu The numpy version has been merged and I've attached the script for generating the missing ops in relay converter.

[2020-06-12 18:47] sxjscience commented on #1169
I'm actually thinking to make our release more frequent in the numpy version. Thus, we will need a fully automated CD pipeline + tools for checking the correctness of the scripts.

[2020-06-18 06:55] #790 closed

[2020-06-21 20:19] shibuML commented on #1201
@ktoetotam  I am not getting that 1.6.1 version file, can you help me in that.

[2020-06-23 03:16] carter54 commented on #1244
any tutorial to deploy gluon gpt-2 model with TVM?

[2020-06-23 04:18] sxjscience commented on #1244
@carter54 Thanks for your interest. We will add the support + tutorial later but it's in the roadmap.

[2020-06-23 06:16] carter54 commented on #1244
Thanks @sxjscience. Looking forward to try it~

[2020-06-25 15:20] ghaddarAbs commented on #593
In order to reproduce the conll score reported in BERT paper (92.4 bert-base and 92.8 bert-large) one trick is to apply a truecaser on article titles (all upper case sentences) as preprocessing step for conll train/dev/test. This can be simply done with the following method.

[code]

Also, i found useful to use : very small learning rate (5e-6) \ large batch size (128) \ high epoch num (>40).

Wit

[2020-06-29 21:30] xcgoner opened #1253 "Implementation of Non-monotonically Triggered AvSGD mismatches the ICLR paper"
## Description
In [1], the NTA implementation uses the algorithm from [3], where the average trigger checks “v > logs[-n:]”.
However, in the version published in ICLR, [2], the algorithms is actually “v > logs[:-n]”, which is also used in Salesforce’s source code: [4]
There is a mismatch between the arxiv version and the ICLR version.
Note that in gluonnlp website [5], the ICLR paper [2] is cited,

[2020-07-12 01:06] sxjscience opened #1262 "FLOPS + Latency page of all the models in model-zoo"
We may start with a table and then add something similar to https://gluon-cv.mxnet.io/model_zoo/classification.html.

- [ ] Profiling tool for MXNet Numpy
- [ ] Latency profiling with native MXNet + TVM

[2020-07-12 01:08] sxjscience commented on #1241
Need to add also
- [ ] VAMPIRE: https://github.com/allenai/vampire
- [ ] Funnel Transformer: https://arxiv.org/pdf/2006.03236.pdf

[2020-07-12 01:09] #1239 closed

[2020-07-14 05:12] #1173 closed

[2020-07-14 15:17] kenjewu commented on #965
Due to work changes, I am sorry that this task cannot be updated temporarily. I temporarily closed this ISSUE and waited for some time to reopen it.

[2020-07-14 15:17] #965 closed

[2020-07-15 19:18] sxjscience commented on #1244
@sandyhu533 You may refer to the blog here https://medium.com/apache-mxnet/speed-up-your-bert-inference-by-3x-on-cpus-using-apache-tvm-9cf7776cd7f8 for testing.

[2020-07-16 21:59] sxjscience opened #1266 "[Numpy] Update configuration system to "sacred""
@dmlc/gluon-nlp-team

I had an offline discussion with the GluonCV people, @zhreshold and @Jerryzcn. We decide to use [sacred](https://github.com/IDSIA/sacred) as the default configuration system for both Gluon toolkits.

Currently, in the numpy branch, I'm using [yacs](https://github.com/rbgirshick/yacs). Moving forward to use [sacred](https://github.com/IDSIA/sacred) is not super-difficult. The

[2020-07-16 22:27] leezu commented on #1266
I tried it before but ran into issues due to https://github.com/IDSIA/sacred/issues/193. Maybe it has been addressed recently in https://github.com/IDSIA/sacred/issues/610 https://github.com/IDSIA/sacred/pull/623 but I haven't checked in detail. So I'd caution against committing to this change without checking the consequences.

[2020-07-16 22:29] sxjscience commented on #1266
@leezu What's your opinion on yacs? This is simpler and easier to hack.

[2020-07-16 22:37] sxjscience commented on #1266
If we check the `fvcore/common/config`: https://github.com/facebookresearch/fvcore/blob/master/fvcore/common/config.py, we may find that it's based on yacs and adds some other functionalities. Currently, I'm doing it here: https://github.com/dmlc/gluon-nlp/blob/a646c34304c4bde9423468714bd2ff6357cd2091/src/gluonnlp/utils/config.py#L4-L26

[2020-07-16 22:55] zhreshold commented on #1266
@leezu what type of issue did you hit with sacred? I have no preference on the configuration system itself, either sacred or yacs will do the job. Currently I am hidding the magic of sacred under the hood and I am not expecting users to touch the config generator. I've tried yacs for config as well, but is swinging towards sacred simply because I can get rid of laborious `argparse` setup and can b

[2020-07-16 23:36] leezu commented on #1266
@zhreshold How about users that import gluoncv / gluonnlp as library and want to modify the config without relying on the auto-generated command line interface? I think there were issues with this before related to the use of global state and "magic", but I'm not sure anymore about the exact issues and maybe it was fixed based in the refactor referenced above.

[2020-07-16 23:58] zhreshold commented on #1266
Not sure if sacred has worked around the magics, but for the configs itself is a standard `dict` which can be modified by user anytime

[2020-07-17 16:49] kaonashi-tyc commented on #1183
Just check-back, is this issue resolved as of now?

[2020-07-19 21:46] szha commented on #654
We are working on the numpy version of GluonNLP and will adjust the positioning of this package. We will consider the roadmap items here on related areas as well as more recent research.

[2020-07-19 21:46] #654 closed

[2020-07-19 21:47] #1202 closed

[2020-07-19 21:48] szha commented on #1189
What's the status of this issue? It's unclear what this issue affects and how to reproduce it.

[2020-07-19 21:48] #1189 closed

[2020-07-19 21:49] #1221 closed

[2020-07-19 21:51] szha commented on #1205
Given that most of the recent demand is on transformer based models, we probably won't be able to get to this soon. @ciyongch let me know your use case if you still need this.

[2020-07-19 21:51] #1205 closed

[2020-07-19 21:51] #1220 closed

[2020-07-20 02:14] ciyongch commented on #1205
Hi @szha, it's ok to close it now, sorry for forgetting close it.

[2020-07-20 05:46] sxjscience opened #1271 "[Numpy] Add BertAdapt for light-weighted model transfer"
Add PAL: http://proceedings.mlr.press/v97/stickland19a/stickland19a.pdf.

This is also helpful for AutoML since the #params of each model is smaller. We can run more trials and the disk space will be greatly reduced.

[2020-07-23 20:10] #886 closed

[2020-07-23 20:11] #818 closed

[2020-07-25 22:21] szha commented on #1253
@xcgoner would you submit a patch?

[2020-07-27 01:41] xcgoner commented on #1253
Sure, but we need to decide whether to preserve the current version, since the current version also shows better results in some cases.
Maybe it's better to keep both 2 versions, and use a flag like "average_last_n" to switch between them.
What do you think?

[2020-07-27 08:07] sxjscience commented on #1253
If we need to apply the algorithm to a new dataset, e.g., in the AutoML setting, the Salesforce approach makes more sense to me.

[2020-07-27 20:49] xcgoner commented on #1253
@szha @sxjscience
Done a patch in https://github.com/dmlc/gluon-nlp/pull/1277
Note that the logs and results in gluonnlp website will also need to be updated after the PR is merged.

[2020-07-27 20:51] szha commented on #1253
@xcgoner thanks. would you update the logs and results and the website in the same PR?

[2020-07-27 20:59] xcgoner commented on #1253
Sure. I will also submit a PR to web-data repo.
Meanwhile, could you also help with the failed ci test?

[2020-07-27 21:03] xcgoner commented on #1253
BTW, I recently found that different versions of mxnet may produce slightly different results.
Could you specify a version (or pip command) to produce the new results?

[2020-07-29 22:02] mathephysicist opened #1283 "Sagemaker Training Job Support"
In order to drive usability of the platform I propose that we make all scripts have sagemaker support.

1)Rename args, or allow the correspond args to be very easy to wrap around.
2)Reduce need for 'store_true' args.
3)Have an argument which allows you to control where artifacts are stored, or datasets are grabbed.

[2020-07-30 07:20] sxjscience commented on #1283
I think this is doable. Would you know if there is an easy way to open a notebook like Colab in SageMaker?

[2020-07-30 07:47] sxjscience commented on #1170
@eric-haibin-lin Currently I'm using logging_config: https://github.com/dmlc/gluon-nlp/blob/033214ec7eb7c36006bc3c6846220166b6bb5a00/src/gluonnlp/utils/misc.py#L174-L204

[2020-07-30 07:52] sxjscience commented on #1157
@avinashsai If you are still willing to contribute, we are moving forward to use the new DeepNumpy interface of Apache MXNet Incubating (https://medium.com/apache-mxnet/a-new-numpy-interface-for-apache-mxnet-incubating-dbb4a4096f9f). All developments are in the numpy branch.

Currently, we have this `get_layer_norm` call, in which we will dispatch the normalization layer to `layer_norm` or `nonorm

[2020-07-30 08:01] sxjscience commented on #1233
@DushyantaDhyani This is solved in the numpy version. We added pickle test here: https://github.com/dmlc/gluon-nlp/blob/033214ec7eb7c36006bc3c6846220166b6bb5a00/tests/test_data_tokenizers.py#L374

To try out the new version, use the following code:

[code]

[code]

Out:
[code]

[2020-07-30 08:01] #1233 closed

[2020-07-30 14:33] avinashsai commented on #1157
@sxjscience sure, thanks for letting me know about it. I will surely work on this

[2020-07-31 04:08] #1170 closed

[2020-07-31 07:55] szha commented on #1283
@mathephysicist could you also provide some context on what the interface should look like? Any reference doc?

@sxjscience SageMaker training job is different from the notebook

[2020-08-02 03:30] sxjscience commented on #1283
@mathephysicist Yes, it will be very helpful if you can provide us with some details.

[2020-08-03 00:49] HuFBH opened #1286 "Can not run the script"
Hi, i am getting started in NLP area.

i have got in trouble,when i run the script "run_glue.py" .
it said that ModuleNotFoundError: No module named 'classification', and i can not find the module neither.

here is my following page:
gluon-nlp modelzoo : https://gluon-nlp.mxnet.io/model_zoo/language_model/index.html#sentence-classification
command : https://github.com/dmlc/web-data/blob/master/glu

[2020-08-03 00:56] szha commented on #1286
@HuFBH thanks for reporting. Indeed it seems to be missing from the downloaded zipfile. For now, you can use sentence classification in https://gluon-nlp.mxnet.io/v0.9.x/model_zoo/bert/index.html

cc @chenw23 @eric-haibin-lin

[2020-08-03 01:09] chenw23 commented on #1286
Hi
It's from here `scripts/bert/data/classification.py`
Maybe you didn't have proper configurations to let your interpreter find it automatically

[2020-08-03 03:05] szha commented on #1286
@chenw23 if you download the zip file from the language model page, you will see that the BERT scripts are not in it.

[2020-08-03 06:59] chenw23 commented on #1286
Oh sorry. I thought they were cloning the whole project and develop in the project.

[2020-08-05 02:04] szha commented on #1183
We found some similar issue in GluonNLP numpy version and came to this fix: https://github.com/apache/incubator-mxnet/pull/18827. Let's verify if this patch fixes this problem too.

[2020-08-06 19:57] sxjscience opened #1290 "[Discussion] Adding sklearn dependency for data normalization"
According to the offline discussion with Jonas (@jwmueller), we are considering to reuse features from sklearn, like https://scikit-learn.org/stable/modules/generated/sklearn.impute.SimpleImputer.html#sklearn.impute.SimpleImputer.transform for basic data normalization in the upcoming AutoML feature.

The problem here is whether we should add the dependency of sklearn to GluonNLP.

According to the

[2020-08-06 20:07] szha commented on #1290
In GluonNLP, we have the goal of making the data pipeline portable to other platforms, e.g. outside of python. Would this design choice affect that goal?

[2020-08-06 20:16] sxjscience commented on #1290
Basically, we may write the inference functions manually (e.g., via some C++ codes). My concern is that I'm not sure if sklearn is memory-efficient or can deal with large-scale dataset.

[2020-08-07 20:50] eric-haibin-lin commented on #1183
@barry-jin could you help test it with latest mxnet and see if the issue persist?

[2020-08-07 20:53] barry-jin commented on #1183
@eric-haibin-lin Sure.

[2020-08-07 22:35] barry-jin commented on #1183
Dependencies:
[code]

Steps:
[code]

Output:
[code]

[2020-08-08 01:26] szha commented on #1183
@barry-jin thanks for sharing. What's the GluonNLP version?

[2020-08-08 01:37] barry-jin commented on #1183
@szha GluonNLP version is 0.9.1
[code]

[2020-08-08 01:42] szha commented on #1183
Thanks. Could you try the nightly builds on https://dist.mxnet.io/python ? Let's check whether the master and v1.x branches are fixed. You can install the nightly builds for 2.0 with
[code]
and 1.x with
[code]

[2020-08-08 02:03] barry-jin commented on #1183
I tried 2.0 as follows:

Dependency change: mxnet
[code]

Stack trace for error message:
[code]

[2020-08-08 02:09] szha commented on #1183
This looks very weird. I can confirm that the loss module is there...

[2020-08-08 02:10] barry-jin commented on #1183
Output for v1.x:
Dependency:
[code]
Output:
[code]

No error message, but stdev is still around 0.2

[2020-08-08 02:11] szha commented on #1183
@kaonashi-tyc could you take a look at the result above on 1.7?

[2020-08-08 04:06] eric-haibin-lin commented on #1183
The stdev is still too large

[2020-08-10 23:11] davisliang opened #1294 "GluonNLP 0.8 BERT output is different from GluonNLP 0.9"
## Description
Using the same BERT model parameters, GluonNLP0.8 and GluonNLP0.9 output drastically different encoder representations. Tested on both MxNet1.5, MxNet1.6.

### Error Message
GluonNLP 0.8 output:
[[[-0.14241228  0.13353696 -0.12907042 ... -0.3596797  -0.05622234
    0.36050126]
  [-0.3506479   0.10419717  0.62444484 ... -0.17610289  0.48340234
    0.06443496]
  [-0.24513118 -0.157317

[2020-08-10 23:12] leezu commented on #1294
I did a git bisect on the 0.9.x branch with start commit 76fdafbebbbb8f4a09fb82a032b2bdd17ef86287 and got the following result:

[code]

cc @eric-haibin-lin

[2020-08-11 06:04] #1129 closed

[2020-08-11 14:25] StevenJokes opened #1295 "`pip install --upgrade mxnet>=1.6.0` will not work"
## Description
(A clear and concise description of what the bug is.)
https://github.com/d2l-ai/d2l-en/issues/1324

### Error Message
(Paste the complete error message, including stack trace.)

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide link.)

### Steps to reproduce
(Paste the commands you ran that

[2020-08-11 14:26] #1295 closed

[2020-08-11 23:51] kaonashi-tyc commented on #1183
Yeah, the stdev is still too large IMO

[2020-08-12 00:36] barry-jin commented on #1183
In my opinion, the versions prior to [4e55539](https://github.com/dmlc/gluon-nlp/commit/75c29a3518ee42b98cc651b6922cbae85d2e961e) should not be correct.

For bert.py versions prior to [4e55539](https://github.com/dmlc/gluon-nlp/commit/75c29a3518ee42b98cc651b6922cbae85d2e961e), Dot Product Attention Cell is used and in its [attention weight computing function](https://github.com/dmlc/gluon-nlp/blob

[2020-08-12 02:57] eric-haibin-lin commented on #1183
I have a patch that fixes the incorrect bias term: https://github.com/dmlc/gluon-nlp/compare/master...eric-haibin-lin:fix-attn

[2020-08-13 01:09] sxjscience commented on #1294
@davisliang Is it solved by https://github.com/dmlc/gluon-nlp/pull/1296?

[2020-08-13 01:20] davisliang commented on #1294
@sxjscience yes, looks like it solves the issue. Thanks for the quick turnaround!

[2020-08-13 01:20] #1294 closed

[2020-08-13 02:23] szha opened #1298 "Branch usage"
As we are developing the numpy-based GluonNLP based on mxnet 2.0, we will switch to the following branch usage:
- v0.x: master branch for GluonNLP 0.x version maintenance
- master: numpy-based GluonNLP development

cc @dmlc/gluon-nlp-team

[2020-08-14 10:03] sxjscience opened #1299 "[Good First Issue] Add test cases for Truncated Gumbel"
Well, [Gumbel Distribution](https://numpy.org/doc/stable/reference/random/generated/numpy.random.gumbel.html) is *magical*. Basically, given a sequence of K logits, i.e., "\log a_1, \log a_2, ..., \log a_K" and K **independent** gumbel random variables, i.e., "g_1, g_2, ..., g_K". We have
[code]

This gives you a very simple way to sample from categorical distribution:
- Just draw a bunch of gumbl

[2020-08-15 05:13] xidulu commented on #1299
Recall that truncated Gumbel has a closed form CDF and inverse CDF, so you could simply use the random sample testing infra from MXNet, see https://github.com/apache/incubator-mxnet/blob/master/tests/nightly/https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/test_utils.py#L81 for examples.

Of course, a simpler solution would be KS test: https://docs.scipy.org/doc/scipy/reference/g

[2020-08-16 00:23] hannw opened #1300 "[Latency] DefaultLookupDict too slow"
## Description
The `__getitem__` method of `DefaultLookupDict` is too slow. Profiling on a p3.16xlarge machine on AWS shows that each `__getitem__` method costs 2.4 micro second, whereas a regular dictionary `.get(key, defaultvalue)`  method on the same machine is around 120 nano second, so the current implementation is 20 times slower than the regular `dict` `get` operation. This operation along

[2020-08-16 00:48] sxjscience commented on #1300
@hannw Would you provide some profiling scripts that arrive at these numbers? In the new version, we use the default dictionary for storing the mapping: https://github.com/dmlc/gluon-nlp/blob/32e87d4d4aa20a6eb658ee90d765ccffbd160571/src/gluonnlp/data/vocab.py#L114. Also, we are doing a series of benchmarks to analyze the speed of GluonNLP: https://github.com/dmlc/gluon-nlp/tree/master/scripts/benc

[2020-08-16 01:12] hannw commented on #1300
@sxjscience for profiling, we use the default python cProfiler while running the training script and [snakeviz](https://jiffyclub.github.io/snakeviz/) to visualize the breakdown.

We are currently using 0.8.x of gluon-nlp, so maybe that's why the `get` is slow. Let us test the bleeding edge and see if it speed things up.

[2020-08-16 03:46] szha commented on #1300
@hannw thanks for the interest. note that the master branch is now used for numpy-compatible version of gluonnlp (#1298) which relies on mxnet 2.0 nightly builds (available to developers at https://dist.mxnet.io/python).

[2020-08-17 21:01] sxjscience commented on #1243
Related issue: https://github.com/dmlc/gluon-nlp/issues/1139

[2020-08-19 00:14] davisliang opened #1303 "FP16 and FP32 gives different results since GluonNLP 0.7"
## Description
Doing a forward pass with BERT-base (using the same parameters) on fp16 gives very different results from fp32. This is the case for GluonNLP beyond 0.6.0.

### Error Message
from float32:
[code]

from float16:
[code]

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide link.)

### Steps to r

[2020-08-19 00:22] eric-haibin-lin commented on #1303
Did you try to turn on safe accumulation = 1?

[2020-08-19 00:30] davisliang commented on #1303
Thanks, Haibin, this solved the issue! Will add a comment to RFC to enable this on default!

[2020-08-19 00:30] #1303 closed

[2020-08-19 06:23] sxjscience opened #1304 "[Numpy] [Model] Add LaBSE"
https://ai.googleblog.com/2020/08/language-agnostic-bert-sentence.html

Available in TF-Hub: https://tfhub.dev/google/LaBSE/1

[2020-08-20 16:23] sxjscience commented on #1139
Added via https://github.com/dmlc/gluon-nlp/pull/1302

[2020-08-20 16:23] #1139 closed

[2020-08-20 16:23] sxjscience commented on #1243
Added via https://github.com/dmlc/gluon-nlp/pull/1302

[2020-08-22 06:36] sxjscience opened #1309 "[Numpy][Pretrained Model] Add functionality to compress the vocabulary or add new special tokens for fast knowledge transfer"
When applying pretrained models on real datasets, we often need to adapt the tokenizer and ensure that we can appropriately transfer the knowledge:

- Case 1: Trim the vocabulary

   For example, multilingual models such as XLMR have a tremendously large vocabulary size. Sometimes, you will just want to train a model that works for English and Spanish and not all the languages supported by XLMR. H

[2020-08-23 23:57] sxjscience opened #1311 "[Numpy] [Performance] Boolean masking + Wrap masked_softmax and masked_logsoftmax to mxnet operators"
Here, the mask for attention layers can actually have boolean type, which will be far-less computationally-heavy than float32 type. Previously, I haven't added the support due to some issues in the boolean support of the DeepNumpy interface in MXNet 2.0. However, we may try to fix it now.

The following is the list of functions that should be revised:

https://github.com/dmlc/gluon-nlp/blob/210dd0

[2020-08-24 13:14] mathephysicist commented on #1283
Sorry for the delay, in order to make Amazon SageMaker training easy we would need the following:
•	Create a dataset-root/model-root location so we choose where we grab datasets from (rather than assuming they are in a certain location.
•	Create a flag to specify where we save model-artifacts and checkpoints
•	Ensure training works on SageMaker Training (sometimes there are problems with Horovod a

[2020-08-24 18:56] sxjscience commented on #1283
@mathephysicist I'm currently investigating whether it's possible to use the docker + SageMaker custom training job (https://github.com/aws/sagemaker-training-toolkit#create-a-docker-image-and-train-a-model) to do the training. Will try to get a POC. We have recently added docker support, which has mxnet + horovod + gluonnlp + tensorboard + jupyterlab installed: https://github.com/dmlc/gluon-nlp/t

[2020-08-25 14:35] ZiyueHuang opened #1315 "Bugs for run_electra.py at master branch"
## Description
### Bug for Horovod support

At https://github.com/dmlc/gluon-nlp/blob/master/scripts/pretraining/run_electra.py#L418, `num_samples_per_update` depends on the data batch, and thus could be different across the horovod processes (note that Horovod will launch a process for each GPU card), meaning that the parameters maintained in each horovod process (since we use `trainer.allreduce_

[2020-08-25 14:58] ZheyuYe commented on #1315
There is indeed a Bug for mlm loss here, thank you very patiently and carefully to revise the training script and find this bug out. As Far as I can see, this MLM bug will lead to a steep increase in calculations which need to be fixed.

[2020-08-25 15:00] ZiyueHuang commented on #1315
@ZheyuYe Thanks for the response, I will work on the fix later.

[2020-08-25 17:04] sxjscience commented on #1315
That might also explain why it's slower. Thanks for the observation! We need to refactor the pretraining script to make it more structured.

[2020-08-25 19:27] garima3292 commented on #1309
@sxjscience Yes, both of these use-cases are important and make sense. Currently, any modifications in vocabulary should be accompanied by explicitly iterating through model params (embedding weights or decoder weights) and modifying them for new model (by copying old ones and adding any new randomly initialized params in case of vocab addition). We already have some working code for both vocab ad

[2020-08-27 05:57] sxjscience opened #1320 "[Numpy] Use Apache Beam for data processing"
[Beam](https://beam.apache.org/) is a good tool for streaming the data processing pipeline, and works well for large-scale problems. Thus, we may use beam for two things:

- Revise the implementation of the scripts inside `nlp_process` to use Beam
- Also, use beam to accelerate data filtering and mining, which can help us crawl larger high-quality datasets and accelerate the data preparation stage

[2020-08-27 08:44] liuzh91 opened #1321 "[Script] Valid sequence length used in Electra dynamic masking"
## Description
`valid_candidates` is used to mark the non-reserve tokens in the sequence in https://github.com/dmlc/gluon-nlp/blob/master/scripts/pretraining/pretraining_utils.py#L503. For example, for a sequence like

[code]
The corresponding `valid_candidates` tokens should be like:

[code]
In short, `valid_candidates` mask out tokens like `[CLS]` `[SEP]` and `[PAD]`. Current implementation of `

[2020-08-27 08:49] ZheyuYe commented on #1321
This issue finds a fatal problem that makes` valid_candidates` invalidated

[2020-08-27 08:53] sxjscience commented on #1321
For a quick fix, we may change this section

https://github.com/dmlc/gluon-nlp/blob/970318d5fcafd48843abdbaeb7aab0fc1061c901/scripts/pretraining/pretraining_utils.py#L497-L503

We can change that to
[code]

In addition, I think it will be better to move it to the preprocessing phase.

[2020-08-27 09:34] liuzh91 commented on #1321
You cannot use minus here, some of values may end being negative numbers after that. Use multiply will solve the problem.

[2020-08-27 22:52] sxjscience opened #1322 "[Numpy] MobileBERT SQuAD training cannot reproduce the previous results"
@ZheyuYe (FYI @szhengac )

I run the MobileBERT training on SQuAD again and the log is significantly different from the log reported in https://gluon-nlp-log.s3.amazonaws.com/squad_training_log/fintune_google_uncased_mobilebert_squad_2.0/finetune_squad2.0.log

To reproduce, just install the master-versino of GluonNLP and try the command in https://github.com/dmlc/gluon-nlp/blob/master/scripts/ques

[2020-08-27 22:54] szha commented on #1322
let's try to bisect where the problem occurred first. @ZheyuYe could you share which commit of gluonnlp and which version of mxnet you used for producing the above result?

[2020-08-27 23:05] szhengac commented on #1322
@sxjscience Can you share your rerun log as well? Also how long does it take for one single run?

[2020-08-27 23:58] sxjscience commented on #1322
It takes 4 hours on a g4-12dn. The rerun log: https://gluonnlp-numpy-data.s3-us-west-2.amazonaws.com/debug/finetune_squad2.0_mobilebert_20200827.log You may check the `best_exact` and `best_f1`.

[2020-08-28 01:02] ZheyuYe commented on #1322
If I mistake not， latest gluonnlp and mxnet 0810 were used

[2020-08-28 01:41] ZheyuYe commented on #1322
Judging from the log, the reproduction version seems to converge too slowly. How about the other pre-trained models and Electra smalll wont take too long

[2020-08-28 01:42] sxjscience commented on #1322
The others work fine.

[2020-08-28 03:49] szhengac commented on #1322
why the two logs have basically the same grad norm but very different losses?

[2020-08-28 08:55] liuzh91 opened #1324 "Dynamic masked position sampling of Electra"
## Description

The implementation of Gluonnlp Electra uses the a Gumbel variable for dynamic mask sampling as below
[code]

I am curious about why the implementation is using a Gumbel variable here. It may introduce error in sampling. For example, in one of my run the dynamic masking, I find that `sample_probs[10]` is

[code]
In this case, only the positions 1 to 13 should be considered as masked

[2020-08-28 09:22] sxjscience commented on #1324
I think the intention is to use topk(logp + Gumbel) to mimic sampling without replacement from the categorical distribution.

[2020-08-28 09:25] liuzh91 commented on #1324
log p is right.

[2020-08-28 09:45] ZheyuYe commented on #1324
Following https://github.com/google-research/electra/issues/41,   F.npx.topk(sample_probs + gumbels ` was used to aviod deduplicated samples. During the pre-training, all the training corpora were processed into sentences with a length of `max_seq_length` (usually 512), so that there is no padding at the end of sentence in most cases. Therefore, it is my negligence that this issue you pointed out

[2020-08-28 09:48] sxjscience commented on #1324
Basically, you should use logp instead of P to use the gumbel trick.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Zheyu Ye <notifications@github.com>
Sent: Friday, August 28, 2020 2:46:03 AM
To: dmlc/gluon-nlp <gluon-nlp@noreply.github.com>
Cc: Xingjian SHI <xshiab@connect.ust.hk>; Comment <comment@noreply.github.com>
Subject: Re: [dmlc/gluon-nlp] Dynamic mask

[2020-08-28 11:53] #1315 closed

[2020-08-29 00:53] szhengac commented on #1322
i have tried mxnet 0810 and 0826, but none of them can reproduce the result.

[2020-08-29 01:04] szha commented on #1322
Zheyu's log says the run happened on 8/20, so maybe it was an earlier GluonNLP commit that was working.

[2020-08-29 01:08] sxjscience commented on #1322
I think it may also be the random seed. We can find that the gradient norm is super-large for the early runs. I'm actually considering how to add proper gradient scaling to the MobileBERT and recheck the conversion script. @ZheyuYe Would you know which version of GluonNLP were you using when producing this log?

[2020-08-29 01:08] sxjscience commented on #1322
Conversion script is here: https://github.com/dmlc/gluon-nlp/blob/master/scripts/conversion_toolkits/convert_mobilebert.sh

[2020-08-29 08:59] ZheyuYe commented on #1322
The PR and branch related to this issue https://github.com/ZheyuYe/gluon-nlp/commits/batch says that it was based on https://github.com/dmlc/gluon-nlp/commit/d8b68c6e969c06b4a0386531a1635b84c821e4b0.  In fact, random seeds can be another potential factor, and in general I would use 10 or 28 as a seed instead of the default value 100.

[2020-08-29 23:17] szhengac commented on #1322
I have tried several versions, but none of them can reproduce the result. I have trace back to commit d8b68c6e969c06b4a0386531a1635b84c821e4b0 on Aug 20 and 32e87d4d4aa20a6eb658ee90d765ccffbd160571 on Aug 14. For 9e268c0e5e0393e4ce19a4161ef2a2f8eb56797d on Aug 8, the code is not runnable.

[2020-08-29 23:23] sxjscience commented on #1322
I think the gradient for the early iterations are unreasonably large and we may consider to investigate that.

[2020-08-29 23:23] szhengac commented on #1322
The problem is that no version can reproduce the result.

[2020-08-30 00:16] szha commented on #1322
I added a markdown table in the first post for summarizing our observations. Feel free to directly edit.

[2020-08-30 00:25] sxjscience commented on #1322
@szha @szhengac I think we should check the conversion and the training script of MobileBERT again to solve the issue. Also, the problem is that MXNet is not reproducible even if we specify the random seed. We may change the defaults related to seeds as recommended in https://github.com/apache/incubator-mxnet/pull/18987.

[2020-08-30 01:45] sxjscience commented on #1322
In fact, I can confirm that the forward check introduced in https://github.com/dmlc/gluon-nlp/blob/66e5e057347c3710eb8fa27c134a9303309e94c0/scripts/conversion_toolkits/convert_mobilebert.py#L304-L313 has passed. May be the gradient is wrong.

[2020-08-30 03:18] sxjscience commented on #1322
@szha @szhengac @ZheyuYe I noticed that the gradient of `mx.np.pad` seems to be wrong, which causes the problem of MobileBERT, which uses the trigram embedding implemented via `pad`: https://github.com/dmlc/gluon-nlp/blob/66e5e057347c3710eb8fa27c134a9303309e94c0/src/gluonnlp/models/mobilebert.py#L690-L699

Minimal Reproducible Example

MXNet Implementation:

[code]
Output:
[code]

Jax Implementati

[2020-08-30 09:14] sxjscience commented on #1322
Discussed offline with @CassiniXu , fixing the pad operator in the MXNet side requires some time. Meanwhile, a simple fix is to use `conv1d` with padding to implement the code in https://github.com/dmlc/gluon-nlp/blob/66e5e057347c3710eb8fa27c134a9303309e94c0/src/gluonnlp/models/mobilebert.py#L690-L699

@ZheyuYe Would you try this approach?

[2020-08-30 09:17] sxjscience commented on #1322
Basically, we can use `mx.npx.convolution`, which has the same behavior as `mx.nd.Convolution`.

[2020-08-30 19:13] #668 closed

[2020-08-31 07:35] sxjscience opened #1330 "[Discussion] Support Multiple Backends"
Many DL frameworks are moving to use numpy as their default way for writing DL models. Thus, we may try to support multiple-backends for the model-zoo in GluonNLP. As long as the backend supports numpy-like interface, e.g., [JAX](https://github.com/google/jax) , [tf.experimental.numpy](https://www.tensorflow.org/api_docs/python/tf/experimental/numpy), and the ongoing effort in PyTorch: https://git

[2020-08-31 17:06] leezu commented on #1330
We can extend the Gluon interface/create a independent modeling library to enable switching backends

[2020-09-01 07:07] sxjscience commented on #1324
Closed by https://github.com/dmlc/gluon-nlp/pull/1323

[2020-09-01 07:07] #1324 closed

[2020-09-01 07:08] #1321 closed

[2020-09-01 13:31] ekdnam commented on #1299
Can I do this?

[2020-09-01 16:05] sxjscience commented on #1299
Yeah, feel free to add the test case for that!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Aditya Mandke <notifications@github.com>
Sent: Tuesday, September 1, 2020 6:32:01 AM
To: dmlc/gluon-nlp <gluon-nlp@noreply.github.com>
Cc: Xingjian SHI <xshiab@connect.ust.hk>; Author <author@noreply.github.com>
Subject: Re: [dmlc/gluon-nlp] [Good First Issue] Add test

[2020-09-01 18:48] szhengac commented on #1322
Confirm that https://github.com/apache/incubator-mxnet/pull/19044 fixed the bug. Closing this issue.

[2020-09-01 18:48] #1322 closed

[2020-09-01 18:55] szha opened #1339 "Add python dependencies in setup.py"
## Description
Currently there are a number of installation of python dependencies that are outside of setup.py. I recommend that we use setup.py to capture them instead. For dependency on mxnet, we could also have optional dependency options such as `[cu102]` to install `mxnet-cu102`

[2020-09-01 18:58] szha commented on #1339
I think we can add targets as the following:
`cu102` : mxnet-cu102 release package
`dev-cu102`: mxnet-cu102 nightly package
similarly for cpu, cu92, cu100

[2020-09-01 19:01] szha opened #1340 "expose installation options as argument in batch docker"
## Description
once we finish #1339, we should expose installation options in batch docker script so that maintainers can control what dependencies to install in PRs.
https://github.com/dmlc/gluon-nlp/blob/a842bf3c0e33bbcfc376f57ea6e5bccda4144a55/tools/batch/docker/gluon_nlp_job.sh#L22

[2020-09-01 19:23] szha opened #1341 "expose batch job logs as build artifacts"
## Description
currently the batch job stdout/stderr outputs are dumped to the github actions worker. for easier debugging let's expose batch job logs as build artifacts

[2020-09-01 19:42] sxjscience opened #1342 "[AWS Batch Improvement] Having CPU Docker + GPU Docker"
For dealing with CPU instance + GPU instance, one solution is to create two Dockerfile: one uses NVIDIA CUDA and the other one does not install CUDA.

Another solution is to create a requirements file and the user can specify additional requirements in https://github.com/dmlc/gluon-nlp/blob/master/tools/batch/docker/gluon_nlp_job.sh

[2020-09-01 19:44] szha commented on #1342
I described a solution to dependency management in #1340

[2020-09-01 21:12] sxjscience commented on #1342
@szha After a second thought, I think your proposal about adding a `requirements.txt` should be more appropriate. We can fix the version of MXNet to test by setting this file.

[2020-09-01 21:59] sxjscience commented on #1322
@szhengac Would you submit a PR to update the SQuAD v1 + SQuAD v2 results of MobileBERT?

[2020-09-01 23:25] szha opened #1343 "text prediction example"
## Description
it would be great to have a text prediction example based on different backbone networks
as a first step we can have the one without HPO.

## References
- an automl version: https://github.com/awslabs/autogluon/tree/master/autogluon/task/text_prediction

[2020-09-02 01:02] davisliang opened #1344 "BERT produces slightly different values for different batch sizes."
## Description
For two inputs, the first a batch size of 300, and the second a 27 batch slice of the first, we get _slightly different_ results from BERT.

### Error Message
Here are the outputs from the first item of the batch for batch size 300 and 27, respectively.

**BATCH SIZE 300:**
[[-0.2168    0.2137   -0.05142  ...  0.07556   0.774    -0.1343  ]
 [-0.23     -0.001999  0.1725   ... -0.1262

[2020-09-02 07:09] sxjscience commented on #1341
Also need to support codecov. After https://github.com/dmlc/gluon-nlp/pull/1337 is merged, we now support the "--runslow" option, which will only be turned on for the Batch instance. Thus, the codecov reduced significantly because there is no codecov uploaded.

[2020-09-02 17:47] sxjscience commented on #1344
I can reproduce the problem and I can make sure that "fp32" does not have this issue. One possibility is that by changing the batchsize, CUBLAS is picking different internal GEMM implementations.

[2020-09-02 17:53] sxjscience commented on #1344
@davisliang I think it might be related to the internal implementation of CUBLAS. For example, batch_size=200 and batch_size=300 have the same results:

[code]
Output:

[code]

I think that CUBLAS is doing something special when the shape of the matrix is small. @MoisesHer would you think that it's attributed to CUBLAS?

[2020-09-02 17:56] davisliang commented on #1344
That's what we initially thought too. However, the difference (for fp16 in the 3rd significant digit) is quite large (which I didn't expect from just choosing a different GEMM implementation) and could significantly impact the final outputs.

[2020-09-02 18:12] sxjscience commented on #1344
I agree. Looks like something else is wrong:

[code]

Output:
[code]

[2020-09-03 04:49] sxjscience commented on #1342
@szha @barry-jin Should be solved by https://github.com/dmlc/gluon-nlp/pull/1331/files . I added the dockerfile in https://github.com/dmlc/gluon-nlp/tree/master/tools/batch/docker

[2020-09-03 17:09] sxjscience opened #1347 "[Bug] [Typo] Fix convert_all.sh"
Fix these two lines

https://github.com/dmlc/gluon-nlp/blob/e0b293e9ba515f8b4c58671232bd7c1b99522ebd/scripts/conversion_toolkits/convert_all.sh#L3-L4

`convert_bert_from_tf_hub.sh` --> `convert_bert.sh`
`convert_albert_from_tf_hub.sh` --> `convert_albert.sh`

[2020-09-03 17:49] MoisesHer commented on #1344
Hi, I was able to reproduce the issue on a G4 instance.
I also checked and the issue does not happen on P3 instances (V100).
My opinion is that different accumulation strategies across K dim is causing this behavior.

I looked at the cuBLAS kernels being called on G4:
**BS300** (BatchSize 300)
- 24 x turing_fp16_s1688gemm_fp16_128x256_ldg8_f2f_tn  (outProjection & FFN2)
- 12 x turing_fp16_s1688gem

[2020-09-03 20:52] davisliang commented on #1344
Thank you, @MoisesHer,  for the quick response, deep analysis, and effective solution!

One minor point: I ran into the same problem running the above code on a p3.24dn.xlarge on **Driver Version**: 440.33.01, **CUDA Version**: 10.2. However, using export MXNET_FC_TRUE_FP16 fixed the issue there as well.

Thanks again. Resolving this ticket as solved.

[2020-09-04 00:24] davisliang commented on #1344
@MoisesHer, I found that this issue still persists if even smaller batch sizes (e.g. 5) is used. Are you able to reproduce this?

[2020-09-04 01:00] MoisesHer commented on #1344
Hi Davis,
I just tested on G4, but comparing BS300 vs BS5 I get same results:
Batch Size 300:
[code]
But in any case, I think that even if there are not fp32- fp16 casts, since accumulation strategy is difference, what you are observing may happens.
A single thread accumulating(1...N), may end with different results than
accumulation(1...N/2) + accumulation(N/2+1 ....  N), specially with lower pre

[2020-09-04 04:07] sxjscience commented on #1344
@davisliang How many points have you lost due to this error?

[2020-09-04 05:04] ZheyuYe commented on #1347
Closed by https://github.com/dmlc/gluon-nlp/pull/1350

[2020-09-04 05:04] #1347 closed

[2020-09-04 17:49] sxjscience opened #1351 "[Conversion Toolkit] [Doc] Improve the README.md of conversion toolkits"
We may improve the readme of the conversion toolkits: https://github.com/dmlc/gluon-nlp/tree/master/scripts/conversion_toolkits

[2020-09-04 21:19] #1183 closed

[2020-09-05 06:30] szha opened #1352 "pubmedbert"
## Description
It would be great to have pubmed bert available in GluonNLP.

## References
- https://www.microsoft.com/en-us/research/blog/domain-specific-language-model-pretraining-for-biomedical-natural-language-processing/?OCID=msr_blog_BioMed_tw

[2020-09-05 20:55] sxjscience commented on #1352
FYI @szhengac @liuzh91

[2020-09-05 20:56] sxjscience commented on #1246
@szha @leezu  Would you know if the multiprocessing bugs in MXNet have been solved?

[2020-09-05 21:35] szhengac commented on #1352
@liuzh91 once we have the mining tool, we can also extract data from different domains and use them for the research.

[2020-09-06 14:08] gpu commented on #1344
Some usernames may cause you to receive potentially interesting notifications :-)

The discussion here is on a *very* high technical level, and I cannot contribute anything, except for, maybe, leaving a pointer to the "batched" functions at https://docs.nvidia.com/cuda/cublas/index.html#cublas-lt-t-gt-gemmbatched that (to my limited understanding) have been introduced exactly for the use case of d

[2020-09-07 16:28] ZheyuYe commented on #1351
It is a good point. The current README is just a stack of bash files and lacks a detailed description. I'll take some time looking at it and try to improve it.

[2020-09-08 16:28] leezu commented on #1246
They may have been fixed accidentally, though the tests remain disabled: https://github.com/apache/incubator-mxnet/issues/17782 https://github.com/apache/incubator-mxnet/pull/17969

[2020-09-08 21:54] barry-jin commented on #1341
closes via #1349

[2020-09-08 22:11] #1341 closed

[2020-09-09 04:08] szha commented on #1241
there are some new ELECTRA pre-trained models in Chinese that seem useful: https://github.com/ymcui/HFL-Anthology#hfl-anthology

[2020-09-09 22:10] #1342 closed

[2020-09-11 22:15] sxjscience commented on #1271
Also, we can add the collaborative attention: https://github.com/epfml/collaborative-attention

[2020-09-12 22:05] sxjscience opened #1360 "[Numpy] Generation script improvement"
The GPT-2 generation example https://github.com/dmlc/gluon-nlp/pull/1354 has been merged but there are further improvements that we can do:

- [x] Rename 'generate' (https://github.com/dmlc/gluon-nlp/tree/master/scripts/generate) --> 'generation'
- [x] Support sampling from the `TN` layout, which will be faster for sequence sampling.

@hymzoque

[2020-09-12 22:24] sxjscience opened #1361 "[CI] Increase the storage of GPU instance in CI"
## Description
Currently, the GPU instance that is used for CI has the 10G space limit, which is not enough if we are going to test for the `gpt2_1558M` model added recently (https://github.com/dmlc/gluon-nlp/blob/c2e6d6080dd10b6b871de89d79c1d8fb81a7d3ec/src/gluonnlp/models/gpt2.py#L99-L107)

Thus, this is currently skipped in the test-case: https://github.com/dmlc/gluon-nlp/blob/c2e6d6080dd10b6b8

[2020-09-14 22:04] sxjscience commented on #1361
@barry-jin Also, I noticed that there are some issues in terms of uploading the codecov report triggered by the `push` event https://codecov.io/gh/dmlc/gluon-nlp/commit/0e8664838be8c1a98af265bc992d766a7933f3fc

[2020-09-16 19:31] sxjscience opened #1366 "[Website] Embrace d2lbook to generate the website notebooks"
## Description
I think we can embrace d2lbook: https://github.com/d2l-ai/d2l-book to generate the website and jupyter notebooks in our website. I tried it with the notebooks in https://github.com/sxjscience/AMLC2020-GluonNLP and find that this is easy to use. Basically, we just need to ensure that we are using the `.md` format for storing the notebook contents and all outputs are cleaned:

Use the

[2020-09-17 01:30] sxjscience commented on #1366
Update: need to use the master version of d2lbook: https://github.com/d2l-ai/d2l-book

[2020-09-17 05:38] szha commented on #1300
@hannw I think the above comparison is not apple to apple in our supported use cases. The Vocab class is designed to handle both the cases on whether unknown token is set. If the unknown token is not set, then it should throw an error according to the definition of the class.

I did a comparison between the vocab class on 0.x and the one on 1.x and I don't see a significant difference, mostly due

[2020-09-17 19:52] barry-jin commented on #1366
I have investigated into this. It's true that d2lbook is easy to use. It has a [building pipeline](https://book.d2l.ai/develop/pipeline.html) including compiling notebooks, building html and deploying on S3, only with few commands. The configurations are also easy to maintain in config.ini instead of conf.py. But, for using d2lbook in gluon-nlp, I have following two concerns.

1. d2lbook is not st

[2020-09-17 19:52] #1366 closed

[2020-09-18 00:50] #1360 closed

[2020-09-18 09:48] logogin opened #1367 "Wrong order of positional parameters in calls to Seq2SeqEncoder"
## Description
`Seq2SeqEncoder` has next signature for the call:

[code]
but both child implementations, `TransformerEncoder` and `BERTEncoder` have signatures

[code]
i.e. flipped order of `states` and `valid_length` positions. Both implementations also call `super` with positional arguments.
The bug gets compensated by the fact that `Seq2SeqEncoder` simply passes through parameters without trans

[2020-09-20 03:55] sxjscience commented on #1367
@logogin I think this should have been solved via https://github.com/dmlc/gluon-nlp/pull/1368 so I closed the issue.

[2020-09-20 03:55] #1367 closed

[2020-09-21 22:24] barry-jin opened #1369 "[CI] Cannot import name 'docevents' from boto3"
## Description
Docevents was removed in botocore 1.18.0, which caused our workflow broken. Should we freeze boto3 version to stable version 1.14.32   boto/boto3#2596

### Error Message
See [artifacts](https://github.com/dmlc/gluon-nlp/actions/runs/265742028) in most recent CI action.
Snippet of AWS batch log stream.
[2020-09-21T20:31:10.865Z] Traceback (most recent call last):
[2020-09-21T20:31:10

[2020-09-21 22:59] sxjscience commented on #1369
Would you submit a PR to fix this?

[2020-09-22 06:41] rondogency opened #1371 "BERT multi-node pretraining hangs when using Horovod with HOROVOD_GPU_OPERATION=MPI"
## Description
BERT Pretraining with Horovod hangs intermittently in the middle of the training, this happens around 1 out of 4 runs and hangs at mostly around 4400 steps

Currently I can only reproduce it with Horovod CPU mode built with HOROVOD_GPU_OPERATION=MPI, but cannot reproduce with HOROVOD_GPU_OPERATION=NCCL

More inspection shows that the hangs happens in one of the rank process the data

[2020-09-23 14:15] Shafi2016 opened #1372 "fine-tune bert_12_768_12"
If we fine-tune  bert_12_768_12  with mxnet/gluon. Can we then fine-tune BERT with Bert embedding of (https://github.com/imgarylai/bert-embedding)?. Can we integrate fine-BERT from huggingface wtih gulon.?

[2020-09-23 15:28] sxjscience commented on #1372
Would you give more information about `fine-BERT`?

[2020-09-23 15:38] Shafi2016 commented on #1372
I want fine-tune on my own data.

I fine-tune with BERT with huggingface and the results sufficiently improved. I want to do the same to use it with bert embedding. I am bert emedding to find the similar words it gives better than sentene u transformer we posted one question here (https://github.com/UKPLab/sentence-transformers/issues/435)

[2020-09-23 16:35] barry-jin commented on #1369
closes via #1370

[2020-09-23 16:35] #1369 closed

[2020-09-28 19:36] barry-jin commented on #1361
closes via #1375 and #1364

[2020-09-28 19:36] #1361 closed

[2020-09-29 21:25] leezu commented on #1371
This issue only occurs when mixing the conda-toolchain python interpreter with system toolchain mpi. As a workaround, when using conda make sure to either build horovod mpi with the conda mpi or stop using conda. Ie ensure that the toolchain matches.

[2020-09-30 22:57] TristonC opened #1380 "[doc] File is missing in the README.md"
The `prepare_bookcorpus.py` file is missing on this README.md  https://github.com/dmlc/gluon-nlp/tree/master/scripts/datasets/pretrain_corpus
(It should have been renamed `prepared_gutenberg.py`, and in which case the parameters need to be changed).
[code]

@sxjscience

[2020-09-30 23:39] sxjscience commented on #1380
Thanks! A really nice catch!

[2020-10-02 17:28] davisliang commented on #1344
Hi @sxjscience, we find that the difference is quite small. Marking as resolved, thanks all!

[2020-10-02 17:28] #1344 closed

[2020-10-06 17:53] #1371 closed

[2020-10-08 20:57] leezu opened #1388 "bertpass_gpu.cc does not support MXNet 1.8"
Due to API change https://github.com/apache/incubator-mxnet/issues/19135

[2020-10-08 21:21] samskalicky commented on #1388
Thanks @leezu. The custom pass in https://github.com/dmlc/gluon-nlp/blob/v0.10.x/scripts/bert/bertpass_gpu.cc uses some custom code that @MoisesHer and I worked on post-1.7.0 release that eventually became the default in 1.8.0. Thanks to this collaboration, in 1.8 all [lines 30-248](https://github.com/dmlc/gluon-nlp/blob/v0.10.x/scripts/bert/bertpass_gpu.cc#L33-L248) have been integration into [li

[2020-10-10 18:45] leezu commented on #1388
I think it would be ideal to use preprocessor `#if` to have `bertpass_gpu.cc` support both MX 1.7 and 1.8

[2020-10-12 16:25] MoisesHer commented on #1388
thanks for checking this. I will make the modifications as suggested to support both MXNet 1.7 & 1.8

[2020-10-15 17:04] sxjscience commented on #1380
@TristonC This is fixed via https://github.com/dmlc/gluon-nlp/pull/1378 so I'll close this.

[2020-10-15 17:04] #1380 closed

[2020-10-15 20:14] #1066 closed

[2020-10-15 20:14] #1065 closed

[2020-10-15 20:14] #1059 closed

[2020-10-15 20:15] #880 closed

[2020-10-15 20:16] #724 closed

[2020-10-15 20:16] #707 closed

[2020-10-15 20:16] #516 closed

[2020-10-15 20:16] #511 closed

[2020-10-15 20:18] #131 closed

[2020-10-21 00:34] sxjscience commented on #1266
Thanks to the efforts by @zhreshold , who has created the https://github.com/zhreshold/autocfg project (See https://github.com/zhreshold/autocfg/blob/master/examples/basics.ipynb for a demo). GluonCV and GluonNLP may try to use autocfg as the main configuration toolkit so we can have a unified interface for the Gluon toolkits. @leezu @szha @szhengac @barry-jin

[2020-10-21 19:59] sxjscience opened #1397 "[Window Attention][Performance] Use TVM + Ansor to accelerate the kernel of window attention"
We are having an ongoing efforts about supporting window attention in GluonNLP: https://github.com/dmlc/gluon-nlp/pull/1395. To better accelerate this kernel, we can try out Ansor: https://tvm.apache.org/docs/tutorials/auto_scheduler/tune_conv2d_layer_cuda.html#sphx-glr-tutorials-auto-scheduler-tune-conv2d-layer-cuda-py and generate the cuda kernels automatically from compute. Sliding window atten

[2020-10-22 00:23] sxjscience commented on #1397
@ZiyueHuang Created the issue here about how we may use TVM to accelerate the speed.

[2020-10-23 23:41] sxjscience commented on #1330
I think after some rounds of discussion, the plan will be to add an additional PyTorch-based backend in GluonNLP.

[2020-10-25 03:46] sxjscience opened #1400 "[CI] [TVM Integration] Install from tlcpack wheels"
## Description
Currently, we compile TVM from scratch in our CI: https://github.com/dmlc/gluon-nlp/blob/8c8b0c9cda0853caa88fdbf4e0544986fbef243c/.github/workflows/unittests.yml#L60-L74.

As suggested by @tqchen , we can later install from https://github.com/tlc-pack/tlcpack . However, as mentioned in https://github.com/tlc-pack/tlcpack/issues/7, the pip nightly is still WIP. We may wait until then

[2020-10-25 03:58] sxjscience opened #1401 "[TVM Integration] Improve TVM Integration: Tutorial + Investigating Numerical Issue"
## Description
TVM support has been added in https://github.com/dmlc/gluon-nlp/pull/1390. Also, we updated our benchmarking utility to support profiling the inference speed of TVM: https://github.com/dmlc/gluon-nlp/tree/master/scripts/benchmarks. We can further improve our document.

- [ ] Attach the benchmark numbers. (Good for beginners)
- [ ] Add a tutorial about how to convert GluonNLP models

[2020-10-25 12:53] tqchen commented on #1400
FYI the conda nightly is already available https://anaconda.org/tlcpack
That does mean a dependency of a conda env instead of normal python though

[2020-10-25 17:58] szha commented on #1401
To publish the benchmark numbers we need to pick the environment. we've been using EC2 so whoever contributes this may require access to AWS and EC2.

[2020-10-26 15:18] sxjscience opened #1406 "[nlp_data] Add BookCorpus"
## Description
The book corpus can now have a reliable, stable download link from https://the-eye.eu/public/AI/pile_preliminary_components/books1.tar.gz. Also, there are more links in https://the-eye.eu/public/AI/pile_preliminary_components/ that are worthwhile being included in `nlp_data`. We may try to download from their link and provide the corresponding license.

[2020-10-26 15:38] szha commented on #1406
the data source "smashwords" has a term of service that prohibits redistribution. neither in the links above nor in https://github.com/soskek/bookcorpus/issues/27 was there any mention of getting approval from smashwords or approval from authors. we should clarify the legal risks before proceeding.

[2020-10-26 16:12] leezu commented on #1400
There can be issues when mixing system and conda toolchain. When using conda, we need to be careful to avoid that or we may experience issues such as https://github.com/dmlc/gluon-nlp/issues/1371 again. Thus the easiest route may be waiting for a https://www.python.org/dev/peps/pep-0599/ compliant build

[2020-10-26 22:28] sxjscience commented on #1008
@leezu Should we close this?

[2020-10-26 22:48] leezu commented on #1008
Fixed in master

[2020-10-26 22:48] #1008 closed

[2020-10-27 12:24] ZiyueHuang opened #1407 "[Proposal] Unified Interface/Implementation for Sparse Attention"
Currently several schemes of sparse attention (e.g. block-sparse, sliding window) relies on the handcrafted kernels, and it takes plenty of effort to implement new schemes (for research or other purpose). We may consider adopting a unified interface and implementation based on SpMM.

We can require an attention mask (defined by the user, and could be dynamically learned/generated in runtime) as th

[2020-10-27 15:31] sxjscience commented on #1407
I think the reason to use BlockSparse rather than General Sparse is that the speed can usually be faster since we are dealing with a block of elements at one time. Nevertheless, we should start to profile different solutions. Since it only involves kernels, one way is to use PyTorch custom OP to quickly prototype.

[2020-10-27 16:12] sxjscience commented on #1407
Also, the DGL team has been profiling the performance of sparse kernels for some time. So I also ping @yzh119 and @zheng-da here.

[2020-10-27 16:31] ZiyueHuang commented on #1407
This is not a killing problem, as the backend can switch to faster kernel if the attention pattern has optimized handcrafted kernel.

Block-sparse attention seems not very appealing to me, as introducing block-partition will break the sequence and the local context (at least for the tokens on the boundary). Maybe it would be useful when the sequence has some known structure to be exploited. And it

[2020-10-27 16:41] sxjscience commented on #1407
Just checked the source code of https://github.com/google-research/sputnik, we may try to implement our own version based on this package. Also CC @leezu @szha @barry-jin @MoisesHer

[2020-10-27 18:37] leezu opened #1408 "Training continuation feature"
## Description
We may save the training state in the output directory. If a training script is executed, it may check the output directory specified for any prior training runs and resume those automatically if hyperparameters are compatible. If incompatible, a error should be raised.

## References
Sockeye implementation:

https://github.com/awslabs/sockeye/blob/29795b828593ca68cfe923d611b67e079b

[2020-10-28 07:50] shawwn commented on #1406
There is no legal risk linking to the dataset. All risk is being taken on by The Eye.

The sole reason not to merge it is because someone doesn't like the idea of using the dataset. Which is fine. But anyone who says there is risk, is mistaken.

[2020-10-28 07:52] shawwn commented on #1406
(In other words, don't host the data yourself. Rely on the URL from The Eye. So, for example, all dataset preparation scripts should download from https://the-eye.eu/public/AI/pile_preliminary_components/books1.tar.gz, and books1.tar.gz itself should not be hosted anywhere else. By following this pattern, all risk is transferred to The Eye.)

[2020-10-28 19:37] szha commented on #1406
In the US there's recognition of the secondary infringement liability. One can be found guilty for affirmative encouragement or inducing behavior for known copyright violations.

[2020-10-29 04:03] leezu opened #1410 "Print link to AWS Batch training logs in the Github Actions "Test Project on AWS Batch" step"
## Description
Currently the log will be available as build artifact at the end of the run. It would be good to provide a link to the AWS Batch log so that team members can easily access the log during the runtime of the test.

[2020-10-29 04:27] barry-jin commented on #1410
Currently, the log will be printed in "Test Projects on AWS Batch" during the runtime and also is available to download as build artifact at last.

[2020-10-29 17:14] leezu commented on #1410
The log is not printed in github actions
![Uploading image.png…]()

[2020-10-29 17:20] barry-jin commented on #1410
I see.

[2020-10-29 18:33] sxjscience opened #1413 "Post DeferredCompute Verification"
## Description
After https://github.com/dmlc/gluon-nlp/pull/1356 (Thanks @szha and @leezu!), GluonNLP has now fully embraced the new Gluon 2.0 API. We will no longer need to worry about the `hybrid_forward` and can directly use `forward` to write the logic! This will help accelerate the model development.

Post this merge, we will need to verify again our existing scripts:

- [ ] [Question Answeri

[2020-10-29 20:40] gauravrele87 opened #1415 "eiifccntgjfcnkdkluitlunhkhuvdkefvhigbgketluc"
## Description
(A clear and concise description of what the bug is.)

### Error Message
(Paste the complete error message, including stack trace.)

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide link.)

### Steps to reproduce
(Paste the commands you ran that produced the error.)

1.
2.

## What have yo

[2020-10-29 20:55] sxjscience commented on #1415
Would you attach more details on how we may reproduce the issue?

[2020-10-29 20:58] preeyank5 opened #1416 "Issue in formatting the text wikipedia files"
## Description
I tried to run the code block that formats the downloaded the wikipedia text files. Link - https://github.com/dmlc/gluon-nlp/blob/master/scripts/datasets/pretrain_corpus/README.md#wikipedia , but got an error. Even though the WikiExtractor.py file is present in the mentioned directory.

### Error Message
ImportError: Cannot import WikiExtractor! You can download the "WikiExtractor.p

[2020-10-29 20:59] gauravrele87 commented on #1415
And here is the error:
![image(4)](https://user-images.githubusercontent.com/13090752/97631937-fd72c480-19ee-11eb-89c8-63f13c4cf750.png)

[2020-10-29 21:05] sxjscience commented on #1416
@ZheyuYe Would you have time to take a look?

[2020-10-29 23:08] sxjscience commented on #147
@leezu I think we can revisit about whether it's worthwhile to add a C Library to the package.

[2020-10-31 00:33] sxjscience commented on #1416
As confirmed by @preeyank5 , this has been fixed by https://github.com/dmlc/gluon-nlp/pull/1417 so I've closed the issue.

[2020-10-31 00:33] #1416 closed

[2020-11-01 14:03] shawwn commented on #1406
The datasets are hosted by The Eye, which fully respects DMCA: http://the-eye.eu/dmca

If anyone were to file a DMCA notice against books1 or books3, they would extract the tarball, remove the infringing content, then re-upload the modified tarball.

There is no risk linking to The Eye.

[2020-11-02 01:27] sxjscience opened #1419 "[nlp_data] Add CC-100"
## Description
Add the CC-100 corpus that can be used for pretraining to `nlp_data`.

http://data.statmt.org/cc-100/

[2020-11-02 03:13] carter54 opened #1420 "Beam search scorer question"
## Description
Hello , I have a question about the beam search scorer function
scores = (log_probs + scores) / length_penalty
length_penalty = (\frac{K + length}{K + 1})^\alpha
https://github.com/dmlc/gluon-nlp/blob/0484e6494edf0a40c7bac220b5a10d8245324750/src/gluonnlp/sequence_sampler.py#L74

if K = 5, alpha = 2
![image](https://user-images.githubusercontent.com/26741594/97826152-c86eb680-1cfb-11

[2020-11-02 03:51] carter54 commented on #1420
sorry, I made a mistake in drawing length_penalty function, it is a increasing function

[2020-11-02 03:51] #1420 closed

[2020-11-02 07:07] sxjscience commented on #1244
@carter54 In case you'd like to try out TVM now, you may try to use docker (or compile TVM with cublas + blas enabled as in https://github.com/dmlc/gluon-nlp/blob/master/tools/docker/install/install_tvm_cpu.sh) and refer to our test cases here: https://github.com/dmlc/gluon-nlp/blob/20321598a732d254d4a9e036eecbe0ae8abb48a0/tests/test_models.py#L71-L170

We are currently adding a tutorial about how

[2020-11-02 17:05] leezu commented on #1406
In GluonNLP we store a hash of the tarball in source to ensure reproducibility. Linking to a source that will periodically change the contents of the file may not be optimal.

[2020-11-02 17:07] sxjscience commented on #1406
We may try to first add it and later figure out if we can hold a snapchat of BookCorpus by ourselves. What do you think?

[2020-11-02 18:45] sxjscience opened #1421 "[nlp_data] Add OSCAR Corpus"
## Description
OSCAR Corpus: https://oscar-corpus.com/

[code]

[2020-11-02 23:34] sxjscience opened #1422 "[Model] Add Performer"
## Description
Add Performer to our model zoo:

Code in flax: https://github.com/google-research/google-research/tree/master/performer/fast_self_attention

Some reference implementations in PyTorch: https://github.com/lucidrains/performer-pytorch

One choice is to add a pytorch-based model.

[2020-11-03 01:08] sxjscience opened #1423 "[Docker] CUDA11 Dockerfile support"
## Description
Currently, our dockerfile supports cuda 10.2. We may try to upgrade it to CUDA11 to cope with A100: https://github.com/dmlc/gluon-nlp/tree/master/tools/docker

[2020-11-03 01:09] sxjscience commented on #1419
Marked it as a good first issue because we have the documentation about how to add a new dataset in https://github.com/dmlc/gluon-nlp/tree/master/scripts/datasets

[2020-11-03 01:10] sxjscience commented on #1421
Marked it as a good first issue because we have the documentation about how to add a new dataset in https://github.com/dmlc/gluon-nlp/tree/master/scripts/datasets

[2020-11-03 05:53] leezu opened #1424 "NMT Inference: Chunk overlength sequences and translate in sequence"
We may add an equivalent functionality to the NMT evaluation scripts

https://github.com/awslabs/sockeye/blob/3736f18e3286895cb1eb29817396a8b508edd802/sockeye/inference.py#L657-L659

[2020-11-03 19:53] sxjscience commented on #1424
To add this functionality in the existing NMT example, we may revise the argument here https://github.com/dmlc/gluon-nlp/blob/20321598a732d254d4a9e036eecbe0ae8abb48a0/scripts/machine_translation/evaluate_transformer.py#L23-L90 and try to revise the translation logic.

[2020-11-04 22:27] sxjscience opened #1425 "[TVM] TVM Integration Issue after changing to Boolean Mask."
## Description
I'm changing the mask to use the boolean type in https://github.com/dmlc/gluon-nlp/pull/1405 to pass the AMP. However, it's causing issues in TVM integration. I created this issue to track this error and will skip the TVM test.

[code]

[2020-11-05 04:13] sxjscience opened #1426 "[Optimizer] Move AdamW in GluonNLP to MXNet"
## Description
Move the adamw optimizer defined here to MXNet. https://github.com/dmlc/gluon-nlp/blob/20321598a732d254d4a9e036eecbe0ae8abb48a0/src/gluonnlp/optimizer.py#L31-L32

[2020-11-09 03:54] leezu commented on #1426
It should be moved to https://github.com/apache/incubator-mxnet/tree/master/python/mxnet/optimizer

[2020-11-11 19:32] sxjscience opened #1431 "[Tokenizer] Upgrade tokenizers to the latest"
## Description
Currently we are fixing the tokenizers package to 0.8.1: https://github.com/dmlc/gluon-nlp/blob/84391ef90b5926ff2186c1931cfb460b7fc3785e/setup.py#L47

However, the huggingface/tokenizers have been recently upgraded to 0.9.4. Thus, we may consider to support the latest version.

## References
- https://github.com/huggingface/tokenizers

[2020-11-13 07:01] sxjscience commented on #1431
The related code base is here: https://github.com/dmlc/gluon-nlp/blob/master/src/gluonnlp/data/tokenizers/huggingface.py

[2020-11-14 03:17] sxjscience opened #1434 "[Test] Add back relative positional embedding test"
## Description
Add back the tests for relative positional encoding, which has been disabled in https://github.com/dmlc/gluon-nlp/pull/1433

[2020-11-17 05:26] sxjscience opened #1436 "[Speed Comparison] Speed comparison between GluonNLP and other packages"
## Description
Similar to the efforts in our recently added benchmarking script (https://github.com/dmlc/gluon-nlp/tree/master/scripts/benchmarks), we are also interested in comparing the end-to-end training speed of training NLP models between GluonNLP and the other packages. This helps us track the performance of GluonNLP and measure the out-of-the-box speed of different toolkits. (This also hel

[2020-11-17 20:35] #1434 closed

[2020-11-17 20:45] shawwn commented on #1406
Happy to announce that bookcorpus was just merged into huggingface's Datasets library as `bookcorpusnew`, thanks to @vblagoje: https://github.com/huggingface/datasets/pull/856

So, huggingface is officially supporting this dataset now. The Eye also seems to be a trustworthy steward; I mentioned that "the tarball might change due to DMCA" as more of a theoretical concern rather than a practical rea

[2020-11-17 20:53] sxjscience commented on #1406
@shawwn Really appreciate the information! I've tried out huggingface/datasets and find that it's quite good. In fact we can add it even if the tarball changes. It's the same as the strategy of the wikipedia corpus that we added: https://github.com/dmlc/gluon-nlp/blob/master/scripts/datasets/pretrain_corpus/prepare_wikipedia.py. Part of the purpose of `nlp_data` is to help the user download and pr

[2020-11-18 20:33] Zha0q1 commented on #1425
On my EC2 instance I commented out 'google_albert_base_v2' and the rest of the models seemed to work fine.

created this pr to re-enable the tests https://github.com/dmlc/gluon-nlp/pull/1437

[2020-11-18 20:35] Zha0q1 commented on #1425
The error I got:
[code]

[2020-11-18 20:37] sxjscience commented on #1425
For me, I think one potential cause is that the TVM does not allow mixed data types in the where operartor, e.g., https://github.com/apache/incubator-tvm/blob/7649075fbb71ecab0a41c6fe4d41a86724e42e7a/python/tvm/relay/frontend/mxnet.py#L2419-L2434. Thus, we may print the dtypes of the `cond`, `lhs` and `rhs` to see if it's the root cause.

[2020-11-18 22:44] Zha0q1 commented on #1425
#1437 passed CPU CI but on GPU the remaining three models still all failed

'google_en_cased_bert_base',
'google_electra_small',
'fairseq_bart_base'

[2020-11-19 01:37] xinyual commented on #1413
I am verifying machine Translation scripts. It will take about 7 days.

[2020-11-19 01:43] sxjscience commented on #1413
Which instance are you using? Would you try out the p3.8 instance?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: xinyual <notifications@github.com>
Sent: Wednesday, November 18, 2020 5:37:51 PM
To: dmlc/gluon-nlp <gluon-nlp@noreply.github.com>
Cc: Xingjian SHI <xshiab@connect.ust.hk>; Author <author@noreply.github.com>
Subject: Re: [dmlc/gluon-nlp] Post Deferre

[2020-11-19 01:53] xinyual commented on #1413
No. I use g4 instance now. Do I need to use p3?

[2020-11-19 02:08] xinyual commented on #1413
No. I use g4 instance now. Do I need to use p3?

[2020-11-19 02:10] sxjscience commented on #1413
Yes, try out to use p3.8 to verify the NMT scripts.

[2020-11-19 06:16] sxjscience opened #1439 "[License] Update license"
## Description
Update the license of GluonNLP to GluonNLP Team. Currently, it's licensed to ASF.

[2020-11-19 19:58] sxjscience opened #1440 "Use official MXNet batchify to implement the batchify functions"
## Description
We should use the official mxnet batchify functions to implement our own batchify functions. However, since we'd like to later support other frameworks, we should still keep our own `batchify.py`. We can change it to call MXNet implementations.

MXNet batchify: https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/data/batchify.py
GluonNLP batchify: https://github

[2020-11-23 13:58] pjox commented on #1421
Hello,

The author of the OSCAR corpus here. After an increased amount of downloads in recent weeks, and continuous abuse by some users I had to take the corpus down (since the server was not capable of handling all that traffic).

We're currently working on transferring all the data to a new infrastructure, but in the meantime, could you wait some weeks in order to add OSCAR to GluonNLP ? All the

[2020-11-23 16:17] szha commented on #1421
@pjox thanks for letting us know, Pedro. Is there anything we can help with in terms of distribution? Let us know!

[2020-11-24 17:44] barry-jin opened #1445 "[Tests] It takes long time to test full suite of backbone models"
## Description
It takes about 6 hours to run pytest on test_models, which has blocked GluonNLP CI. This problem exists on and after MXNet nightly build 20201120.

### Error Message
<img width="1210" alt="Screen Shot 2020-11-23 at 1 47 45 PM" src="https://user-images.githubusercontent.com/69359374/100131819-62c4a480-2e39-11eb-9283-b12f1da1396a.png">

[2020-11-24 18:16] sxjscience commented on #1445
What's added in 20201120?

[2020-11-24 18:43] barry-jin commented on #1445
For current GluonNLP master, it will take 17 min to test backbone models on MXNet nightly build before 20201120, but will take 6 hours to run the same tests on MXNet nightly build on and after 20201120. On Nov 20, I only find one commit https://github.com/apache/incubator-mxnet/commit/13e9d572b3059ebe0d1d4f6d452db4f971375588

[2020-11-24 18:58] leezu commented on #1445
What day is the build?

[2020-11-24 19:06] barry-jin commented on #1445
I tried both `mxnet-cu102==2.0.0b20201118` and `mxnet-cu102==2.0.0b20201119`, the pytest on test_models will take only 17 min.

To Reproduce
[code]

[2020-11-24 21:25] leezu commented on #1445
Will be fixed by https://github.com/apache/incubator-mxnet/pull/19584

[2020-11-26 01:48] carter54 commented on #1244
@sxjscience Thanks a lot! I will have a try

[2020-11-26 07:50] ZheyuYe commented on #1436
With the following command, I re-run the above experiment with **fp16**
[code]
The training process tooks roughly 100 minutes from `11/25/2020 17:09:34` to `11/25/2020 18:50:03`.  Compared to the original 3 hours, it saves a lot of time but also loses some accuracy with final evaluation result `EM/F1=75.93/79.42`.

See the [whole log](https://gist.github.com/ZheyuYe/24e37310c31bee8ac51848749ab336c

[2020-11-26 17:50] szha commented on #1436
@ZheyuYe thanks for the update. So with fp16 the training is about 30m faster (135m->100m) while the evaluation performance loss is ~3% (79.7/82.6 -> 75.9/79.4). The loss is somewhat higher than expected.

[2020-11-26 18:01] sxjscience commented on #1436
Note that it’s the Huggingface results. May be we are not calling Huggingface correctly.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Sheng Zha <notifications@github.com>
Sent: Thursday, November 26, 2020 9:51:07 AM
To: dmlc/gluon-nlp <gluon-nlp@noreply.github.com>
Cc: Xingjian SHI <xshiab@connect.ust.hk>; Author <author@noreply.github.com>
Subject: Re: [dmlc/

[2020-11-27 14:51] shenfei commented on #1440
GluonNLP’s `data.batchify.Stack` behaves different from `mxnet.gluon.data.batchify.Stack`.

Do I use it in a wrong way, or is it a bug of mxnet implementation?

[code]

BTW, the result of mxnet’s `batchify.Stack` is against its docstring.

[2020-11-27 21:33] szha commented on #1440
cc @zhreshold

[2020-11-28 00:14] #302 closed

[2020-11-28 00:31] #455 closed

[2020-11-28 00:31] #374 closed

[2020-11-28 00:32] #371 closed

[2020-11-28 00:36] #405 closed

[2020-11-28 02:49] sxjscience commented on #1440
It seems to be a bug in the MXNet batchify function and I can confirm that:

[code]

Output:
[code]

Thus, we should fix the bug in MXNet first before switching to use the official implementation.

[2020-12-01 20:39] #1445 closed

[2020-12-02 23:28] barry-jin commented on #1431
Closed via #1444

[2020-12-02 23:28] #1431 closed

[2020-12-03 00:29] preeyank5 opened #1449 "[Error Message] Improve error message in SentencepieceTokenizer when arguments are not expected."
## Description
While using tokenizers.create with the model and vocab file for a custom corpus, the code throws an error and is not able to generate the BERT vocab file

### Error Message
ValueError: Mismatch vocabulary! All special tokens specified must be control tokens in the sentencepiece vocabulary.

## To Reproduce
from gluonnlp.data import tokenizers
tokenizers.create('spm', model_path='lsw

[2020-12-03 02:02] sxjscience commented on #1449
Actually I can load the model:

[code]

Output:
[code]

@preeyank5 Would you try again?

[2020-12-03 02:05] sxjscience commented on #1449
I find that the root cause is that we will need better error handling of the `**kwargs` here. Basically, the argument should be `vocab` instead of `vocab_path` and `vocab_path` has been put under `**kwargs`.

The way to fix the issue is to revise https://github.com/dmlc/gluon-nlp/blob/08dc6ed8f38f6c2576836e2352ea5ee4168eb413/src/gluonnlp/data/tokenizers/sentencepiece.py#L99-L101

[2020-12-03 02:06] sxjscience commented on #1449
Marked it as a "good first issue" because it's a good issue for early contributors. We can just ensure that the correct error is raised when `kwargs` contains unexpected values.

[2020-12-03 18:18] preeyank5 commented on #1449
Thanks Xingjian, I am now able to load the model

[2020-12-03 18:19] sxjscience commented on #1449
Let's keep this issue to track the error message. We should raise the error if the user has specified some unexpected kwargs.

[2020-12-03 20:38] araitats opened #1451 "BERT/Eelectra vocab file and tokenizer model."
## Description
The default **learn_subword** returns special tokens with "<unk>", "<s>", "</s>", and "<pad>". By convention, BERT uses [UNK] [PAD] [CLS] [SEP] and [MASK]. How can we define **--custom-special-tokens** flag so that the tokenizer model and vocab file have these BERT special tokens?  What is the best practice for that?

## References
- list reference and related literature
- list know

[2020-12-04 04:23] sxjscience opened #1453 "[CI][CD] Update our docker image"
## Description
Currently, we have the docker image in https://github.com/dmlc/gluon-nlp/tree/master/tools/docker and we should update this image.

[2020-12-07 22:54] barry-jin opened #1455 "[BUG] CPU Unittest (macos-python3.7) Failed for ArrowTypeError"
## Description
CPU unittest for macos with python3.7.9 will fail on `pyarrow.lib.ArrowTypeError: ('Did not pass numpy.dtype object', 'Conversion failed for column label with type int64')`.
Probably because numpy has been upgraded to 1.20.0rc1 in the most recent CI tests.
![Screen Shot 2020-12-07 at 1 49 12 PM](https://user-images.githubusercontent.com/69359374/101414044-39c0fc80-389a-11eb-9415-a09

[2020-12-07 22:55] sxjscience commented on #1455
Need to fix this.

[2020-12-07 22:56] sxjscience commented on #1455
We may add numpy dependency in our setup.py and ping it to be smaller than `1.20.0`.

[2020-12-07 23:39] leezu commented on #1455
That can only be a temporary solution. Please also reproduce the bug without gluonnlp and file a bur report upstream so the root cause can be addressed

[2020-12-08 00:05] sxjscience commented on #1455
Similarly, we have also triggered one bug of wikiextractor in which we should report to their repo.

[2020-12-08 03:41] szha commented on #1413
I'm verifying conversion with https://github.com/dmlc/gluon-nlp/blob/master/tools/batch/run_batch_conversion.sh. For ELECTRA pretraining, what's the recommended setting?

[2020-12-08 22:08] sxjscience commented on #1455
Should we close this? @barry-jin

[2020-12-08 22:17] barry-jin commented on #1455
Yes, Let's close this issue first. I will find the root cause and report to pyarrow. After issues solved, we can revert #1456

[2020-12-08 22:17] #1455 closed

[2020-12-15 23:55] pjox commented on #1421
Hello once again!

We have managed to bring the corpus back online but we had to cut each subcorpora into smaller files and we had to put everything behind a login, however creating an account is free and you can actually use your existing accounts to login.

We're already working on some collaborations to make the corpus even more accessible.

Thank you for your patience.

Best,
Pedro.

[2020-12-16 05:49] sxjscience opened #1458 "[Conversion Tools] Refactor conversion tools to support converting to/from huggingface"
## Description
Add conversion tools to convert to/from huggingface

The current codes are in https://github.com/dmlc/gluon-nlp/tree/master/scripts/conversion_toolkits

[2020-12-16 16:02] #1330 closed

[2020-12-16 16:10] sxjscience commented on #1330
Why close this?

[2020-12-16 16:26] szha commented on #1330
As you stated above that the discussion has concluded that we will support pytorch, I thought we can close the discussion thread and start listing the tasks.

[2020-12-16 16:27] szha commented on #1330
Feel free to reopen if you think this decision needs to be revisited with more discussion.

[2020-12-16 22:46] szha commented on #1413
turns out fairseq has changed `.args` to `.cfg` https://github.com/pytorch/fairseq/blob/f3d5045a71ae463bd3f05254d7c4216801a04bc2/fairseq/hub_utils.py#L93

[2020-12-30 23:44] #1426 closed

[2020-12-30 23:44] sxjscience commented on #1451
@araitats This should have been solved. I'll close this issue.

[2020-12-30 23:44] #1451 closed

[2020-12-30 23:48] sxjscience opened #1463 "[Enhancement] Add sequence-level distillation to NMT training"
## Description
Add the sequence-level distillation to NMT training. This means, we draw samples from the teacher model with beam-search and train the student model with the generated samples.

## References
- https://arxiv.org/pdf/2006.10369.pdf
- https://arxiv.org/abs/1606.07947

[2021-01-05 20:40] realBjornRoden opened #1465 "Incorrect link to the mentioned book in the README.rst file"
## Description
The link to the mentioned book seem to be incorrect at the end of the file https://github.com/dmlc/gluon-nlp/blob/v0.10.x/README.rst

Should probably be https://d2l.ai/d2l-en.pdf but is http://en.diveintodeeplearning.org/

[2021-01-05 21:48] szha commented on #1465
@realBjornRoden many thanks for letting us know. I fixed the link just now and will port the fix to other release branches.

[2021-01-07 17:20] sxjscience commented on #1436
Regarding the comparison with DeepSpeed, I recently created this markdown and we can follow the same setup to run DeepSpeed-accelerated BERT-large:

https://github.com/sxjscience/DeepSpeedExamples/tree/master/BingBertSquad

[2021-01-09 22:31] sxjscience opened #1472 "[Website] Improve website of the master version to prepare for the 1.0 release"
## Description

https://github.com/dmlc/gluon-nlp/pull/1374 has been merged so we have fixed the warnings in our documents. However, the current structure of the website is not very satisfactory and we should try to improve the layout and also add more tutorials.

Help needed here.

## References
- Previous issue on website: https://github.com/dmlc/gluon-nlp/issues/1081

@dmlc/gluon-nlp-committers

[2021-01-09 23:00] sxjscience opened #1473 "[Benchmark] Improve NLP Backbone Benchmark"
## Description
In GluonNLP, we introduced the benchmarking script in https://github.com/dmlc/gluon-nlp/tree/master/scripts/benchmarks.

The goal is to track the training + inference latency of common NLP backbones so that we can choose the appropriate ones for our task. This will help users train + deploy models with AWS.

Currently, we covered:
- Huggingface/Transformer-based backbone with FP32 +

[2021-01-10 10:38] DOUDOU0314 commented on #1436
### I compared the SQuAD 1.1 finetuning speed of GluonNLP v.s. Deepspeed
[https://gist.github.com/DOUDOU0314/01ea3e74b255d302705ff4b77744a72d](url)

[2021-01-13 20:27] sxjscience commented on #1472
Some items:

- [ ] Improve the front-page demo
- [ ] Improve layout of the examples

[2021-01-15 01:17] sxjscience opened #1481 "[Bug] Bug of top-p sampling"
## Description
The top-p sampling here is not correct. https://github.com/dmlc/gluon-nlp/blob/52da8aba758b826189505213e1c01f12ebd944fd/src/gluonnlp/sequence_sampler.py#L720-L724 We should sort the probabilities in descending order and then do a cumsum of the probabilities. After that, we set the threshold based on the cumsum values.

@hymzoque

[2021-01-15 16:56] sxjscience opened #1484 "[Example] Add summarization example with finetuning BART model"
## Description
Currently, we still lack a summarization example and will need to add the dataset and example.

@leezu @szha

[2021-01-15 17:00] szha commented on #1484
Agreed. There's a large body of work in that space, both in extractive and nowadays abstractive summarization. I think we should survey and pick. Some good comprehensive pools to choose from: http://nlpprogress.com/english/summarization.html, https://paperswithcode.com/task/text-summarization

[2021-01-15 17:09] sxjscience commented on #1484
Actually, can we spare some efforts in adding an example this month?

[2021-01-16 13:51] jumpily opened #1485 "[Bug][Conversion Tools] mxnet block.py Overriding Parameter attribute %s is not allowed"
## Description
When using the conversion tools to convert a roberta model the following error occurs.

### Error Message
[code]

## To Reproduce
gluonnlp version 1.0.0.dev20210116
mxnet version 1.7.0.post1
fairseq version 1.0.0a0+4a6f89d

`bash convert_roberta.sh`

[2021-01-16 20:19] sxjscience commented on #1485
@jumpily You may need to install MXNet 2.0 and try again. You can try out the following commands:

[code]

[2021-01-16 20:31] sxjscience opened #1486 "Add version check to mxnet and move all files related to mxnet to a separate namespace"
## Description
We are preparing for multi-backend support of GluonNLP. We are going to have the `mx` namespace to hold all the MXNet-2.0 related files and the `torch` namespace to hold all the pytorch-related files.

[code]

[2021-01-17 09:38] jumpily commented on #1485
@sxjscience That seems to have worked, thank you! Are the converted models compatible with lower MXNet versions?

[2021-01-17 10:31] sxjscience commented on #1485
No, they are not.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: jumpily <notifications@github.com>
Sent: Sunday, January 17, 2021 1:38:44 AM
To: dmlc/gluon-nlp <gluon-nlp@noreply.github.com>
Cc: Xingjian SHI <xshiab@connect.ust.hk>; Mention <mention@noreply.github.com>
Subject: Re: [dmlc/gluon-nlp] [Bug][Conversion Tools] mxnet block.py Overriding Parameter att

[2021-01-17 10:33] sxjscience commented on #1485
@jumpily i’ll close this issue since it has been solved. Feel free to reopen.

[2021-01-17 10:33] #1485 closed

[2021-01-18 02:19] sxjscience opened #1490 "Merge clean_tok_para_corpus and clean_tok_mono_corpus"
## Description

We can merge these two files and create `clean_tok_corpus.py`.

[2021-01-18 04:21] szha commented on #1413
ELECTRA pretraining script was broken. Fixes are in https://github.com/dmlc/gluon-nlp/pull/1491

I'm also trying and see if ELECTRA-base results can be reproduced with the script. To my understanding this has never been done yet.

[2021-01-18 04:25] sxjscience commented on #1413
@szha Also, you may try to turn on AMP support of ELECTRA-pretraining if you have time.

[2021-01-18 17:16] sxjscience commented on #1465
Close because it has been fixed in the v0.x branch.

[2021-01-18 17:16] #1465 closed

[2021-01-19 21:44] rondogency opened #1497 "BERT pretraining loss and accuracy is not stabilized"
## Description
I am using 8 node Horovod BERT pretraining on gluonnlp==0.10.0, currently running for 10k steps and found that on each run the final loss and accuracy after 10k steps are not stabilized and mlm loss varies a lot.

So I am wondering if there is a stable way to generate loss and accuracy for pretraining

### Error Message
There is 4 runs logs
[code]

## To Reproduce
I am using Sagemak

[2021-01-20 20:46] szha commented on #1497
At the moment there isn't a good way to enforce reproducibility when using distributed training due to the different compute orders. While in the current setting complete reproducibility is hard to obtain, one potential idea for reducing variance is to 1) initialize once and store the initial random weight, and then always train from that set of weights, and 2) enforce sample ordering in data load

[2021-01-21 16:18] sxjscience opened #1501 "[API][Rename] Rename T5NMTInference to T5Inference"
## Description

Incremental decoding for T5 has been supported in https://github.com/dmlc/gluon-nlp/pull/1498. However, the inference model is called `T5NMTInference` and we may consider to revise it to `T5Inference` or `T5Seq2SeqInference`.

What's your opinion on the naming strategy here? @yongyi-wu @szha @leezu @szhengac @barry-jin

[2021-01-21 16:18] sxjscience commented on #1497
@rondogency Have the training been stabilized after you have fixed the random seed?

[2021-01-21 16:22] szha commented on #1501
It seems to be kept consistent with TransformerNMTInference. I'd suggest to keep the naming convention consistent for easier discovery, so any change should happen to both classes. In terms of naming, I think Seq2Seq seems better and more general than NMT.

[2021-01-21 16:23] sxjscience commented on #1501
May be we can keep the name for now and later on add aliases.

[2021-01-21 16:47] yongyi-wu commented on #1501
@szha was right— I kept it consistent with `TransformerNMTInference`, so it would be great if we rename them altogether. Personally I prefer `T5Seq2seq` as it is shorter and more informative.

[2021-01-21 17:59] sxjscience commented on #1501
I will leave the issue open and we can change the name / add alias later.

[2021-01-22 04:57] rondogency commented on #1497
@szha thanks for the answer!

@sxjscience yes, I am using what we have in gluoncv https://github.com/dmlc/gluon-cv/blob/master/gluoncv/utils/random.py, now the loss is more stable now (less variance from multiple runs)

suggest to add same thing to gluonnlp and allow user to pass random seed to bert run_pretraining.py script

[2021-01-22 05:03] sxjscience commented on #1497
Thanks, we will ensure that all scripts use this set_seed function: https://github.com/dmlc/gluon-nlp/blob/09f343564e4f735df52e212df87ca073a824e829/src/gluonnlp/utils/misc.py#L187-L191

I'll close this issue for now as it should have been solved in the master version.
Feel free to reopen.

[2021-01-22 05:03] #1497 closed

[2021-01-26 13:57] yongyi-wu commented on #1501
Hi all, in #1504 `TransformerNMTInference` and `T5NMTInference` have been renamed to `TransformerInference` and `T5Inference`, respectively. After discussing with @sxjscience, we believe it is critical to highlight these two models are for inference _only_, so we keep the name short and straightforward.
With that, `TransformerNMTInference` and `T5NMTInference` remain in #1504, simply inheriting th

[2021-01-26 16:57] szha opened #1505 "Issues in ELECTRA-base pre-training and fine-tuning"
## Description
As part of #1413 I was running the ELECTRA-base model and found several issues along the way.

- [ ] dataloader KeyError and crash
<details><summary>error message</summary>

[code]

</details>

- [ ] training hangs
- [ ] The pre-training script can't resume from last checkpoint.

### Error Message
(Paste the complete error message, including stack trace.)

## To Reproduce
Follow the

[2021-01-26 17:26] szha commented on #1505
The ELECTRA-base 300k steps checkpoint can be found at https://szha-nlp.s3.amazonaws.com/output_electra_base/0300000.params. This should help reproduce the parameter loading issue in SQuAD fine-tuning.

[2021-01-28 03:33] sxjscience opened #1507 "[Backbone] Add DeBERTa"
## Description
https://github.com/microsoft/DeBERTa

We may try to add both the layers and network, and also add it to the performance benchmark.

## References
- list reference and related literature
- list known implementations

[2021-01-28 08:48] yangshuo0323 opened #1508 "Have problom in BERT pre-training: how to training on multiple GPUs"
## Description
- I want to train BERT model on GPU, but have some problems. My configuration:
  * Software environment: Python: 3.7.7,  Cuda: 10.2
  * Install MXNet: `pip install mxnet-cu102`  , verion is 1.7.0
  * Download Model script:  `https://github.com/dmlc/gluon-nlp`, which branch is 2.0.
- Run script `gluon-nlp/scripts/bert/run_pretraining.py`:
  * Reference the instruction: `https://nlp.g

[2021-01-28 09:23] andreas-solti commented on #1203
Any updates on this? @carter54 @evah88
I'm also struggling with using the weights of BERT in gluon. I've found this approach here to convert from DistilBERT: https://nlp.gluon.ai/v0.9.x/model_zoo/conversion_tools/index.html and adjusted the mapping for BERT.

Does this mapping seem to be right?
[Mapping proposal from Gluon to Pytorch BERT](https://gist.github.com/andreas-solti/98577c2138055d0a0d26

[2021-01-28 13:05] leezu commented on #1508
Please provide the complete error message

[2021-01-28 13:51] yangshuo0323 commented on #1508
the whole message:
[code]

[2021-01-28 13:57] yangshuo0323 commented on #1508
Firstly, I want to make sure: is my method correct for pre-training BERT model on multiply   @@GPUs?
@leezu

[2021-01-28 19:40] leezu commented on #1508
Did you compile MXNet from source? There might be an issue due to your usage of conda (ie. you compiled MXNet without conda but you're now using it with conda; this can be a problem, because conda provides it's own gcc which is incompatible with system toolchain)

[2021-01-28 19:41] leezu commented on #1508
Do you mean that you use gluon-nlp master branch with MXNet 1.7? It's not supported. You need to use MXNet 2 Alpha release https://github.com/apache/incubator-mxnet/releases/edit/v2.0.0-alpha for using GluonNLP master branch

[2021-01-29 01:58] yangshuo0323 commented on #1508
I use gluon-nlp branch 2.0 with MXNet 1.7. Is it also not supported?
I will try as you suggest. think you.

[2021-01-29 02:54] yangshuo0323 commented on #1508
I think my environment of 'mpirun'  mybe wrong, such as  optional parameters:
[code]
it may causes problems with inter-process communication. So, what parameters need to  set for Multi-GPU training ?
@leezu

[2021-01-29 03:19] szha commented on #1203
@andreas-solti the mapping looks correct. I don't think there's a need to transpose the weight. The embedding weight indices need to shuffle because:

HF: [101, 7592, 1010, 2026, 3899, 2003, 10140, 102]
Gluon: [ 2, 7592, 1010, 2026, 3899, 2003, 10140, 3]

[2021-01-29 17:21] #1425 closed

[2021-01-29 18:36] sxjscience opened #1510 "[TVM Integration] Support converting models with FP16 data type"
## Description
We fixed TVM integration in GluonNLP recently for fp32 dtype. However, we still do not support fp16 dtype. We should

- [ ] Revise the test to add FP16: https://github.com/dmlc/gluon-nlp/blob/e8d4c8ae98ca87db9674adfd499d40e4b274455c/tests/test_models.py#L65-L77
- [ ] Revise the benchmark to add TVM + FP16: https://github.com/dmlc/gluon-nlp/blob/e8d4c8ae98ca87db9674adfd499d40e4b27445

[2021-01-29 18:40] sxjscience opened #1511 "[Document] Improve documentation about the conversion toolkit"
## Description
We should improve the README here: https://github.com/dmlc/gluon-nlp/tree/master/scripts/conversion_toolkits

[2021-01-29 19:40] leezu commented on #1508
I don't know how this branch was created, but there is actually no gluon-nlp 2.0. cc @szha @sxjscience let's delete the branch?
The branch contains commits of GluonNLP 0.x, so yes, it should work with MXNet 1.7

[2021-01-29 19:42] sxjscience commented on #1508
I have no idea about the 2.0 branch. We may just delete it.

@yangshuo0323 Feel free try out the BERT pretraining code in https://github.com/dmlc/gluon-nlp/tree/master/scripts/pretraining/bert

[2021-01-30 03:53] yangshuo0323 commented on #1508
I have tried gluon-nlp branch 0.10.0, and also happened this error. So, gluon-nlp(0.10.0) and MXNet(1.6.0 or 1.7.0) are compatibled, right ? I will check other software environment...

[2021-01-30 03:56] sxjscience commented on #1508
That should work. In fact, is it feasible to try out our new version with the custom version of MXNet 2.0 and the GluonNLP master branch?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: yangshuo0323 <notifications@github.com>
Sent: Friday, January 29, 2021 7:54:06 PM
To: dmlc/gluon-nlp <gluon-nlp@noreply.github.com>
Cc: Xingjian SHI <xshiab@connect.ust.hk>; Menti

[2021-01-30 06:20] yangshuo0323 commented on #1508
Ok, I will try out the new version of MXNet and GluonNLP. Thank you so much!

[2021-01-30 06:48] sxjscience commented on #1508
@yangshuo0323 Thanks! I will encourage to try our new version and we can help you if you meet any problems in training the model. To try the new MXNet, you can install with the following command:

[code]

Also, you can just clone gluonnlp/master and install via the following command:

[code]

This will give the `nlp_data` and `nlp_process` CLI. You can use `nlp_data` to download corpus like wikipe

[2021-02-01 00:26] szha commented on #1505
@sxjscience I know that we hypothesized that the error in loading the pre-trained model in squad is due to parameter deduplication during saving, still it doesn't seem immediately obvious which parameter the missing `encoder.all_encoder_layers.0.attn_qkv.weight` parameter should be sharing its weight with. I see the following three parameters that have exact substring match: `discriminator.backbon

[2021-02-01 08:11] yangshuo0323 commented on #1508
The previous error was due to the wrong installation of horovod, which maybe not use the env `HOROVOD_WITH_MXNET`.
Thanks to everyone who give me advice above.
I will enjoy to try the new version as you advice.

[2021-02-01 16:01] andreas-solti commented on #1203
@szha Thanks a lot for your feedback!
Could you please elaborate on the shuffling of the weights?
I've tried swapping position 2 and 101, and swapping 3 and 102 respectively. The embedding result is almost accurate, but not quite. The masked language model part also produces different ordering at lower probability results.

Would be really helpful!

[2021-02-01 16:07] leezu commented on #1203
What's the largest difference? Is it larger than 1E-3, 1E-4 or 1E-5?

[2021-02-01 16:48] andreas-solti commented on #1203
It is larger than 1E-3:
https://gist.github.com/andreas-solti/43db715d33cb0157b2c535b41dd4573c
And the classification layer on top extrapolates these differences more.
I found while mapping the parameter layers that the two layers in BERT are the same:
word_embed.0.weight == decoder.3.weight
Do both need to be "swapped"?

[2021-02-01 20:06] andreas-solti commented on #1203
Here is a reproducible example notebook that translates a german BERT to MXNet:

https://gist.github.com/andreas-solti/4222c389b8be139e597eccc8350c034b

The output classes look fine in terms of ordering.
The weights and inputs being exaclty the same, I wonder where the smaller/larger differences come from.

[2021-02-01 20:32] leezu commented on #1203
Could there be a mismatch for the GELU implementation? Huggingface uses tanh approximation to calculate gelu by default
https://github.com/huggingface/transformers/blob/d1b14c9b548de34b6606946482946008622967db/src/transformers/activations.py#L27-L34
whereas GluonNLP matches the original Google BERT implementation (by default).
https://github.com/dmlc/gluon-nlp/blob/8a96e603767f7525d56422620e01d5c7

[2021-02-10 01:38] araitats opened #1519 "gluon-nlp/scripts/processing/learn_subword.py"
## Description
(A clear and concise description of what the bug is.)
Line 166. In this way, disable_unk does not behaves the way that others such as disable_bos behaves.

### Error Message
(Paste the complete error message, including stack trace.)

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide link.)

[2021-02-10 01:40] araitats opened #1520 "clean_tok_mono_corpus"
## Description
(A clear and concise description of what the bug is.)
The line 238 in clean_tok_mono_corpus.py takes two variables but only one "save_path" is given.

### Error Message
(Paste the complete error message, including stack trace.)
[code]

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide link.

[2021-02-18 22:41] sxjscience opened #1522 "Downloading problem of model weights"
## Description
I met the downloading error if the instance has not configured for S3:

[code]

@leezu Would you have any idea about why's the case?

[2021-02-19 17:19] #1522 closed

[2021-02-19 17:20] leezu commented on #1522
The error is due to misconfigured environment (no permission given to download from S3). Thanks for adding the fix

[2021-02-21 18:23] szha opened #1526 "Pre-training scripts should allow resuming from checkpoints"
## Description
Currently, the ELECTRA pre-training script can't resume from last checkpoint. It will be useful to enhance the script to resume from checkpoints.

[2021-02-21 20:12] szha commented on #1505
#1527 adds a script to convert ElectraForPretrain parameters to ElectraModel version. SQuAD script doesn't allow specifying the generator dimension and layer scaling factors so the checkpoints are still not loadable there yet..

[2021-02-22 07:08] sxjscience opened #1528 "strip_accents should be None by default in WordPiece"
## Description
@leezu @szha @xinyual I noticed that we may need to set `strip_accents` to None in https://github.com/dmlc/gluon-nlp/blob/223f1f6f8e267d258abd2f299ec6fc4a9b2f1cf8/src/gluonnlp/data/tokenizers/huggingface.py#L564 so that it will be turned on when `lowercase` is True.

This may impact the performance.

### Error Message
(Paste the complete error message, including stack trace.)

## To

[2021-02-22 07:16] sxjscience commented on #1528
However, accents may have certain meanings for lots of languages, e.g., mochte vs. möchte. Thus, we may try to turn it off in nlp_process.

[2021-02-22 15:36] leezu commented on #1528
Do you mean exposing an option in `nlp_process` or changing the defaults in `nlp_process`? As English is a special case that doesn't care much about accents, I suggest we must keep the option to keep accents in `nlp_process`.

[2021-02-22 15:41] sxjscience commented on #1528
Yes, I mean to always explicitly set “strip_accent” to False in nlp_process.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Leonard Lausen <notifications@github.com>
Sent: Monday, February 22, 2021 7:37:12 AM
To: dmlc/gluon-nlp <gluon-nlp@noreply.github.com>
Cc: Xingjian SHI <xshiab@connect.ust.hk>; Author <author@noreply.github.com>
Subject: Re: [dmlc/gluon-nlp

[2021-02-24 00:05] leezu opened #1529 "v0.x CI is broken"
## Description
(A clear and concise description of what the bug is.)

### Error Message
(Paste the complete error message, including stack trace.)

## To Reproduce
(If you developed your own code, please provide a short script that reproduces the error. For existing examples, please provide link.)

### Steps to reproduce
(Paste the commands you ran that produced the error.)

1.
2.

## What have yo

[2021-02-24 00:09] leezu commented on #1529
@barry-jin would you have time to backport the Github Actions CI implementation to the v0.x branch? Then we can get rid of all the troubles with Jenkins

[2021-02-24 00:35] barry-jin commented on #1529
@leezu Sure.

[2021-03-01 03:16] sxjscience opened #1533 "Upgrade the version of WikiExtractor used in nlp_data"
## Description

Currently, `nlp_data` is using wikiextractor with version 0.1 but the latest version is https://pypi.org/project/wikiextractor/3.0.4/. It will be good to try to upgrade to the latest version.

@DOUDOU0314 If you have time, would you take a look?

[2021-03-03 06:21] DOUDOU0314 commented on #1533
ok, I'm trying

[2021-03-10 17:47] szha commented on #1472
On the [Text Prediction - Part 1: Quickstart of Pretrained Backbones](https://nlp.gluon.ai/master/tutorials/text_prediction/text_prediction_part1.html)
- [ ] the start of the tutorial mentions `we will load two datasets using the nlp_data command...` but the immediate next block are imports. Consider mentioning that the first block is import.
- [ ] should there be a tutorial for nlp_data/nlp_proce

[2021-03-10 18:20] szha commented on #1472
- [ ] I saw several notebooks with a lot of imports. Let's make sure we only include the necessary ones. The import order should be python built-ins, third-party libraries, and then first-party libraries.

[2021-03-10 18:25] szha commented on #1472
On the [Question Answering with GluonNLP](https://nlp.gluon.ai/master/tutorials/question_answering/question_answering.html)
- [ ] The mentions of `https://github.com/dmlc/gluon-nlp/tree/master/scripts/question_answering` should link to the example page so that we always refer to the source code in the same version.
- [ ] We should mention/provide pointer on how users can obtain their own checkpoin

[2021-03-10 18:29] szha commented on #1472
On the [Tokenization - Part1: Basic Usage of Tokenizer and Vocabulary](https://nlp.gluon.ai/master/tutorials/tokenization/tokenization_part1.html)
- [ ] `text processing workflow: raw text => normalized (cleaned) text => tokens => network` can be replaced with a diagram in which examples of each step can be shown.

[2021-03-10 18:38] szha commented on #1472
On the [Tokenization - Part2: Learn Subword Models with GluonNLP](https://nlp.gluon.ai/master/tutorials/tokenization/tokenization_part2.html)
- [ ] We should have an introductory section for the concepts of subwords before diving in to the implementation/execution

[2021-03-10 19:08] szha commented on #1472
On [Compile NLP Models - Convert GluonNLP Models to TVM](https://nlp.gluon.ai/master/tutorials/deep_learning_compiler/tvm_basic.html)

- [ ] At the moment this notebook includes only code and titles. We will need an introduction section for overview and motivation, explanation for the code, reference to other materials on compilation
- [ ] `compile_tvm_graph_runtime` is very long and there are opp

[2021-03-10 19:43] nandinib1999 commented on #1526
Hi, is this issue open for contribution? If yes, I would like to work on it.

[2021-03-11 21:11] leezu commented on #1526
Hi @nandinib1999, contributions to GluonNLP are always welcome. Let us know if you have any questions.

[2021-03-12 18:44] nandinib1999 commented on #1526
Thanks a lot! I will try to set up the codebase tonight and will come back in case of any doubts.

[2021-03-18 17:46] leezu opened #1538 "nlp.models.bert.get_pretrained_bert provides slow tokenizer"
LegacyHuggingFaceTokenizer instead of https://github.com/huggingface/tokenizers

[2021-03-23 15:41] sxjscience commented on #1538
I think both are using tokenizers but the legacy one is following the API of an older version of HF tokenizers.

[2021-03-23 23:25] leezu commented on #1538
The ` transformers.PreTrainedTokenizer` is "Base class for all slow tokenizers." compared to ` transformers.PreTrainedTokenizerFast` which is "Base class for all fast tokenizers (wrapping HuggingFace tokenizers library)." so only the latter uses HF tokenizers

[2021-03-23 23:27] sxjscience commented on #1538
We are calling the `tokenizers` package directly in the implementation.

[2021-03-24 00:00] #1538 closed

[2021-04-08 22:28] gulelishibhat commented on #111
tyhsxvwqwasavsrfrhenwr gfweq5ywhnsqgwefsqWHWGES6XYEWS @HCEKDFNCCRYESDYSH3WBQAWF2Q @B DHEVSVFYSB #1538

[2021-04-12 21:49] barry-jin opened #1548 "Upgrade sacremoses to 0.0.44"
Create this issue to track the updates in sacremoses, since the MosesPunctNormalizer in the sacremoses functions differently between release 0.0.43 and 0.0.44

For sacremoses==0.0.43
[code]

For sacremoses==0.0.44
[code]
It looks like the output string is stripped.

[2021-04-14 16:19] craffel opened #1549 "Loading 'distilbert_6_768_12' is broken"
## Description

The example code at https://nlp.gluon.ai/model_zoo/bert/index.html for the DistilBERT model produces an exception at HEAD.

### Error Message

[code]

### Steps to reproduce
(Paste the commands you ran that produced the error.)

[code]
curl --retry 10 -s https://raw.githubusercontent.com/dmlc/gluon-nlp/master/tools/diagnose.py | python

# paste outputs here
[code]

[2021-04-14 23:20] szha commented on #1549
@craffel thanks for reporting. The above PRs should fix the problem. The correct dataset name is `distilbert_book_corpus_wiki_en_uncased`

[2021-04-15 04:26] barry-jin opened #1552 "Operator npx.broadcast_like"
## Description
Currently, pr #1551  and pr #1545  are blocked by operator npx.broadcast_like. This will be fixed in https://github.com/apache/incubator-mxnet/pull/20169

[2021-04-15 16:22] craffel commented on #1549
Thanks.

[2021-04-19 15:01] szha commented on #1552
The upstream PR is merged. Do we need to switch the CI to the nightly?

[2021-04-19 16:06] barry-jin commented on #1552
Yes. I will create a scheduled workflow to run GluonNLP tests on MXNet nightly build.

[2021-04-19 17:34] barry-jin commented on #1552
I have created nightly test in #1557

[2021-04-20 00:24] barry-jin opened #1559 "[v0.x] Some CPU tests fail after switching to use MXNet 1.8.0"
## Description
After using new docker to make tests runnable on mxnet 1.8.0 in #1558 , I find there are some CPU tests will fail.
Some failed tests
test_models.py::test_big_rnn_model_share_params
test_preprocess_utils.py::test_truncate
test_sampled_logits.py::test_is_softmax_loss
test_transforms.py::test_spacy_tokenizer

### Error Message
<details>
<summary>Detailed Logs</summary>

[code]

</detai

[2021-04-20 01:16] szha commented on #1559
Looks like all bugs are in the sparse features

[2021-04-22 10:28] sfraczek opened #1562 "Dead link to build_steps.groovy in contribute.rst#make-changes"
Dead link to build_steps.groovy in https://github.com/dmlc/gluon-nlp/blob/master/docs/website/contribute.rst#make-changes

[2021-04-26 10:43] makua-bernal opened #1563 "difference between gluonnlp 0.10.0 and gluonnlp 1.0.0 RoBERTaModel?"
I'm working on converting a RoBERTa model to gluonnlp 0.10.0 with mxnet 1.7.0.

I managed to get it working in gluonnlp 1.0.0 and mxnet 2.0.0 and the activations in the hidden layers are the same as the source model, but in gluonnlp 0.10.0 and mxnet 1.7.0 they differ very slightly.

The discrepancy starts in the first layer so I'm assuming it has something to do with the embeddings.

I could have

[2021-04-27 03:49] zheyuye opened #1564 "Badge link was broken in README"
As title descripted, the following  url link failed (https://github.com/dmlc/gluon-nlp/blob/master/README.md#14)

[code]
And the correct one would be
[code]

[2021-04-27 12:43] feevos commented on #999
Hi @eric-haibin-lin  is it possible to use the parallel module (modified, including only forward) to do a parallel forward pass? What I need to do is something like (demo pseudo-code):

[code]

I just found your answer and I will test it, but I would appreciate your expert advice.

Regards,
Foivos

[2021-04-27 14:34] szha commented on #999
@feevos you can adapt the parallel function for the purpose of pushing work to GPU more efficiently. The main purpose of that interface is to push work with multiple threads using multithreaded queues. See https://github.com/dmlc/gluon-nlp/blob/v0.x/src/gluonnlp/utils/parallel.py#L125-L139. For forward-only, you just need to implement only the forward part, in which case autograd.record isn't need

[2021-04-27 14:50] feevos commented on #999
Thank you very much @szha !!!

[2021-05-05 19:48] barry-jin opened #1567 "GPT2 tests mysteriously killed"
## Description
GPT2 tests in tests/test_models.py is mysteriously killed. The was found in the recent [nightly tests](https://github.com/dmlc/gluon-nlp/actions/runs/811741483)(cu102-2.0.0b20210502 and cu102-2.0.0b20210504).
But, after I tried other MXNet nightly build prior to cu102-2.0.0b20210502, the error was still there. So, I suspect that some changes in other upstream packages resulted in th

[2021-05-13 09:24] rrjia opened #1569 "gluon-nlp/scripts/question_answering/train.py"
## Description
class ExponentialMovingAverage
in train.py the ema use two position:

 if global_step == 1:
            for name, param in model.collect_params().items():
                ema.add(name, param.data(CTX[0]))

 for name, param in model.collect_params().items():
            ema(name, param.data(CTX[0]))

but model‘s params not update ,final we save model params as:
# save model after tra

[2021-05-13 14:06] leezu commented on #1569
There is no train.py in https://github.com/dmlc/gluon-nlp/tree/master/scripts/question_answering or https://github.com/dmlc/gluon-nlp/tree/v0.x/scripts/question_answering

Please provide a link to the code you're concerned about. Thanks

[2021-05-13 14:13] rrjia commented on #1569
code link is : https://github.com/dmlc/gluon-nlp/blob/qanet/scripts/question_answering/train.py
## appreciate for your  supprot.

[2021-05-13 19:03] davisliang opened #1570 "XLMR Conversion fails on parameter dictionary KeyError"
## Description
When running the script convert_xlmr.sh we encounter an error in the final conversion step referencing a key error.

### Error Message
`Traceback (most recent call last):
  File "convert_fairseq_xlmr.py", line 120, in <module>
    convert_fairseq_model(args)
  File "convert_fairseq_xlmr.py", line 99, in convert_fairseq_model
    ctx)
  File "/home/ubuntu/gluon-nlp/scripts/conversion

[2021-05-20 14:43] sxjscience commented on #1570
Thanks for reporting the error, the fix is tracked in https://github.com/dmlc/gluon-nlp/pull/1572

[2021-05-24 15:20] sxjscience commented on #1570
@davisliang Would you try the latest master again? It should have been fixed.

[2021-05-24 17:14] davisliang commented on #1570
I tried the latest master branch and can verify the fix works and the conversion script runs successfully. Thank you for the help!

[2021-05-24 17:14] #1570 closed

[2021-05-24 19:07] sxjscience commented on #1567
Would you try the alpha version?

[2021-05-24 19:10] barry-jin commented on #1567
Looks like alpha version works well. The issue may be still in upstream(mxnet) changes, I will try to fix it.

[2021-05-25 02:03] sxjscience commented on #1567
This might be difficult to fix. You may try to see if running GPT-2 alone will still cause the error.

[2021-06-03 17:44] #1552 closed

[2021-07-02 01:22] ConaGo commented on #1449
Hi, i am new to this Project and would like to tackle this issue

[2021-07-21 17:53] bGZoCg commented on #1036
(By the way, the command needs the parameter `-i`, like that

[code]
Anyway, that works for me.

[2021-08-16 08:44] saekomdalkom commented on #1002
Same error is occuring. Installation is not working.

[2021-08-16 21:15] yifeim opened #1577 "I want BigRNN back..."
## Description
There are some good ideas in this model:

https://nlp.gluon.ai/_modules/gluonnlp/model/language_model.html#BigRNN

Where is it in the codebase now? If it is not in the codebase anymore, are there any conflicts causing it to be removed? Can they be resolved?

Thanks.

[2021-08-16 21:24] szha commented on #1577
Hi @yifeim. The main reason they are not added back yet is that we don't have people who maintain the sparse features in MXNet that are used in this class yet. As soon as we have someone pick that up, we will be able to add these blocks back.

[2021-08-16 21:26] yifeim commented on #1577
Hmm. I'd like to know more about the sparse maintenance challenge. I am not a C expert, but I think it might be nice to make the issues more transparent in search of potential helps.

[2021-08-17 04:49] yifeim commented on #1577
Hi @szha Actually, I just realized that you meant mxnet-2.x. Sure. mxnet-1.x may still be around for some time, while mxnet-2.x is being made to perfect. Should I look at version v0.10.x as the last version that supports mxnet-1.x?

[2021-08-17 13:50] szha commented on #1577
Yes, the sparse features are still available there.

[2021-08-18 07:43] AetherPrior commented on #1044
@eric-haibin-lin  @leezu
Is this issue still up for grabs? I'd like to work on it if so. Thanks!

[2021-08-18 08:06] AetherPrior commented on #1299
Is this issue still up? I'd like to have a look at it!

[2021-08-18 16:52] utkarshsharma00 commented on #1421
Hello @szha and @sxjscience I would like to work on this issue. For starters, I'll first add only 3 languages from the OSCAR Corpus as a prototype and then gradually move to the whole corpus once I get it fully from @pjox.

[2021-08-18 16:57] szha commented on #1421
@utkarshsharma00 thanks for picking it up. Let us know if you need any help.

[2021-08-24 15:48] AetherPrior commented on #1299
@sxjscience Looks like this issue was not solved as of then. I have made a PR that attempts to solve this problem. It appears that you are busy, but I'm not sure whom else to ask for a review.

[2021-08-24 15:53] sxjscience commented on #1299
Thanks for the contribution. I’m reviewing the PR now.

[2021-08-24 19:11] #1299 closed

[2021-08-24 19:11] #1490 closed

[2021-08-24 20:12] szha commented on #1520
Thanks for the fix!

[2021-08-24 20:12] #1520 closed

[2021-08-24 20:24] AetherPrior opened #1580 "Difference in naming convention between op.py and test_op.py"
## Description
Mxnet's NumPy is being imported as np in the file `src/gluonnlp/op.py`:
https://github.com/dmlc/gluon-nlp/blob/5d4bc9eba7226ea9f9aabbbd39e3b1e886547e48/src/gluonnlp/op.py#L8

While NumPy is imported as np in `test_op.py`:
https://github.com/dmlc/gluon-nlp/blob/5d4bc9eba7226ea9f9aabbbd39e3b1e886547e48/tests/test_op.py#L1

This requires a change in conventions between tests and code,

[2021-08-29 13:18] karish-grover commented on #1044
Hey, I want to give this a try! I cannot find the file "bert/embedding.py"!

[2021-08-29 13:22] AetherPrior commented on #1044
@karish-grover the repository seems to have changed since then and a lot of other models seem to be in place now..

[2021-08-31 00:03] yifeim commented on #1577
Thanks. Will close this comment with a link to v0.10.x branch: https://github.com/dmlc/gluon-nlp/tree/v0.10.x

[2021-08-31 00:04] #1577 closed

[2021-11-30 18:56] barry-jin opened #1582 "Implementation of Incremental Decoding"
## Description
The implementation of incremental decoding in gluon-nlp is somewhat different from fairseq. In fairseq, the keys/values both before and after linear projection are memorialized, but in gluon-nlp, only the keys/values before the linear projection is memorialized. This difference leads to different execution number of FC operators (In [fairseq](https://github.com/pytorch/fairseq/blob/

[2022-02-24 21:02] #1563 closed

[2022-04-07 16:47] bartekkuncer opened #1586 "Fix ETA notification for max_seq_length != 512"
## Description
When you change max_seq_length value from 512 the ETA in eval_validation function does not end on 0.

### Error Message
![image](https://user-images.githubusercontent.com/59650839/162255118-36de0a42-4cac-4659-9861-5060be6f2558.png)

## To Reproduce
Change max_seq_length to e.g. 128 and run e.g ~/gluon-nlp/scripts/question_answering/commands/run_squad2_uncased_bert_base.sh.

[2022-04-25 18:55] wlehner commented on #1419
I'd like to work on this.

[2022-07-11 03:31] hb0313 opened #1589 "Wheel fails to build setup.py for gluonnlp"
## Description
gluonnlp failed to install on win10 because setup.py was not exited. I already have wheels installed both for pip and pip3.

### Error Message
(venv) PS C:\Users\HarshadPrakashBhandw\PycharmProjects\demo> py -m pip install gluonnlp-0.10.0.tar.gz --no-cache-dir
Processing c:\users\harshadprakashbhandw\pycharmprojects\demo\gluonnlp-0.10.0.tar.gz
  Preparing metadata (setup.py) ... don

[2022-07-23 18:15] Femme-js commented on #1533
Hi, Is this issue open? If yes, I would want to make this enhancement.

[2022-08-07 09:14] Abdullium commented on #1449
Have you Solved it yet

[2022-08-09 06:20] seonleeuni commented on #1589
How can I install wheel package?

[2022-08-09 13:12] hb0313 commented on #1589
This is the pip wheel package. To install used
`pip install wheel`

[2022-08-30 17:52] kiukchung opened #1592 "(not a bug) question about bert `create_pretraining_data.tokenize_lines()`"
## Description
In the function [`scripts.pretraining.bert.create_pretraining_data.tokenize_lines()`](https://github.com/dmlc/gluon-nlp/blob/5ff0519aa5a89e7e2a2c0afab164e17de55231b4/scripts/pretraining/bert/create_pretraining_data.py#L141-L145)

The code snippet:

[code]

Suggests that empty or null lines (e.g. `""` or `None`) break the for-loop returning only the lines that have been processed so

[2022-08-31 00:55] szhengac commented on #1592
This requires a format in the text file where documents are separated by empty lines. The following example consists of 2 documents, where each line is considered as a sentence in a document.
[code]

So when the `tokenize_lines` function reaches the end of the file, `if not line` is triggered and we break the loop. When the function reads the empty line between two documents, the second `if not li