[2018-04-16 19:10] szha opened #12 "embedding API should allow reading directly from zip/gz/tgz"
currently embedding API still requires unzipping and keeping the text in original form on disk, which can be huge.

[2018-04-18 22:04] #12 closed, assigned to leezu

[2018-04-18 22:06] szha opened #27 "Word Language Model script page needs more info"
The scripts page should reference state of the art papers, and identify any gap we have.

[2018-04-18 22:08] szha opened #28 "Sentiment analysis script page needs more info"
The scripts page should reference state of the art papers, and identify any gap we have. Also, any difference in training methodology should (such as using additional resources) should be clarified.

[2018-04-18 22:08] szha opened #29 "Notebooks should be converted to markdown/notedown format for easier review"
In #166, I set up a notedown (i.e. notebook in markdown format) pipeline and converted word embedding notebook to use it.

We still have three more to go:
- [x] Word Embeddings Training and Evaluation
- [x] Language Modeling using NLP Toolkit
- [x] Sentiment Analysis (SA) with pretrained Language Model (LM)

[2018-04-18 22:09] szha opened #30 "Notebooks should have download link on the page"

[2018-04-18 22:10] szha opened #31 "gluonnlp should have guidelines on how to contribute notebooks vs examples"
testing requirements
styles

[2018-04-18 22:11] szha opened #32 "Notebooks should have consistent styles"
import gluonnlp as nlp and use nlp.data, instead of from gluonnlp import data

[2018-04-18 22:13] szha opened #33 "Pre-trained Embeddings should be converted to npz for faster downloading and loading"

[2018-04-18 22:51] #31 closed, assigned to nobody

[2018-04-19 03:52] #27 closed, assigned to cgraywang

[2018-04-20 02:01] leezu opened #42 "Host files in multiple S3 regions"
Downloading files from S3 hosted in the US can be painfully slow from Hong Kong (and likely mainland). @szha can we easily host them in a second region?
In my experience the bandwidth to Europe is good, in case that the Hong Kong region is not yet ready.

[2018-04-20 20:22] sxjscience opened #44 "Vocab is not picklable"
[code]
Out:
[code]

[2018-04-20 22:24] #44 closed, assigned to nobody

[2018-04-21 05:13] mli opened #48 "some comments"
I tried to read the document by assuming I have very limited knowledge about NLP and MXNet. It's not necessary to address all of them before the first lease.

## Front-page

- [x] Add some comments into the quick example. such why we need to specify the name 'glove', what does 'glove.6B.50d.txt' mean, try to add `print(baby)`. explain what is `mx.nd.dot` (do we have an `inner` op, i feel it's more

[2018-04-21 23:32] cgraywang opened #56 "Test dataset issue when performing unitest with python3"
This error caused this PR CI failed: https://github.com/dmlc/gluon-nlp/pull/55

The detailed error msg is as below:

[2018-04-22 04:49] cgraywang opened #60 "test datasets issue with unitest"
This cause the PR failed: https://github.com/dmlc/gluon-nlp/pull/53

It might be the same issue with https://github.com/dmlc/gluon-nlp/issues/56

The error msg:

[2018-04-22 05:24] #60 closed, assigned to leezu

[2018-04-22 05:31] #56 closed, assigned to leezu, szha

[2018-04-23 06:32] leezu opened #72 "Beam search tests are flaky"
Once in a while the tests introduced in #20 will fail:

[code]

Should we fix the seed for these tests? If so we can simply add the `@pytest.mark.seed(1)` decorator.

[2018-04-24 01:51] #33 closed, assigned to szha

[2018-04-24 01:51] #32 closed, assigned to szha

[2018-04-24 01:51] #30 closed, assigned to szha

[2018-04-24 01:51] #28 closed, assigned to szhengac

[2018-04-25 16:14] szha opened #89 "website should be served with proper https setup"

[2018-04-27 04:00] Dobatymo opened #90 "Setup fails because of UnicodeDecodeError"
This line `readme = open('README.rst').read()` in setup.py can cause an decoding error on windows. For example my system uses cp950 as default code page.

please specify an explicit encoding (I guess utf-8 would be correct)
[code]

[2018-04-27 20:56] szha commented on #90
Fixed. Also updated pip with version 0.2.0.post0.

[2018-04-27 20:56] #90 closed

[2018-04-30 11:25] sxjscience opened #93 "Environment variable for configuring the default downloading location"
Currently all models/datasets will be downloaded to `~/.mxnet/...` by default. We should add an environment variable to configure the constant. Sometimes the user may not have enough space under `~` and will need to download the dataset to another location.

[2018-05-01 16:47] #89 closed

[2018-05-02 18:57] szha opened #94 "when moving files around, we should keep git history from the origin file"
1. figure out how this can be accomplished
2. explore ways to automate such process (hook?)

[2018-05-04 17:40] leezu commented on #94
Isn't this done by default?

[2018-05-04 18:06] cgraywang commented on #94
No, the history will be lost.

On Fri, May 4, 2018 at 10:40 AM, Leonard Lausen <notifications@github.com>
wrote:

[2018-05-04 23:01] szha commented on #94
See #95

[2018-05-04 23:01] #94 closed

[2018-05-07 23:58] #72 closed

[2018-05-08 06:30] fierceX opened #100 "Want to add bi-lstm CRF model"
Recently engaged in NLP work, has been concerned about mxnet, want to add bi-lstm CRF model, TF already has a CRF module, Hope Mxnet and gluon as soon as possible. Thank you

[2018-05-11 03:28] leezu commented on #93
@lixin4ever you can usually pass the `root='/some/path/` parameter to functions that download files (ie datasets/models). The change proposed by @sxjscience needs some (trivial) changes in the code, but no-one has done them yet. If you would like to contribute it, please let us know and we can provide guidance.

[2018-05-11 07:05] lixin4ever commented on #93
@leezu I am happy to contribute to this project. How to start? Is there any guidance or documentation online?

[2018-05-11 07:26] sxjscience opened #102 "Better tokenizer for Chinese"
Currently, we support the MosesTokenizer in NLTK and the spaCy tokenizer. Both are not very good for tokenizing Chinese sentences. We could consider adding some Chinese tokenizers.

I've searched online and found these two candidates (There would be more):
1) Standford segmenter: https://nlp.stanford.edu/software/segmenter.html , http://www.nltk.org/_modules/nltk/tokenize/stanford_segmenter.html
2

[2018-05-11 11:29] sxjscience opened #103 "Implementing Differentiable Neural Computer"
We could implement DNC and test it on the bAbI dataset to illustrate how to implement memory networks in Gluon-NLP.

[DNC paper](https://www.nature.com/articles/nature20101)
[DNC code](https://github.com/deepmind/dnc)

[2018-05-11 18:29] szha commented on #93
@leezu We can start using `MXNET_HOME` with this package first and propagate the change back to mxnet later on.

[2018-05-11 21:51] cgraywang opened #104 "Implement Squad dataset"
Implement the SQuad QA dataset

[2018-05-13 00:14] szha commented on #100
Indeed, CRF is useful in many decoding tasks.

Contributions are welcome!

[2018-05-17 03:41] Aashit-Sharma opened #111 "Importing gluonnlp giving :'ImportError: cannot import name '_get_repo_url' '"
All libraries were upgraded; running on Ubuntu
A simple import of gluonnlp giving the following error
[code]

[2018-05-17 04:00] szha commented on #111
Currently gluonnlp requires the pre-release version of mxnet. You can try `pip install --pre --upgrade mxnet`

[2018-05-22 01:13] eric-haibin-lin opened #115 "gluonnlp.data.transforms.NLTKMosesTokenizer broken with nltk 3.3"
[code]

If I install nltk 3.2.5, it works. Does it mean nltk is broken ...?

[2018-05-22 01:40] szha commented on #115
http://www.nltk.org/news.html?highlight=moses#id1

[2018-05-22 01:40] #115 closed

[2018-05-22 02:03] eric-haibin-lin commented on #115
Should we specify nltk version in installation page

[2018-05-22 02:04] szha commented on #115
yes, I'm doing it now.

[2018-05-24 02:16] sxjscience opened #119 "Better tutorial on how to use the attention cell"
User has asked for a better tutorial on how to use the AttentionCell  https://discuss.mxnet.io/t/general-purpose-attention-layer/1066 . We could have a simple example about attention + multi-head attention.

[2018-05-24 09:33] sxjscience commented on #93
Thanks @lixin4ever for contributing. This has been solved by https://github.com/dmlc/gluon-nlp/pull/106 .

[2018-05-24 09:33] #93 closed

[2018-05-25 17:44] zhiheng-huang commented on #100
+1. LSTM/BLSTM + CRF/segmental CRF would be very useful.

[2018-05-29 23:53] cgraywang opened #122 "OSError in examples/word_embedding_evaluation/word_embedding_evaluation.ipynb"
The detail of the error:

[2018-06-04 22:21] eric-haibin-lin opened #131 "support vocab with indices assigned based on frequencies"
Currently, the indices in `gluonnlp.Vocab` are assigned in the following order:
- assign indices to special tokens, including: \<unk\>, \<pad\>, \<bos\>, \<eos\> and reserved ones
- assign indices to normal tokens in the counter.

What I see missing for the language model in https://arxiv.org/pdf/1602.02410.pdf is the capability to do the following. For large scale language models that require sam

[2018-06-06 04:55] szha commented on #131
A vocabulary class with explicit ordering of tokens based on a criteria sounds reasonable to me. Thanks for suggesting it.

one alternative to the proposed solution is that we can introduce a token_sort_key argument which takes a lambda function of form f(token)->object, and the vocab indices are then sorted by the value of the output of this function. The order can then be defined by this functio

[2018-06-06 17:41] eric-haibin-lin commented on #131
Good point on the custom lambda function. However I don't think f(token) is sufficient in some cases. For my case it's rather f(token, counter) -> object.

[2018-06-06 20:04] szha commented on #131
lambda f: counter[token]?

[2018-06-06 20:05] szha commented on #131
you can carry arbitrary state in a function, including a counter.

[2018-06-07 00:58] szha commented on #111
@Aashit-Sharma let me know if there's still issue. Thanks

[2018-06-11 05:54] sxjscience commented on #131
Would it be better to just extend the Vocab class?

[2018-06-12 00:54] #104 closed

[2018-06-13 02:39] sxjscience opened #147 "[Discussion] Add a C Library to GluonNLP"
As reported in https://github.com/dmlc/gluon-nlp/pull/136, some functions can be greatly accelerated using C implementations. Would it be worthwhile to add a C library to hold these functions? In fact, FastText are generally implemented in C++  (https://github.com/facebookresearch/fastText/tree/master/src) and the bleu score in fairseq is also implemented in C (https://github.com/pytorch/fairseq/t

[2018-06-13 02:41] szha commented on #147
Indeed. On the other hand, the concern around having C library is it complicates the testing setup here. We might not have the luxury of the testing suites of many different environments in mxnet.

[2018-06-13 02:45] leezu commented on #147
For most processing steps numba is sufficient to speed up. Unfortunately numba does not (yet) support string handling, which in a NLP library is quite central.. So it can only be used after a dataset has been numericalized / coded. Consequently I think it's useful to add it, though I'm not sure how it affects testing (ie. requires testing on Windows?)

[2018-06-16 09:33] lixin4ever commented on #102
Can we create a tokenizer class only for Chinese here? Or still designing a general class (like **NLTKMosesTokenizer**) and setting the default "lang" as zh?

[2018-06-16 09:56] sxjscience commented on #102
I think it’s a good solution.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: LI XIN <notifications@github.com>
Sent: Saturday, June 16, 2018 5:33:24 PM
To: dmlc/gluon-nlp
Cc: Xingjian SHI; Author
Subject: Re: [dmlc/gluon-nlp] Better tokenizer for Chinese (#102)

Can we create a tokenizer class only for Chinese here? Or still designing a general class (like NLTKM

[2018-06-17 17:51] eric-haibin-lin commented on #131
What about extending the existing vocab class like following:

Vocab(...., token_sort_key=None, ...)

- token_sort_key: a function: func(str) -> int

    When specified, the indices of all tokens (including special and reserved tokens) are generated based on the score produced by token_sort_key in descending order. The token_sort_key function takes a token as the input and produces a score as the

[2018-06-17 17:52] szha commented on #131
@astonzhang

[2018-06-17 19:03] astonzhang commented on #131
I think the use case is reasonable. Just be careful that we assume index of unknown token to be 0 in token_embedding, such as:

https://github.com/dmlc/gluon-nlp/blob/master/gluonnlp/embedding/token_embedding.py#L284

[2018-06-20 03:15] szha opened #156 "[DISCUSS] How do we reorganize the homepage for easier feature discovery"
right now it's not obvious what is available, especially lots of the code are in scripts. as a starter, here are some ideas:
1. rename scripts to Toolkits, and list them in the home page
2. split the scripts into their individual pages instead of one unified page

[2018-06-22 20:56] szhengac commented on #156
"Toolkit" may be confusing with Gluon nlp toolkit. But sure it is better to have a hierarchical structure.

[2018-06-22 22:32] szha commented on #156
Let's keep the "Scripts" name then. We definitely need nicer page layouts for them.

[2018-06-24 00:35] szha opened #162 "API doc examples are currently not easy to copy/paste"
users may want to use a snippet from example directly, so making the notebooks copy-friendly is important

currently the code blocks have python shell prefix ">>>" in them. see http://gluon-nlp.mxnet.io/api/notes/data_api.html

[2018-06-24 17:34] ThomasDelteil opened #165 "Improve examples with ready to use examples"
It would be nice to have examples for Language Models and NMT that show an end to end example for a given sentence.

nmt:
[code]

language model:
[code]

[2018-06-25 01:36] ThomasDelteil opened #167 "Question for word2vec training"
It looks like the arguments for `args.negative` is the number of negative samples, per word context.
I think it would make more sense to use it as the total number of negative samples, as usually discussed in the paper, or update the documentation to make it clear.
[code]

Second question:
Is there any mitigation to prevent sampling from word contexts in the negative samples?

@leezu

[2018-06-26 20:35] hhexiy opened #171 "beam search early stop"
Feature request:
Stop search after beam_size EOS generated in the beam.

[2018-06-26 20:41] hhexiy opened #172 "stochastic beam search / sampling"
Need sampling with temperature for inference.

At each search step, sample beam_size tokens from the token distribution instead of taking the top k.

[2018-06-27 03:01] sxjscience commented on #172
It would be a nice feature. We can also add the particle filter sampler, which resamples the particles at each timestamp.

[2018-06-27 22:04] szha opened #176 "beam search should support skip_value"
When decoding, a common use case is to skip some of the output values, such as padding, end-of-sequence, unknown token, etc.

[2018-06-28 00:42] szhengac commented on #171
Our implementation has already taken this into account. See https://github.com/dmlc/gluon-nlp/blob/93dad9ef397c2ad31f828eea16797f7e536a6da8/gluonnlp/model/beam_search.py#L225-L227

[2018-06-28 01:07] szha commented on #147
One approach that @eric-haibin-lin took was to include a make file and the c code in the example, and ask users to compile it when using.

[2018-06-28 01:11] sxjscience commented on #147
Yes. We can use CMake to also benefit the windows users.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Sheng Zha <notifications@github.com>
Sent: Thursday, June 28, 2018 9:07:02 AM
To: dmlc/gluon-nlp
Cc: Xingjian SHI; Author
Subject: Re: [dmlc/gluon-nlp] [Discussion] Add a C Library to GluonNLP (#147)

One approach that @eric-haibin-lin<https://github.com/eric-

[2018-06-28 01:51] hhexiy commented on #171
ok, thanks!

[2018-06-28 01:51] #171 closed

[2018-06-28 06:20] #102 closed

[2018-06-28 20:54] JulianSlzr opened #178 "Position encoding bug in transformer?"
The way the position encoding in `scripts/nmt/transformer.py` is written computes `sin` on `2i` and `cos` on `2i+1`. This is opposed to computing `sin` and `cos` on `2i` at positions `2i`, `2i+1` (@szhengac perhaps I'm misunderstanding? Please check).

Here is my proposed fix:
[code]

[2018-06-29 19:21] ThomasDelteil commented on #167
@leezu answered offline:
- args.negative will have the documentation updated
- negative sampling without positive is in PR right now https://github.com/dmlc/gluon-nlp/pull/159

[2018-06-29 19:21] #167 closed

[2018-07-01 04:20] leezu commented on #162
I suggest we follow https://devguide.python.org/documenting/#showing-code-examples (note the toggle in the upper right corner of the code example)

[2018-07-01 11:34] sxjscience commented on #178
I think the relative order should not affect the performance

[2018-07-09 16:18] congchan opened #199 "reproducing AWD model"
The training script that reproduces the AWD results in https://github.com/dmlc/gluon-nlp/tree/master/scripts/language_model is using SGD. But actually the AWD model stand for ASGD Weight-Dropped LSTM, in which ASGD is the average sgd.

[2018-07-09 18:01] cgraywang commented on #199
It should be ready soon, we are testing it now @congchan Thanks!

[2018-07-09 22:47] congchan commented on #199
Thanks! That's exactly what I need.

[2018-07-11 06:19] szha commented on #178
Any update?

[2018-07-12 18:08] leezu opened #205 "Pypi Readme doesn't render well"
As pointed out by @szha in https://github.com/dmlc/gluon-nlp/pull/204 our Readme [does not render well on Pypi](https://pypi.python.org/pypi/gluonnlp) due to relative links in the Readme.
In particular there are     _Quick Start Guide_   , _Resources_ links at the top of the Readme, linking to the second half of the document.

Should we remove the relative links? As the document is not too long I

[2018-07-13 18:20] szha opened #207 "word2vec pre-trained embeddings"
It would be nice to have w2v pre-trained embeddings

[2018-07-16 05:04] soulbliss commented on #165
I would like to work on this, can you provide further details ?

[2018-07-16 05:05] soulbliss commented on #119
I would like to work on this, can you provide further details ?

[2018-07-16 18:42] cclauss opened #212 "'name' is an undefined name twice in evaluation.py"
An _undefined name_ may cause NameError to be raised at runtime.

flake8 testing of https://github.com/dmlc/gluon-nlp on Python 3.6.3

$ __flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics__
[code]

[2018-07-16 18:57] leezu commented on #212
Thanks for pointing this out

[2018-07-16 19:03] leezu opened #214 "Add flake8 to CI"
@cclauss has pointed out several issues discoverd by running flake8. We may want to run it on CI too.

Currently the following issues need to be addressed before flake8 will run without errors on CI (or selectively disabled):

[code]

[2018-07-16 19:10] cclauss commented on #214
I usually do it in two passes like this:
[code]
The first pass halts the build on error but the second just treats "_style violations_" as warnings.

__E901,E999,F821,F822,F823__ are the "showstopper" flake8 issues that can halt the runtime with a SyntaxError, NameError, etc.  Most other flake8 issues are merely "style violations" -- useful for readability but they do not effect runtime safety.  T

[2018-07-16 19:52] leezu commented on #214
Thanks. I believe we should enforce `E901,E999,F821,F822,F823` on the CI. I have enabled the check for them following your suggestion in https://github.com/dmlc/gluon-nlp/pull/213 (subject to review).
I would be happy to also enforce style related issues (once they are all fixed or selectively disabled), but let's see what others think.

[2018-07-24 07:47] cyrusmvahid opened #229 "gluonnlp.batchify.Stack() does not accept input parameter"
According to the code base in `gluonnlp.data.batchify` , `Stack()` should be able to take` dtype` as input if run on a jupyter notebook

[code]
Running the  above code in notebook results in:
[code]

However, the same code works fine on PyCharm

result of the same code on PyCharm, remotely connected to the same EC2 instance is:
[code]

# environment

[code]

# Jupyter version:
[code]

[2018-07-24 15:23] szha commented on #229
Hi Cyrus. Is it possible that you have multiple versions of gluonnlp installed? For example, is it possible that your jupyter kernel is using a different copy? I can indeed find the dtype argument in Stack https://github.com/dmlc/gluon-nlp/blob/2ca508fbeb156343fc0730f0e74ed6804417aa09/gluonnlp/data/batchify.py#L131

[2018-07-24 15:33] cyrusmvahid commented on #229
gluonnlp.__version__ is 0.3.2 on both environments
[code]
0.3.2
1.3.0 but now the problem is gone. I must have upgraded jupyter env as ran pip commands in there
Sorry for the false alarm

[2018-07-24 15:33] #229 closed

[2018-07-25 08:23] ghkk opened #231 "NameError: name 'long_description' is not defined"
pip install -U gluonnlp
[code]

[2018-07-25 18:18] szha commented on #231
@ghkk my bad. patching it now

[2018-07-25 18:20] szha commented on #231
I've updated the pip package. Should be fixed now.

[2018-07-25 18:22] #231 closed

[2018-07-30 00:06] #214 closed

[2018-07-30 00:06] #212 closed

[2018-07-30 00:07] szha commented on #207
@leezu added these in #225

[2018-07-30 00:07] #207 closed

[2018-07-30 00:11] szha commented on #29
@leezu @cgraywang @szhengac

[2018-07-30 00:17] szha commented on #119
Hi @soulbliss. Sorry for the late reply and your contribution is certainly welcome! Currently we have three supported attention cells in GluonNLP, that can be found [here](http://gluon-nlp.mxnet.io/api/model.html#attention-cell)

The goal is to introduce the memory-network-like abstraction for these attention cells, and briefly explain how to use them. The best way to demonstrate it is probably to

[2018-07-30 00:19] szha commented on #165
Hi @ThomasDelteil. Thanks for bringing up this idea. Would you like to share more details?

[2018-07-30 02:31] leezu commented on #165
@szha @ThomasDelteil How about using repl.it, as with the "Quick example" on the homepage right now:

<img width="710" alt="image" src="https://user-images.githubusercontent.com/946903/43374723-fe4fb2bc-9365-11e8-838d-8d1d519c7542.png">

[2018-07-30 02:55] szha commented on #165
Ideally we'd want a solution that can be part of our CI and is not mutable through means other than PR.

[2018-07-30 15:54] ThomasDelteil commented on #165
@leezu I am personnally not a big fan of repl.it and I think CI-tested scripts or notebooks are clearer.
@soulbliss @szha
My idea is to follow the example of the ["using pre-trained word embeddings"](http://gluon-nlp.mxnet.io/examples/word_embedding/word_embedding.html) notebook.
Have a "using pre-trained neural machine translation model" notebook that shows the usage, especially pre-processing po

[2018-07-30 19:05] szha opened #236 "gluon-nlp should provide citation information"
@mli suggested to provide reference information on github readme for software.

[2018-07-30 19:10] leezu commented on #236
I'd suggest to also add it to the homepage then

[2018-07-30 19:14] szha commented on #236
need to figure out the bib format for it.

[2018-07-31 22:11] JulianSlzr opened #238 "Batch-dependent behavior in SoftmaxCEMaskedLoss?"
Hi all,

Consider the following (placed in `scripts/nmt/`):
[code]
This outputs:
[code]
**However, these should all be `3.2580965` (which is ln(26))**, as this is the (average) CE across all valid timesteps, per sequence.

The problem is [the averaging step of CE is not aware of `valid_length`](https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/gluon/loss.py#L319), which leads to "

[2018-07-31 22:35] szhengac commented on #238
@JulianSlzr , in the current nmt scripts, the token loss is averaged by the total number of the tokens in the mini-batch. You can imagine it by concatenating all the sequences in the mini-batch to a single one and taking average. You can find it in the following code.
`loss = loss * (tgt_seq.shape[1] - 1) / (tgt_valid_length - 1).mean()`
This ensures that all the tokens are equally weighted. In fa

[2018-08-01 01:00] leezu opened #240 "Run inline example code on CI"
Run inline example code on CI to prevent bugs like #239 . This requires some configuration changes, but should be straightforward.

[2018-08-01 03:51] rishita opened #242 "Reshape argument issues in running attention cells"
[code]

The first one works, the second one says `"TypeError: Only 'shape' is supported as keyword argument. Got: shape, reverse."
`
Versions (latest):
gluonnlp.__version__ = '0.3.3post1'
mxnet.__version__ = '1.2.1'

Originally hitting this issue in the attention_cell code in gluonnlp, reproduced it in the aforementioned toy example based on that.

Original exception thrown at:
[code]

[2018-08-01 04:03] szha commented on #242
The reverse argument in ndarray's fluent reshape was already fixed in mxnet but wasn't included in 1.2.1 release. https://github.com/apache/incubator-mxnet/blame/master/python/mxnet/ndarray/ndarray.py#L1049-L1053

Currently our CI tests for the following version: https://github.com/dmlc/gluon-nlp/blob/master/env/py3.yml#L14

[2018-08-01 05:26] leezu opened #245 "Unify bptt_batchify interface between LanguageModelStream and LanguageModelDataset"
Currently there are at least the following discrepancies:

- `LanguageModelStream.bptt_batchify()` returns a mask
  - The mask can be recovered by `mask = data != vocab[vocab.padding_token]`
  - We can either change the `LanguageModelDataset.bptt_batchify()` interface to also return a mask or use above formula to recover there mask where neede.
  - I vote for above formula, as it explicitly define

[2018-08-01 06:00] szha commented on #245
I think it would be good to make the interface and skip behavior consistent. On that, I think it's a good time to bring up again #128 (which was reverted in #134). The interface would become clean in two ways:
1. corpora are just corpora. they are arbitrary text and they don't have to have specific format for samples
2. batchify is a clean way to abstract the BPTT logic, as the function abstractio

[2018-08-01 18:46] cgraywang commented on #245
Based on offline discussion with Leo @leezu  , I think it is reasonable to align the bptt_batchify return value between datastream and corpus dataset. Then let's remove the mask as the return value, and only preserve data and target as the return value. Thanks @leezu

[2018-08-01 18:52] leezu commented on #245
https://github.com/dmlc/gluon-nlp/pull/246 serves to illustrate the changes suggested here to unify the API (not taking into account #128, which indeed should be revisited, thanks @szha). @szha @eric-haibin-lin please double check and raise any concerns. I'm happy to adapt the code there if you prefer any other way to align the API.

[2018-08-02 18:31] leezu opened #252 "SimLex-999 dataset link broken"
@szhengac noted a CI failure due to a broken link. Hopefully the link can be made to work again or the author can give us permission to redistribute the dataset. Progress is tracked at https://github.com/fh295/fh295.github.io/issues/1

[2018-08-07 16:52] eric-haibin-lin opened #259 "[Discussion] Use foreach to unroll all language models"
https://github.com/apache/incubator-mxnet/pull/11948 introduces foreach to the contrib.unroll method which makes RNNs hybridizable and easy to export to json for deployment. In theory it introduces extra overhead such as calling `nd.where`. We need to evaluate the performance impact (I assume it's relatively small) and change gluon nlp language models to hybrid blocks for ease of deployment if pos

[2018-08-08 02:50] leezu commented on #252
@szha the link is fixed now.

[2018-08-08 02:50] #252 closed

[2018-08-09 22:48] eric-haibin-lin opened #262 "Move custom cython operator to MXNet"
The log uniform sampler used in https://github.com/dmlc/gluon-nlp/blob/master/scripts/language_model/large_word_language_model.py needs to be built with cython, making it harder to use. Ideally this operator should be supported in MXNet.

[2018-08-09 23:57] bikestra opened #263 "ConvolutionalEncoder: contradictory description of parameter `conv_layer_activation`"
https://github.com/dmlc/gluon-nlp/blob/ca071a6dfd7ad729a50127d1e43afe417b3230b6/gluonnlp/model/convolutional_encoder.py#L63-L66

The docstring says that if nothing is specified for `conv_layer_activation`, no activation will be applied; however, the default is `tanh`, so `tanh` will be applied if nothing was specified. I don't think Kim et. al paper applies any activation, so the default value of

[2018-08-10 00:01] bikestra commented on #263
Sorry, Kim et al do use `tanh`.

[2018-08-10 00:04] leezu commented on #263
https://github.com/yoonkim/lstm-char-cnn/blob/master/model/TDNN.lua#L27

[2018-08-10 00:08] bikestra commented on #263
Yes, they use `tanh`, but then shouldn't the description of the default behavior be changed?

[2018-08-10 00:10] leezu commented on #263
Thanks for pointing out the docstring issue and no worries regarding `tanh`.  I agree we should change the docstring. Do you want to open a PR to change it?
If so, you may also wish to add
[code]

to

[code]
or similar in
https://github.com/dmlc/gluon-nlp/blob/ca071a6dfd7ad729a50127d1e43afe417b3230b6/gluonnlp/model/convolutional_encoder.py#L117

[2018-08-10 00:17] bikestra commented on #263
OK, I will open a PR.

[2018-08-10 05:06] szha opened #264 "apply_weight_drop required changes to integrate mxnet 1.3"
our existing implementation on apply_weight_drop relied on a non-public attribute in gluon RNN blocks that were removed apache/incubator-mxnet#11482 when making the RNN blocks hybrid, and it does not have test, which will prevent us from integrating with mxnet 1.3. We need:
- [ ] fix apply_weight_drop and upgrade the mxnet dependency to allow 1.3 integration.
- [ ] add test for apply_weight_drop
-

[2018-08-10 05:12] szha opened #265 "[DISCUSS] Encoder-Decoder Interface"
I'd like to discuss about the design for encoder decoder for sequence-to-sequence models. We need such an interface so that:
1. utilities can build on these interfaces.
2. we can have a unified sequence to sequence model with pluggable encoder decoder, which speeds up development.
3. existing models can adopt the same interface for better interchangeable use.

We avoided the temptation of proposin

[2018-08-10 20:25] mli opened #267 "wrong table format"
see http://gluon-nlp.mxnet.io/scripts/index.html

<img width="227" alt="screen shot 2018-08-10 at 1 24 40 pm" src="https://user-images.githubusercontent.com/421857/43979839-e2fa795e-9ca0-11e8-93cd-0a23eabf21d5.png">

[2018-08-11 07:29] #242 closed

[2018-08-11 19:25] #263 closed

[2018-08-12 06:39] szha commented on #267
@mli this is already fixed in master and it will be addressed when we make the next release (likely in the following week)

[2018-08-12 06:43] szha opened #269 "Need Script/Example/API-specific Contribution Guidelines"
We currently have different implicit requirements for scripts, examples, and APIs, but our contribution guideline is still a generic how-to. https://github.com/dmlc/gluon-nlp/blob/master/docs/how_to/contribute.rst

Let's discuss the requirements for each of these types of contributions so that we can document them in our contribution guidelines.

@sxjscience @szhengac @leezu
@cgraywang @astonzhang

[2018-08-12 19:01] eric-haibin-lin commented on #269
+1. Will be useful for accepting SoC code.

[2018-08-12 19:01] eric-haibin-lin commented on #262
https://github.com/dmlc/gluon-nlp/pull/270

[2018-08-12 20:10] szha opened #271 "GluonNLP 0.4 release tasks"
We're targeting GluonNLP 0.4 release on 8/17 in preparation for the upcoming KDD tutorials.
@sxjscience @szhengac @leezu
@cgraywang @astonzhang @eric-haibin-lin
@piiswrong @mli

Here's the proposed scope. Please comment if you'd like to add or drop any item:
- [ ] #279 (@cgraywang)
- [ ] #199 #170 (@cgraywang)
- [ ] new language model parameters on wikitext2 (@cgraywang)
- [x] #298 #299 (@cgraywan

[2018-08-12 22:27] junrushao1994 commented on #271
@szha Symbolic beam search #233 is done and have passed unittests. It will be ready to be merged once #264 is done.

[2018-08-13 03:53] #264 closed

[2018-08-13 15:18] leezu opened #274 "Sharded dataloader causing CI hangs"
Recently many jobs on CI are running into deadlocks and must be manually killed. This morning I killed a few jobs that ran more than 12 hours. I observe that all of them hang in the sharded dataloader tests. @szhengac do you have any idea what could be the reason?

From http://ci.mxnet.io/blue/organizations/jenkins/gluon-nlp/detail/PR-246/10/pipeline
[code]

Also
- http://ci.mxnet.io/blue/organiza

[2018-08-13 15:42] szhengac commented on #274
Does script have the same problem? Is it possible that it is due to some
env setup changes? I think we don’t have such problems before.

On Mon, 13 Aug 2018 at 23:18, Leonard Lausen <notifications@github.com>
wrote:

[2018-08-13 16:46] leezu commented on #274
I'm not aware of any change in environment. It may be due to some other issue, but for some reason CI always shows that it was working on the sharded dataloader test when being killed.

[2018-08-13 17:29] leezu commented on #274
I think the hang also occurs during the test_transformer scripts tests as it relies on the ShardedDataloader. ci.mxnet.io/blue/organizations/jenkins/gluon-nlp/detail/PR-275/2/pipeline/22
I disabled that for now too.

[2018-08-13 18:33] leezu commented on #274
CI works again after disabling both. The test should be enabled again before 0.4

[2018-08-14 00:49] szhengac commented on #274
I think this is due to the recent change in DataLoader (#11908). The shared DataLoader inherits the DataLoader, and the change possibly incurs some inconsistency. The workaround is to copy the original DataLoader to shared Dataloader instead of using inheritance.

[2018-08-14 01:16] szha commented on #274
@zhreshold may have some ideas.

[2018-08-15 06:17] #274 closed

[2018-08-15 06:35] szha commented on #271
We got text classification based on fasttext thanks to @sravanbabuiitm

[2018-08-16 03:31] leezu commented on #42
That works. I had some speed issues but in the end a VPN is at fault. Sorry about the noise.

[2018-08-17 04:21] eric-haibin-lin opened #290 "Misleading error message for loading pretrained model"
[code]
`pretrained` is already set to True. Need to fix the msg.

[2018-08-17 04:34] szha commented on #290
The error message does say that it's not loading from predefined datasets.

[2018-08-17 04:36] leezu commented on #245
Fixed by #282

[2018-08-17 04:36] #245 closed

[2018-08-17 04:38] leezu opened #291 "GBW vocab needs update"
#282 unified the BPTT interface. GBW before used both `<eos>` and `<bos>`. But #282 didn't update the default vocabulary file downloaded from S3. The vocabulary needs to be updated to remove `<bos>` as otherwise the sampling weights won't be correct, which seems to result in 0.5 higher train PPL.

[2018-08-17 04:47] szha commented on #291
WIP

[2018-08-17 04:50] #290 closed

[2018-08-17 04:52] szha commented on #172
#272

[2018-08-17 18:12] szha commented on #236
let's write a survey paper and share that instead since this library to be open to all community.

[2018-08-17 18:12] #236 closed

[2018-08-17 18:27] astonzhang commented on #269
- Try to have < 10 lines of code per block, < 100 lines of code per notebook.

Not sure if this is feasible.

[2018-08-17 19:19] szha commented on #271
Pinging everyone again. The cutoff is today.

[2018-08-17 20:02] #205 closed

[2018-08-18 04:49] #291 closed

[2018-08-18 04:49] szha commented on #291
addressed in #294

[2018-08-18 04:54] szha opened #298 "word_language_model.py is broken on StandardRNN"
Using 3d9df55 with mxnet-cu92==1.3.0b20180817, I ran into the following problem.

[code]

[2018-08-18 08:58] szhengac commented on #298
We don't have the issue with older mxnet version?

[2018-08-18 09:00] szha commented on #298
the error was likely introduced after the last update on the language model script which includes the combined loss. fix is here https://github.com/dmlc/gluon-nlp/pull/299/files#diff-828cd25530c96f6095fe70725dc5d62fR229

[2018-08-18 09:05] szhengac commented on #298
We definitely need to add tests on other scripts.

[2018-08-18 09:50] #298 closed

[2018-08-18 17:21] szha opened #302 "We need to speed-up CI run"
each CI run now takes 50m to 1hr to finish

[2018-08-19 09:44] eric-haibin-lin opened #305 "Checkpoint management"
The large word language model scripts produces > 100GB checkpoints. We want to add some logic to automatically keep the past K checkpoints and remove the previous ones so that it doesn't exceed disk capacity.

[2018-08-19 12:08] leezu opened #306 "Merge back presentation mode notebooks"
For kdd18.mxnet.io we have added metadata to the notebooks to enable presentation mode with https://github.com/damianavila/RISE .

See below GIF for a basic intro to the tool
![Basic usage](https://media.giphy.com/media/3oxHQtTxAaZwMOHr9u/giphy.gif)

The presentations are currently structured such that the code is shown, but most textual descriptions is skipped, as this is to be explained by the p

[2018-08-19 12:12] leezu commented on #306
This clashes however with https://github.com/dmlc/gluon-nlp/issues/29
We need to patch https://github.com/mli/notedown first

[2018-08-20 16:51] szha commented on #267
fixed

[2018-08-20 16:51] #267 closed

[2018-08-20 17:17] NonvolatileMemory opened #308 "fasttext scripts test wait too much time"
I think the fasttext scripts may have some bugs, it costs too much time to test [about 30 min for the first batch of test set w.r.t the dataset yelp_full].
I use wait_to_read and find the bottenneck is this line
line 95 in the file train_xxx_xxx:
``        output = net(data)
but I don't know why it could be the bottenneck.

My mxnet version is nightly cu 80 and python version 2.7, gluonnlp 0.4.0

[2018-08-20 17:18] NonvolatileMemory commented on #308
the bug only occurs at the first batch when testing, the other batches are very fast.

[2018-08-20 17:18] NonvolatileMemory commented on #308
seems sth wrong caused by the aysnc

[2018-08-20 17:30] leezu commented on #308
@sravanbabuiitm do you know what could be wrong?

[2018-08-21 02:49] NonvolatileMemory commented on #308
find that the reason may be the training is too costly.
caused by as_in_context

[2018-08-23 22:15] szha commented on #302
Tests that are running for more than 10 seconds.
[code]

[2018-08-25 19:05] eric-haibin-lin commented on #302
For test_batchify_language_model.py::test_stream_bptt_batchify,

I haven't profiled the test myself. One guess is that the pytest parametrization leads to repeated construction of CorpusDataSet, Counter and Vocabulary, which can be avoided. https://github.com/dmlc/gluon-nlp/blob/master/tests/unittest/batchify/test_batchify_language_model.py#L98-L99

If generating batches for the train/valid/test s

[2018-08-25 19:43] szha commented on #271
0.4 has been released. We will track the unfinished items separately.

[2018-08-25 19:43] #271 closed

[2018-08-25 19:44] leezu commented on #302
@eric-haibin-lin I'll open a PR to speed it up using https://docs.pytest.org/en/latest/fixture.html soon. Sorry for introducing the 'speed regression'

[2018-08-25 19:45] szha commented on #306
Does regular notedown work with RISE? mli/notebook contains a patch for Chinese characters, and since this repo uses English, we can use the regular notedown if it works.

[2018-08-25 19:46] leezu commented on #306
Currently, notebook and cell metadata is not preserved in the conversion. RISE relies on the metadata. We need to improve notedown to support metadata first

[2018-08-26 00:42] eric-haibin-lin commented on #269
@astonzhang That was added in the context of KDD notebook presentation. Otherwise the code block doesn't fit in one screen. We can relax it a bit when it comes to notebooks on the website.

[2018-08-26 01:15] leezu commented on #269
I suggest to follow the spirit of the guidelines on the website too. Too long notebooks on the website will probably not be read anyways and may just scare potential users.

[2018-08-26 06:38] szha commented on #302
#317

[2018-08-27 22:08] safrooze opened #322 "Implement Universal Sentence Encoder"
Requesting [Universal Sentence Encoder](https://arxiv.org/pdf/1803.11175.pdf) to be implemented in GluonNLP toolkit.

[2018-08-28 03:05] szha commented on #302
#323

[2018-08-29 23:12] szha opened #325 "Model Zoo Page"
We currently have several pre-trained language models, but there's no list of content for the model zoo. As we have more and more pre-trained models, we can consider:
- move pre-defined models into a model_zoo module.
- have a page to summarize what pre-trained models are available.
- allow people to contribute pre-defined models and pre-trained parameters more easily.

[2018-08-31 02:33] sravanbabuiitm commented on #308
I have started looking into this, it might be an issue with data loading, we will make sure we use the right data loaders to fix the issue. thnx!

[2018-09-01 02:16] NonvolatileMemory commented on #308
thx!

[2018-09-07 02:35] lixin4ever commented on #100
@szha I will handle this issue.

[2018-09-07 02:51] szha commented on #100
Great, thanks @lixin4ever. Feel free to connect with @sxjscience and he can help out if you have some questions :)

[2018-09-09 08:05] NonvolatileMemory commented on #325
I agree.
Like the transformer ["attention is all you need"] needs so much time and resource to train, if gluon-nlp can offer the pre-trained parameters it would be very good.

[2018-09-09 08:12] NonvolatileMemory commented on #325
need some contributors?

[2018-09-10 01:59] szha commented on #325
We will need a new encoder-decoder interface (#265) and to do some refactoring, after which we can move the model definition into our API and start sharing pre-trained weights.

[2018-09-10 02:06] szha commented on #325
In the meantime, we have the weights on WMT14 EN-DE at http://apache-mxnet.s3-accelerate.dualstack.amazonaws.com/gluon/models/transformer_en_de_512_WMT2014-14bd361b.zip. If you're accessing it from China, it might be faster with this link instead: https://apache-mxnet.s3.cn-north-1.amazonaws.com.cn/gluon/models/transformer_en_de_512_WMT2014-14bd361b.zip

[2018-09-10 02:12] szha commented on #325
@szhengac for now, shall we provide these links in the scripts page instead?

[2018-09-10 07:00] szhengac commented on #325
@szha. Sure, We can provide the links in the scripts page.

[2018-09-10 09:46] KurtJanssensCRW opened #329 "Add pre-trained source cc.en.300 for token embedding fasttext"
FaceBook Research recently released the English source files.
https://github.com/facebookresearch/fastText/commit/5bf8b4c615b6308d76ad39a5a50fa6c4174113ea
Could those be added to Gluon-NLP as well?

[2018-09-10 18:01] szha commented on #329
Yes, I can add the English vectors and crawl-300d-2M-subword.zip

[2018-09-11 04:18] szha commented on #172
sampling with temperature has been added.

[2018-09-11 08:32] KurtJanssensCRW commented on #329
Thank you very much! That will be greatly appreciated.
Also, at the moment it's not possible to use _wiki-news-300d-1M-subword.vec.zip_ as source with _load_ngrams=True_
Do I understand it correctly that this should be possible since it has been trained with subword information?

[2018-09-11 13:49] mingwei82 opened #331 "import gluonnlp returns an error"

[2018-09-11 14:45] #331 closed

[2018-09-12 01:37] sravanbabuiitm opened #333 "Trainable = False for layers/embedding layer"
Hi,

While training a deep network with pretrained embeddings, LSTM , one would have a choice to freeze the pretrained embeddings or let the pretrained embeddings get trained too.

Other than not setting a trainer for the embeddings layer in which case it wont get updated, is there a diff way to explicitly mention while creating the layer to not train/update it ?

I need to create a trainer for re

[2018-09-12 01:43] sravanbabuiitm opened #334 "Number of trainable params in network"
Hi,

print(net) is giving the overview of the network, but doesnt give me the number of params that are being updated in each layer. for example, keras net.summary() gives the overview of shapes and number of params in each layer that could be trained/updated.

is there a way to figure this out from gluon API ?

[2018-09-12 01:45] sravanbabuiitm commented on #329
on english, i have observed wiki.en.vec to be much superior in performance over the common crawl embeddings, for other languages that arent data rich, the common crawl ones are doing good.

https://arxiv.org/pdf/1802.06893.pdf

Inline with what the common-crawl embeddings paper suggests

[2018-09-12 02:32] sravanbabuiitm opened #335 "Naming layers and getting trainer weights"
class BiLSTMClassificationModel(Block):

    def __init__(self, hidden_size, num_classes, **kwargs):
        super(BiLSTMClassificationModel, self).__init__(**kwargs)
        with self.name_scope():
            self.embedding = None
            self.bilstm = gluon.rnn.LSTM(hidden_size=embedding_dim, bidirectional=True)

            num_output_units = num_classes
            if num_classes == 2:

[2018-09-12 03:11] leezu commented on #329
@KurtJanssensCRW unfortunately no. While those vectors were supposedly trained with subword information, the subword part of the embeddings was not published.

If you find the subword part (included in the `.bin` file), we'd be happy to add it.

[2018-09-12 04:06] szha commented on #333
you can do `net.layer1.collect_params().setattr('grad_req', 'null')` to freeze the weights in layer1.

[2018-09-12 04:07] szha commented on #334
Gluon now supports a summary view too. https://mxnet.incubator.apache.org/versions/master/api/python/gluon/gluon.html?highlight=summary#mxnet.gluon.Block.summary
The input to the method is the typical input such as a batch.

[2018-09-12 04:08] szha commented on #335
if the goal is to freeze weights for embedding layer, see #333

[2018-09-12 07:01] leezu commented on #329
@szha could you copy the following files to the GluonNLP bucket

https://lllausen-data.s3.amazonaws.com/gluonnlp/crawl-300d-2M-subword-e6b07293f.bin
https://lllausen-data.s3.amazonaws.com/gluonnlp/crawl-300d-2M-subword-927782c8e.npz

Thanks!

[2018-09-13 00:37] sravanbabuiitm commented on #335
Even otherwise, can u mention an example of how to use

with self.name_scope('REST'):

without using Sequential() ?

[2018-09-13 00:52] sravanbabuiitm commented on #334
this does require an input i wud assume ?
Since we wud be doing .hybridize(), is there a simpler way for us to view the summary from the computed static graph?

[2018-09-13 01:11] sravanbabuiitm opened #338 "MXNET out of memory"
When I run my evaluation, I noticed the following error:

MXNetError: [00:49:51] /home/travis/build/dmlc/mxnet-distro/mxnet-build/3rdparty/mshadow/mshadow/././././cuda/tensor_gpu-inl.cuh:110: Check failed: err == cudaSuccess (2 vs. 0) Name: MapPlanKernel ErrStr:out of memory?

where the stack trace points to following lines:

---> 10         acc.update(preds=predictions, labels=label)
--> 418

[2018-09-13 01:12] sravanbabuiitm commented on #338
I found a fix for this, thanks to @szha , sometimes there are dangling processes that wouldnt release the memory, I killed my ipython notebook and restarted it.

sudo fuser -v /dev/nvidia* would help list the processes that are holding memory but not showing in the table at the bottom. you can manually kill those processes

ubuntu@ip-172-31-3-98:$ sudo fuser -v /dev/nvidia*
                     US

[2018-09-13 01:12] #338 closed

[2018-09-13 01:12] szha commented on #334
yes, it requires an input. in order to get intermediate sizes, an input would always be needed even if it's from a static graph since gluon allows partial shape and deferred initialization.

[2018-09-13 03:05] szha commented on #335
Since collect_params() returns a ParameterDict, which is a dictionary, you can add elements to it. For example:
[code]
As long as you don't add the embedding layer's parameter in the dictionary passed to the trainer, then it won't update. I'd still recommend setting the grad_req to null for the layers you don't intend to update so that the gradient calculation can be skipped.

[2018-09-17 11:58] leezu commented on #329
@KurtJanssensCRW unlike wiki-news-300d-1M-subword.vec.zip, for crawl-300d-2M-subword the ngram vectors were published and can be used via `load_ngrams=True`.

[2018-09-17 16:07] whamza15 opened #340 "Why not using the class member (weight, bias)?"
https://github.com/dmlc/gluon-nlp/blob/fb270337d3c0bbd0b74693eda3cda7d98ec81161/gluonnlp/model/sampled_block.py#L169

Why pass them from outside?

[2018-09-17 17:28] szha commented on #340
The convention for Gluon is that the class members for parameters will be automatically passed in hybrid_forward as keyword arguments. The **name** of the keyword argument is from the self.params.get(**name**).

[2018-09-17 18:36] whamza15 commented on #340
Hmm, didn't know that. Not clear from the docs. Thanks for answering

[2018-09-17 18:36] #340 closed

[2018-09-17 19:54] szha commented on #340
Thanks for the feedback. I created an issue in mxnet repo to track this apache/incubator-mxnet#12580

[2018-09-18 17:13] szha commented on #335
Closing now. Let me know if you have more questions along the line.

[2018-09-18 17:13] #335 closed

[2018-09-18 17:13] szha commented on #334
Closing now. Let me know if you have more questions along the line.

[2018-09-18 17:13] #334 closed

[2018-09-18 20:14] szha commented on #306
I will take a look this week how we can support RISE metadata by extending notedown.

Notebooks TODO:
- [ ] [05_data_pipeline/1-data-sources.ipynb](https://github.com/szha/KDD18-Gluon/blob/master/05_data_pipeline/1-data-sources.ipynb)
- [ ] [05_data_pipeline/2-data-pipeline.ipynb](https://github.com/szha/KDD18-Gluon/blob/master/05_data_pipeline/2-data-pipeline.ipynb)
- [ ] [06_word_embedding/word_

[2018-09-24 15:39] whamza15 opened #346 "why dtype=int32?"
SequenceMask, SequenceReverse, and SequenceLast all expect valid_length to be float32. It requires casting to float32. I am not sure how expensive casting is but any reason this is int32? Maybe we can make this an option as well?

https://github.com/dmlc/gluon-nlp/blob/7a10dca33b4e0684eee5198c447afeec22659ea3/gluonnlp/data/batchify/batchify.py#L73

[2018-09-24 16:03] szha commented on #346
For large input/output space, float32 cannot represent int32 accurately, since float32 has fewer mantissa bits than int32. I think we should extend the sequence operators to more types.

[2018-09-24 16:07] whamza15 commented on #346
@szha I am actually surprised that sequence operators are acting on float32 in the first place. I am sure there is a reason. But I can't think of one

[2018-09-24 16:09] szha commented on #346
likely just legacy

[2018-09-24 16:17] whamza15 commented on #346
Should I create an issue on mxnet?

[2018-09-24 16:46] szha commented on #346
@whamza15 I created one here: https://github.com/apache/incubator-mxnet/issues/12649

[2018-09-25 08:51] KurtJanssensCRW commented on #329
Thank you for your effort!
I have submitted an issue to fastText to add the bin file for the English wikipedia embedding (https://github.com/facebookresearch/fastText/issues/656)

I noticed that you added crawl-300d-2M-subword but not cc.en.300 in https://github.com/dmlc/gluon-nlp/pull/336
Would it be possible to add these as well or are they inferior?

Many thanks,
Kurt

[2018-09-26 05:51] eric-haibin-lin opened #349 "Transformer script doesn't run with py3"
[code]

[code]

[2018-09-26 05:52] eric-haibin-lin commented on #325
Bounce. Is there a decision on the encoder-decoder interface?

[2018-09-26 06:14] szha commented on #325
That's tracked in #265

[2018-09-26 06:31] szhengac commented on #349
@eric-haibin-lin What is your default system encoding format? You can use the following code:

`import sys `
`sys.defaultencoding()`

[2018-09-26 07:35] KurtJanssensCRW commented on #329
FacebookResearch confirmed that the bin file for English wikipedia embeddings is avalable:
https://s3-us-west-1.amazonaws.com/fasttext-vectors/wiki-news-300d-1M-subword.bin.zip
https://github.com/facebookresearch/fastText/issues/656

[2018-09-26 17:20] eric-haibin-lin commented on #349
Yes I used py2 to create the cached processed dataset and realized that I don't have mxnet installed for py2. That's why I switched.

I can run the code with py2 for a while, and then I encountered:
[code]

[2018-09-26 18:03] szhengac commented on #349
The `UnicodeDecodeError` problem seems due to the incompatibility of `np.load` between py2 and py3. If you use py3 to create the processed dataset, I think the error would disappear.

For the second problem, can you print out the type format of references and translations?

[2018-09-26 18:06] szha commented on #349
Should we alert the py2 users in code?

[2018-09-26 21:39] eric-haibin-lin commented on #349
[code]
I guess it's just another encoding error. I haven't applied `sys.defaultencoding()` yet

[2018-09-27 03:39] szhengac commented on #349
Yes, the second problem is also due to the encoding error. In py3, the bytes class isn't considered a string anymore.

[2018-09-27 17:52] leezu commented on #349
How about consistently using UTF-8 by default? I believe all our Datasets default to UTF-8 encoding, even when read with Py2, so this would be consistent with the rest of the library?

[2018-09-28 13:05] #349 closed

[2018-09-29 02:30] sxjscience commented on #265
After discussing with Sheng, we plan to make the following changes:

- [ ] Merge `valid_length` and `inputs` to a `packed_tensor` object like one in PyTorch. The encoding/decoding interface can thus be simplified to
[code]
   Refer: https://github.com/dmlc/gluon-nlp/blob/master/scripts/nmt/encoder_decoder.py#L151
- [ ] The encoder/decoder may return multiple objects. For example, the user may also

[2018-10-01 20:15] vincentliuk opened #352 "use trained Transformer for decoding in another pipeline, has gpu memory error"
Hi,
I am using transformer(Attention is all you need) to train a model on aws p3.2xLarge, with args as:
args = {
  "n_samples": -1,
  "epochs": 40,
  "num_units": 512,
  "hidden_size": 2048,
  "dropout": 0.1,
  "epsilon": 0.1,
  "num_layers": 6,
  "num_heads": 8,
  "scaled": True,
  "batch_size": 2048,
  "beam_size": 20,
  "lp_alpha": 0.6,
  "lp_k": 5,
  "test_batch_size": 128,
  "num_buckets": 10

[2018-10-01 21:37] szha commented on #352
w/ p3 instances (V100 GPU), the random states from dropout takes quite some memory which is not managed by mxnet. This means the default value of MXNET_GPU_MEM_POOL_RESERVE environment variable, which is 5, might not be enough. To mitigate, set it to 7 or something larger.

[2018-10-01 23:35] vincentliuk commented on #352
I tried export MXNET_GPU_MEM_POOL_RESERV=10 before jupyter notebook running. The running is frozen, though no memory error reported. It showed volatile GPU-util was 100%, and wait for while, no changing.

[2018-10-06 21:09] Lucid-Network opened #355 "Please update slack invitation link"
Hello,

i'd like to join the community on slack, but the invitation link has expired.

Please generate a new one.

thx!

[2018-10-07 17:55] szha commented on #355
I'm updating it in #356

[2018-10-08 17:53] szha commented on #355
The pull request is merged. The updated link is https://join.slack.com/t/apache-mxnet/shared_invite/enQtNDQyMjAxMjQzMTI3LTkzMzY3ZmRlNzNjNGQxODg0N2Y5NmExMjEwOTZlYmIwYTU2ZTY4ZjNlMmEzOWY5MGQ5N2QxYjhlZTFhZTVmYTc.
The default website page currently points to 0.4.0 release. We are preparing 0.4.1 release which will happen soon, at which time the link on the default website will be updated.

[2018-10-09 17:10] szha opened #358 "Public Datasets Should Allow Per-segment Download"
Right now several datasets require downloading the whole archive before loading certain segments, making it hard to just download one segment for demo purpose (e.g. WMT). We should break the archives into smaller pieces so that only downloading the target segment is required.

[2018-10-09 19:08] szha commented on #358
Once the refactoring is complete, transformer notebook should replace the TOY dataset with the specific segment. @cgraywang

[2018-10-10 20:42] Lucid-Network commented on #355
thx!

[2018-10-10 20:42] #355 closed

[2018-10-13 05:15] leezu opened #361 "Remove unnecessary use of pickle in nmt script"
As discussed at https://github.com/dmlc/gluon-nlp/pull/350#issuecomment-425624336 to reduce runtime of caching code from ~80 seconds to ~4 seconds and reduce disk space requirements by 40%. This will improve the user experience.

[2018-10-13 05:18] leezu commented on #352
Can you try if this issue persists if you run your code as a "normal" python script (ie. not jupyter notebook)? Sometimes jupyter notebook seems to cause issues.

[2018-10-16 16:04] dingran opened #364 "awd-lstm training results on wikitext-2 do not match those in documentation"
Listed on https://gluon-nlp.mxnet.io/scripts/index.html#language-model

[2] awd_lstm_lm_600_wikitext-2 (Val PPL 84.61 Test PPL 80.96)
`python word_language_model.py --gpus 0 --emsize 200 --nhid 600 --epochs 750 --dropout 0.2 --dropout_h 0.1 --dropout_i 0.3 --dropout_e 0.05 --weight_drop 0.2 --tied --save awd_lstm_lm_600_wikitext-2`

I'm getting near zero lr pretty early on and validation ppl is su

[2018-10-16 16:28] szha commented on #364
Thanks for reporting, @dingran. @cgraywang, could you take a look?

[2018-10-16 16:31] szha commented on #364
@dingran by the way, at least with respect to the document page, we've updated the document on master branch: http://gluon-nlp.mxnet.io/master/model_zoo/language_model/index.html

The change will be included in 0.4.1

[2018-10-16 17:12] dingran commented on #364
Cool, overall, very happy with this toolkit, looking forward to future updates!

[2018-10-16 17:32] szha commented on #364
@dingran thanks for the kind words. Making the community productive is what we strive for. Keep letting us know how we can do better. If you are using the toolkit for something new and are willing to make it available to the community, let's work together and make it happen :)

[2018-10-17 05:37] leezu commented on #329
Yes, I started a script to convert the files and upload to our S3 bucket. Thanks for the reminder

[2018-10-17 18:27] szha commented on #302
I think we should separate CPU and GPU tests, so that GPU tests/notebooks run on GPU instances while data processing runs on CPU instances.

[2018-10-18 21:17] szha opened #367 "vocab should support look-up backoff method such as lower-case look-up"
One simple and popular technique in looking up representation for unknown words is to look up in a case-insensitive way. Currently, vocab requires an exact match to match a word to its index, and thus such back-off cannot be directly supported.

One option in implementing it is to just add a flag to support lower-case backoff. However, this interface doesn't generalize to other unknown input backo

[2018-10-20 08:39] leezu commented on #329
@KurtJanssensCRW https://github.com/dmlc/gluon-nlp/pull/368 adds the wiki-news-300d-1M-subword.bin

To clarify, the multi-language embeddings you requested 4 days ago should already be part of GluonNLP since July. Do you have any problems with the existing embeddings? I assumed facebookresearch may have updated their vectors since then, but it seems that we already include the most recent version.

[2018-10-20 22:07] szha commented on #329
@leezu it’s worth thinking about how to better describe our embedding offerings in the new model zoo page

[2018-10-22 04:15] leezu opened #371 "keyphrase log files"
We may want to move scripts/keyphrase/log/ to https://github.com/dmlc/web-data/tree/master/gluonnlp/logs @szha @starevelyn

[2018-10-22 04:17] leezu commented on #325
The pre-trained embeddings available in GluonNLP should also be listed (see https://github.com/dmlc/gluon-nlp/issues/329#issuecomment-431621714 )

[2018-10-22 05:04] szha commented on #371
yes, I will be taking care of it.

[2018-10-22 06:39] hhexiy opened #372 "training scripts should not evaluate test set"
Currently, the MT training scripts do training (with dev set) and evaluation (on the test set) altogether.
Ideally, the training script should not touch test set because reporting numbers on the test set (even if it's not used for model selection) is already leaking test set information.

For example, in [`fairseq`](https://github.com/pytorch/fairseq), train/validation (train.py) and evaluate (gen

[2018-10-22 08:46] KurtJanssensCRW commented on #329
@leezu @szha
The multi-language embeddings are indeed part of GluonNLP.
But the subword information included in the bin-files is not present.
This would allow me to use these embedding with `load_ngrams=True`
Thanks for taking a look at this!

[2018-10-22 16:40] leezu commented on #329
Thanks @KurtJanssensCRW , in principle GluonNLP already contains the bin-files. For example, consider the vectors for German:

[code]

However, it turns out that the vectors for English language were stored in a different folder (in `fasttext-vectors` instead of `fasttext-vectors/word-vectors-v2/`) in the fastText S3 bucket and were consequently not uploaded to the GluonNLP S3 bucket. Were you exp

[2018-10-23 03:59] leezu commented on #329
@KurtJanssensCRW the cc.en vectors are added now. Could you verify that everything works on your side? Sorry for the confusion about the vectors, I was initially not aware that the English vectors were skipped due to above path issue. Thanks for staying on this and pointing out the issues!
I will close the issue for now, but if there is any other problem feel free to re-open.

[2018-10-23 03:59] #329 closed

[2018-10-23 07:03] szha opened #374 "subword methods (BPE/wordpiece)"
I'd like to start a discussion on how we integrate subword methods such as BPE and wordpiece.

I've been working on some BPE tokenization with https://github.com/google/sentencepiece and have been quite happy with it. It provides pip packages on all platforms and is shipped with the binary inside. It carries an apache 2.0 license.

The places where subword methods are needed are subword functions

[2018-10-23 07:04] szha commented on #374
The encode function in sentencepiece supports both returning the token and returning the index, which conforms to our tokenizer interface and vocab interface, respectively.

[2018-10-24 11:51] szhengac commented on #374
I think subword methods needs to be separated from tokenizer/detokenizer, because tokenizer/detokenizer is data independent, while learning BPE/wordpiece is data dependent. In general, the learning of subwords is performed after the tokenization.

[2018-10-25 18:42] eric-haibin-lin opened #377 "gluonnlp website not updated"
![screen shot 2018-10-25 at 11 40 12 am](https://user-images.githubusercontent.com/5545640/47522677-0f8f5a80-d84b-11e8-8f10-5ac31b53de90.png)

[2018-10-25 19:45] szha commented on #377
It should have already been updated. Could you try a force refresh?

[2018-10-26 06:02] szha commented on #374
#380

[2018-10-26 17:28] szha opened #381 "Slicing/array indexing support in datasets"
Supporting slicing and indexing of multiple items in `__getitem__` will make datasets easier to use.
Datasets that do not support this semantics are (incomplete list, please comment if you know others):
- ConcatDataset

[2018-10-26 18:06] szha opened #382 "Scripts improvements"
There have been feedbacks about the way the scripts are currently written that can be improved, so I'd like to start a thread to collect feedback and suggestions on how to improve, and potentially come up with a template/requirement for future scripts. When commenting, please provide motivation and explanation details, and quote the part of the code to improve if available.

[2018-10-26 18:54] hhexiy commented on #382
Goal: have a generic interface for all seq2seq generation tasks.

Two main problems as I see in the current scripts:
- training and testing / generation are coupled
- has to copy / paste scripts for different seq2seq models

Ideal user experience:
users only need specify the data, model, loss; the rest should be "invisible" to users, e.g. batch sampler, distributed training, optimization etc.

Ref

[2018-10-26 18:55] hhexiy commented on #382
@sxjscience

[2018-10-27 10:31] leezu opened #385 "Making CandidateSamplers Blocks"
Currently, `nlp.data.CandidateSampler` are not Blocks but are completely based on imperative API. This brings some overhead. `UnigramCandidateSampler` (the so far only supported CandidateSampler) can easily be changed to a HybridBlock.

Due to lack of support for specifying the output shape of F.random.uniform via NDarray (/Symbol) and lack of  F.random.uniform_like, changing to HybridBlock would

[2018-10-30 04:44] leezu commented on #381
If we decide to add "good" support for slicing, we may want to guarantee that slicing a Dataset again returns a Dataset. Otherwise things will get messy and people need to `gluon.data.SimpleDataset(data[:5])`.

[2018-10-30 12:41] leezu commented on #147
While numba has been quite helpful so far, I did run into limitations as the numba jitclass support is not yet sufficiently optimized and would becomes the bottleneck. I guess this will be addressed by numba at some point, but for now that does not help us.
For easily supporting Cython, we can choose the Pure Python mode, allowing any Cython code we write to be interpreted if Cython is not install

[2018-10-30 13:19] sxjscience commented on #147
Cython + 1, We should not only rely on numba. Cython allows more customization. Another solution is use CPython directly. However it will require compilation. (Cython requires compilation too)

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Leonard Lausen <notifications@github.com>
Sent: Tuesday, October 30, 2018 8:41:30 PM
To: dmlc/gluon-nlp
Cc: Xingjian SHI; Au

[2018-10-30 16:41] bikestra commented on #382
Strongly agree with @hhexiy that: "users only need specify the data, model, loss; the rest should be "invisible" to users, e.g. batch sampler, distributed training, optimization etc."
There are common pieces of code which end up repeatedly written in every gluon notebook: Splitting data for data-parallel training, computation of metrics, forward-backward pass, etc. In the symbolic interface, we di

[2018-10-31 06:10] leezu commented on #147
I would argue we can simply add a *requirement* on Cython in the following sense:

- python distutils (`setup.py`) transparently falls back to transpiled C code if the user does not have cython. We therefore only require the presence of a C compiler as long as we distribute the platform independent transpiled C code. The C code is obtained by calling `cythonize` on the `.pyx` files. This can be au

[2018-10-31 06:13] sxjscience commented on #147
This solution LGTM

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Leonard Lausen <notifications@github.com>
Sent: Wednesday, October 31, 2018 2:10:15 PM
To: dmlc/gluon-nlp
Cc: Xingjian SHI; Author
Subject: Re: [dmlc/gluon-nlp] [Discussion] Add a C Library to GluonNLP (#147)

I would argue we can simply add a requirement on Cython in the following sense:

  *   p

[2018-10-31 15:02] rishita commented on #382
I love and echo the suggestions from @hhexiy and @bikestra - specially around separating the data loading frills from the model building. Specially, now with the various data loading utilities that gluonnlp adds like the bucketing samplers, etc. this should be easy to separate out.

Some other additional suggestions:
1. **Multi-gpu Usage (Probably more generally about gluon than gluonnlp?)**
In sy

[2018-10-31 18:17] rishita commented on #382
One more:

4. Make hybridization more friendly with bucketing
For people migrating from mxnet symbolic, having a standard way of migrating bucketed graphs to hybridized layers will be good.

[2018-11-08 05:01] eric-haibin-lin opened #392 "[discuss] model config files"
[OpenSeq2Seq](https://github.com/NVIDIA/OpenSeq2Seq/blob/18.10-dev/example_configs/text2text/en-de/transformer-big.py), [t2t](https://github.com/tensorflow/tensor2tensor/blob/master/tensor2tensor/models/transformer.py#L1307) and [allennlp](https://github.com/allenai/allennlp/tree/master/training_config) all use some kind of config file to keep track of training configurations. Training procedures

[2018-11-08 05:03] hankcs opened #393 "gluonnlp.Vocab hard coded id of <unk> token"
Hi gluon-nlp team,

`gluonnlp.Vocab` always assigns `0` as id of `<unk>`, causing trouble in some situations where non-zero ids represent valid tokens. The same goes to other special tokens. When I need a mapping of `PAD, ROOT, UNK = 0, 1, 2`, the current implementation doesn't allow this. Besides, `<unk>` will be used in decoding phase, so I can't simply disable it.

Is there any possibilities fo

[2018-11-08 19:15] szha commented on #392
Having configs simplifies the logging and reproducing results, so it's definitely worth the efforts. On the other hand, the config loading logic should not be tied to model development as it often does.

[2018-11-08 19:17] szha commented on #392
Perhaps we can explore having a base class/metaclass that includes the serialization/deserialization of configs.

[2018-11-08 20:04] szha commented on #393
Yes, I think allowing flexible index assignment would be very useful, especially if we could reassign unknown token. We are likely going to still keep the assumption that the index of each token is unique, and spans from `0` to `vocab_size - 1`

[2018-11-08 22:50] szha opened #394 "Reproducing "Mixture of Softmaxes""
Thanks to the contribution from @congchan, we now have the [Mixture of Softmaxes](https://github.com/zihangdai/mos) model in the feature branch [`mos`](https://github.com/dmlc/gluon-nlp/tree/mos) from #194. However, the perplexity doesn't exactly match the performance reported in the paper. We need experiments and verification before adding it to the model zoo.

[2018-11-08 22:57] szha commented on #48
The comments are either stale or taken care of.

[2018-11-08 22:57] #48 closed

[2018-11-09 00:02] szha opened #395 "Exponential Moving Average of Model Parameters"
Ref: https://www.tensorflow.org/api_docs/python/tf/train/ExponentialMovingAverage

Having a class that expresses the concept of moving average is likely useful for many models. We can think about how to express the weighing for more diverse use cases.

[2018-11-11 01:46] szha commented on #346
This issue is tracked at upstream.

[2018-11-11 01:46] #346 closed

[2018-11-11 01:49] szha opened #396 "List Available Embeddings in Doc"
Continued https://github.com/dmlc/gluon-nlp/issues/325#issuecomment-431737289.

[2018-11-11 01:49] szha commented on #325
Model zoo page is now available. @leezu I'm tracking the listing of embeddings in #396 instead

[2018-11-11 01:49] #325 closed

[2018-11-11 04:13] szha commented on #269
I'm incorporating it in #383

[2018-11-11 20:06] szha commented on #393
@astonzhang @leezu do you have some insights to share on this?

[2018-11-11 20:47] szha commented on #302
Transformer notebook takes 20 min to run on V100. http://ci.mxnet.io/blue/organizations/jenkins/gluon-nlp/detail/PR-383/20/pipeline#step-44-log-887

[2018-11-11 22:38] szha opened #399 "machine translation notebooks need improvement"
Problems:
- Large amount of duplicate in transformer notebooks from GNMT notebook. As a result, user may experience dejavu.
  - Recommendation: wrap these duplicate parts into functions, introduce them once in GNMT notebook, and reuse the function.
- Length. The machine translation notebooks are very long. This is partly due to the duplicate problem. However, trying to cover many things in one pla

[2018-11-12 01:37] lixin4ever commented on #100
Sorry for the delay. I can continue to do this after I finish my work (maybe at the end of December), if it still remains unresolved at that time.

[2018-11-12 05:18] eric-haibin-lin opened #405 "Document Dataset & Transformation Return Type (prev: Need better documentation for gluonnlp.data.* )"
Many datasets don't document the return types, which makes it hard for others to understand how to use the API. We should at least document return types, and if possible at examples.

- [x] DataStream
- [x] SimpleDataStream
- [x] DatasetStream
- [x] ClipSequence
- [x] PadSequence
- [x] NLTKMosesTokenizer
- [x] SacreMosesTokenizer
- [x] SpacyTokenizer
- [x] SacreMosesDetokenizer
- [x] NLTKMosesDeto

[2018-11-12 06:46] szha commented on #29
Last one in #401

[2018-11-12 06:47] szha commented on #240
Addressing this in #402

[2018-11-12 06:53] #29 closed

[2018-11-12 17:53] astonzhang commented on #393
If you do not want out-of-vocab token to map to `UNK`, specify `unknown_token` to None in Vocab:
https://github.com/dmlc/gluon-nlp/blob/master/src/gluonnlp/vocab/vocab.py#L141

Then you can specify unk-like string like '<unk>' or 'unk' or 'Unk' in your vocab, which will be treated as a normal token.

One of our future work may consider using `extra_tokens` in Vocab arguments to allow users to appe

[2018-11-12 17:58] dingran commented on #364
Reran training with the following setting
`python word_language_model.py --gpu 0 --tied --ntasgd --lr_update_interval 50 --lr_update_factor 0.5 --save awd_lstm_lm_1150_wikitext-2`

See (unfinished) training log below, it does not seem to match the log [here](https://github.com/dmlc/web-data/blob/master/gluonnlp/logs/language_model/awd_lstm_lm_1150_wikitext-2.log) very well

I'm using the repo, at

[2018-11-12 18:47] szha commented on #393
@hankcs described the use case to me that he needs to use a special token ROOT to derive a mask, while handling unknown tokens. He wants to assign ROOT to be 0.

One solution that I can think of is to allow users to specify unknown token both in the unknown_token field and the reserved_tokens field, and Vocab class can use the later to decide what index these special tokens should have.

[2018-11-14 22:43] szha opened #410 "Mark tests with resource needs"
We should mark the tests that require network access or GPUs during testing, so that it becomes easier to run tests for people who are on sandboxes. It would also help us run CPU-only tests on machines with better CPU and no GPU, as a way to speed up CI.

[2018-11-15 03:07] szha commented on #399
Addressed transformer notebook in https://github.com/dmlc/gluon-nlp/pull/400.

The training part of the tutorial saved at https://gist.github.com/szha/ffde8760d2ed296c5022dfed6a04fbb9, which is to be used to make a separate tutorial.

Given that transformer notebook is in a reasonable shape, I'm counting this part of effort done for 0.5.0 release. I'm still keeping the issue alive to track the res

[2018-11-15 03:08] szha commented on #361
Fixed in #400

[2018-11-15 03:08] #361 closed

[2018-11-15 07:01] szha commented on #361
good catch. I will patch it in 403

[2018-11-16 21:57] szha commented on #240
Resolved by #402

[2018-11-16 21:57] #240 closed

[2018-11-17 23:16] eric-haibin-lin commented on #393
This is also a problem for pre-trained models by others such as BERT. This pre-trained model comes with parameters and vocab, which whose UNK index is not 0. It would be much more flexible if we can change unk idx in gluon nlp vocab.

[2018-11-17 23:46] eric-haibin-lin opened #415 "Incorrect hyperlink for Vocab documentations on the website"
http://gluon-nlp.mxnet.io/api/vocab.html#gluonnlp.Vocab
In the variables section, embedding, idx_to_token etc are linked to APIs in the TokenEmbedding class

[2018-11-18 04:49] szha commented on #415
Great job spotting it. Sphinx seems to be confused about the variables. We may need to manually specify where they link to.

[2018-11-18 04:55] szha commented on #415
The variable is defined here: https://github.com/dmlc/gluon-nlp/blob/master/src/gluonnlp/vocab/vocab.py#L78. It was incorrectly linked to https://github.com/dmlc/gluon-nlp/blob/master/src/gluonnlp/embedding/token_embedding.py#L386

I suspect this is a common problem. People with sphinx experience can take a look. https://github.com/dmlc/gluon-nlp/blob/master/docs/api/vocab.rst

[2018-11-19 19:35] sravanbabuiitm commented on #382
1. For all the scripts that are going to be added to gluonnlp, we can mention shape of tensors on top of the hybrid block as a standard practice.

def forward(self,input):
        # Input ---> (T,N,C ) : (max_length, batch_size, embedding_dim)
        # bilstm_outputs ----> :( max_length, bs, 2*lstm_....)
        bilstm_output, hdn = self.bilstm(embeddings.swapaxes(0,1), bidirectional=True)

[2018-11-20 02:41] #156 closed

[2018-11-20 02:45] szha commented on #352
@vincentliuk turns out there was a bug in transformer's construction in the train_transformer script. It was fixed in #414.

[2018-11-20 07:19] szha commented on #371
Unfortunately, I won't be able to finish this by 0.5.0.

[2018-11-22 03:43] #410 closed

[2018-11-22 20:17] szha commented on #385
Due to the delay of release in upstream we will likely not get to this until after 0.5.0.

[2018-11-23 02:39] szha opened #418 "ELMo needs update"
There are unaddressed comments from https://github.com/dmlc/gluon-nlp/pull/227

[2018-11-23 14:05] leezu opened #419 "Support building docs without running all notebooks"
Following https://github.com/dmlc/gluon-nlp/pull/400, when running `make html` in the docs folder, the build will fail

[code]

There is some syntax issue in `examples/machine_translation/transformer` that causes ReCommonMark to fail when parsing `examples/machine_translation/transformer.md`

[2018-11-23 20:42] szha opened #422 "Dataset Caching"
Some dataset preprocessing takes quite some time even when processed in parallel, so it would be beneficial if transformed datasets can be cached, if possible (e.g. transformation doesn't involve randomness).

[2018-11-23 20:43] szha commented on #422
in the nmt scripts there's a function for caching dataset as npz, which seems to be a good starting point.

[2018-11-23 22:35] Ishitori opened #423 "How to use use 2 embeddings with one acting as a backup?"
I load 2 embeddings into my vocab: English and Chinese. I want to use English embedding when there is a value for a particular token, and if there is no value, I would like to use Embedding value from Chinese embedding. I thought that if I add English Embedding first and Chinese Embedding next, then I will have a desired behavior.

[code]

But actually I receive back a concatenation from both embe

[2018-11-24 00:47] cgraywang commented on #364
@dingran thanks for double checking the results. We are now aware of that this might due to weight dropout with gradient clipping due to the gluonnlp's dependencies' version change. We are looking into it and will update once we got this right. It should not take long. At the meantime, please feel free to try the AWD pretrained model by using
`        model, _ = nlp.model.get_model('awd_lstm_lm_11

[2018-11-24 02:36] leezu commented on #423
Currently there is no out of the box support for this use-case. But it may be useful to add. With the current API, just first find all english tokens, then all chinese tokens and create a new TokenEmbedding, then assigning the correct tokens and vectors:

[code]

Would that work for you?

[2018-11-24 07:09] szha commented on #423
@leezu is this possible if we reuse the subword look up interface?

[2018-11-24 07:57] eric-haibin-lin opened #425 "[BERT] Sentence Pair Classification Followups"
- [ ] detokenization  https://github.com/dmlc/gluon-nlp/pull/409/files#r234886365
- [ ] refactor string pre-processing logic in tokenization.py by reusing gluonnlp building blocks
- [ ] memory optimization. Currently BERT takes lots of GPU memory

[2018-11-24 13:05] leezu commented on #423
That is another option.

[2018-11-24 19:44] hankcs opened #427 "TODOs for Deep Biaffine Attention Dependency Parser"
This issue is used to track further work for #408.

- [ ] Vocabulary should be switched to gluonnlp.Vocab once #393 is addressed.
* [ ] The rest of the data pipeline should be switched to GluonNLP classes. This includes:
  * ConllWord/ConllSentence -> Transform functions. We also have [conll datasets](https://github.com/dmlc/gluon-nlp/blob/master/src/gluonnlp/data/conll.py), the code of which can

[2018-11-25 01:10] szha commented on #418
Looking more into the code, the following needs update:
1. model block should not be adding to the input data such as bos and eos. it's the job of transform functions.
2. This looks wrong. https://github.com/dmlc/gluon-nlp/blob/master/src/gluonnlp/model/elmo.py#L245. After the transpose, the data is no longer in the (N, T, C) layout.
3. Need a proper codec-based vocab. current ELMoCharacterVocab i

[2018-11-25 13:14] leezu commented on #423
Currently the unknown lookup can officially only be setup during initialization of a TokenEmbedding. By accessing the private member, the following should work.

[code]

For the current API, the following should work, but is not so nice

[code]

 `vocab.set_embedding(embedding_en_zh)` will then assign an idx to the tokens that are only in embedding_zh.

[2018-11-25 13:49] leezu commented on #423
See #429

[2018-11-25 22:48] #418 closed

[2018-11-25 22:56] szha commented on #374
We got the sentencepiece integration now. For subword-nmt, I haven't picked this up yet so it's unlikely I will get to it in 0.5.0.

[2018-11-26 02:30] #423 closed

[2018-11-26 02:32] leezu opened #432 "Update documentation for TokenEmbedding.unknown_lookup setter"
![image](https://user-images.githubusercontent.com/946903/48989729-77bfad80-f123-11e8-8e2d-bca2fb9686ff.png)

Sphinx doc does not automatically document the getter and setter in a meaningful way.

https://github.com/dmlc/gluon-nlp/pull/429#issuecomment-441460242

[2018-11-26 02:37] leezu commented on #432
@szha Sphinx ignores docstrings on property setters so all documentation for a property must be on the `@property` method. However, the current documentation does not specify that setting the `unknown_lookup` is not allowed, so it is actually correct (and the previous behavior was not documented).

We should decide on a consistent way to document properties and their setters. TokenEmbedding but al

[2018-11-26 03:11] szha commented on #432
How does numpy do it?

[2018-11-26 07:41] hhexiy commented on #392
Strongly agree with @eric-haibin-lin. This should also be part of model saving function (i.e. params + config + vocab).

Re serialization: why not just use JSON? An easy way is to just save `vars(args)`, and load model-specific args from the file.

[2018-11-26 07:55] szha opened #433 "Use HybridBlocks wherever possible"
Making model blocks hybrid is useful in improving performance. We need to revisit the existing models from time to time so that we may utilize new upstream features that can help make blocks hybrid.

[2018-11-26 08:11] leezu commented on #432
I don't think numpy uses properties and setters in the user-facing API. A grep yields just a few hits to internals.

[2018-11-26 20:20] Ishitori opened #434 "KeyError during set_embedding "cc.zh.300 with ngrams" to 2 character Chinese token"
I get `KeyError` exception if I use `cc.zh.300` embedding with `load_ngrams=True` and provide a token which has no default embedding.

My expectation is that for an unknown token a ngrams strategy would kick in and I would get a combination of vectors. But maybe due to the size of the token (only 2 characters) or maybe because I use specifically `cc.zh.300` embedding I get an error.

The minimum r

[2018-11-26 21:03] Ishitori commented on #423
Thank you, @leezu!

[2018-11-27 03:56] Ishitori commented on #434
I see. Well, why does it fail then? I would expect to receive an empty vector for that case.

[2018-11-27 05:04] leezu commented on #434
Well, the assumption was that you would probably have been more surprised to find some 0 vectors, not knowing why, then to realize that there is a problem thanks to a `KeyError`.

[2018-11-27 05:06] leezu commented on #434
The `KeyError` just shows that fastText is not sufficient for the use-case. With a different embedding method, e.g. http://www.cse.ust.hk/~yqsong/papers/2017-EMNLP-ChineseEmbedding.pdf such error would not be raised.

Nevertheless, it would be nice to make the behavior configurable. I propose to generalize the current `unknown_lookup` in TokenEmbedding to a general `backoff` functionality and make

[2018-11-27 07:17] NonvolatileMemory opened #437 "contrib wanted about text classification"
Hello,
There are two students focus on text classification and mxnet.

We use mxnet to re-implement one ICLR 2018 paper and we have a paper accepted by AAAI 2019 also about text classification.

The two referred repos:

[1]: ICLR 2018 https://github.com/zhaozhengChen/RegionEmbedding
[2]: AAAI 2019 https://github.com/NonvolatileMemory/AAAI_2019_EXAM

Thanks

[2018-11-27 07:20] szha commented on #437
Congrats on the paper! These contributions would be very welcome.

[2018-11-27 07:39] NonvolatileMemory commented on #437
thx, but should we modify sth in the code to make it consistent with this project.

[2018-11-27 07:41] leezu commented on #162
Reopening due to https://github.com/dmlc/gluon-nlp/pull/438

[2018-11-27 07:42] leezu commented on #162
We may not need to add a copy button again. It seems reasonably simple to copy code examples without any supporting button with the new layout. If you agree, feel free to close again.

[2018-11-27 08:02] szha commented on #437
Admittedly this is a bit vague at the moment. We appreciate code with good structure and good engineering practices such as proper encapsulation and good testing. Specific for training scripts we've been getting feedback on how things could be better, which might be useful to you. Such feedback can be found in #382

[2018-11-27 08:03] szha commented on #162
@leezu let's see how the new build looks.

[2018-11-27 08:12] szha commented on #425
There's also the conversion script and the pre-trained model for Chinese.

[2018-11-27 08:14] szha commented on #395
https://github.com/dmlc/gluon-nlp/blob/qanet/scripts/question_answering/util.py#L74

[2018-11-27 08:19] NonvolatileMemory commented on #437
thx a lot, I will check it.

[2018-11-28 06:03] ravindra-ut opened #439 "No module named bert"
Hi,
    I am trying to follow this tutorial, https://gluon-nlp.mxnet.io/examples/sentence_embedding/bert.html.

I have installed:
gluonnlp-0.5.0
mxnet==1.3.1
[code]
---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-7-cd3eece249f0> in <module>()
----> 1 from bert import *
      2

[2018-11-28 06:32] fierceX commented on #439
You need to click on the download link in the upper-left corner, and the Bert file is in the download document

[2018-11-28 07:32] szha commented on #439
@ravindra-ut thanks for bringing this up and for the suggestions. @eric-haibin-lin has opened #425 so this can be followed up there too.

[2018-11-28 19:38] eric-haibin-lin commented on #439
Thanks for the feedback. I created a patch for tutorial in https://github.com/dmlc/gluon-nlp/pull/440
@ravindra-ut what do you plan to use BERT for?

[2018-11-28 23:20] ravindra-ut commented on #439
@eric-haibin-lin classification task and also domain adaptations for seq tagging.

[2018-11-29 13:13] yangYu-01 opened #441 "about trainer.step() parameter"
when i see the source code of step(), the needed parameter is int type, but when i run this train_transformer.py, this parameter is float(<1), i want to know is it resonable and what respective of this parameters?

[2018-11-29 18:48] szhengac commented on #441
Though the doc says that the argument is supposed to an int variable, it can also accept a float number.

[2018-11-29 20:07] szha commented on #441
the parameter in step() is for normalizing the aggregated gradient so that its magnitude is independent of the input batch size.

[2018-11-29 23:59] ChaiBapchya opened #443 "Build Gluon NLP steps"
I wanted to add Discrete Uniform Distribution (based on randint) to the existing Candidate Sampler (currently it allows Unigram Distribution)

Candidate Sampler is used in SG/CBOW Model for word_embeddings.

However, I was unable to find steps to build gluonnlp from source. Currently it only shows pip install in Readme.md and website.

[2018-11-30 16:15] szhengac commented on #443
You can use pip install -e . or python setup.py develop under the gluon-nlp directory.

[2018-11-30 23:14] ifeherva opened #446 "Word Embeddings Training code is crashing"
I am trying to run the word embeddings training script but I keep getting a crash here:
https://github.com/dmlc/gluon-nlp/blob/master/scripts/word_embeddings/data.py#L205
with the wrong indexing type.
In fact idx_to_pdiscard[t] crashes as t is always a word (str) while idx_to_pdiscard is always a list of floats (defined a few lines above).

Any ideas how I could fix this quickly?

[2018-11-30 23:39] eric-haibin-lin commented on #446
@leezu could you take a look?

[2018-11-30 23:47] ChaiBapchya commented on #443
Thanks.

[2018-11-30 23:47] #443 closed

[2018-12-01 02:43] leezu commented on #446
Can you share the command you use to run the word embeddings training script?

[2018-12-01 02:44] ifeherva commented on #446
I copied the code from here: http://gluon-nlp.mxnet.io/examples/word_embedding/word_embedding_training.html
and used the downloadable zip on the top for the missing py files.

[2018-12-01 02:48] ifeherva commented on #446
I tried

    text8 = nlp.data.Text8()

and also my corpus:

    corpus = [[word1, word2, word3], [word4, word5, ...], ...]

Got the same error message.

[2018-12-01 03:38] leezu commented on #446
Could it be that you are mixing code from 2 different releases? I made some changes to above script for the 0.5 release. Maybe you downloaded some code before the release and some code after? The output that you link above is created by our CI server, so the code that you see there can be run without errors. I'm not sure where exactly your error is coming from, can you post a reproducible example?

[2018-12-01 04:49] ifeherva commented on #446
I am a very naive user:
I installed gluon-nlp with pip install gluonnlp (0.4 was installed)
Copied the code from the tutorial linked above and used the attached zip file.

[2018-12-01 04:58] ifeherva commented on #446
Here is in the repo what I am following:
https://github.com/dmlc/gluon-nlp/blob/master/docs/examples/word_embedding/word_embedding_training.md

[2018-12-01 06:37] leezu commented on #446
I can confirm that this file works. It generates the website you linked to above. Can you tell us the exact changes you made to this file?
Did you make sure you are using the most recent release? Try pip install --user --upgrade gluonnlp

Sorry that I can't point out the exact problem yet

[2018-12-01 06:38] leezu commented on #446
Ok, I see you mentioned that you use the old 0.4 release. Please upgrade to 0.5 and the code will work. This is because you took the example code from the 0.5 release

[2018-12-01 06:38] #446 closed

[2018-12-01 06:39] leezu commented on #446
Feel free to reopen if you have any other issues. Thanks!

[2018-12-02 05:02] hhexiy opened #451 "load word embedding with vocabulary filter"
Currently, loading pretrained word embedding can take a long time (e.g. for glove.840B.300d). However, most of the time the vocabulary used is much smaller than the embedding vocabulary. Can we add a feature that only loads embeddings for words in a provided vocabulary to speedup?

[2018-12-04 23:34] mli opened #455 "add instructions for how to pre-trained models"
pretrained models are listed on the table http://gluon-nlp.mxnet.io/model_zoo/language_model/index.html, but a new user may be confused because there are only instructions to train these models. suggest to add some instructiuons for how to use, even links to the tutorials or model API pages should be good

[2018-12-05 10:03] #441 closed

[2018-12-05 12:47] NiallRooney opened #457 "get_k_closest_tokens does not return similar tokens to a word"
I am following the steps in

https://gluon-nlp.mxnet.io/examples/word_embedding/word_embedding_training.html

which returns similar results until the  following step:

example_token = "vector"
get_k_closest_tokens(vocab, embedding, 10, example_token)

which does not return similar tokens to "vector".

closest tokens to "vector": is, in, zero, a, one, two, of, the, and, to

It appears that word vec

[2018-12-08 14:14] leezu commented on #423
@Ishitori With https://github.com/dmlc/gluon-nlp/pull/459, if you have a `TokenEmbedding(..., unknown_token='<unk>', unknown_lookup=model)` and look up some unknown token that can't be computed `unknown_lookup`, it will fall back to the `'<unk>'` representation.

[2018-12-08 15:52] Ishitori commented on #423
Great, thank you, @leezu!

[2018-12-09 02:24] eric-haibin-lin opened #460 "pytest: bad address"
Sometimes CI is not very stable:

http://ci.mxnet.io/blue/organizations/jenkins/gluon-nlp/detail/PR-387/15/

[code]

[2018-12-10 03:05] eric-haibin-lin commented on #425
- [ ] Implement fine-tune example on SQUAD: https://github.com/google-research/bert/blob/master/run_squad.py

[2018-12-12 05:39] leezu opened #463 "Flaky test_weight_drop"
[code]

http://ci.mxnet.io/blue/rest/organizations/jenkins/pipelines/gluon-nlp/branches/PR-462/runs/3/nodes/23/steps/46/log/?start=0

[2018-12-12 05:40] leezu commented on #463
@szha I think you added the test

[2018-12-12 05:42] leezu commented on #460
While I do not understand yet why Errno 14 is thrown, this error usually indicated a problem with the notebooks. It happened some times before too..

[2018-12-12 05:44] leezu commented on #457
@NiallRooney did you follow all steps in the notebook? Actually output in the link above is automatically generated by our server running the code. Please also make sure you are using the most recent version of gluonnlp. (`pip install --user --upgrade gluonnlp` `pip3 install --user --upgrade gluonnlp`)

Feel free to reopen if the issue persists

[2018-12-12 05:44] #457 closed

[2018-12-15 23:47] eric-haibin-lin commented on #425
- [ ] improve sentence pair classification example speed with unpadded inputs using Bucket sampler http://gluon-nlp.mxnet.io/api/notes/data_api.html?highlight=bucketing

[2018-12-17 09:43] HuangZhanPeng opened #469 "how to implement the api in pytorch with gluon"
There is two api in pytorch, one is "nn.utils.rnn.pack_padded_sequence", other is "pad_packed_sequence", I want to ask is there any api or implement to achieve the similar function of pytorch in gluon, thank you~~

[2018-12-17 22:01] vikaskumarjha9 commented on #111
Earlier I ran into this issue https://github.com/apache/incubator-mxnet/issues/11911 and then I downgraded by mxnet version to 1.1.0 . After upgrading mxnet again to the solution above you have mentioned @szha  I am getting the the error mentioned @Aashit-Sharma. Following are the logs.
(trans_env) user1@S3:~/transformer_nmt/ready_to_run_transformer$ pip install mxnet-cu80==1.1.0
Collecting mxnet-

[2018-12-17 22:04] vikaskumarjha9 commented on #111
I am sorry the formatting here, I am new to posting logs. I will attach it as a file.
[log.txt](https://github.com/dmlc/gluon-nlp/files/2687980/log.txt)

[2018-12-17 22:31] szha commented on #111
@vikaskumarjha9 Sorry to hear that it's still happening to you. From the log, it looks like you have both mxnet and mxnet-cu80, and the mxnet-cu80 is of older version. That might be the cause of this issue.

[2018-12-18 00:54] vikaskumarjha9 commented on #111
I have removed mxnet library, now I have only mxnet-cu80 version1.1.0 as my CUDA version is 8+. I am getting this error.

(trans_env) user1@S3:~/transformer_nmt/ready_to_run_transformer$ python train_transformer.py --dataset WMT2014BPE --src_lang en --tgt_lang de --batch_size 2700 --optimizer adam --num_accumulated 16 --lr 2.0 --warmup_steps 4000 --save_dir transformer_en_de_u512 --epochs 30 --gpu

[2018-12-18 01:07] szha commented on #111
@vikaskumarjha9 GluonNLP 0.5.0 depends on MXNet 1.3.0, so in this case you can try `pip install --upgrade mxnet-cu80`.

[2018-12-18 01:19] vikaskumarjha9 commented on #111
Thank you for prompt reply, I updated it to 1.3.1 but now I am getting this error again.
(trans_env) user1@S3:~/transformer_nmt/ready_to_run_transformer$ pip install --upgrade mxnet-cu80
Collecting mxnet-cu80
  Using cached https://files.pythonhosted.org/packages/b0/a4/f4ab7885416a5b752782492dba335f58d942a917a7259826689f552d9af6/mxnet_cu80-1.3.1-py2.py3-none-manylinux1_x86_64.whl
Requirement alrea

[2018-12-18 01:20] vikaskumarjha9 commented on #111
Oops sorry, here you go.
[log2.txt](https://github.com/dmlc/gluon-nlp/files/2688470/log2.txt)

[2018-12-19 21:03] szha commented on #405
Since we already enable doctest on API documents, we can use that feature to document and check the return type of datasets and transformation functions.

[2018-12-20 12:28] vanewu opened #471 "[API] ConvolutionalEncoder : Some confusion about the ConvolutionalEncoder interface."
This interface is very good, but there are two points that are confusing.
 First, this interface does not provide padding. Although the effect of padding may be small in one-dimensional convolution due to GlobalMaxPool1D. But acutally it may be a little different. If I have a specific demand that want to pad data, I need to pad the input 3D data independently. But the ndarray padding currently onl

[2018-12-21 19:50] cgraywang commented on #471
@kenjewu thanks for your interests.

For question 1, the initial design of this API is based on the simple, clear and DATA ALREADY BEEN PADDED assumption, which is similar to many other model API in GluonNLP. It is actually simple to use API in the batchify API including the [PAD operator](https://github.com/dmlc/gluon-nlp/blob/bcae0fef59d31d9524c9bc513852b2e897a5e0b2/src/gluonnlp/data/batchify/ba

[2018-12-21 19:51] eric-haibin-lin opened #472 "[BERT] fp16 support for BERT and Transformer"
- [ ] Implement dynamic loss scaling for optimizer
https://github.com/NVIDIA/apex/blob/master/apex/fp16_utils/fp16_optimizer.py#L11
- [x] Complete fp16 support for batch_dot in MXNet https://github.com/apache/incubator-mxnet/issues/11796

[2018-12-21 19:58] eric-haibin-lin opened #473 "[BERT] Sentence Pair Classification Example Enhancement"
- [x] use bucket sampler for data loading
- [x] gradient accumulation support
- [ ] multi-gpu support

[2018-12-21 20:02] eric-haibin-lin opened #474 "[BERT] dataset preparation script for pre-training"
Port https://github.com/google-research/bert/blob/master/create_pretraining_data.py to GluonNLP, preferably written in a way that can be used for processing large dataset

[2018-12-21 20:12] eric-haibin-lin opened #475 "[BERT] Functionality for BERT Pre-training"
- [x] support `truncated_normal` for better initialization for pre-training https://www.tensorflow.org/api_docs/python/tf/initializers/truncated_normal. We can follow the pytorch implementation https://github.com/pytorch/pytorch/pull/5015/files . And add inverse err function operator in MXNet:  https://github.com/apache/incubator-mxnet/pull/13229
- [x] support Adam with fixed weight decay
- [ ] Up

[2018-12-21 20:15] eric-haibin-lin opened #476 "[BERT] QA Fine-tuning Example"
Implement fine-tune example on SQUAD: https://github.com/google-research/bert/blob/master/run_squad.py

[2018-12-21 20:15] eric-haibin-lin opened #477 "[BERT] Document Ranking Example"
As title

[2018-12-21 20:16] eric-haibin-lin opened #478 "[BERT] Distributed Training Support"
As title.
Related issues:
https://github.com/apache/incubator-mxnet/issues/14124
[apache/incubator-mxnet#14073](https://github.com/apache/incubator-mxnet/issues/14073)
[apache/incubator-mxnet#14072](https://github.com/apache/incubator-mxnet/issues/14072)
https://github.com/apache/incubator-mxnet/issues/11061
https://github.com/apache/incubator-mxnet/issues/14125
https://github.com/apache/incubator

[2018-12-24 01:12] haven-jeon opened #479 "[BERT] Reproducing GLUE score on 9 tasks"
Currently only provide MRPC task on https://github.com/dmlc/gluon-nlp/blob/master/scripts/bert/dataset.py

Needs to add other tasks.
- [ ] CoLA
- [ ] SST-2
- [ ] STS-B
- [ ] QQP
- [ ] MNLI
- [ ] QNLI
- [ ] RTE
- [ ] WNLI

[2018-12-24 01:37] kenjewu commented on #479
I want to reproduce the STS task.

[2018-12-24 12:04] szhengac opened #480 "Bug in text classification script?"
@leezu. In script `fasttext_word_ngram`, I see that the average of the word embeddings without masking out the padding tokens are used to form the hidden units. This looks like a bug as the padding tokens should not be included during averaging the representations.

[2018-12-24 13:11] leezu commented on #480
I'm not sure about the text classification scripts. @sravanbabuiitm authored them. @sravanbabuiitm can you help clarify / fix this?

[2018-12-26 13:35] kenjewu commented on #471
@cgraywang Thank you very much for your reply.

According to your explanation, I have no doubt about the second question.  Thank you!

But for the first problem, if I pre-populate the data, it seems that I can't consider all the situations, because if I use multiple different convolution kernels, the size of the pad for each kernel is different.  At this point, using the PAD operation in the batch

[2018-12-27 01:43] haven-jeon commented on #474
I can help on this topic.

[2018-12-28 00:06] szha opened #487 "merge Question Answering (QA) models to master branch"
Currently, we have [BiDAF](https://github.com/dmlc/gluon-nlp/tree/bidaf) (thanks to @Ishitori) and [QANet](https://github.com/dmlc/gluon-nlp/tree/qanet) (thanks to @qyhfbqz) in feature branches. Some tasks to do before merging them into master branch:
- [ ] reduce redundancy in these branches in parts such as data preprocessing
- [ ] refactor and use consistent coding style
- [ ] standardize model

[2018-12-28 00:51] eric-haibin-lin commented on #474
@haven-jeon I sent an email to `madjakarta@gmail.com` to add you to gluonnlp slack channel. Did you get that?

[2018-12-28 00:57] eric-haibin-lin commented on #475
Would someone be interested to take `truncated_normal`? I can PR the implementation for inverse err operator to MXNet, and the rest can be done in python I think

[2018-12-28 00:59] eric-haibin-lin commented on #425
We also need to update the fine-tuning script to use the BERTTokenizer API introduced in https://github.com/dmlc/gluon-nlp/pull/464. Anyone wants to take that?

[2018-12-28 01:01] Ishitori commented on #425
@eric-haibin-lin, I can take a look.

[2018-12-28 02:00] haven-jeon commented on #474
I've done with RecordIO file.
I'm not sure RecordIO is appropriate...

[2018-12-28 06:18] eric-haibin-lin opened #488 "[DEV] track MXNet master nightly for development"
Recent changes depends on the latest (nightly) version of MXNet (>=1.5.0b20181228). We need to upgrade the mxnet version in gluonnlp, too.

[2018-12-28 07:13] eric-haibin-lin commented on #439
Hi @ravindra-ut would you be interested to contribute to gluonnlp with a seq tagging example?

[2018-12-28 08:03] eric-haibin-lin commented on #476
(@fierceX is leading the effort.)

[2018-12-28 09:54] namanbiyani commented on #415
Hi I would like to work on this . Please give me some guidelines

[2018-12-28 12:48] haven-jeon commented on #474
I've done PR #489.
It is basic conversion from https://github.com/google-research/bert/blob/master/create_pretraining_data.py.
If it needs documents, Plz let me know where to write.

[2018-12-28 23:08] szha commented on #415
@namanbiyani thanks for offering to help. The link above on the related fields are still accurate. We need to figure out how sphinx decided to link those variables in Vocab class to the ones in token embedding class. It might be related to how the current module was set when documenting vocab class. https://github.com/dmlc/gluon-nlp/blame/master/docs/api/modules/vocab.rst#L19

[2018-12-28 23:35] logicmd opened #490 "[BERT] Cannot import bert"
I have problems importing `bert` when following http://gluon-nlp.mxnet.io/examples/sentence_embedding/bert.html
[code]

Looks gluonnlp are successfully installed. Any idea?
[code]

[2018-12-29 04:47] logicmd commented on #490
Forget to download sentence-embedding.zip. Fixed...

[2018-12-29 04:47] #490 closed

[2018-12-29 05:54] eric-haibin-lin opened #491 "[BERT] [Dataset] Renaming wiki_multilingual and wiki_cn dataset"
I am thinking of renaming `wiki_multilingual`/`wiki_cn` to `wiki_multilingual_uncased`/`wiki_cn_cased`.

The issue is that currently creating the tokenizer requires the "do_lower_case" boolean. Users need to set that manually. It would be more consistent to rename the dataset with cased/uncased explicitly to guide users.

With this user can set `do_lower_case='uncased' in dataset_name`.

What do y

[2018-12-29 06:24] eric-haibin-lin opened #492 "[BERT][API] BERTVocab"
BERT has a few reserved tokens: [CLS], [SEP], [MASK], etc. Now in data processing these string literals are used in many place and it is error prone (I once wrote `[SEP` instead of `[SEP]`). Shall we introduce a BERTVocab class which inherit from the normal Vocab class with a few extra properties:
- mask_token
- sep_token
- cls_token
This way we replace all string literals with these attributes an

[2018-12-29 09:37] kenjewu commented on #491
I think using cased / uncased to rename data sets is much clearer and easier to understand.  If I am a newcomer to `gluonnlp` or I am not familiar with these datasets,  I may not sure whether it have been cased when I got the data from gluonnlp. But if  indicate their name explicitly , anyone can understand it.

Although it is not essential to know whether the data is lowercase when using the toke

[2018-12-29 09:57] kenjewu commented on #492
This is a good idea. In addition to avoiding error of special tokens, it also simplifies the construction of the vocab for BERT (for example, set these special tokens as the default parameters of BERTVocab. Users don't need to modify it if there is no special requirement), so that the interface becomes easier to use and more elegant.

[2018-12-29 15:03] HuangZhanPeng commented on #469
@szha is there any tutorials about how to use masking to deal with? use a very small value like -np.inf?

[2018-12-29 15:58] HuangZhanPeng commented on #469
@kenjewu got it, Thank you so much for your quick answer ! I also use this method! I just want to find out if there are other better implementations in gluon.

[2018-12-30 01:03] eric-haibin-lin commented on #492
@kenjewu would you like to create a PR for it and replace the string literals in existing bert examples?

[2018-12-30 08:18] eric-haibin-lin opened #495 "[BERT] BERTModel output cannot be used for mask language modeling"
Currently the BERTModel can be created with decoder for the masked language model task. However, by default the API does not handle decoding arbitrary masking position. I have a fix locally and will PR it soon.

[2018-12-30 08:27] eric-haibin-lin opened #496 "[BERT][API] Custom classes for Pre-training, QA and classification/regression"
Now we have a generic `BERTModel` class which can be configured to perform encoding, pooling and decoding. It always returns the sequence encoding result, plus some additional output depending on the configuration. However, we may consider providing BERT classes for specific tasks (following https://github.com/huggingface/pytorch-pretrained-BERT#overview). Quote:

Why? This makes future optimizati

[2018-12-30 08:32] eric-haibin-lin opened #497 "[BERT] BERT Tokenizer PR followups"
- [ ] Add a de-tokenizer API which returns the original string representation given tokens
- [ ] Replace existing tokenization code in `script/bert` with the new tokenizer API

[2018-12-30 08:42] kenjewu commented on #492
Ok! I will try to finish it.

[2018-12-30 21:59] eric-haibin-lin commented on #497
ping @kenjewu if you are interested

[2018-12-31 15:35] kenjewu commented on #497
ok, i will try to finish it and #492 .

[2019-01-01 05:08] hazelnutsgz commented on #100
fastNLP (https://github.com/fastnlp/fastNLP/), a NLP project based on Pytorch may of great help. FYI
### CRF
https://github.com/fastnlp/fastNLP/blob/master/fastNLP/modules/decoder/CRF.py
https://fastnlp.readthedocs.io/en/latest/fastNLP.modules.decoder.html?highlight=CRF

### BiLSTM + CRF
https://github.com/fastnlp/fastNLP/blob/master/fastNLP/models/sequence_modeling.py

[2019-01-01 23:37] eric-haibin-lin commented on #422
#498 is a good start

[2019-01-02 00:02] eric-haibin-lin commented on #472
https://github.com/apache/incubator-mxnet/issues/13753

[2019-01-02 05:13] eric-haibin-lin opened #502 "[BERT] BERT QA Followups"
Thanks to @fierceX we now have an fine-tuning example of BERT for SQuAD 1.1.  https://github.com/dmlc/gluon-nlp/pull/493

Followup works:
- [ ] Tutorial for fine-tuning on SQuAD 1.1. The QA dataset pre-processing is more complicated than the classification example and deserves more description.
- [ ] improve SQuAD 1.1 with extra fine-tuning epochs on TriviaQA dataset
- [ ] reproduce result on SQuA

[2019-01-02 05:32] eric-haibin-lin commented on #460
Happened again in http://ci.mxnet.io/blue/organizations/jenkins/gluon-nlp/detail/PR-500/3/pipeline/
I'm not sure why it is flaky..

[2019-01-02 23:53] eric-haibin-lin commented on #475
#482 for adam with weight decay

[2019-01-02 23:59] Ishitori commented on #475
I will work on `truncated_normal`.

[2019-01-04 03:58] szha commented on #488
Agreed. The catch is we'd need to change it to depend on the latest release of mxnet before releasing GluonNLP. We can consider adopting the approach of using temporary release branches when making new releases in GluonNLP for this purpose.

[2019-01-04 05:16] eric-haibin-lin commented on #488
There are new operators being added to mxnet for BERT which will not be on mxnet-1.4. We need to address the operator extension problem in mxnet so that ops can be added to gluonnlp

[2019-01-04 06:02] kenjewu commented on #460
Seems to be the same problem.

http://ci.mxnet.io/blue/organizations/jenkins/gluon-nlp/detail/PR-509/1/pipeline/23

[2019-01-04 18:46] eric-haibin-lin opened #511 "[BERT] Reproduce BERT on CoLA"

[2019-01-04 18:46] eric-haibin-lin opened #512 "[BERT] Reproduce BERT on SST-2"

[2019-01-04 18:47] eric-haibin-lin opened #513 "Reproduce BERT on STS-B"

[2019-01-04 18:47] eric-haibin-lin opened #514 "Reproduce BERT on QQP"

[2019-01-04 18:47] eric-haibin-lin opened #515 "[BERT] Reproduce BERT on MNLI"

[2019-01-04 18:47] eric-haibin-lin opened #516 "[BERT] Reproduce BERT on QNLI"

[2019-01-04 18:48] eric-haibin-lin opened #517 "[BERT] Reproduce BERT on RTE"

[2019-01-04 18:48] eric-haibin-lin opened #518 "Reproduce BERT on WNLI"

[2019-01-04 18:51] eric-haibin-lin opened #519 "Reproduce BERT on MRPC"

[2019-01-04 18:51] #519 closed

[2019-01-04 18:52] eric-haibin-lin commented on #519
Done in #409

[2019-01-04 18:52] eric-haibin-lin commented on #479
@haven-jeon I created separate issues for each of these tasks and we can now track these separately as a milestone in https://github.com/dmlc/gluon-nlp/milestone/2
I'll close this for now

[2019-01-04 18:52] #479 closed

[2019-01-04 18:53] eric-haibin-lin commented on #517
#481

[2019-01-04 19:09] eric-haibin-lin opened #520 "[BERT] Multi-GPU Training with Tree reduce"
BERT_BASE and BERT_LARGE contains 110M and 340M parameters respectively. Currently multi-GPU scaling is poor for this model and the result shows large overhead for cross-GPU ndarray copies.

The default kvstore push/pull do not leverage the communication pattern on the machine (e.g. AWS p3 instance). It would be great to use the experimental tree reduce push/pull introduced by @ctcyang.

However,

[2019-01-04 19:16] eric-haibin-lin opened #521 "[BERT] Data generation script enhancement for large corpus"
We need to enhance the data generation script for BERT. Specifically,
- avoid padding during dataset generation to reduce I/O and storage overhead
- use numpy for fast serialization
- use process pool for parallel processing

[2019-01-04 19:17] eric-haibin-lin commented on #474
I documented some followup tasks I'm working on in https://github.com/dmlc/gluon-nlp/issues/521

[2019-01-04 19:17] #474 closed

[2019-01-04 19:57] szha opened #522 "ELMo pre-training"
It would be useful to have ELMo pre-training scripts so that the model can be pre-trained on custom datasets.

[2019-01-04 20:02] szha opened #523 "[ELMo] Reproducing 6 ELMo downstream tasks"
The results on the following tasks are reported in the ELMo paper (https://allennlp.org/elmo)
- [ ] SQuAD
- [ ] SNLI
- [ ] SRL
- [ ] Coref
- [x] NER (baseline in progress #466)
- [ ] Sentiment

[2019-01-04 21:08] eric-haibin-lin opened #524 "[BERT] Multi-GPU support for BERT finetuning scripts"
Currently, the BERT finetuning scripts for MRPC and SQuAD both only use a single GPU. It would be great to enhance the script so that multiple GPUs can be used to accelerate training.

I am working on pre-training script with multi-GPU option, if someone can add similar capability to the finetuning script, that will be great.

[2019-01-05 01:49] #495 closed

[2019-01-06 19:53] szha commented on #492
While it is a good idea to have a place to store the string values and indices of special tokens for a model, and vocab is definitely the place to put it, I wonder if there's a better approach to creating vocabulary classes per use case. Unlike ELMo's vocab, in which the special use of encoding value is involved (and hence a separate class for it), the vocabulary in BERT seems to follow the regula

[2019-01-06 23:50] astonzhang commented on #492
That's why one of our earlier design for Vocab has a 'reserved_tokens' attribute to allow flexible extension.

[2019-01-07 04:19] eric-haibin-lin commented on #492
Regarding a more general approach - can we extend the setattr/getattr method of Vocab class to allow registration of special tokens?

[2019-01-08 05:51] leezu commented on #492
@eric-haibin-lin Currently not every attribute of Vocab is a special token, so overwriting the general `__setattr__` may be confusing. Maybe better to introduce something explicit? Eg either on the level of `reserved_tokens` or a separate method on the Vocab class?

[2019-01-08 19:07] cgraywang opened #530 "[QANet-Data+Model] Refactor SQuAD data preprocessing and QANet model"

[2019-01-08 19:10] cgraywang opened #531 "[QANet-Training] Refine loss function and other training tricks"
-Unify loss function with basic loss
-Create exponential moving average
-Create learning rate warm up scheduler

[2019-01-08 19:11] cgraywang opened #532 "[QANet-Training] Add multi-gpu training support"

[2019-01-08 19:12] cgraywang opened #533 "[QANet-Training] Adapt official evaluation implementation"

[2019-01-08 19:14] cgraywang opened #534 "[QANet-Training] Refactor training loop according to api changes"
Refactor the embedding layer weights update, etc.

[2019-01-08 19:14] cgraywang opened #535 "[]"

[2019-01-08 19:15] cgraywang opened #536 "[BiDAF-Data] Refine SQuAD data preprocessing and data loader to align with QANet implementation"

[2019-01-08 19:17] cgraywang opened #537 "[BiDAF-Model] Refine BiDAF model implementation"
-Make embedding layer share the implementation with QANet
-Make attention layer share the implemention with QANet

[2019-01-08 19:18] cgraywang opened #538 "[BiDAF-Training] Refine training loop to align with QANet implementation"

[2019-01-08 22:54] eric-haibin-lin commented on #492
@leezu Yes, adding a separate method allowing users to extend attributes sounds reasonable.

[2019-01-08 23:07] szha opened #540 "embedding.from_file does not exist"
In [TokenEmbedding class API doc](http://gluon-nlp.mxnet.io/master/api/modules/embedding.html#gluonnlp.embedding.TokenEmbedding), the `gluonnlp.embedding.from_file` method is mentioned which does not exist.

Two options for the fix:
1. add a proxy method for `TokenEmbedding.from_file` in `gluonnlp.embedding` namespace.
2. update the documentation so that it refers to `gluonnlp.embedding.TokenEmbed

[2019-01-09 06:58] eric-haibin-lin opened #542 "[API] [BERT] Add option to return intermediate results at each layer"
Currently the BERTModel API only returns the encoding of the last layer. We should support returning intermediate encoding at each layer like ELMo. To do this, we can just add an extra argument to BERTModel to configure the model.
https://github.com/dmlc/gluon-nlp/blob/master/src/gluonnlp/model/transformer.py#L480-L484

[2019-01-09 07:30] szhengac opened #544 "Transformer BLEU of the current code base is worse than previous one"
I recently retrained the transformer, and found that it will diverge with the default setting. The divergence issue is caused by use_layer_norm_before_dropout=True and is fixed in #543. However, the final testing BLEU is still worse than the previous result. Compare to the version in #413, the testing BLEU is about 0.8 worse.

[2019-01-09 07:31] szhengac commented on #544
@eric-haibin-lin

[2019-01-09 18:19] szhengac commented on #544
I checked the part of code of model and didn't find error except the one mentioned in #543. Comparing the logs, the outputs of bucket sampler are different. But I haven't got time looking into it. This may be caused by the change to the bucket sampler or the data processing. I paste the output of sampler as follows:

Current code base:
FixedBucketSampler:
  sample_num=4493328, batch_num=59321
  ke

[2019-01-09 21:25] eric-haibin-lin opened #545 "FixedBucketSampler doc rendering bug"
The rendering of formula for bucket scheme is broken:
http://gluon-nlp.mxnet.io/api/modules/data.html#gluonnlp.data.FixedBucketSampler
![screen shot 2019-01-09 at 1 23 46 pm](https://user-images.githubusercontent.com/5545640/50929338-d90cb900-1411-11e9-8391-9028449c30fb.png)

[2019-01-09 23:37] cgraywang commented on #536
@Ishitori will lead the efforts on this issue, thanks!

[2019-01-09 23:38] cgraywang commented on #537
@Ishitori will lead the efforts on this issue, thanks!

[2019-01-09 23:38] cgraywang commented on #538
@Ishitori will lead the efforts on this issue, thanks!

[2019-01-10 00:18] szha commented on #531
Consider making it part of API. Feel free to initiate API discussion here if needed.

[2019-01-10 00:20] cgraywang commented on #531
@szha good suggestion! will discuss based an initial design.

[2019-01-10 04:06] szha commented on #460
I searched this problem and not much came up.

There are claims that [this was a bug in py2.6](https://stackoverflow.com/questions/36397853/unable-to-reliably-open-subprocesses-with-popen-oserror-errno-14-bad-addr) but we have occurrences in both py27 and py36

Searching for `execnet Popen "errno 14"` came up empty. Since it's related to the OS, this might mean this problem is unique to our CI env

[2019-01-10 04:52] szha commented on #460
Done. Let's see if this addresses the problem.

[2019-01-10 20:17] Ishitori commented on #475
Submitted PR for truncnorm - https://github.com/dmlc/gluon-nlp/pull/548

[2019-01-10 20:37] eric-haibin-lin commented on #544
Does it mean there's also some changes in the data processing pipeline?

[2019-01-11 04:53] szhengac commented on #544
Comparing the keys, it seems each sequence lose one token.

[2019-01-11 06:06] szha commented on #540
What's your opinion? @astonzhang @leezu

[2019-01-11 06:51] astonzhang commented on #540
This is a typo, see PR: https://github.com/dmlc/gluon-nlp/pull/550

[2019-01-11 21:00] szha commented on #460
So far it hasn't been occured yet. I will leave the issue open for another couple of days.

[2019-01-12 00:45] sravanbabuiitm opened #552 "BERT Download link broken"
In the documentation : http://gluon-nlp.mxnet.io/examples/sentence_embedding/bert.html
The link for download on this line under

Preparation:
"To run this tutorial locally, please install gluonnlp and click the download button at the top to get all related code."

seems to be broken.

I had to copy link address at the top to download.
! wget http://gluon-nlp.mxnet.io/_downloads/sentence_embedding.

[2019-01-12 03:37] #463 closed

[2019-01-12 03:50] szha commented on #552
@eric-haibin-lin seems that the change in #440 caused some confusion.

[2019-01-12 06:13] eric-haibin-lin commented on #552
Thanks for reporting. I created https://github.com/dmlc/gluon-nlp/pull/554

[2019-01-14 18:39] szha commented on #540
Fixed in #550

[2019-01-14 18:39] #540 closed

[2019-01-14 19:43] szha commented on #552
The redundant link was removed in #554

[2019-01-14 19:43] #552 closed

[2019-01-14 20:01] szha commented on #460
Closing as I haven't seen this occurring again.

[2019-01-16 06:27] Ishitori opened #557 "Autobuild fails with Pygments lexer name '{.python .input}' is not known"
Sometimes during autobuild the build fails on the target `html` with a message `Pygments lexer name '{.python .input}' is not known`.

Last time I have it when working on BERT, and the failure happened in a totally unrelated tutorial: `docs/examples/language_model/language_model.md:47`. Here is the pipeline: http://ci.mxnet.io/blue/organizations/jenkins/gluon-nlp/detail/PR-548/5/pipeline/

Forcing

[2019-01-16 06:36] szha commented on #557
It usually happens when there are other failures, and it seems to be the case here too http://ci.mxnet.io/blue/organizations/jenkins/gluon-nlp/detail/PR-548/5/pipeline/#step-44-log-1531

What might be happening is that when rendering of a notebook failed, the make process skips the execution of the rest of the notebooks, and continues to the next sphinx build step. This results in sphinx trying to

[2019-01-16 06:43] kenjewu opened #559 "CI seems to be a little unstable"
The py2 detection in CI seems to be unstable, and several times in the detection of #526, py2 unexpectedly failed. But after using empty commit to re-trigger it, py2 passed.

http://ci.mxnet.io/blue/organizations/jenkins/gluon-nlp/detail/PR-526/18/pipeline
http://ci.mxnet.io/blue/organizations/jenkins/gluon-nlp/detail/PR-526/19/pipeline

The same problem was occasionally encountered in previous PR

[2019-01-16 06:49] szha commented on #559
I'm looking into it.

[2019-01-16 06:49] szha commented on #557
I will try to make it fail fast and give informative errors.

[2019-01-16 19:24] szha commented on #557
Tracked in #559

[2019-01-16 19:24] #557 closed

[2019-01-16 21:38] junrushao1994 opened #560 "A typo in word embedding tutorial"
In our word embedding [tutorial](https://gluon-nlp.mxnet.io/model_zoo/word_embeddings/index.html), it looks like `--ngram-buckts` should be `--ngram-buckets`.

[2019-01-16 23:23] szha opened #561 "[METRIC] python-based ROUGE metrics"
We currently rely on perl scripts for BLEU score. For ease of mtainenance it would be great if the same logic can be in python.

Google recently open sourced an implementation of ROUGE under apache 2. https://github.com/google-research/google-research/tree/master/rouge

[2019-01-16 23:56] junrushao1994 commented on #560
And `--max-vocab-size` in `run_all.sh` should be `--analogy-max-vocab-size`. Do we have CI run on this tutorial?

[2019-01-17 00:01] szha commented on #560
@junrushao1994 thanks for finding them. @leezu would be interested. We run the python scripts but not the scripts or the command lines.

[2019-01-18 09:43] szhengac commented on #561
Perl script is only used for CI testing. The file bleu.py is pure python.

[2019-01-18 18:41] #560 closed

[2019-01-20 21:30] szha commented on #559
Since the problem is not occurring, I will track the rest of the progress on speeding up the CI and making it robust in #302

[2019-01-20 21:30] #559 closed

[2019-01-20 21:32] szha commented on #302
https://github.com/dmlc/gluon-nlp/projects/8

[2019-01-21 05:37] ymjiang opened #565 "Validation and testing too slow when train Transformer"
My script for training Transformer:
`MXNET_GPU_MEM_POOL_TYPE=Round python train_transformer.py --dataset WMT2014BPE                        --src_lang en --tgt_lang de --batch_size 7000  --optimizer sgd --lr 2.0 --warmup_steps 4000 --save_dir transformer_en_de_u512 --epochs 30 --gpus 0,1,2,3,4,5,6,7 --scaled --average_start 5 --num_buckets 20 --bucket_scheme exp --bleu 13a --log_interval 10`

The t

[2019-01-21 06:10] szha commented on #565
@ymjiang 30-40m for validation definitely sounds abnormal. Are you using gluonnlp 0.5.0 when running the script? Would you mind trying the version on [master branch](http://gluon-nlp.mxnet.io/master/install.html#install-from-github), with mxnet nightly?

Could you share a bit more on the platform on which you run the experiment?
1. GPU, CPU, RAM size
2. Whether it's a shared environment
3. CUDA ve

[2019-01-21 06:10] szha commented on #565
cc @eric-haibin-lin @szhengac in case they have other suggestions.

[2019-01-21 06:42] eric-haibin-lin commented on #565
Training throughput also seems low. What's your GPU utilization during training?

[2019-01-21 06:48] ymjiang commented on #565
@eric-haibin-lin From `nvidia-smi` I see the utilization is about 50% for each GPU.

What should be the ideal throughput? And by the way, I set `num_accumulated` to 1.

[2019-01-21 07:31] szhengac commented on #565
On one 8GPU V100 machine, it is supposed to get 160k wps.

[2019-01-23 08:37] ymjiang commented on #565
Problem solved, I hard-code the optimizer to SGD in `train_transformer.py` for some reasons. When I use Adam instead, the loss decrease much more quickly. At final step, the validation only takes about 5 minutes. And the training speed reaches 130 kwps. Sorry about my mistake.

[2019-01-23 08:37] #565 closed

[2019-01-25 10:20] ymjiang commented on #478
Hi, may I know if there is any recent progress towards distributed training support? I am especially interested in training BERT and Transformer in distributed way. I did some minor modification to `train_transformer.py` script by adding `kvstore` as a param to the `gluon.Trainer`, and it worked (not sure if this is the correct way to do). But I did not try to split the dataset yet.

Perhaps any s

[2019-01-26 04:00] xiejianhe opened #569 "Add other BERT models"
Please add other BERT models, like "BERT-Base, Chinese", "BERT-Base, Multilingual Cased (New, recommended)".

[2019-01-26 05:58] eric-haibin-lin commented on #569
Hi @xiejianhe these two are available on gluonnlp master branch http://gluon-nlp.mxnet.io/master/model_zoo/bert/index.html and you install the master branch following the instructions here http://gluon-nlp.mxnet.io/master/install.html#

[2019-01-26 06:09] eric-haibin-lin opened #570 "0.6 release tasks"
Given recent development with BERT models, @szha and I propose that we release 0.6.0 when the following items are ready:

PRs:
- [x] #505
- [x] #493 by @fierceX
- [x] #481 by @haven-jeon

Issues:
- [x] #308
- [x] #364
- [ ] #374
- [ ] #405
- [x] https://github.com/dmlc/gluon-nlp/issues/491

[2019-01-26 07:47] szha commented on #569
0.5.1 release will make them available. Some open tasks before release are tracked in #570

[2019-01-26 16:21] xiejianhe commented on #569
@eric-haibin-lin Thank you!

[2019-01-28 04:41] eric-haibin-lin opened #572 "[Vocab] Support special token registration"
per discussion in https://github.com/dmlc/gluon-nlp/issues/492#issuecomment-451769526
We want an extensible way which allows users to register whatever special token fields are needed (except unknown token which has special fallback behavior).

For example:
[code]

[2019-01-28 04:41] eric-haibin-lin commented on #492
Further extension moved to https://github.com/dmlc/gluon-nlp/issues/572

[2019-01-28 04:41] #492 closed

[2019-01-28 04:44] eric-haibin-lin commented on #491
@kenjewu would you like to submit a PR to change the name for v0.5.1? We can throw `DeprecationWarning ` if wiki_multilingual/wiki_cn is used by the user. We also need to make sure all test case/tutorial/conversion script/finetunining script do not use the old name.

[2019-01-28 06:44] kenjewu commented on #491
OK. In addition to renaming these two data, do we still need to update the serialization file of the vocab corresponding to the some dataset ? @eric-haibin-lin  Currently，
[code]
The corresponding objects of ` wiki_multilingual_cased ` and ` wiki_cn ` seem to be ` Vocab `, however  ` book_corpus_wiki_en_cased `, ` book_corpus_wiki_en_uncased ` and  ` wiki_multilingual ` corresponds to ` BERTVocab

[2019-01-28 08:22] eric-haibin-lin commented on #478
Hi @ymjiang , BucketSampler is a way to create data batches of similar lengths for a dataset. https://github.com/szha/KDD18-Gluon/blob/master/05_data_pipeline/2-data-pipeline.ipynb Gluonnlp has the concept of "streams". In particular, dataset stream is an iterator which loads a dataset(typically a file) at a time. If your training data consists of multiple files, you can pass the SplitSampler to D

[2019-01-28 21:32] eric-haibin-lin commented on #491
I didn't realize wiki_multilingual_cased and wiki_cn are using the Vocab class. Is there any specific reason why they were kept Vocab is the previous PR? If not we should change it to BERTVocab.
Also on second thought `DeprecationWarning` is too much interruption, `warnings.warn` should be sufficient

[2019-01-29 02:36] sravanbabuiitm commented on #475
From Comprehend perspective, I have observed Text classification performance to be not so great for extremely short documents. This might be due to the fact that BERT is pretrained on long docs of wikipedia. It would definitely help comprehend custom classification in trying out pretraining BERT on additional data sources which cater additional domains like Twitter, Amazon reviews, kindle books &

[2019-01-29 02:58] ymjiang commented on #478
@eric-haibin-lin I will take a look, thanks!

[2019-01-30 03:07] imgarylai opened #577 "[word2vec] Add word2vec binary load function"
I'm willing to add this feature to gluon-nlp.

Our lab is using gensim to load word2vec binary file and we want to get rid of it. @szha and I have discussed with issue before. This would be great that gluon-nlp can have an interface to load our own pre-trained fastText binary.

@szha @leezu, please let me know how can I help you guys for this.

[2019-01-30 03:19] szha commented on #577
Hi @imgarylai. Thanks for offering to help! For fastText format, there's a `load_fasttext_format` method in the [FasttextEmbeddingModel](http://gluon-nlp.mxnet.io/api/modules/model.train.html#gluonnlp.model.train.FasttextEmbeddingModel) class that can be used without gensim.

[2019-01-30 03:20] szha commented on #577
Alternatively, the word2vec format is still missing. Would that be something you're interested in too?

[2019-01-30 03:34] imgarylai commented on #577
Yes. I have changed the title. 😝

[2019-01-30 05:51] eric-haibin-lin commented on #517
Added

[2019-01-30 05:51] #517 closed

[2019-01-30 07:07] leezu commented on #577
Thanks @imgarylai

I guess the best way forward would be to just specialize / overwrite the `from_file` for the `Word2Vec` class https://github.com/dmlc/gluon-nlp/blob/master/src/gluonnlp/embedding/token_embedding.py#L961

(For fastText this was instead added in the `model.train.embedding` API as the binary format does not contain the "final" vectors but rather the vectors for all words / ngrams t

[2019-01-30 08:52] kenjewu commented on #491
@eric-haibin-lin I am sorry that I am confused. When I updated the Vocab file to BERTVocab, I only made ` book_corpus_wiki_en_cased `, ` book_corpus_wiki_en_uncased ` and ` wiki_multilingual `, so I thought the other two were Vocab. I just tested it and found that they are already BERTVocab.
 Now, I will start this issue.

[2019-02-01 04:31] szha commented on #577
@imgarylai Word2Vec class was written in the way that requires source so that automatic downloading is easier. You can think of the `from_file`/`load_w2v_binary` method as another constructor independent of the source abstraction.

[2019-02-01 09:22] szhengac opened #579 "clip_grad_global_norm doc needs notice on usage (was: clip_grad_global_norm produces problematic results)"
I tried to use mulitple gpus to train the language model (e.g., AWD-LSTM), but the behaviour is not expected. I paste the training logs in the first 2 epochs as follows. I set hyper-parameters `alpha` and `beta` to zeros.

The logs with gradient clipping:

4 GPUS:
[code]

1 GPU:
[code]

The logs without gradient clipping:

4 GPUS:
[code]

1 GPU:
[code]

[2019-02-01 12:15] #544 closed

[2019-02-01 20:34] szha commented on #579
I'm not sure if the log indicates a problem in the clip function as it depends on how you set the clipping value. Can you try narrow down the issue and see where the problem is? For example, you can try setting the clip value to a very large number, so that it won't actually be clipping, and see if the behavior approaches that without clipping.

[2019-02-02 03:31] szhengac commented on #579
@szha. I found that the error is due to that I use `trainer.step` instead of `trainer.update`, so the gradients are reduced twice. Perhaps, we can add such notice to the comment? As most of material about mxnet only mention `trainer.step`.

[2019-02-02 06:57] szha commented on #579
Indeed, we could have made a notice in the API doc about the `trainer.update` usage besides only showing in the examples. https://github.com/dmlc/gluon-nlp/blob/master/src/gluonnlp/utils/parameter.py#L34-L36

[2019-02-05 03:44] szhengac opened #580 "Word language model has problematic performance"
I ran the `word_language_model.py` on the current master branch with following cmd:

`python word_language_model.py --gpu 0 --tied --ntasgd --lr_update_interval 50 --lr_update_factor 0.5 --save awd_lstm_lm_1150_wikitext-2`

The performance are significantly worse than the one shown in the log. The results are shown as follows. It seems the training is not correct.

[Epoch 326 Batch 200/372] curren

[2019-02-07 00:26] whamza15 opened #581 "FP16 Support for LSTM"
Trying to get LSTM layer work within FP16 setup. Small code below reproduces the problem. Code works fine for fp32 but does only turn in the training loop then crashes.
forward pass is ok. It is only when you do backward() once, it crashes in the second turn in the loop.
[code]
The error I am getting is:
[code]

[2019-02-07 07:06] szha commented on #581
This issue seems to have been fixed on MXNet's master branch, as I was able to run this with the code without error with the latest code there by building from source. Output:
[code]

I'm currently buildling 1.4.0.rc2 from source to see whether the fix will be included in the upcoming 1.4.0 release.

[2019-02-07 07:30] #581 closed

[2019-02-08 09:43] anuragsarkar97 commented on #545
#583

[2019-02-08 20:13] szha commented on #569
Tracked in #570

[2019-02-08 20:13] #569 closed

[2019-02-11 00:20] eric-haibin-lin commented on #545
@anuragsarkar97 thanks for your contribution!

[2019-02-11 00:20] #545 closed

[2019-02-11 02:15] ymjiang opened #585 "Parameter Setup for Transformer-Big"
**Question in short:** In `train_transformer.py`, currently the default setting is for Transformer-Base. **If I want to train Transformer-Big, what parameter should I change**?

I refer to [the Transformer's paper](https://arxiv.org/abs/1706.03762) and find out the major setup differences between Transformer-BIG and Transformer-BASE are `num of heads`, `num of dimensions` and `filter dimensions`.

[2019-02-11 02:45] szha commented on #572
Registering new special token after construction would likely complicate many parts, such as shuffling attached embeddings. We should allow special tokens to be added as attributes in the constructor as a first step.

[2019-02-11 03:43] szhengac commented on #585
In our script, it is `--hidden_size`. You  may also need to change `dropout` and `epsilon` accordingly.

[2019-02-11 03:45] imgarylai opened #586 "[BERT] Use BERT to get sentence and tokens embedding"
My idea is to use BERT to get sentence or token embedding for NLP tasks, Instead of building an end-to-end model on it.

I create an example to demo showing how I use gluonnlp to get those embeddings. https://github.com/imgarylai/bert-embedding

Would you be interested in having this implementation in gluonnlp or have this as a demo in the [script](https://github.com/dmlc/gluon-nlp/tree/master/scr

[2019-02-11 06:46] szha commented on #586
Nice! Having this as a script would be very convenient to the users.

[2019-02-11 07:22] sravanbabuiitm commented on #586
+1 this wud become a standard encoder like BiLSTM.

On Sun, Feb 10, 2019 at 10:46 PM Sheng Zha <notifications@github.com> wrote:

--

With Regards,
Sravan Babu Bodapati,
Applied Scientist, Amazon.com.

[2019-02-11 09:12] anuragsarkar97 commented on #545
No problem at all 👍

[2019-02-11 09:13] anuragsarkar97 commented on #579
Looking into it.

[2019-02-12 01:59] #433 closed

[2019-02-12 07:42] leezu opened #589 "Classification script does not bin ngrams correctly"
As discussed by @szhengac https://github.com/dmlc/gluon-nlp/pull/529#discussion_r255815817, the classification script does not follow the paper. No word-ngram hashing is used.

[2019-02-12 09:22] fierceX opened #590 "gluonnlp.data.batchify.Pad should add a parameter of maximum length"
`gluonnlp.data.batchify.Pad` should be added with a parameter of maximum length.
Because variable-length input increases memory usage, it is more obvious to pre-train the bert model on the squad dataset.

In the https://github.com/dmlc/gluon-nlp/pull/493/commits/7219400545f15a7597d1bde98efd608ef96bcbd0 submission, I used `gluonnlp.data.batchify.Pad` to dynamically fill the length of the batch.
How

[2019-02-12 15:55] szhengac commented on #590
The purpose of pad is to form a rectangular input so that one can achieve mini-batch acceleration, and the number of paddings is determined by the maximum length in the batch. The memory cost can be reduced by using bucketing. You can also consider clipping the training sequence in the preprocessing pipeline.

[2019-02-12 16:21] kenjewu commented on #590
Hi, @fierceX , I simply looked at the code in 7219400, where the dataloader uses batchify directly, which may result in too much length difference for each sample in each batch of data when the batch is randomly generated. This can lead to too much unnecessary padding, which may be the reason for memory out of bounds. You can use ` nlp.data.sampler.FixedBucketSampler ` to improve performance, or u

[2019-02-13 09:22] fierceX commented on #590
@kenjewu In the submission of https://github.com/dmlc/gluon-nlp/pull/493/commits/b6be61cd6d88d1e559c0360b5be35256bba7dc93, I used `FixedBucketSampler`.
But GPU memory will also increase, and will gradually increase to the same size as before.

[2019-02-13 10:02] kenjewu commented on #590
Can you show ` sampler.stats() ` here? This may help to troubleshoot the problem.

[2019-02-13 10:09] fierceX commented on #590
`batch_size=6`, `num_buckets=10`, `ratio=0`, `shuffle=True`
[code]

[2019-02-13 12:20] lambdaofgod commented on #119
@sxjscience @szhengac could you elucidate on input parameters of [hybrid_forward](https://github.com/dmlc/gluon-nlp/blob/bbbacd4cbc11c420f09ba8d7014c8935b615e92e/scripts/nmt/gnmt.py#L349) in NMT scripts?

[2019-02-13 12:28] lambdaofgod opened #591 "Attention cell input shapes and Seq2Seq"
How do Attention Cell's [call method](https://github.com/dmlc/gluon-nlp/blob/5db80c44ddff6b73eb7b746f5c438b13bc2b3d74/src/gluonnlp/model/attention_cell.py#L111) parameters map to parameters in Seq2Seq?

From what I understand in Seq2Seq decoder
* query corresponds to decoder states: this makes `(batch_size, query_length, query_dim)` equal to `(batch_size, output_sequence_length, num_hidden_decoder

[2019-02-13 17:23] szhengac commented on #591
Your understanding is correct.

[2019-02-13 17:41] szhengac commented on #119
Hi @lam. `step_input` is the input vectors at time t, so its shape is (batch_size, C_in). For states, you can refer to the following codes: https://github.com/dmlc/gluon-nlp/blob/bbbacd4cbc11c420f09ba8d7014c8935b615e92e/scripts/nmt/gnmt.py#L374-L379

The `rnn_states` is the initial states for decoder. In GNMT case, they are the last hidden states of all layers of encoder: https://github.com/dmlc/g

[2019-02-14 05:36] kenjewu commented on #590
From the ` key ` you can see the length of the sequence in each bucket. Is this a big difference from the maximum length you set before? If the difference is too large, you may need to clip the long sequence.

[2019-02-14 09:08] #591 closed

[2019-02-15 07:38] eric-haibin-lin commented on #521
#505

[2019-02-15 07:39] eric-haibin-lin commented on #513
@haven-jeon do you already have the log for this one?

[2019-02-15 07:39] eric-haibin-lin commented on #512
@haven-jeon do you already have the log for this one?

[2019-02-15 18:20] eric-haibin-lin opened #592 "[Model] Port OpenAI GPT to gluon-nlp"
Port the GPT model to gluon-nlp:
https://github.com/openai/gpt-2
https://github.com/openai/finetune-transformer-lm

A good first step is to port their pre-trained models and be able to perform inference.

[2019-02-15 19:09] cgraywang commented on #364
@dingran It looks like the script yet similar results as reported in the [repo](https://github.com/dmlc/gluon-nlp/blob/master/scripts/language_model/index.rst).

I used the same command line:
`python word_language_model.py --gpu 0 --tied --ntasgd --lr_update_interval 50 --lr_update_factor 0.5 --save awd_lstm_lm_1150_wikitext-2`

The mxnet version I am using:
[code]
And the master branch of gluonnl

[2019-02-15 19:10] cgraywang commented on #580
@szhengac please refer to my comments in https://github.com/dmlc/gluon-nlp/issues/364 , thanks.

[2019-02-17 04:06] eric-haibin-lin commented on #585
@ymjiang I am interested in your transformer-big result. Feel free to share if you are able to reproduce it, or hit any blocker. BTW I'm adding fp16 support to the transformer encoder block in #505 which may benefit your work, too

[2019-02-17 04:07] eric-haibin-lin commented on #472
#505

[2019-02-17 04:48] ymjiang commented on #585
Hi @eric-haibin-lin , unfortunately I haven't succeed in training Transformer-big to reasonable BLEU so far (my current setup only converges to BLEU=3.2 on WMT2016BPE en-de).

Transformer-base param: (this can converge to BLEU=25)
`--adam_beta2 0.98 --hidden_size 2048 --num_heads 8 --num_units 512 --dropout 0.1`

My Transformer-big param: (only converge to BLEU=3.2)
`--adam_beta2 0.998 --hidden_si

[2019-02-17 06:48] bikestra opened #593 "[BERT] BERT for Named Entity Recognition"
Since that gluon-nlp already has very good tools for BERT and also that it has basic data processing for named entity recognition ready from https://github.com/dmlc/gluon-nlp/pull/466 , I wanted to build upon these and implement BERT for NER. I have started implementing this for a personal project, but please let me know if you have concerns or suggestions.

[2019-02-17 18:45] eric-haibin-lin opened #595 "Add ELMo to modelzoo"
The model zoo section on gluon-nlp website does not show ELMo as one of the model. The main reason is that we do not have script for ELMo, but a tutorial. This leads to misunderstanding that gluon-nlp does not have pre-trained ELMo model. I suggest we add an entry to ELMo in the model zoo section and provide a script like #587 (worst case we just link to the existing ELMo tutorial).

[2019-02-17 18:54] eric-haibin-lin opened #596 "[Transformer] Avoid adding dropout layers if dropout = 0"
I noticed that the Transformer blocks add dropout layers even if dropout is set to 0 https://github.com/dmlc/gluon-nlp/blob/master/src/gluonnlp/model/transformer.py#L109, which is bad for inference due to extra copies. We should avoid adding the `Dropout` layer if self._dropout == 0.
cc @TaoLv

[2019-02-18 02:37] TaoLv commented on #596
Filed a PR here: https://github.com/dmlc/gluon-nlp/pull/597

[2019-02-18 03:56] szha opened #598 "STORIES corpus"
Here's a cleaned-up corpus from Trinh et. al., consisting of stories
https://console.cloud.google.com/storage/browser/commonsense-reasoning/reproduce/stories_corpus?pli=1
https://arxiv.org/abs/1806.02847

Given the effectiveness of large and clean corpora with deep transformer models, shown in BERT and GPT-2, this might be useful to others. Should we offer the automatic download of this corpus in

[2019-02-18 04:56] eric-haibin-lin commented on #598
+1

[2019-02-18 05:00] eric-haibin-lin commented on #593
Thanks! That will be great. Do you plan to reproduce result reported by BERT on the CoNLL 2003 dataset?

[2019-02-18 05:29] eric-haibin-lin opened #599 "[BERT] Reproduce BERT on SWAG"
Anyone wants to help reproduce the result reported by [BERT](https://arxiv.org/pdf/1810.04805.pdf ) on the grounded commonsense inference task on SWAG?

[2019-02-18 05:33] szha commented on #520
@eric-haibin-lin looks like this was resolved?

[2019-02-18 05:41] eric-haibin-lin commented on #520
We have a fallback patch instead of a complete fix..

[2019-02-18 05:47] szha commented on #520
This seems to be better tracked in MXNet.

[2019-02-18 06:18] szha commented on #585
@ymjiang how does the log look? We might be able to offer some help.

[2019-02-18 17:51] bikestra commented on #593
Yes, I will mainly aim to reproduce BERT result on CoNLL 2003 English. I may try couple other datasets like OntoNotes or CoNLL 2002 Spanish if this goes well!

[2019-02-19 07:27] eric-haibin-lin commented on #542
@Ishitori just curious if you have started this task? @kenjewu is working on a segmentation task and also wants this option. Just to check here to avoid duplicate work

[2019-02-19 07:55] fierceX commented on #593
I also implemented a pre-training NER project with reference to https://github.com/kyzhouhzau/BERT-NER, which was originally used to play the couplet. If there is any problem, you can discuss it together.

[2019-02-19 17:45] bikestra commented on #593
I am reusing BIO/BIOES data processing code (`utils_func`) from https://github.com/dmlc/gluon-nlp/pull/466 ; should we move this to `gloun.nlp.data`? I guess code under `/script` is not supposed to be shared across scripts? Also it is unclear this could should go to `/script/bert` or `/script/named_entity_recognition`. Any suggestions?

[2019-02-19 19:51] szha opened #602 "model zoo download not respecting MXNET_HOME"
Currently, most of the datasets are respecting the MXNET_HOME variable for default path, but the models are not.

[2019-02-19 19:53] szha commented on #593
@bikestra right. If you find the utility useful, feel free to propose it as a utility function in gluonnlp.data. Alternatively, there's already a number of datasets in [conll in gluonnlp](https://github.com/dmlc/gluon-nlp/blob/master/src/gluonnlp/data/conll.py). Maybe we can expose a base class for conll formats too. In case you wonder, we didn't offer conll2003 due to license.

[2019-02-19 22:38] szha commented on #593
@bikestra do you intend to introduce the hybridizable CRF too?

[2019-02-19 23:45] Ishitori commented on #542
@eric-haibin-lin, yep, I am working on that

[2019-02-20 00:05] szha commented on #589
Another place where the script can improve is that the ngram index should be maintained by vocab too. Currently this is done through a separate dictionary: https://github.com/dmlc/gluon-nlp/commit/f48e12cb42de447768daa6f8feec1c9a06995e62#diff-4cb70aead1f1e807229a07fa8bb17a6eR107

[2019-02-20 01:49] #515 closed

[2019-02-20 01:49] eric-haibin-lin commented on #515
added in #571

[2019-02-20 01:49] eric-haibin-lin commented on #491
Merged

[2019-02-20 01:49] #491 closed

[2019-02-20 03:06] BerenLuthien opened #604 "BERT: Loading SST dataset in bert.ipynb"
Do we have a working demo with SST dataset ?
Changing https://gluon-nlp.mxnet.io/examples/sentence_embedding/bert.html so as to use SST-2 dataset.

`data_train = dataset.SSTDataset('dev', root='.')` gives `AttributeError: 'module' object has no attribute 'SSTDataset'`. I basically copy paste the
[code]
from
https://github.com/dmlc/gluon-nlp/blob/master/scripts/bert/dataset.py

Many thanks.

[2019-02-20 06:23] eric-haibin-lin commented on #364
Is this issue resolved?

[2019-02-20 06:23] eric-haibin-lin commented on #308
Is this still an issue?

[2019-02-20 06:38] bikestra commented on #593
@szha I was planning to start with simple softmax loss and replicate the BERT paper, but it sounds interesting to try.

[2019-02-20 06:43] eric-haibin-lin commented on #405
Created an example in https://github.com/dmlc/gluon-nlp/pull/605.

[2019-02-20 06:53] eric-haibin-lin commented on #405
I hope this issue can be resolved before 0.5.1 release this week. Is anyone willing to take a subset of these datasets and improve them? @leezu @sxjscience @kenjewu @fierceX @cgraywang @szhengac

[2019-02-20 11:42] dingran commented on #364
@eric-haibin-lin  I just switched job and don't have access to gpu machines at the moment, let's consider it resolved given @cgraywang's experiment.

[2019-02-20 14:23] leezu commented on #308
Perhaps need to refactor to use sparse dot product (see https://github.com/dmlc/gluon-nlp/pull/384)

[2019-02-20 19:19] cgraywang commented on #580
Based on the offline discussion, the script works properly now.

[2019-02-20 19:19] #580 closed

[2019-02-20 19:46] szha commented on #364
@dingran thanks for the response. Feel free to ping us or open another issue if this is still a problem.

Best of luck with the new adventure!

[2019-02-20 19:47] #364 closed

[2019-02-20 19:51] eric-haibin-lin commented on #604
Hi, `SSTDataset` is only available on the master branch. It is not included in the downloaded files if you get it from the website for the stable version. Could you visit the master version website https://gluon-nlp.mxnet.io/master/examples/sentence_embedding/bert.html and try it again?

[2019-02-21 00:18] parry2403 commented on #593
@bikestra @fierceX I was planning to start on the same task. Do you have initial version of the commit ?

[2019-02-21 00:35] szha commented on #593
@bikestra @fierceX @parry2403 feel free to open a feature branch for collaboration if that's helpful to you.

[2019-02-21 02:04] fierceX commented on #593
@bikestra Can you commit an initial version?

[2019-02-21 17:04] bikestra commented on #593
@fierceX @parry2403 I have an initial version of the code but it is very rough and does not yet achieve good F1 scores yet. Let me do a minimal exploration & cleanup and commit an initial version by tomorrow. Would it be OK?

[2019-02-21 17:40] parry2403 commented on #593
@bikestra Sure. I have seen BERT forums where reproducing CoNLL scores has been issue since authors used document context.

[2019-02-21 20:07] eric-haibin-lin opened #608 "Flaky test in CI"
Documentation change in https://github.com/dmlc/gluon-nlp/pull/605 failed  the transformer script test. http://ci.mxnet.io/blue/organizations/jenkins/gluon-nlp/detail/PR-605/4/pipeline

Import mxnet failed

[2019-02-21 23:39] BerenLuthien opened #609 "cannot download MRPC dataset"
Other dataset can be downloaded though.
It looks that other datasets are all downloadable, and in the download_glue_data.py only the MRPC link is different from other datasets' links.

Any help ? Thanks

https://gluon-nlp.mxnet.io/model_zoo/bert/index.html

`python3 download_glue_data.py --data_dir glue_data --tasks MRPC`
gives this error:

Processing MRPC...
Traceback (most recent call last):
  F

[2019-02-22 06:17] bikestra commented on #593
@fierceX were you able to reproduce results from https://github.com/kyzhouhzau/BERT-NER and replicate with gluon-nlp? I am getting F1 scores only around 89. I am using `bert_12_768_12` instead of `bert_24_1024_16` but according to the paper that should make only a small difference... I will anyways share what I have today, but was curious of your experience.

[2019-02-22 10:14] fierceX commented on #593
@bikestra I haven't scored an F1 yet, so let's take a look at your implementation.

[2019-02-23 00:21] eric-haibin-lin commented on #512
#600

[2019-02-23 00:23] eric-haibin-lin commented on #512
Done with #600

[2019-02-23 00:23] #512 closed

[2019-02-23 05:50] eric-haibin-lin commented on #609
Unfortunately we cannot host MRPC due to license issues. Could you shoot me an email at haibin.lin.aws@gmail.com ?

[2019-02-25 16:54] imgarylai commented on #586
Merged #587

[2019-02-25 16:54] #586 closed

[2019-02-27 01:01] ThomasDelteil opened #615 "SentencePieceTokenizer sampling not working."
For example, trying to sample from `num_best=2`, with `alpha=1.0`

[code]
prints
[code]

but

[code]
prints
[code]

[2019-02-27 01:36] ThomasDelteil commented on #615
Ok, this seems to not work with `bpe` language models, but works with `unigram` language models

[2019-02-27 01:36] #615 closed

[2019-02-27 06:21] bikestra commented on #593
I get an F1 score around 0.91 with smaller learning rates, so it might just be a hyperparameter tuning problem. I will explore a bit.

[2019-02-27 18:11] parry2403 commented on #593
This might be close to upper bound since based on lot of discussions from other frameworks, it seems that they got 92.2 with document context rather than sentence context.

[2019-02-28 02:35] fierceX opened #616 "Is there a plan to add some text matching models?"
Similar to https://github.com/NTMC-Community/MatchZoo

[2019-02-28 03:21] kenjewu commented on #616
@fierceX Are you planning to add some model code and training scripts?

[2019-02-28 06:22] szha commented on #460
Unfortunately it occurred again. http://ci.mxnet.io/blue/organizations/jenkins/gluon-nlp/detail/PR-617/1/pipeline/23#step-54-log-738

[2019-02-28 08:36] fierceX commented on #616
@kenjewu I need these models for my work, I might add some models, but it shouldn't be too much.
Are you interested in this?

[2019-03-02 00:36] #602 closed

[2019-03-03 11:57] kenjewu commented on #616
@fierceX Yes, I am interested in this :smile: . I have written some related models.

[2019-03-03 18:52] szha commented on #616
@fierceX @kenjewu this looks very useful! Let me know if you need a feature branch for you to start tinkering.

[2019-03-05 05:44] eric-haibin-lin commented on #427
Any update on this?

[2019-03-05 16:43] hankcs commented on #427
Sorry, I've been busy with a paper till yesterday. I'll get on to this now.

[2019-03-06 00:14] bikestra commented on #593
I tried a lot of tricks but could not improve beyond test F1 of 91.7.  The package @fierceX mentioned does much worse than this, because their dev F1 score (which is much easier than test F1, usually 3 point higher) is only 93 https://github.com/kyzhouhzau/BERT-NER/issues/2 .

Is anyone aware of the codebase that successfully replicated BERT paper's results on CoNLL 2003 English?

[2019-03-06 01:52] szha commented on #593
BERT base model's finetuning result on conll2003, on test F1 is 92.4, so it's close now. They mentioned in the paper that they did this without using the context around, and the scoring is based only on the first subtoken of each word, with later subtokens all omitted. Is that what you did too?

[2019-03-06 08:29] ymjiang commented on #585
@szha Sorry I am currently engaged with another task. Will get back here once I am free.

[2019-03-06 08:29] #585 closed

[2019-03-06 16:32] imgarylai commented on #577
Move to #620

[2019-03-06 16:32] #577 closed

[2019-03-06 19:25] bikestra commented on #593
@szha Yes, 91.7 is close but I think 0.7% point is a meaningful gap, since non-contextual word embeddings can get pretty close to this. And yes, I am only predicting the first subtoken of each word. I actually tried different strategies - predicting every subtoken to IOBES, and then using CRF on top of it - but any of these things didn't help.

@parry2403 kindly shared me the link to the relevant

[2019-03-07 08:23] eric-haibin-lin commented on #608
again in http://ci.mxnet.io/blue/organizations/jenkins/gluon-nlp/detail/master/375/pipeline

[2019-03-08 05:39] eric-haibin-lin opened #623 "gluon-nlp 0.6 release blog post draft"
Hi everyone,

As we are close to finishing up tasks for the release #570, I am writing up a blog draft to introduce gluon-nlp 0.6 release. Please help review and comment on the blog post. Thanks!

https://medium.com/p/6a489bdd3340

@dmlc/gluon-nlp-team

Best,
Haibin

[2019-03-08 05:40] eric-haibin-lin commented on #596
Fixed now

[2019-03-08 05:40] #596 closed

[2019-03-08 05:43] szha commented on #623
@dmlc/gluon-nlp-team

[2019-03-08 05:56] eric-haibin-lin commented on #570
WIP Draft release note in https://hackmd.io/KNRvun3jTCW6q8Pg1iISeQ?both

[2019-03-08 06:40] #521 closed

[2019-03-08 06:41] eric-haibin-lin commented on #542
The PR is merged. Thanks @Ishitori and @kenjewu

[2019-03-08 06:41] #542 closed

[2019-03-08 06:44] szha commented on #521
I wonder if we should provide the processed dataset to the community. Do you think that would be useful?

[2019-03-08 06:45] eric-haibin-lin commented on #476
follow up task listed in #502

[2019-03-08 06:45] #476 closed

[2019-03-08 06:46] szha commented on #521
The complication is in book corpus. I'm not sure what we can do to redistribute its derivatives.

[2019-03-11 05:44] eric-haibin-lin commented on #521
we can at least offer wikipedia, or the scripts for preprocessing wikipedia if there is any license restriction

[2019-03-11 18:14] bikestra commented on #593
With BERT large, I could get dev F1 96.0 and test F1 91.9. This would not be a state-of-the-art NER tagger (you can certainly do better with ELMo) and takes tens of iterations which is unusually slow, but is better than non-contextual word embeddings, and I couldn't find anyone who got better than this with BERT. Would this still be a good addition to gluon-nlp? If so, I could do a clean-up and up

[2019-03-11 18:28] szha commented on #593
@bikestra yes, let's add that as is. Once it got more eyes, maybe someone who work on NER in the community could offer some hint.
I actually heard a similar story on sequence tagging performance of BERT from @jdchoi77. We discussed that it might be due to the BPE tokenization, because sequence tagging for Chinese seems to work well where the tokenization is usualy already at character level. If th

[2019-03-11 20:27] mli commented on #623
Suggest to emphasize "pre-training" scripts. e.g. it's the first repo to reproduce the results, talk about performance including speed. Also "The Sesame Street gang is taking over the world of Natural Language Processing (NLP)" is not professionaly, not everyone thinks so.

[2019-03-12 00:48] anirudhacharya opened #627 "Tutorial for Low Resource NMT"
Is there an intention to create tutorials on low resource neural machine translation - either using meta-learning or transfer learning? Or Unsupervised NMT?

Is there such a tutorial in the pipeline from the contributors? if not will such a tutorial contribution be useful in this repository - any guidelines on what would be a good contribution?

[2019-03-12 01:00] szha commented on #627
Hi. Such contribution is most certainly welcome! This could potentially be a script or a tutorial. For the respective guidelines, you may refer to http://gluon-nlp.mxnet.io/community/contribute.html#make-changes

[2019-03-12 05:19] bikestra commented on #593
Sure, will do the clean up and push. FWIW I could get dev F1 96.1 and test F1 92.2 so this is comparable to reported ELMo numbers. Of course this is somewhat overfitting to test F1 score...

[2019-03-12 12:03] jdchoi77 commented on #593
@szha, @bikestra, The CoNLL03 model is probably not the most useful one in practice. We should release the one trained on OntoNotes instead which gives more entity types and diversities in genres.

[2019-03-12 16:38] bikestra commented on #593
@jdchoi77 I agree OntoNotes is much more interesting than CoNLL 2003 Eng, and I can certainly provide numbers on it. But they wouldn't be useful for the benchmarking purpose since ELMo/BERT papers and their implementations don't reports OntoNotes results.

[2019-03-12 16:46] jdchoi77 commented on #593
@bikestra For a benchmarking purpose, CoNLL'03 is indeed better. We are going to provide scores on OntoNotes for POS, NER, dependency parsing, and semantic parsing so hopefully people will use it for new benchmarks.

[2019-03-12 21:24] eric-haibin-lin commented on #570
I've updated the release note with credit and split PRs into sections
@dmlc/gluon-nlp-reviewers

[2019-03-12 21:31] szha commented on #570
+1

[2019-03-13 05:53] eric-haibin-lin commented on #399
Is this already done?

[2019-03-13 05:55] eric-haibin-lin commented on #162
Any update on this?

[2019-03-13 06:22] szha commented on #162
The problem still exists for the linked doc http://gluon-nlp.mxnet.io/api/notes/data_api.html

[2019-03-15 05:03] xiaoxiaoAurora opened #630 "Help: How to Load pre-trained chinese word embedding ?"
How to load a local and pre-trained Chinese word vector file?

[2019-03-15 07:20] szha commented on #630
For Chinese, these fasttext embeddings are available:
`wiki.zh, wiki.zh_classical, wiki.zh_min_nan, wiki.zh_yue, cc.zh.300`
You can load them with `gluonnlp.embedding.FastText('wiki.zh')`. char-ngram embeddings are also available that can be automatically downloaded with `gluonnlp.embedding.FastText('wiki.zh', load_ngrams=True)`

Note that the embedding files are very large, so the one-time downlo

[2019-03-15 17:29] szha opened #631 "Add usage example for fasttext subword embedding in Pre-trained Word Embeddings tutorial"
Currently we have the fastText subword embeddings available, but it's not included in the pre-trained word embeddings tutorial which is often the first tutorial people checks out. It would be great to add example usage of fastText subword embeddings and show how it helps representing out of vocabulary words.

The usage of fastText subword embeddings is to simply specify `load_ngrams` to True when

[2019-03-15 23:56] kaonashi-tyc commented on #520
Any update on the status?

[2019-03-16 14:59] chenjunweii opened #632 "How to inference with Transformer ? decoder.decode_seq() vs decoder() ?"
Hi, guys, I train a transformer net recently, but i got a problem

I thought decoder.decode_seq is used for training, and we have to input **target_seq**, so we can train the net with teacher forcing, am i wrong ?

there are two different code down below, first one use the api **decoder.decode_seq()**, second one use **decoder()** to implement teacher forcing, I thought these two code could get sa

[2019-03-16 18:12] szha commented on #632
@chenjunweii you're right in that decode_seq is implementing teacher forcing. Note that in teacher forcing, the decoder knows the ground truth of the previous step, whereas a regular decoder only takes its own prediction from last step. This means for the decoder, in the teacher forcing method it's actually dealing with a simpler problem than the free decode in the second case. Small error in free

[2019-03-16 23:06] chenjunweii commented on #632
@szha Thanks for your reply, I know the difference between free running and teacher, but what i mean is i thought the second code is also teacher forcing, decoder take each step of target sequence as input, so i thought two code would have the same result, but not, and I can't figure out what is the problem of the second code , Thanks

[2019-03-17 00:23] szha commented on #632
🤦‍♂️ sorry that I completely misunderstood you as I missed that the `seq` variable is from ground truth. cc @szhengac

[2019-03-17 00:48] szha opened #633 "BigBird on RTE"
As another member of the sesame street, BigBird beats BERT on GLUE tasks. The most  signifcant improvement comes from the RTE task.

Paper: https://arxiv.org/pdf/1901.11504.pdf
A community version: https://github.com/namisan/mt-dnn

If you're interested in contributing this, we're more than happy to help. Let's coordinate here

[2019-03-17 19:00] szhengac commented on #632
`decoder.decode_seq` is used for training, and has some additional operations on making mask.

[2019-03-18 16:29] imgarylai commented on #608
It happens here: http://ci.mxnet.io/blue/organizations/jenkins/gluon-nlp/detail/PR-620/15/pipeline

[2019-03-19 14:46] imgarylai commented on #595
@eric-haibin-lin is anyone working on this issue? I can take care of it.

[2019-03-19 15:43] imgarylai opened #636 "[Question] numpy version"
https://github.com/dmlc/gluon-nlp/blob/6ec0c843842dbb8d8caa1cadb73c009ad7ed965e/setup.py#L31-L33

Should we specify the numpy version in gluonnlp which aligns with mxnet? I put gluonnlp and mxent as dependencies in a python package together. In some case, this package installation fails because when this package is installed via `pip install`, the latest numpy seen in the gluonnlp is installed fir

[2019-03-19 18:50] szha commented on #636
Good catch. I think a good way to resolve it is to adapt the mxnet compatibility to greater range. Let's raise an issue in mxnet about this too and link it there.

[2019-03-19 18:51] szha commented on #595
@imgarylai Not at the moment. Let us know if you need any help with it!

[2019-03-20 01:19] eric-haibin-lin commented on #599
Suggestion from the author regarding implementation
https://github.com/google-research/bert/issues/38

[2019-03-20 03:00] szha commented on #570
0.6 has been released.

[2019-03-20 03:00] #570 closed

[2019-03-20 03:01] szha commented on #623
Blog is posted.

[2019-03-20 03:01] #623 closed

[2019-03-20 03:10] szha opened #638 "Data for BERT, OpenAI GPT-2, BigBird (MT-DNN), ERNIE"
Hi all. Let's use this issue to discuss approach and challenges for reproducing the large transformer-based models such as GPT-2 (#592), BigBird (MT-DNN) (#633), ERNIE, as well as exploring their limits. We can also use this thread to track and pool resources that people find.

## Data
- The biggest challenge in reproducing GPT-2 is in curating the data. There are some efforts in the open source c

[2019-03-20 20:32] imgarylai commented on #595
I'm writing the script for this issue. I want to say thank you for the [tutorial](http://gluon-nlp.mxnet.io/examples/sentence_embedding/elmo_sentence_representation.html) first. The tutorial is a good reference for me. The script is almost done. Several details I want to confirm with you to make sure I understand it correctly.

In the last step of this tutorial, it stops at showing the shape of fe

[2019-03-21 12:04] szhengac commented on #632
@chenjunweii For inference, you can use following code:
https://github.com/dmlc/gluon-nlp/blob/6ec0c843842dbb8d8caa1cadb73c009ad7ed965e/scripts/machine_translation/train_transformer.py#L241-L248
It uses translator to output the sampled sequences. Specifically, it internally uses beam search and function `decode_step`.

[2019-03-21 19:52] mandarjoshi90 opened #641 "Data and preprocessing for BERT"
Hi folks,
Thanks for the fantastic effort for reproducing BERT. Would it be possible to share the corpus details and preprocessing code? More specifically,
1. Wikipedia dump version and extraction code
2. Books preprocessing

Alternatively, if you could share the txt files used for `create_pretraining_data.py`, that works too!

Thanks!

[2019-03-21 20:34] szha opened #642 "[BERT] Release BERT Pre-trained Model"
There have been requests for releasing our own pre-trained BERT models. Let's use this issue to track the progress of it.

[2019-03-21 20:51] szha commented on #636
apache/incubator-mxnet#14497

[2019-03-21 21:57] szha commented on #595
Hi Gary.

They represent the activation of each of the three layers. See [ELMoBiLM](http://gluon-nlp.mxnet.io/api/modules/model.html?highlight=elmobilm#gluonnlp.model.ELMoBiLM).
The first dimension of each extracted feature ndarray has size 2 which represents the features from forward and backward directions.

Also, note that there's not enough validation on this functionality so far, so it would

[2019-03-21 21:59] szha commented on #595
I think the above points are worth mentioning in the tutorial if you'd help with that too :)

[2019-03-22 00:17] hankcs commented on #593
@bikestra Could you share your hyperparameter settings for test F1 92.2? I saw your [PR](https://github.com/dmlc/gluon-nlp/pull/612). Are the [hyperparameters](https://github.com/dmlc/gluon-nlp/pull/612/files#diff-aa85770855ab2b6db7a5b29c232749ef) what you used to produce 92.2? It's pretty close to 92.8. Actually Facebook is using smaller lr for LM during fine-tuning. I'd like to try that on top o

[2019-03-22 14:21] imgarylai commented on #595
@szha Thanks. I think I understand it. The result represents the following representations right?
![Screen Shot 2019-03-22 at 10 18 50 AM](https://user-images.githubusercontent.com/1407908/54829027-e81eab80-4c8b-11e9-90c8-e741c24ed678.png)

[2019-03-22 14:23] imgarylai commented on #595
And yes, sure. Of course! I will update the tutorial later.

[2019-03-22 18:12] szha commented on #595
They represent the output of the three bi lstm layers

[2019-03-22 21:22] gigasquid opened #643 "[Question] How do you export BERT for use in Module API in MXNet Scala/Clojure ?"
I've followed along the example of fine tuning BERT here https://gluon-nlp.mxnet.io/examples/sentence_embedding/bert.html Great work! 💯

I would like to export the model in a format that can be imported into MXNet using the [Module API](https://mxnet.apache.org/api/clojure/module.html)

`(def new-mod (m/load-checkpoint {:prefix "my-model" :epoch 1 :load-optimizer-states true}))`
To do this it must

[2019-03-22 21:22] gigasquid commented on #643
cc @szha

[2019-03-22 21:28] gigasquid commented on #643
Oh I think I just found it! https://gluon-nlp.mxnet.io/model_zoo/bert/index.html

[2019-03-22 21:33] #643 closed

[2019-03-23 15:33] imgarylai commented on #595
@szha I read the paper again. I realized I left stupid comments... sorry for that.
I'm also interested in reproducing downstream tasks. I can start from there.

[2019-03-24 05:12] haven-jeon commented on #633
MTL(MultiTask Learning) is one of the most important topic in NLP research with LM.
It's heavily related on developing MTL frame on gluon-nlp.

pytext(https://arxiv.org/pdf/1812.08729.pdf) already implement on MTL for production use.

[2019-03-24 18:29] KavyaGujjala opened #644 "model after running run_pretraining.py script"
Hi,
I have run the code run_pretraining.py script on my domain specific data.

It seems like only checkpoints are saved. I have got two files 0000020.params and 0000020.states.

How can I save the model or get a model from .params and .states files in checkpoint folder so that I can use that model to get contextual embeddings.

Can someone please help me with this?

[2019-03-25 02:11] xiaoxiaoAurora commented on #630
Thank you very much! However,  when I load the Chinese word vector file, I am encountered the following problem, how should I solve it?

[code]

[2019-03-25 02:16] xiaoxiaoAurora commented on #630
Thank you very much! However,  when I load the Chinese word vector file, I am encountered the following problem, how should I solve it?

[code]

[2019-03-25 20:34] szha commented on #630
Hmm looks like the platform may have run out of memory. Could you verify?

[2019-03-25 20:34] szha commented on #630
cc @leezu

[2019-03-25 21:13] eric-haibin-lin commented on #644
Hi @KavyaGujjala

By contextual embedding did you mean `BertEmbedding` in scripts/bert/embedding.py? You can modify this script with changes in https://github.com/dmlc/gluon-nlp/pull/640/files contributed by @Deseaus (which uses the `load_parameters` API to load the checkpoint file xx.params)
[code]

[2019-03-25 21:20] eric-haibin-lin commented on #641
Hi @mandarjoshi90 I am cleaning up the preprocessing script and extraction code. Stay tuned!

[2019-03-26 06:09] KavyaGujjala commented on #644
Hey, Thanks a lot!!! This worked for me :)

Also bert returns only word embeddings. Do you have any idea on how to get meaningful sentence representations?

[2019-03-26 09:18] leezu commented on #630
If your system has limited memory, please disable out of vocabulary words handling: `gluonnlp.embedding.FastText('wiki.zh', load_ngrams=False)` instead of `gluonnlp.embedding.FastText('wiki.zh', load_ngrams=True)`

[2019-03-26 09:18] #630 closed

[2019-03-26 09:18] leezu commented on #630
Feel free to reopen if you have further problems. Thanks

[2019-03-26 12:31] lambdaofgod commented on #632
@szhengac What are shapes of inputs in translator.translate?

I tried to run them as in your example, but I get a mismatch

MXNetError: Shape inconsistent, Provided = [batch_size,3200], inferred shape=(batch_size,n_hid)

Where 3200 = sequence length * n_hid

[2019-03-26 12:40] szhengac commented on #632
@lambdaofgod The input has following shape:
https://github.com/dmlc/gluon-nlp/blob/e1910c5076765ef39112ed4b1fb5980656602079/scripts/machine_translation/translation.py#L60-L61

`src_seq` is a tensor of int.

[2019-03-26 12:49] lambdaofgod commented on #632
@szhengac my prints seem to validate that, if so, do you have an idea why doesn't it work?

For me it seems like second decoder_state should only have shape (batch_size,) but I've also checked your NMT script for that and its shapes are consistent with what I get here... Still, your NMT script runs, and I get that bug, even though the input is consistent with the one from your example

[2019-03-26 13:15] szhengac commented on #632
@lambdaofgod Can you comment out `model.hybridize(static_alloc=static_alloc)` and see which line cause the error?

[2019-03-26 13:41] KavyaGujjala opened #645 "how to get sentence level embeddings"
Hi,

I have pre-trained bert model on domain specific sentences.

But BertEmbeddings only return word embeddings.

How to get better sentence level embeddings like google USE gives?

I tried mean of all vectors and also max , but both gave bad cosine similarities between sentences.( even for dissimilar sentences the cosine similarities are above 0.8 )

Anybody have worked on this? Do share the ins

[2019-03-26 14:21] chenjunweii commented on #632
@szhengac Thanks for your reply, and that's what I need thanks !

by the way what is Parallel Transformer ? could it speed up training process ?

[2019-03-26 14:27] szhengac commented on #632
@chenjunweii ParallelTransformer uses multi-threading for multi-gpu training. The naive implementation for multi-gpu training in gluon does not fully achieve parallelization.

[2019-03-26 14:35] lambdaofgod commented on #632
@szhengac I didn't hybridize model expicitly.

Here's the full error log:

[code]

[2019-03-26 14:50] lambdaofgod opened #646 "Transformer decoder shape mismatch"
I tried to run Transformer model's decoder as in NMT example, but I get a mismatch

I run either
`translator.translate(example_input_batch, None)`
or

`translator.translate(example_input_batch, nd.full((example_output_batch.shape[0]), ctx=context, val=example_output_batch.shape[1]))`

I get

`MXNetError: Shape inconsistent, Provided = [n_hid,3200], inferred shape=(n_hid,n_hid)
`
Where 3200 = seque

[2019-03-26 15:49] szhengac commented on #646
@lambdaofgod I tried following small example and I cannot reproduce the error. Can you check how it differs from your code? Also, you may try the below code. If it does not work, the error may have something to do with the version of gluonnlp/mxnet.

[code]

[2019-03-26 16:00] lambdaofgod commented on #646
@szhengac I tried your code again. It looks like I introduced a bug by tinkering in BeamSearchTranslator.

Thanks!

[2019-03-26 16:00] #646 closed

[2019-03-27 05:53] eric-haibin-lin commented on #641
Hi @mandarjoshi90

Unfortunately I cannot re-distribute books corpus dataset due to license issues. I uploaded the processed texts for English wikipedia at `s3://bert-pretraining/datasets/enwiki/enwiki-dec-doc/`, which can be used for `create_pretraining_data.py`. The data is based on the wikipedia dump on 2018 December.

I will PR the preprocessing code after I test it locally.

[2019-03-29 01:21] mandarjoshi90 commented on #641
Thanks so much!

[2019-03-29 02:17] hankcs commented on #593
The default hyperparameters result in a quite low score:

[code]

[2019-03-29 02:31] hankcs commented on #638
ERNIE team has released the preprocessed task corpora [there](https://ernie.bj.bcebos.com/task_data.tgz), though they didn't release their corpora for pre-training. Maybe [Chinese Gigaword](https://catalog.ldc.upenn.edu/LDC2011T13) is a good substitute?

[2019-03-30 11:48] omerarshad commented on #599
still not able to get 81.6 on base model, all i can get is 80.16

[2019-03-31 06:26] eric-haibin-lin commented on #599
hi @omerarshad what is your setup and what hyper-parameters did you try?

[2019-03-31 08:33] omerarshad commented on #599
learning rate 2e-5
batch size 16
model bert-base-uncased
gradient accumulation 4

[2019-04-01 04:06] eric-haibin-lin opened #650 "Convert SciBERT model parameter to gluon-nlp"
AllenAI has done great work on BERT on scientific corpus. It would be great if we convert the vocab and parameters to gluonnlp, similar to what we did for the original BERT model: https://github.com/dmlc/gluon-nlp/blob/master/scripts/bert/convert_tf_model.py

https://github.com/allenai/scibert

[2019-04-01 06:25] szha commented on #645
@KavyaGujjala if you have sentence-level finetuning then you can use the embedding of "[CLS]" token. Otherwise, averaging the word embeddings would be the way to go.

BERT is quite different from the context-free word embeddings which rely on local or global statistics of context words. For example, the parameter space is a lot larger than word embedding models. They may not behave quite as expect

[2019-04-01 08:53] KavyaGujjala commented on #645
Hi @szha  Thanks for the info. Have you tried using pretraining code on original BERT repo. I have tried on 9 lakh sentences for 10000 steps, but the cosine similarity score between sentences are not good. I used [CLS] token as sentence vector.
Any idea on how to get good results?

[2019-04-01 18:12] szha commented on #645
@KavyaGujjala I think this is still an open question. My gut feeling is that direct supervision (e.g. fine tuning) on sentence similarity task would likely help.

[2019-04-01 18:17] szha commented on #644
@KavyaGujjala I see that this question is being tracked in #645 (thanks for opening that). I will close this issue now.

[2019-04-01 18:17] #644 closed

[2019-04-01 18:19] szha commented on #632
Let me know if you need this issue reopened.

[2019-04-01 18:19] #632 closed

[2019-04-01 18:22] szha commented on #604
@BerenLuthien BERT on SST has been released as part of 0.6.0. Let me know if you need this issue reopened.

[2019-04-01 18:22] #604 closed

[2019-04-01 18:24] szha commented on #480
This should have already been fixed in the previous PRs. Let me know if you need the issue reopened.

[2019-04-01 18:24] #480 closed

[2019-04-01 18:28] szha commented on #469
@HuangZhanPeng we are looking to extend the RNN implementation in MXNet so that the variable length support can be added directly. This is tracked in https://github.com/apache/incubator-mxnet/issues/9543

Let me know if you need the issue reopened.

[2019-04-01 18:28] #469 closed

[2019-04-01 18:33] hhexiy commented on #645
[CLS] without fine-tuning doesn't encode much meaningful things. If you don't plan to fine-tune, then averaging (or whatever pooling you prefer) over word embeddings is necessary.

[2019-04-01 22:05] #475 closed

[2019-04-01 22:05] #473 closed

[2019-04-01 22:08] #472 closed

[2019-04-01 22:08] eric-haibin-lin commented on #472
fp16 support for BERT is merged.

[2019-04-01 22:08] #425 closed

[2019-04-02 15:22] haven-jeon commented on #645
`Bi-LSTM  max-pooling network`(https://arxiv.org/pdf/1705.02364.pdf) shows interesting method to get sentence embedding.
if you get `(1,128, 762)` shape representation for BERT last layer of encoder, just 'F.max(X,axis=1)' will be sentence embedding with shape like `(1,762)`.

[2019-04-03 06:02] KavyaGujjala commented on #645
Hi @hhexiy , Thanks for the reply. I tried doing mean and max of embeddings, both gave bad results.
But hierarchical pooling gave comparatively better results.
Also what optimum size of dataset should be considered for domain specific training? Do you have any idea? I have used 9 lakh sentences ( pretraining on bert base model ) . Masked lm accuracy doesn't go beyond 72% for how many ever steps (

[2019-04-03 06:05] KavyaGujjala commented on #645
@haven-jeon  . Thanks for the paper link. I will go through it. Also by saying simple sentence embedding you mean using the [CLS] token embedding or average of word embeddings?

[2019-04-03 07:50] zyds opened #652 "About the BERTVocab.cls_token and BERTVocab.CLS_TOKEN"
Hi, when I try to use the BERTVocab, I found a problem.

The code is :

-----------------------------------------------------------------------------------
model, vocab = nlp.model.get_bert_model('bert_12_768_12', dataset_name='wiki_cn_cased', pretrained=True, ctx=mx.cpu(0), use_pooler=False, use_decoder=False, use_classifier=False)
print(vocab)
print("vocab.CLS_TOKEN:", vocab.CLS_TOKEN)
print("vo

[2019-04-03 14:34] haven-jeon commented on #645
I mean `average of word embeddings`. :)

[2019-04-03 16:55] bikestra commented on #593
Hi @hankcs  , sorry for the late reply. I refactored the code a bit, and after that I was only able to achieve 91.8 and couldn't reproduce 92.2, which was the reason my reply was delayed. I am playing around with hyperparameters but I haven't got a good success yet. I will need to more debugging / navigating commits to figure out why 92.2 is not reproducible. Just to make sure others can also take

[2019-04-03 18:16] eric-haibin-lin commented on #652
@kenjewu could you take a look at this?

[2019-04-04 03:11] kenjewu commented on #652
Ok, I will check it later. If there is an error, I will open a new PR to fix it.

[2019-04-04 07:12] haven-jeon opened #653 "Add BERTTokenizer with pre-trained SentencePiece model"
BERTTokenizer need to work with SentencePiece tokenizer model, when we build BERT from pre-training.

[2019-04-04 07:41] shenfei commented on #652
+1 Encounter the same problem.

`cls_token` is missing in `wiki_cn_cased` vocabulary.

Here is a reproducible example:

[code]

mxnet 1.4.0, gluonnlp 0.6.0, python 3.6.7

[2019-04-04 07:58] kenjewu commented on #652
I did some checks and found that this problem only occurs when using the `wiki_cn_cased data`.  After checking the dictionary corresponding to `wiki_cn_cased`, I found that there is no `CLS` keyword in the json file of this dictionary.
[code]
 I think this should be a missing conversion.

[2019-04-04 07:58] kenjewu commented on #652
I did some checks and found that this problem only occurs when using the `wiki_cn_cased data`.  After checking the dictionary corresponding to `wiki_cn_cased`, I found that there is no `CLS` keyword in the json file of this dictionary.
[code]
 I think this should be a missing conversion.

[2019-04-04 08:05] kenjewu commented on #652
I will convert these two dictionaries.

[2019-04-04 19:12] szha opened #654 "[Discussion] Roadmap"
Hi,

Let's start a discussion here about the roadmap towards 0.10 and 1.0. We are looking for:
- New features that are useful to your research
- Improvements and patches to existing features

If you have any item that you'd like to propose to have in the roadmap, please do:
- Create (or locate existing) issue for the item, note the issue number.
- Comment in this issue: 1) the above issue number,

[2019-04-05 19:23] bikestra commented on #593
By running it for 100 epochs with the same command above, I was able to get test F1 of 92.1. So I think this is a matter of hyperparameter optimziation/random error and the code itself is (mostly) correct.

[2019-04-05 22:54] myralucy commented on #631
I'd like to have a try.

[2019-04-05 23:40] szha commented on #631
@myralucy thanks! Here are some pointers that would be useful to this task:
- The tutorial can be found at: https://github.com/dmlc/gluon-nlp/blob/master/docs/examples/word_embedding/word_embedding.md
- The guideline for tutorial contribution can be found here: http://gluon-nlp.mxnet.io/community/contribute.html#contribute-tutorials

It would be great to have a section in this tutorial to show how

[2019-04-06 11:08] haven-jeon commented on #654
#633  MTL(MultiTask Learning) is one of the most important topic in NLP. Implementing BigBird is good start point to develop MTL in gluon-nlp.

I can make room for this topic.

[2019-04-06 17:50] Ishitori commented on #654
Shall we consider LAMB optimizer - https://arxiv.org/abs/1904.00962?

[2019-04-08 20:44] eric-haibin-lin opened #657 "Reproduce Cross-lingual Language Model Pretraining with BERT"
Reference: https://arxiv.org/pdf/1901.07291.pdf

[2019-04-09 04:01] nahidalam commented on #542
@eric-haibin-lin I see this PR is merged. Is there any example of how to use it?

[2019-04-09 04:21] eric-haibin-lin commented on #542
There is not specific example just for this. You can just set the `output_attention` or `output_all_encodings` to be True when you use the `gluonnlp.model.get_bert_model` API, and additional tensors will be returned as outputs

[2019-04-09 04:23] eric-haibin-lin commented on #542
@Ishitori I remember you were working on a tutorial to visualize the intermediate attention weights for BERT, is that already done? Any plan to contribute it back to gluonnlp?

[2019-04-09 19:08] Ishitori commented on #542
Unfortunately, I haven't finished working on that due to lack of time. As soon as it is ready, I will contribute it back in a form of a tutorial.

[2019-04-10 06:32] szha commented on #654
#657 BERT for XNLI/NMT

[2019-04-10 06:40] szha commented on #645
@KavyaGujjala seems like the questions have been answered. Feel free to let us know if you need the issue reopened.

[2019-04-10 06:40] #645 closed

[2019-04-10 06:43] szha commented on #638
Here's a cleaned-up corpus from Trinh et. al., consisting of stories
https://console.cloud.google.com/storage/browser/commonsense-reasoning/reproduce/stories_corpus?pli=1
https://arxiv.org/abs/1806.02847

[2019-04-10 06:43] szha commented on #598
Tracked in the above issue.

[2019-04-10 06:43] #598 closed

[2019-04-10 06:46] szha commented on #487
This effort is already tracked in individual issues.

[2019-04-10 06:46] #487 closed

[2019-04-10 06:48] szha commented on #488
New CI check that tracks master branch has been added.

[2019-04-10 06:48] #488 closed

[2019-04-10 11:02] kenjewu commented on #654
Up to now, gluonnlp has basically perfect components. There are many specific models for the specific tasks of natural language processing. Can we write some standard classic models? Anyone with a related task requirement can call this model directly for a quick experiment.

[2019-04-10 11:41] szhengac commented on #654
Distributed training module may be a good feature as many current SOTA nlp models typically require a lot of GPUs. pytorch/fairseq also supports distributed training across multiple machines.

[2019-04-10 19:44] hankcs commented on #638
Here are several large scale raw corpora for Chinese: https://github.com/brightmart/nlp_chinese_corpus

[2019-04-11 07:50] Gpwner opened #658 "how to export mxnet model to json and pamas format ?"
when I am using the code for bert in https://github.com/dmlc/gluon-nlp/tree/master/scripts/bert,
I wonder whether I can export mxnet model to [*.json +*.pamas] where the json file save model architecture and the pamas save parameters of the model.
Because I want to convert the finetune model of mxnet to pb format of tensorflow.
Thanks if anyone can help.

[2019-04-11 08:23] fierceX commented on #654
I think we can add some text matching models #616

[2019-04-11 20:07] szha opened #659 "[BERT] BERT export"
Rather than relying on an example script that requires manual process, we should provide automatic API for exporting BERT models, at least for all the model classes that GluonNLP BERT model zoo provides.

[2019-04-11 20:08] szha commented on #658
@Gpwner currently it requires a small amount of manual process, where you may need to use the utility classes to construct a HybridBlock-based BERT model. The guide can be found here: http://gluon-nlp.mxnet.io/model_zoo/bert/index.html#example-usage-of-exporting-hybridizable-bert

We know this is not perfect, as it would be better to have an export API to automate this for all model classes in BER

[2019-04-12 01:26] Gpwner commented on #658
Thanks I will have a try.

[2019-04-12 02:47] kenjewu commented on #652
it has been fixed.

[2019-04-12 03:59] #652 closed

[2019-04-12 07:31] Gpwner opened #660 "Find a Bug in pretrain script of bert"
https://github.com/dmlc/gluon-nlp/blob/master/scripts/bert/run_pretraining.py

line 296 and 297,throw a exception：

[code]

[2019-04-12 07:35] Gpwner commented on #524
Does it support Multiple-GPU support for finetune now？
When I come to  this issue ,I feel a little disappointed.
But anyway this project support multiple GPU for pretrain,it is awesome！

[2019-04-12 07:42] szhengac commented on #660
This feature was added in #503, Jan 2, 2019. I think your version of gluonnlp may be old. Please try the latest version: pip install --pre gluonnlp.

[2019-04-13 07:13] HuangZhanPeng commented on #469
@szha Thank you for your response. There is no need to reopen it.

[2019-04-15 04:24] szhengac commented on #660
@eric-haibin-lin I just checked the class `MaskedAccuracy`, there is no function called `reset_running`.

[2019-04-15 17:03] eric-haibin-lin commented on #660
Sorry it should be reset_local instead. I'll make a PR with the fix

[2019-04-16 03:12] Gpwner opened #662 "how to inference after finetune a classifier in the script of bert?"
When I finished the finetune job of CLoA，I want to inference the test.tsv.
But I got zero test sample:

[code]

here is my output:

[code]

here is my command :

python finetune_classifier.py --task_name CoLA --epochs 4 --batch_size 16 --optimizer bertadam --gpu --lr 2e-5 --log_interval 500

Thanks for advance!

[2019-04-16 03:19] szha commented on #662
I was able to reproduce the problem. Also, I noticed a warning:
[code]

[2019-04-16 03:24] szha commented on #662
Looks like the test.tsv file for CoLA only has two columns, so this index is a typo (which should have been 1): https://github.com/dmlc/gluon-nlp/blob/master/scripts/bert/dataset.py#L301

[2019-04-16 03:25] szha commented on #662
cc'd @haven-jeon @eric-haibin-lin

[2019-04-16 03:32] Gpwner commented on #662
@szha So how to solve it?

[2019-04-16 03:37] Gpwner commented on #662
@szha  When I come to the test.tsv in CoLA dataset,I found the indice of sentense is 1,So I change the code in class COLADataset：

[code]

But it did not work .

[2019-04-16 03:51] szha commented on #662
@Gpwner this is the fix that I was alluding to in my previous comment, and in my case it fixed the problem. Are you using the class that you edited and it's still not work?

[2019-04-16 05:49] Gpwner commented on #662
@szha yes it is still not work.

Here is my _preprocess_data():_
[code]

[2019-04-16 22:26] #660 closed

[2019-04-16 22:51] eric-haibin-lin commented on #662
@Gpwner thanks for raising this issue. It looks like the test set does not have any label, and the implementation of `BERTDatasetTransform ` always return labels (see https://github.com/dmlc/gluon-nlp/blob/master/scripts/bert/dataset.py#L544-L551)
Therefore, you cannot reuse the `trans` obj to read the test set. Could you try to change
[code]
to
[code]
and use a separate transform just for the tes

[2019-04-17 01:34] Gpwner commented on #662
@eric-haibin-lin I try you solution ，But It is still not work.
Here are my  code:

_finetune_classify.py:_

[code]
_dataset.py:_

[code]

here is my output:
[code]

[2019-04-18 00:02] animohan opened #666 "[Documentation] Broken link to Bert Fine-Tuning examples page"
In the documentation here : https://github.com/dmlc/gluon-nlp/blob/master/docs/examples/sentence_embedding/bert.md in the "Conclusion" points to this broken link ( https://github.com/dmlc/gluon-nlp/blob/master/docs/model_zoo/bert/index.rst) for referencing other fine tuning scripts.

This probably needs to reference this page: - https://gluon-nlp.mxnet.io/master/model_zoo/bert/index.html

[2019-04-18 00:41] szha commented on #666
@animohan thanks for raising this issue. This markdown is used to render the notebook that you can find here: http://gluon-nlp.mxnet.io/master/examples/sentence_embedding/bert.html. That's the link we originally intended for it to work.

That said, I understand that It indeed might be a bit confusing since people may read the markdown directly. I will keep this issue open for collection suggestion

[2019-04-18 22:19] eric-haibin-lin commented on #666
@szha what about always reference to the github folder (e.g. ../../../scripts/bert), and adding a .htaccess file to our web server so that scripts/bert are redirected to modelzoo/bert? We also need to make sure modelzoo/bert displays correctly (defaults to modelzoo/bert/index.html)

[2019-04-19 02:00] yajiedesign opened #668 "Gnmt train slow"
GPU cannot be filled with train_gnmt.
GPU:GTX TITAN X
CPU:4770k
GPU LOAD: about 10%
CPU LOAD: one core full.
dataset: LCSTS
vocab size: 320783
num work: 0 (Trying to set it to 2 seems to improve, but it takes up too much memory (about six times as much as 0)).
batch size: 16

[2019-04-19 02:29] ymjiang commented on #668
Batch size=16 seems not reasonable. Did you try to increase it?

[2019-04-19 03:10] Gpwner commented on #662
@szha  @eric-haibin-lin For now ，my solution is add a fake label for test data .And change init function in CoLA code in dataset.py.And it work.

[2019-04-19 03:17] yajiedesign commented on #668
@ymjiang There's no way to increase it any more. Now it takes up about 10G of gpu memory.

[2019-04-19 05:01] szha commented on #668
cc @sxjscience. One way to work around the memory limit is to perform gradient accumulation. Several model zoo scripts already implement this logic, and it might be a good idea to add it to GNMT too.

[2019-04-19 05:02] sxjscience commented on #668
Will take a look at it.

[2019-04-19 05:08] szha commented on #666
Redirection should work, though my worry is it might be error prone. The links that include 'scripts' are currently manually replaced in the makefile.

[2019-04-19 05:23] eric-haibin-lin commented on #662
Hi @Gpwner sorry about that. I found another bug in the Transform class that it is missing the last entry when label is not present using `input_ids, valid_length, segment_ids = self._bert_xform(line[:-1])`. The use of `[:-1]` is wrong if label is None.

The following code should work end2end:
[code]

and also you need to update the idx for COLADataset as mentioned before:
[code]

I'll make a PR f

[2019-04-19 06:10] Gpwner commented on #662
I can see your default bert model is bert_12_768_12.I wonder whether the accuracy of bert_24_1024_16 is bertter than bert_12_768_12 ?I have try the two different model on  my own dataset，but the accuracy  I got are about the same.

[2019-04-19 08:19] szhengac commented on #668
@zhreshold Using `num_worker=2` requires six times more memory compared to `num_worker=0` seems unreasonable. Do you have any idea?

[2019-04-19 18:13] zhreshold commented on #668
@szhengac using multi worker will enable pre-fetching batches, default is 2*batch size, and each worker will be fetching a batch simultaneously.

[2019-04-20 00:23] yajiedesign commented on #668
now.I saved gpu money by setting share_embed.and I increase batch size.it some improvements.

[2019-04-20 09:28] szhengac commented on #668
@zhreshold but each input batch is simply an integer matrix, which shouldn't occupy too much gpu memory.

[2019-04-20 20:11] zhreshold commented on #668
@szhengac Did you mean gpu memory? Dataloader should never occupy gpu memory

[2019-04-21 02:34] szhengac commented on #668
@zhreshold Oh I mean cpu memory.

[2019-04-21 05:05] eric-haibin-lin commented on #662
Good question. I have not tried specifically bert large on CoLA. Did you try multiple seed? What accuracy do you get currently? On MRPC the performance of BERT large has large variance (which is also reported in the paper) and multiple random seeds are needed to get a good result.

[2019-04-22 09:23] Gpwner commented on #662
@eric-haibin-linThanks for the  reply. I have try bert large on my dataset(my dataset is not CoLA,but it is similar to CoLA).

[2019-04-22 18:31] eric-haibin-lin opened #673 "[API] Move glue dataset to gluon-nlp data API"
Currently multiple glue benchmark dataset resides in the script/bert/dataset.py file, which makes the script folder bulky. Better to check their license, and move them to the `gluonnlp.data` namespace with a reusable API

[2019-04-22 18:33] eric-haibin-lin opened #674 "[API] Move fp16 trainer and dynamic loss scaler to gluon-nlp API"
We should move the utility classes/methods in https://github.com/dmlc/gluon-nlp/blob/master/scripts/bert/fp16_utils.py to the official gluon-nlp API

[2019-04-22 18:35] eric-haibin-lin opened #675 "[BERT] Runtime pre-training data sample generation"
Currently for BERT pre-training, the samples (with masks) have to be generated ahead of time, and usually take gigabytes of disk space. Need to investigate ways to do this on the fly in the training loop without impacting the training throughput.

[2019-04-23 23:00] szha opened #677 "[BERT] LAMB optimizer"
Reference: https://arxiv.org/abs/1904.00962

Author claimed that with the help of LAMB optimizer, super large batch size can be used to improve the scalability of BERT models, so that a BERT model can be trained in a little over 1 hour. However, given that only squad finetuning is included in the experiment, it's unclear whether the trained BERT model is actually of the same quality as the origina

[2019-04-23 23:09] szha commented on #631
@myralucy did you get a chance to draft the tutorial? Let me know if you need any help!

[2019-04-23 23:38] #399 closed

[2019-04-24 06:11] eric-haibin-lin opened #679 "[usability] print warnings when Pad() is used"
When `data.batchify.Pad()` is used, the default padding value is 0. However, this usually does not respond to the pad token id in the vocab. We should print a warning if 0 is used for `Pad()` so that users are aware.

[2019-04-25 00:56] eric-haibin-lin commented on #599
Hi @omerarshad sorry for the late reply. I noticed that in the paper the author used the following hyper-parameters:
[code]
In your case, since you used batch_size = 16 and grad_accumulation=4, your effective batch size is 64.
What about setting epoch=3, batchsize=16, accumulate=1 and trying again?

Nonetheless 80.16 is a good starting point and is much better than the ELMo baseline. Hopefully we

[2019-04-25 01:12] sravanbabuiitm commented on #654
1. We can look towards adding HAN (Heirarchical Attention Models for Document classification : https://www.cs.cmu.edu/~./hovy/papers/16HLT-hierarchical-attention-networks.pdf) in scripts for text classification.
2. We can add HAN model and fastText models to the d2l.ai book

[2019-04-25 11:46] khui opened #680 "vocabulary set_embedding(glove) maps all OOV terms to the same vector if no lookup provided"
When attaching the pre-trained embedding to a built vocab, namely, `vocab.set_embedding(glove_em)`, by design, all of the vocabulary that did not present in the pre-trained embedding will be mapped to the `<'unk'>` using init_unknown_vec (default `nd.zeros`).

This is a bit awkward since the `<'unk'>` was defined in building vocabulary already (e.g., using a threshold of mininal term frequency), a

[2019-04-26 00:13] markusdr commented on #654
JSON/Yaml config files that specify models and experiments would be great. That's a very popular feature of AllenNLP and other toolkits.

https://github.com/dmlc/gluon-nlp/issues/392

For an example AllenNLP config file, see https://github.com/allenai/allennlp/blob/master/tutorials/tagger/experiment.jsonnet

See also their tutorial:
https://github.com/allenai/allennlp/blob/master/tutorials/tagger/